Repository bitcoin-s/bitcoin-s, pull requests merged in 2019-05, with the labels that each got.

#429 Populated Tests
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/util/ChainFixture.scala
  chain-test/src/test/scala/org/bitcoins/chain/util/ChainFixtureHelper.scala
  chain-test/src/test/scala/org/bitcoins/chain/util/ChainFixtureTag.scala
  chain-test/src/test/scala/org/bitcoins/chain/util/ChainUnitTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  core/src/main/scala/org/bitcoins/core/util/FileUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainTestUtil.scala
Labels: chain

#440 Natural language syntax for currencies
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitSpec.scala
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/currency/LnCurrencyUnitSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/currency/LnCurrencyUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/currency/MilliSatoshisTest.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/currency/package.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/currency/LnCurrencyUnit.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/currency/MilliSatoshis.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/currency/package.scala
Labels: core, enhancement

#450 WIP: Create ChainSync, BitcoindChainHandlerViaRpc, add simple ChainSyncTes…
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/BlockchainResult.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/util/BitcoindChainHandlerViaRpc.scala
  chain-test/src/test/scala/org/bitcoins/chain/util/ChainUnitTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  testkit/src/main/resources/common-logback.xml
Labels: chain

#439 BlockchainBuilder
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/util/ChainUnitTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BlockchainBuilder.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: chain

#444 BIP84 and BIP49
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/WalletResult.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonSerializers.scala
  core-test/src/test/resources/trezor.txt
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/MnemonicCodeTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/bip32/BIP32PathTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/bip44/BIP44PathTest.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core/README.md
  core/src/main/scala/org/bitcoins/core/crypto/BIP39Seed.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKeyVersion.scala
  core/src/main/scala/org/bitcoins/core/crypto/bip44/BIP44Account.scala
  core/src/main/scala/org/bitcoins/core/crypto/bip44/BIP44Address.scala
  core/src/main/scala/org/bitcoins/core/crypto/bip44/BIP44Chain.scala
  core/src/main/scala/org/bitcoins/core/crypto/bip44/BIP44ChainType.scala
  core/src/main/scala/org/bitcoins/core/crypto/bip44/BIP44Coin.scala
  core/src/main/scala/org/bitcoins/core/crypto/bip44/BIP44Path.scala
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAccount.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAddress.scala
  core/src/main/scala/org/bitcoins/core/hd/HDChain.scala
  core/src/main/scala/org/bitcoins/core/hd/HDChainType.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoin.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPath.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPathFactory.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/hd/LegacyHDPath.scala
  core/src/main/scala/org/bitcoins/core/hd/NestedSegWitHDPath.scala
  core/src/main/scala/org/bitcoins/core/hd/SegWitHDPath.scala
  core/src/main/scala/org/bitcoins/core/hd/package.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/HDGenerators.scala
Labels: core, enhancement

#459 Add script to connect to a local/remote running bitcoind instance and…
  build.sbt
  doc/README.md
  doc/src/main/resources/logback.xml
  doc/src/main/scala/TxBuilderExample.scala
  doc/src/main/scala/org/bitcoins/doc/AmmoniteBridge.scala
  doc/src/main/scala/org/bitcoins/doc/rpc/connect_bitcoind.sc
  project/Deps.scala
Labels: bitcoind-rpc, scripts

#452 2019 05 01 wallet ammonite scripts pt2
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  build.sbt
  doc/README.md
  doc/src/main/resources/logback.xml
  doc/src/main/scala/TxBuilderExample.scala
  doc/src/main/scala/org/bitcoins/doc/AmmoniteBridge.scala
  doc/src/main/scala/org/bitcoins/doc/wallet/create-wallet.sc
  project/Deps.scala
  secp256k1jni/natives/linux_64/libsecp256k1.la
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  zmq/src/main/scala/org/bitcoins/zmq/ZMQSubscriber.scala
Labels: chain, scripts, wallet

#460 2019 05 05 sync chain
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  doc/src/main/scala/org/bitcoins/doc/chain/sync-chain.sc
  doc/src/main/scala/org/bitcoins/doc/wallet/create-wallet.sc
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: chain, scripts

#478 Add proper parsing of bitcoin.conf, rework auth credentials
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/config/BitcoindAuthCredentialsTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/config/BitcoindConfigTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindAuthCredentials.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/ZmqConfig.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcTestUtilTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/EclairAuthCredentials.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, tests

#483 Add Torkels PGP key to security.md
  docs/security.md
Labels: documentation
