Repository bitcoin-s/bitcoin-s, pull requests merged in 2019-10, with the labels that each got.

#766 Make tests to not require pre-installed bitcoind
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MiningRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  docs/rpc/bitcoind.md
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, build

#763 Remove isInitialized() check in sendMsg, which was causing a deadlock
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: bug, node

#770 Remove bitcoind dependency from node
  app/server/src/main/resources/reference.conf
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
Labels: config, node

#779 Reduce GCSTest by more, remove unused warnings when using scala conso…
  core-test/src/test/scala/org/bitcoins/core/gcs/GCSTest.scala
  project/CommonSettings.scala
Labels: build, tests

#778 Fix bitcoind version for eclair tests
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: build

#780 Add a log at INFO level to indicate we are making progress while syncing
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: chain, logging

#781 Optimize org.bitcoins.chain.blockchain.BaseBlockChain
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: chain

#783 Use the fact that network headers specify the number of bytes in the …
  core-test/src/test/scala/org/bitcoins/core/p2p/NetworkMessageTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkMessage.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/RawNetworkMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/headers/RawNetworkHeaderSerializer.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: node

#772 2019 10 01 script interpreter cleanup
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: core

#791 2019 10 01 script program cleanup
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/ConstantInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/control/ControlOperationsInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/locktime/LockTimeInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/splice/SpliceInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/stack/StackInterpreterTest.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ConstantInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperationsInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LockTimeInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/splice/SpliceInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/stack/StackInterpreter.scala
Labels: core, refactor

#786 Make ChainApi to scan the block filters in order to find matches
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainException.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/FilterTypeTest.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/GolombFilterTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/p2p/messages/RawGetCompactFilterHeadersMessageSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/gcs/FilterType.scala
  core/src/main/scala/org/bitcoins/core/gcs/GolombFilter.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/protocol/BlockStamp.scala
Labels: chain

#793 Script Program apply method refactor part 1 (#760)
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ConstantInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperationsInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LockTimeInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/splice/SpliceInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/stack/StackInterpreter.scala
Labels: core, refactor

#794 Script Program apply method refactor part 2 (#760)
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
Labels: core, refactor

#795 Script Program apply method refactor part 3 (#760)
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/ConstantInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoInterpreterTest.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
Labels: core, refactor

#800 Script Program apply method refactor part 4 (#760)
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
Labels: core, refactor

#804 Script Program apply method refactor part 7 (#760)
  core-test/src/test/scala/org/bitcoins/core/script/locktime/LockTimeInterpreterTest.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
Labels: core, refactor

#801 Script Program apply method refactor part 5 (#760)
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/stack/StackInterpreterTest.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ConstantInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LockTimeInterpreter.scala
Labels: core, refactor

#809 Update sbt to 1.3.3
  project/build.properties
Labels: build

#796 Create removed Neutrino tables
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
Labels: chain, config

#810 Increase test coverage
  core-test/src/test/scala/org/bitcoins/core/compat/CompatEitherTest.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/NetworkPayloadTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/SendHeadersMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/p2p/messages/RawCompactFilterMessageSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/p2p/messages/RawGetCompactFilterCheckpointMessageSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/compat/CompatEither.scala
Labels: core, tests

#811 Removed the ScriptProgram companion object
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/ConstantInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/control/ControlOperationsInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/locktime/LockTimeInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/splice/SpliceInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/stack/StackInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/ScriptProgramTestUtil.scala
  core-test/src/test/scala/org/bitcoins/core/util/TestUtil.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ConstantInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperationsInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LockTimeInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/splice/SpliceInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/stack/StackInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
Labels: core, refactor

#826 Improve EclairRpcClientTest execution time
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#797 P2WSH Signer!
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: core

#818 Upgrade to ecalir v0.3.2
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairModels.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/JsonReaders.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#798 LockTimeSigner
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: core

#834 UTXOSpendingInfo ADT
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderSpec.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
Labels: core

#830 Signer UTXOSpendingInfo refactor
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#839 Revert "Update scalafmt-core to 2.2.1"
  .scalafmt.conf
Labels: build

#748 (WIP)Changes to client start()
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/NodeRpc.scala
  core/src/main/scala/org/bitcoins/core/util/StartStop.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, eclair-rpc

#840 Spending Info ADT use
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#845 GCSTest fix
  core-test/src/test/scala/org/bitcoins/core/gcs/GCSTest.scala
Labels: core

#842 Replace scriptPubKeyToSatisfy with spendingInfoToSatisfy in Signer
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptWitnessSpec.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#843 RawScriptPubKey
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptWitnessSpec.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core
