Repository bitcoin-s/bitcoin-s, pull requests merged in 2019-11, with the labels that each got.

#848 Update slf4j-api to 1.7.29
  project/Deps.scala
Labels: core

#849 Update scalacheck to 1.14.2
  project/Deps.scala
Labels: build

#851 Fix getsentinfo Eclair Rpc call
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/JsonReaders.scala
Labels: eclair-rpc

#853 Bump micro pickle/json to 0.8.0
  project/Deps.scala
Labels: build

#827 OP_IF Signing
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/ConstantsTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/ScriptInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderSpec.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/script/constant/Constants.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperationsInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  docs/core/txbuilder.md
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: core

#846 Fix monitorInvoice unit test
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#855 ScriptInterpreter Conditional Refactor
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/control/ControlOperationsInterpreterTest.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperations.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperationsInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: core

#857 Nested OP_IF ScriptPubKey and signing
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#866 Increase some Test Coverage
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ConditionalScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/LockTimeScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptTypeTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptType.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
Labels: core

#865 Conditional Signing Tests
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#858 OP_NOTIF ScriptPubKey and Signing
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperations.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/GenUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#863 bitcoind v19 new RPC calls and tests
  bitcoind-rpc-test/src/test/resources/sample-bitcoin.conf
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RpcOpts.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/V19BlockFilterRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/BlockchainResult.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/WalletResult.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonReaders.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonSerializers.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc

#859 Pretty SPK and ScriptSigs
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSpec.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
Labels: core

#869 Fix runnable not being cancelled when payment fails
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
Labels: eclair-rpc

#854 Rescan RPC
  app/cli/src/main/scala/org/bitcoins/cli/Cli.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/wallet/MockUnlockedWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  build.sbt
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BlockStampTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/BlockStamp.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: cli

#881 Add sanity tests for .hashCode() and .equals() for multiple instances…
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
Labels: bitcoind-rpc, eclair-rpc

#883 Add passphrase argument to createwallet for later versions
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
Labels: bitcoind-rpc

#874 Add new services names parameter to P2P rpcs
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/NetworkResult.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonReaders.scala
  core/src/main/scala/org/bitcoins/core/p2p/ServiceIdentifier.scala
Labels: bitcoind-rpc

#871 Binary Outcome DLC
  .travis.yml
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderSpec.scala
  core/src/main/scala/org/bitcoins/core/crypto/SchnorrNonce.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  dlc/README.md
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
  project/Deps.scala
Labels: core

#889 Update sbt to 1.3.4
  project/build.properties
Labels: build

#885 Improve DLC Unit Test
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
Labels: core

#898 Try to fix mac osx git submodules
  .travis.yml
Labels: CI

#886 Regtest Binary DLC
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/main/scala/org/bitcoins/dlc/BitcoinP2PMessenger.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
Labels: core

#884 Add comments indicating what time unit eclair sends things in for the…
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairModels.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/JsonReaders.scala
Labels: documentation, eclair-rpc

#838 Refactor compact filter matching
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/BlockFilterTest.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/GolombFilterTest.scala
  core/src/main/scala/org/bitcoins/core/gcs/BlockFilter.scala
  core/src/main/scala/org/bitcoins/core/gcs/BlockFilterMatcher.scala
  core/src/main/scala/org/bitcoins/core/gcs/GCS.scala
  core/src/main/scala/org/bitcoins/core/gcs/GolombFilter.scala
  core/src/main/scala/org/bitcoins/core/gcs/TempUtxoProvider.scala
Labels: core

#895 DLC Refund Tx Construction
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
Labels: core

#899 Nicer Satoshis.apply
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonReaders.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonSerializers.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/ChainParamsTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/testprotocol/CoreTransactionTestCaseProtocol.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/testprotocol/CoreTestCaseProtocol.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawTransactionOutputParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderSpec.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/consensus/Consensus.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/currency/package.scala
  core/src/main/scala/org/bitcoins/core/policy/Policy.scala
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/ChainParams.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/currency/LnCurrencyUnit.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CurrencyUnitGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
Labels: core

#900 Fix OP_PUSHDATA1
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderSpec.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ConstantInterpreter.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSUnitTest.scala
Labels: core

#888 [Neutrino] Update balances
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: node, wallet
