Repository bitcoin-s/bitcoin-s, pull requests merged in 2019-08, with the labels that each got.

#640 Add configurable logging to data directory
  app/server/src/main/resources/application.conf
  app/server/src/main/resources/logback.xml
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  chain-test/src/test/scala/org/bitcoins/chain/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/MerkleBlockMessageTest.scala
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/package..scala
  docs/contributing.md
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NodeAppConfigTest.scala
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/util/BitcoinSpvNodeUtilTest.scala
  node/src/main/resources/common-logback.xml
  node/src/main/resources/logback.xml
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/SpvNodeMain.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  node/src/main/scala/org/bitcoins/node/peer/ConnectedPeerManager.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSpvNodeUtil.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/EncryptedMnemonic.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletStorage.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: chain, node, wallet

#585 Add functionality for updating SPV node bloom filter
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipUpdateResult.scala
  core/src/main/scala/org/bitcoins/core/p2p/Inventory.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/SpvNodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/MerkleBuffers.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: node, wallet

#676 Address issue #673, also refactor fixture stuff to be in companion ob…
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
Labels: teskit

#655 Start the process of refactoring our ChainHandler to be able to avoid…
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: chain, node

#688 2019 08 09 Don't use BlockHeaderDAO in TipValidation
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/ChainParams.scala
  db-commons/src/main/resources/reference.conf
Labels: chain

#690 Make all instances of HashDigest extend AnyVal so we do not allocate …
  core/src/main/scala/org/bitcoins/core/crypto/HashDigest.scala
  core/src/main/scala/org/bitcoins/core/protocol/NetworkElement.scala
Labels: core

#680 2019 08 05 broadcast tx test
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  db-commons/src/main/resources/reference.conf
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node

#698 Tweak module logging
  app/server/src/main/scala/org/bitcoins/server/HttpLogger.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  chain/src/main/scala/org/bitcoins/chain/ChainVerificationLogger.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/DatabaseLogger.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node/src/main/scala/org/bitcoins/node/P2PLogger.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/MerkleBuffers.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  node/src/main/scala/org/bitcoins/node/peer/ConnectedPeerManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/EncryptedMnemonic.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletStorage.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: chain, node, tests, wallet

#703 Publish schnorr branch with updated names
  .travis.yml
  app/cli/cli.sbt
  app/picklers/picklers.sbt
  app/server/server.sbt
  build.sbt
  core/build.sbt
  secp256k1jni/build.sbt
  testkit/build.sbt
Labels: CI, build

#706 New attempt at schnorr branch Travis config
  .travis.yml
Labels: CI, build

#709 New attempt at schnorr branch Travis config - take 3
  inThisBuild.sbt
Labels: CI, build

#708 Use transactionally when inserting data into our database with createAll
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/SlickUtil.scala
Labels: database

#701 2019 08 16 process header optimization
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BlockchainUpdate.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ConnectTipResult.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipUpdateResult.scala
Labels: chain

#713 Bump test coverage
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/chain.sbt
  core-test/src/test/scala/org/bitcoins/core/crypto/AesCryptTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ChainCodeTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/HashDigestTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/GetDataMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/GetHeadersMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/InventoryMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/TransactionMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/VersionMessageTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/AesCrypt.scala
  core/src/main/scala/org/bitcoins/core/crypto/ChainCode.scala
  core/src/main/scala/org/bitcoins/core/crypto/HashDigest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDChainType.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinSUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/NumberGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/FileUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/EitherUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/EncryptedMnemonic.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletStorage.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: tests

#718 fix monitor invoice timing out in #693
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
Labels: eclair-rpc

#664 Update sttp:core to 1.6.4
  project/Deps.scala
Labels: scala-steward

#721 Use 2.13 for website publish
  .travis.yml
Labels: documentation

#727 Refactor sbt and make Eclair tests download bitcoind
  bitcoind-rpc-test/bitcoind-rpc-test.sbt
  bitcoind-rpc/bitcoind-rpc.sbt
  build.sbt
  core/core.sbt
  eclair-rpc-test/eclair-rpc-test.sbt
  eclair-rpc/eclair-rpc.sbt
  project/CommonSettings.scala
  project/Projects.scala
  project/TaskKeys.scala
  secp256k1jni/secp256k1jni.sbt
Labels: build, eclair-rpc, tests

#725 Simplify RPC clients API
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/NodeRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  docs/chain/sync-chain.md
  docs/rpc/bitcoind.md
  docs/wallet/create-wallet.md
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, documentation, eclair-rpc
