Repository bitcoin-s/bitcoin-s, pull requests merged in 2019-12, with the labels that each got.

#906 Make 'downloadBitcoind' command async, which reduces task time by ~2x
  bitcoind-rpc/bitcoind-rpc.sbt
Labels: build

#902 Add descriptors as toString for script pubkeys
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core

#877 Move PsbtRpc to be able to be used by future versions of bitcoind
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/DescriptorRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc

#901 BitcoinTxBuilderTest Hang
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: core

#907 Derive DLC keys using BIP 32
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
Labels: dlc

#914 Add documentation on env variable SBT_OPTS and add documentation abou…
  .jvmopts
  docs/contributing.md
Labels: build

#903 2019 11 28 cli native image doc
  app/cli/cli.sbt
  app/server/server.sbt
  build.sbt
  docs/applications/cli.md
  docs/applications/server.md
  project/Deps.scala
Labels: documentation

#904 2019 11 30 key manager
  .gitignore
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  build.sbt
  docs/applications/key-manager.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager/key-manager.sbt
  key-manager/src/main/scala/org/bitcoins/keymanager/EncryptedMnemonic.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/EncryptedMnemonicTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletStorageTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: key-manager, wallet

#915 DLC Refund Transaction Test
  core/src/main/scala/org/bitcoins/core/protocol/BlockStamp.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/main/scala/org/bitcoins/dlc/BitcoinP2PMessenger.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: dlc

#920 Timelock bug fix
  core-test/src/test/scala/org/bitcoins/core/p2p/NetworkMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/testprotocol/CoreTransactionTestCaseProtocol.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/ScriptInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
Labels: bug, core

#923 DLC Justice Execution Case
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: dlc

#905 Neutrino Wallet: OnCompactFilter handler
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/p2p/messages/RawVersionMessageSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/node/NodeApi.scala
  docs/applications/wallet.md
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/SpvNodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSNodeUtil.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSpvNodeUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/LegacyWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CreateWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: neutrino, node, wallet

#924 DLC cleanup
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
Labels: dlc

#926 ChainQueryApi
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  core/src/main/scala/org/bitcoins/core/api/ChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/api/NodeApi.scala
  docs/applications/wallet.md
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CreateWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: chain, core

#928 BIP32Path Factory and subsequent tests
  core-test/src/test/scala/org/bitcoins/core/crypto/bip32/BIP32PathTest.scala
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
Labels: core

#931 Add fromBytesLE and bytesLE to NumberTypes
  core/src/main/scala/org/bitcoins/core/protocol/NetworkElement.scala
  core/src/main/scala/org/bitcoins/core/util/Factory.scala
Labels: core

#933 2019 12 10 scalatest 3.1.0
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPublicKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/number/BasicArithmeticSpec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt5Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/currency/MilliSatoshisTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSUnitTest.scala
Labels: teskit, tests

#936 Add a reference to ChainQueryApi to the wallet
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  core/src/main/scala/org/bitcoins/core/api/ChainQueryApi.scala
  docs/applications/wallet.md
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CreateWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: wallet

#932 Implement CurrencyUnit as Numeric
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/currency/package.scala
Labels: core

#747 Bump scalac version to 2.13.1
  .travis.yml
  bitcoin-s-docs/docs.sbt
  inThisBuild.sbt
  project/plugins.sbt
Labels: build

#943 Update website following https://bitcoin-s.org/docs/contributing-webs…
  website/i18n/en.json
  website/yarn.lock
Labels: documentation

#938 Compute confirmations dynamically
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/ChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  docs/applications/wallet.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/api/CoinSelectorTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: wallet

#939 Refactor make dependent fixtures to use built in scalatest helper met…
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
Labels: teskit

#945 Update sbt to 1.3.5
  project/build.properties
Labels: build, dependencies

#946 Update scalacheck to 1.14.3
  project/Deps.scala
Labels: dependencies

#948 Add version 0.2.0 of the website
  README.md
  build.sbt
  website/i18n/en.json
  website/sidebars.json
  website/versioned_docs/version-0.2.0/applications/chain.md
  website/versioned_docs/version-0.2.0/applications/cli.md
  website/versioned_docs/version-0.2.0/applications/configuration.md
  website/versioned_docs/version-0.2.0/applications/key-manager.md
  website/versioned_docs/version-0.2.0/applications/node.md
  website/versioned_docs/version-0.2.0/applications/wallet.md
  website/versioned_docs/version-0.2.0/contributing-website.md
  website/versioned_docs/version-0.2.0/contributing.md
  website/versioned_docs/version-0.2.0/core/addresses.md
  website/versioned_docs/version-0.2.0/core/core-intro.md
  website/versioned_docs/version-0.2.0/core/hd-keys.md
  website/versioned_docs/version-0.2.0/core/txbuilder.md
  website/versioned_docs/version-0.2.0/getting-started.md
  website/versioned_docs/version-0.2.0/rpc/bitcoind.md
  website/versioned_docs/version-0.2.0/rpc/eclair.md
  website/versioned_docs/version-0.2.0/rpc/rpc-clients-intro.md
  website/versioned_docs/version-0.2.0/windows-users.md
  website/versioned_sidebars/version-0.2.0-sidebars.json
  website/versions.json
Labels: documentation

#949 DLC CET Key derivation
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
Labels: dlc

#953 Update slf4j-api to 1.7.30
  project/Deps.scala
Labels: dependencies

#950 DLC: Two Change SPKs
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
Labels: dlc

#954 Add invariant to WitnessTransaction that says inputs.length == witnes…
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionWitnessSpec.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionWitness.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: core

#951 DLC to Segwit
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
Labels: dlc

#952 DLC Up-Front Fees
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
Labels: dlc

#965 Docs: update Security.md and fix edit button
  docs/contributing-website.md
  docs/security.md
  website/siteConfig.js
Labels: documentation

#968 PSBT: Fix for EmptyWitness changes
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: core

#957 Fix PSBT version number to be read as little endian
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: core

#956 PSBT Combiner
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: core

#967 P2PKWithTimeoutSPK
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/ScriptInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/NumberGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#973 P2PKWithTimeout nLockTime bug
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
Labels: bug, core

#959 2019 12 17 sign ext key
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtSignTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/SignTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/Sign.scala
  docs/core/core-intro.md
  docs/core/hd-keys.md
  docs/core/sign.md
  website/sidebars.json
Labels: core

#976 P2PKWithTimeout CET
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
Labels: dlc

#971 PSBTInputMap to UTXOSigningInfo
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: core

#979 Update sourcecode to 0.1.9
  project/Deps.scala
Labels: dependencies

#980 Bump binary download timeout for bitcoind
  bitcoind-rpc/bitcoind-rpc.sbt
Labels: CI, build

#981 Add server to sidebar.json so that it shows up
  docs/applications/cli.md
  docs/applications/server.md
  website/i18n/en.json
  website/versioned_docs/version-0.2.0/applications/wallet.md
  website/versioned_docs/version-0.2.0/contributing-website.md
  website/versioned_docs/version-0.2.0/core/addresses.md
  website/versioned_docs/version-0.2.0/core/core-intro.md
  website/versioned_docs/version-0.2.0/core/hd-keys.md
  website/versioned_docs/version-0.2.0/core/txbuilder.md
  website/versioned_docs/version-0.2.0/getting-started.md
  website/versioned_docs/version-0.2.0/rpc/bitcoind.md
  website/versioned_sidebars/version-0.2.0-sidebars.json
Labels: documentation

#974 Move rescan logic from node to wallet
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BlockchainUpdate.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/db/ChainDbManagement.scala
  core/src/main/scala/org/bitcoins/core/api/ChainQueryApi.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: neutrino, wallet

#955 PSBT Updater
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/package.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: core

#975 Change ScriptPubKey to RawScriptPubKey in ScriptWitness
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/WitnessGenerators.scala
Labels: core

#978 DLC Test Vector Generation
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVectorGenerator.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  dlc/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVectorTest.scala
Labels: dlc

#982 Update sqlite-jdbc to 3.30.1
  project/Deps.scala
Labels: dependencies

#983 Remove standalone node ci matrix and add it to the chain ci matrix to…
  .travis.yml
Labels: CI

#966 Move initialization of wallet entropy into the key manager
  .travis.yml
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/util/EitherUtil.scala
  docs/applications/key-manager.md
  docs/applications/wallet.md
  docs/key-manager/key-manager.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/KeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/LockedKeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/util/HdUtilTest.scala
  key-manager/key-manager.sbt
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerCreateApi.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerInitializeError.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerParams.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerUnlockError.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/LockedKeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/util/HDUtil.scala
  testkit/src/main/scala/org/bitcoins/keymanager/KeyManagerTestUtil.scala
  testkit/src/main/scala/org/bitcoins/keymanager/KeyManagerUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/SegwitWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CreateWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/UnlockWalletResult.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
  website/sidebars.json
Labels: key-manager, wallet

#984 Update sbt to 1.3.6
  project/build.properties
Labels: dependencies

#986 Update sbt-mdoc to 2.1.0
  project/plugins.sbt
Labels: dependencies

#987 Update scalacheck-1-14 to 3.1.0.1
  project/Deps.scala
Labels: dependencies

#988 This creates a subtype BIP39KeyManager and moves all existing KeyMana…
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  docs/applications/wallet.md
  docs/key-manager/key-manager.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManagerTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerCreateApi.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManager.scala
  testkit/src/main/scala/org/bitcoins/keymanager/KeyManagerTestUtil.scala
  testkit/src/main/scala/org/bitcoins/keymanager/KeyManagerUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: key-manager

#989 DLC fee simplification
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc

#994 ToLocal Closing Tx Amount
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
Labels: dlc
