Repository bitcoin-s/bitcoin-s, pull requests merged in 2019-07, with the labels that each got.

#488 Add scalameter test dependency and sbt settings
  build.sbt
  project/Deps.scala
Labels: bench

#534 Process incoming transactions
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/GetHeadersMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKHScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDChain.scala
  core/src/test/resources/common-logback.xml
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/Implicits.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/BlockchainElementsGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  testkit/src/test/scala/org/bitcoins/testkit/db/AppConfigTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/EncryptedMnemonicTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletStorageTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/api/CoinSelectorTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/fixtures/AccountDAOFixture.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/fixtures/AddressDAOFixture.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/fixtures/DAOFixture.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/fixtures/UtxoDAOFixture.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AccountDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/IncomingTxoDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/UTXOSpendingInfoDAOTest.scala
  wallet/README.md
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/AddUtxoResult.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CoinSelector.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTxoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTxoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionOutputTable.scala
Labels: core, database, wallet

#535 [WIP] New Eclair RPC client
  .travis.yml
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/ShortChannelIdTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/PaymentPreimage.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/ShortChannelId.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcTestUtilTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/json/EclairModels.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/json/JsonReaders.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: eclair-rpc

#568 Remove useless unit test in eclair project
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcTestUtilTest.scala
Labels: eclair-rpc

#563 Add windows compatability to bitcoind RPC client
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
Labels: bitcoind-rpc

#566 Add main method for running Mdoc
  bitcoin-s-docs/docs.sbt
  bitcoin-s-docs/src/main/scala/org/bitcoins/docs/DocsGen.scala
  build.sbt
  docs/contributing-website.md
  project/plugins.sbt
Labels: documentation

#573 Add more diagnostics to NodeWithWalletTest to hunt down CI failure
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
Labels: node, tests, wallet

#576 Fix CI builds for Eclair RPC
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
Labels: eclair-rpc

#548 Reorg handling in chain project
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: chain

#572 New doc for Windows users
  docs/windows-users.md
Labels: documentation

#581 Change default RPC port from 18332 to 18443
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
Labels: bitcoind-rpc

#579 Fix issue with testkit not being able to be resolved since we could n…
  build.sbt
Labels: bug, build

#555 Process outgoing transactions
  core-test/src/test/scala/org/bitcoins/core/util/FutureUtilTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutPoint.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutput.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  docs/core/txbuilder.md
  testkit/src/main/scala/org/bitcoins/testkit/Implicits.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  testkit/src/test/scala/org/bitcoins/testkit/ImplicitsTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/api/CoinSelectorTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/IncomingTxoDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/README.md
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CoinSelector.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTxoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTxoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionOutputTable.scala
Labels: core, wallet

#587 Fix ImplicitsTest
  testkit/src/test/scala/org/bitcoins/testkit/ImplicitsTest.scala
  testkit/src/test/scala/org/bitcoins/testkit/db/AppConfigTest.scala
Labels: bug, teskit

#584 Change size_on_disk to a Long
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/BlockchainResult.scala
Labels: bitcoind-rpc, bug

#558 Somewhat dirty standalone server and CLI binary
  .scalafmt.conf
  app/cli-test/cli-test.sbt
  app/cli/cli.sbt
  app/cli/src/main/scala/org/bitcoins/cli/Cli.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/picklers/picklers.sbt
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/server-test.sbt
  app/server/server.sbt
  app/server/src/main/resources/application.conf
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/HttpError.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/ServerRoute.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  bitcoin-s-docs/docs.sbt
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/BlockchainResult.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonReaders.scala
  build.sbt
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  doc/src/main/scala/org/bitcoins/doc/AmmoniteBridge.scala
  inThisBuild.sbt
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/util/BitcoinSpvNodeUtilTest.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/test/scala/org/bitcoins/testkit/db/AppConfigTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletStorageTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletStorage.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/UnlockWalletResult.scala
Labels: bitcoind-rpc, chain, node, wallet

#595 Some API changes for Eclair test kit
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#565 Remove redundant function checkResult and refactor Numbers
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/currency/LnCurrencyUnit.scala
Labels: core

#596 Clean up build config and fix CI errors
  app/picklers/picklers.sbt
  bitcoin-s-docs/docs.sbt
  build.sbt
  project/plugins.sbt
Labels: CI, build

#593 Add more P2P type identifiers
  core-test/src/test/scala/org/bitcoins/core/p2p/TypeIdentifierTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/TypeIdentifier.scala
Labels: core

#599 Fix bug where cookie auth threw on isStartedF
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
Labels: bitcoind-rpc, bug

#605 Update play-json to 2.7.4
  project/Deps.scala
Labels: scala-steward

#613 Update scalatest to 3.0.8
  project/Deps.scala
Labels: scala-steward

#615 Update scodec-bits to 1.1.12
  project/Deps.scala
Labels: scala-steward

#607 Update slick, slick-hikaricp to 3.3.2
  project/Deps.scala
Labels: scala-steward

#614 Update native-lib-loader to 2.3.4
  project/Deps.scala
Labels: scala-steward

#591 Node cleanup
  core/src/main/scala/org/bitcoins/core/p2p/NetworkHeader.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkMessage.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/protocol/CompactSizeUInt.scala
  core/src/test/resources/common-logback.xml
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/BlockActor.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/PaymentActor.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSpvNodeUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: core, node

#602 Update sbt-bloop to 1.3.2
  project/plugins.sbt
Labels: scala-steward

#600 Revert payment monitor
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
Labels: eclair-rpc

#598 Add types for various bitcoind RPC exceptions
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MiningRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/NodeRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/BitcoindException.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  docs/rpc/bitcoind.md
Labels: bitcoind-rpc, documentation

#616 Update sqlite-jdbc to 3.28.0
  project/Deps.scala
Labels: scala-steward

#590 Add notion of address types in wallet
  core/src/main/scala/org/bitcoins/core/hd/AddressType.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/LegacyWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/SegwitWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTable.scala
Labels: bug, wallet

#629 Make sure our secp256k1jni package is compiled against java 8
  build.sbt
Labels: build

#604 Update sbt-api-mappings to 3.0.0
  project/plugins.sbt
Labels: scala-steward

#612 Update sbt-mdoc to 1.3.1
  project/plugins.sbt
Labels: scala-steward

#631 Target jvm 1.8 with test files along with source files
  build.sbt
Labels: build

#594 Add all wallet outpoints to bloom filter
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet

#630 Remove assertion on irrelevant TX
  node-test/src/test/scala/org/bitcoins/node/NodeWithWalletTest.scala
Labels: bug, tests, wallet

#638 Release lib with openjdk8
  .travis.yml
Labels: CI

#577 Add functionality for broadcasting TXs to node
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAOTest.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/db/NodeDbManagement.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionTable.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: node, wallet

#639 Update akka-http, akka-http-testkit to 10.1.9
  project/Deps.scala
Labels: scala-steward

#637 Remove BitcoinJ from dependencies
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPrivateKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPublicKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/Base58Test.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinJConversions.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinJSignatureSerialization.java
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinJTestUtil.scala
  core-test/src/test/scala/org/bitcoins/core/util/CryptoTestUtil.scala
  project/Deps.scala
Labels: tests

#606 Update sbt-native-packager to 1.3.25
  app/cli/cli.sbt
  project/plugins.sbt
Labels: scala-steward

#647 Fix merkle block parsing error
  core-test/src/test/scala/org/bitcoins/core/p2p/MerkleBlockMessageTest.scala
  core/src/main/scala/org/bitcoins/core/serializers/blockchain/RawMerkleBlockSerializer.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSpvNodeUtil.scala
Labels: bug, core, node

#649 implement ability to monitor a invoice that we are generated
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
Labels: eclair-rpc

#567 Attempt to resolve issue #527 where bitcoind returns html indicating …
  .travis.yml
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
Labels: bitcoind-rpc

#643 Killing Joda Dependency
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/WalletResult.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonReaders.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonSerializers.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/VersionMessageTest.scala
  project/Deps.scala
Labels: bitcoind-rpc, build, core

#618 Replace Bitcoins params in RPC client with CurrencyUnit
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/V16SendRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/V17PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/serializers/JsonWriters.scala
Labels: bitcoind-rpc

#663 Add note on how to build JAR files
  build.sbt
  docs/getting-started.md
Labels: documentation

#634 Cleaning up Publish Logs
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BlockchainBuilder.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BlockchainUpdate.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipUpdateResult.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkHeader.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkMessage.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/PartialMerkleTree.scala
  core/src/main/scala/org/bitcoins/core/serializers/RawBitcoinSerializerHelper.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/RawNetworkIpAddressSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawFilterAddMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawFilterLoadMessageSerializer.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSpvNodeUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/BlockHeaderHelper.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/WitnessGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/p2p/ControlMessageGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/p2p/DataMessageGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/EncryptedMnemonic.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: build

#666 Add EitherOps back
  wallet/src/main/scala/org/bitcoins/wallet/EncryptedMnemonic.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug
