Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-08, with the labels that each got.

#1734 Docs: Command line options
  docs/config/configuration.md
Labels: config, documentation

#1736 Update sbt-scalafmt to 2.4.2
  project/plugins.sbt
Labels: dependencies

#1735 Fix CI failure in eclair test
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
Labels: eclair-rpc, tests

#1729 Start syncing filters on node startup
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node

#1749 CLI: Handle non-json responses
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
Labels: bug, cli

#1750 Make ECDigitalSignature extend NetworkElement
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
Labels: crypto

#1725 Batch add filters to database
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: chain, optimization

#1748 Have AppConfig use BitcoinNetwork.fromString
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
Labels: config

#1740 Callbacks to appconfig
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  docs/node/node.md
  docs/wallet/wallet-callbacks.md
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: node

#1753 Add back chain index after creating a temp table
  chain/src/main/resources/sqlite/chain/migration/V5__re_add_block_header_indexes.sql
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
Labels: chain, database

#1744 Implement Wallet.listTransactions()
  testkit/src/test/scala/org/bitcoins/testkit/ImplicitsTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/OutgoingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  zmq/src/test/scala/org/bitcoins/zmq/ZMQSubscriberTest.scala
Labels: wallet

#1751 Add mempool.space as a fee provider
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/FeeRateApi.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/MempoolSpaceProvider.scala
Labels: fee-provider

#1730 Stop requesting merkle block messages while in neutrino mode
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: neutrino, node

#1763 Drop older headers on chain update
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: chain, optimization

#1721 Have wallet shuffle inputs and outputs
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: wallet

#1761 Allow NonWitness and Witness UTXOs in same InputPSBTMap
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
Labels: core, psbt

#1771 Add synchronous version of StartStop
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  core/src/main/scala/org/bitcoins/core/util/StartStop.scala
  core/src/main/scala/org/bitcoins/core/util/StartStopAsync.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
Labels: core, enhancement

#1779 Update scalacheck-1-14 to 3.2.1.0
  project/Deps.scala
Labels: dependencies

#1778 Update scalatest to 3.2.1
  project/Deps.scala
Labels: dependencies

#1777 Better return message for bitcoin-s-cli stop
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
Labels: cli

#1776 Docs: Address Queue
  docs/wallet/wallet-get-address.md
Labels: documentation, wallet

#1785 Docs: Remove WalletApi disclaimer
  docs/wallet/wallet.md
Labels: documentation

#1782 Fix for Wallet confirmed states
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: bug, wallet

#1791 Revert scalaTest to 3.2.0
  project/Deps.scala
Labels: dependencies

#1774 Use safeRewind for signWithEntropy
  secp256k1jni/src/main/java/org/bitcoin/NativeSecp256k1.java
Labels: bug, secp256k1

#1792 Update sbt-buildinfo to 0.10.0
  project/plugins.sbt
Labels: dependencies

#1758 Send GetHeadersMessage using all of our cached headers to prevent reorgs from stalling node
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: bug, node

#1797 Bump stop timeout
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
Labels: cli

#1793 Send correct version message on node start up
  core-test/src/test/scala/org/bitcoins/core/p2p/VersionMessageTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node

#1786 Update sbt-mdoc to 2.2.4
  project/plugins.sbt
Labels: dependencies

#1799 Create more of a project structure in org.bitcoins.core.api, move DbR…
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/Core.scala
  core/src/main/scala/org/bitcoins/core/api/NodeChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/api/core/CoreApi.scala
  core/src/main/scala/org/bitcoins/core/api/db/DbRowAutoInc.scala
  core/src/main/scala/org/bitcoins/core/api/feeprovider/FeeRateApi.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeApi.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeChainQueryApi.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  docs/wallet/chain-query-api.md
  docs/wallet/node-api.md
  docs/wallet/wallet.md
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/ConstantFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/models/Peer.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDb.scala
Labels: core, refactor

#1800 Fixed Transaction Signing Doc
  docs/core/signing-transactions.md
  website/i18n/en.json
Labels: documentation

#1801 Make Akka log to file correctly
  app/server/src/main/resources/logback.xml
  app/server/src/main/resources/reference.conf
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  project/Deps.scala
Labels: bug, logging

#1790 Address Tagging/Labeling Support from CLI
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InternalAddressTag.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
Labels: cli, wallet

#1804 Optimize unmarkUTXOsAsReserved
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: optimization, wallet

#1807 Config CLI option, datadir correctly read from config
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  docs/applications/server.md
Labels: app server, config

#1814 Output logger configuration on startup now
  core-test/src/test/resources/logback-test.xml
  testkit/src/main/resources/logback.xml
Labels: logging

#1810 Revert scalaTestPlus to 3.2.0.0
  project/Deps.scala
Labels: dependencies, logging, tests

#1817 Require utxos aren't spent when sending from outpoints
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#1816 Remove default false for useLogbackConf
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfigFactory.scala
  docs/chain/chain.md
  docs/config/configuration.md
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/NodeAppConfigTest.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/resources/logback-test.xml
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, logging

#1824 Fix address tag issue where we weren't adding tags to an address, we …
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: bug, wallet

#1826 Attempt to batch checking of headers in chainTest to avoid reject exe…
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
Labels: chain, tests

#1828 Create primary key of (address, tag_type) for AddressTag table
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressTagDAOTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V8__add_address_tag_pk.sql
  wallet/src/main/resources/sqlite/wallet/migration/V7__add_address_tag_pk.sql
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
Labels: wallet

#1837 Batch and execute headers for chain work calculation test case, this …
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
Labels: chain, tests

#1839 Disable logging for tests
  testkit/src/main/resources/logback-test.xml
  testkit/src/main/resources/reference.conf
Labels: tests

#1836 Don't wait for rescan completion to send message
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server

#1831 Update postgresql to 42.2.15
  project/Deps.scala
Labels: dependencies

#1838 Update sbt-native-packager to 1.7.5
  project/plugins.sbt
Labels: dependencies

#1832 Fix get missing utxos
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#1789 Use database to calculate number of confirmations
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: chain

#1835 Fix case of cli command sendwithalgo
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
Labels: bug, cli

#1834 Add missing route for `getaddressinfo`
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server, bug

#1819 Fix server parsing for send to address
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server, bug

#1798 Refactor wallet DB
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptType.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  node-test/src/test/scala/org/bitcoins/node/NodeAppConfigTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  project/CommonSettings.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/ScriptPubKeyDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V9__add_script_pub_keys.sql
  wallet/src/main/resources/sqlite/wallet/migration/V7__add_address_tag_pk.sql
  wallet/src/main/resources/sqlite/wallet/migration/V8__add_script_pub_keys.sql
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressRecord.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDb.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/UTXORecord.scala
Labels: database, refactor, wallet

#1846 Rolling log file location
  app/server/src/main/resources/logback.xml
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/LoggerConfig.scala
Labels: logging

#1823 Remove unnecessary parallelization in Wallet
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: bug, database, wallet

#1851 Fix safely broadcast a transaction twice test
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: bug, node

#1854 Bring back strict compiler opts
  project/CommonSettings.scala
Labels: build

#1862 Fix V8 Migration
  wallet/src/main/resources/sqlite/wallet/migration/V8__add_script_pub_keys.sql
Labels: bug, database, migrations

#1859 Cache Travis builds
  .travis.yml
Labels: CI

#1847 Implement basic TLV functionality
  core-test/src/test/resources/bigsize_decoding.json
  core-test/src/test/resources/bigsize_encoding.json
  core-test/src/test/scala/org/bitcoins/core/number/UInt16Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BigSizeUIntTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/BigSizeUInt.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/NumberGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: core, dlc, node

#1881 Remove uncessary extension of Async 'FixtureAsyncFlatSpec' in WalletD…
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
Labels: teskit

#1869 Correcly use reference.conf file
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  docs/config/configuration.md
  testkit/src/main/resources/reference.conf
Labels: bug, config

#1879 Db conf on pr 1877
  db-commons-test/src/test/resources/db.conf
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  db-commons/src/main/resources/db.conf
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  project/CommonSettings.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: database

#1885 Move all remaining wallet db representations
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/AccountDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/AddressDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/AddressRecord.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/IncomingTransactionDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/OutgoingTransactionDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/ScriptPubKeyDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/UTXORecord.scala
  core/src/main/scala/org/bitcoins/core/util/HDUtil.scala
  docs/wallet/address-tagging.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/util/HdUtilTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/EncryptedMnemonicTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AccountDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/IncomingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/OutgoingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/ScriptPubKeyDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/util/GetAddresses.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/AddressInfo.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/HDWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: core, refactor, wallet

#1686 Update scalafmt-core to 2.6.4
  .scalafmt.conf
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/CoinSelectionAlgo.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/BitcoindException.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/GolombFilterTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/CompactSizeUInt.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptOperationFactory.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticOperations.scala
  core/src/main/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ScriptNumberUtil.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/Base58.scala
  core/src/main/scala/org/bitcoins/core/util/Bech32.scala
  core/src/main/scala/org/bitcoins/core/util/BinaryTree.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  core/src/main/scala/org/bitcoins/core/util/StartStopAsync.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/FinalizedTxWithSigningInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxSigner.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilderError.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/MaskedToString.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/BlockchainElementsGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/MerkleGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/WitnessGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeFundedWalletBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/TestkitBinaries.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CoinSelector.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: dependencies

#1887 Update user agent to 0.4.0
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node

#1886 Move WalletApi necessities to core
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core-test/src/test/scala/org/bitcoins/core/api/CoinSelectorTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/AddUtxoResult.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/AddressInfo.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelectionAlgo.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelector.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/HDWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: core, refactor, wallet

#1892 Remove 2.11 specfic files
  chain/src/main/scala-2.11/org/bitcoins/chain/blockchain/Blockchain.scala
  core/src/main/scala-2.11/org/bitcoins/core/compat/CompactPackage.scala
Labels: build, refactor

#1890 Move WalletApi to Core
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/keymanager/KeyManagerApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/HDWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/SpvWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  website/versioned_docs/version-0.2.0/applications/wallet.md
Labels: core, refactor, wallet

#1888 Move ChainApi to core
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BitcoindChainHandlerViaZmqTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/FilterSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  chain/src/main/scala-2.12/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala-2.13/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BlockchainUpdate.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ConnectTipResult.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipUpdateResult.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/BlockHeaderDb.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/ChainApi.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/CompactFilterDb.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/CompactFilterHeaderDb.scala
  docs/wallet/wallet.md
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/BlockHeaderHelper.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  website/versioned_docs/version-0.2.0/applications/wallet.md
Labels: chain, core, refactor

#1872 Simplify Transaction Broadcast
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: bug, node

#1876 Update scalatest to 3.2.2
  project/Deps.scala
Labels: dependencies

#1893 Add new hash preimage PSBTInput types
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTKeyId.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
Labels: core, psbt

#1895 Updated setup and dlc docs
  docs/applications/cli.md
  docs/getting-setup.md
  docs/wallet/dlc.md
Labels: dlc, documentation

#1894 Bump scalatestplus version
  project/Deps.scala
Labels: dependencies

#1891 Apply string factory to a bunch of easy things
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/eclair/EclairModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/MnemonicCodeTest.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnHumanReadablePartTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptTypeTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticOperationsFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/bitwise/BitwiseOperationsFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/control/ControlOperationsFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoOperationsFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/flag/ScriptFlagFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/locktime/LocktimeOperationFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/stack/StackOperationFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/AddressTagTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/TxoStateTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelectionAlgo.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPath.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPathFactory.scala
  core/src/main/scala/org/bitcoins/core/p2p/ServiceIdentifier.scala
  core/src/main/scala/org/bitcoins/core/protocol/AddressFactory.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnHumanReadablePart.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnInvoice.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTagPrefix.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/channel/ChannelState.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptOperationFactory.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptType.scala
  core/src/main/scala/org/bitcoins/core/script/flag/ScriptFlagFactory.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/AddressTag.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InternalAddressTag.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/AesCryptTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/AesCrypt.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  docs/wallet/address-tagging.md
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/network/NodeUriTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/network/NodeUri.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManagerApiTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
Labels: app-commons, core, refactor

#1901 Create ADT for NodeType instead of booleans
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/NodeType.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: config, enhancement, node

#1903 dlc branch -> adaptor-dlc branch
  docs/wallet/dlc.md
Labels: documentation

#1905 docs: Remove e2e dlc info from documentation, add some notes about us…
  docs/applications/gui.md
  docs/getting-setup.md
  docs/wallet/dlc.md
Labels: documentation

#1900 Send get filters message if we haven't cached any yet
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#1896 Clean up calls in Node and Chain
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
Labels: chain, node

#1897 Add an ability to one Postgres database for all sub-projects
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  chain/src/main/scala/org/bitcoins/chain/db/ChainDbManagement.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: database, enhancement, postgres

#1907 Remove AppConfig.initialize() in favor of AppConfig.start()
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  docs/chain/chain.md
  docs/node/node.md
  docs/wallet/wallet.md
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: app-commons, config

#1913 Fix log to output correct function
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug, chain

#1898 DLC TLVs
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/NumberUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CurrencyUnitGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/DLCTestUtil.scala
Labels: dlc

#1899 Move DLCWallet and db to separate project
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  build.sbt
  db-commons-test/src/test/resources/db.conf
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/resources/db.conf
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCDbManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletApi.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigDb.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: dlc, refactor, wallet

#1922 Improve logging in DataMessageHandler
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: logging, node

#1902 Create DatabaseDriver ADT instead of booleans
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DatabaseDriver.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, database, enhancement

#1921 Warn if peer does not support services we need
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
Labels: enhancement, node

#1916 Fix rescans that are larger than the batch size
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, neutrino, wallet

#1908 Fix broken links in Docs + minor touchups
  docs/applications/server.md
  docs/chain/chain-query-api.md
  docs/chain/filter-sync.md
  docs/config/configuration.md
  docs/contributing.md
  docs/core/core-intro.md
  docs/core/hd-keys.md
  docs/crypto/sign.md
  docs/getting-started.md
  docs/key-manager/key-manager.md
  docs/node/node-api.md
  docs/rpc/eclair.md
  docs/secp256k1/secp256k1.md
  docs/testkit/testkit.md
  docs/wallet/wallet-rescan.md
  docs/wallet/wallet.md
  website/i18n/en.json
  website/sidebars.json
Labels: documentation, release

#1929 Calculate correct TxoState when processing a transaction
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#1932 Cache DoubleSha256Digest.hex
  crypto/src/main/scala/org/bitcoins/crypto/HashDigest.scala
Labels: core, optimization

#1926 Implement getBestFilterHeader based on a number of block headers that…
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/CompactFilterHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, chain

#1934 Fix maxBy() exception in the case of empty Blockchain in ChainHandler…
  chain-test/src/test/scala/org/bitcoins/chain/models/CompactFilterHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug, chain

#1936 Make sure both filter ehaders and filters are empty before sending fi…
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/BlockHeader.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, neutrino

#1931 Give gui command line arguments
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: bug, gui

#1941 Removed fee subtraction in DLCRefundTxBuilder as this is incorrect
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCRefundTxBuilder.scala
Labels: bug, dlc

#1943 Fix getBestFilterHeader for headers 2016 or more blocks away from tip
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
Labels: bug, chain
