Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-05, with the labels that each got.

#1387 Add rpcport configuration options in both bitcoin-s.conf and as a com…
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server/src/main/resources/reference.conf
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  docs/applications/server.md
  docs/config/configuration.md
  testkit/src/main/resources/reference.conf
Labels: app server, cli, config

#1393 DLC code snippet clarification
  docs/wallet/dlc.md
Labels: dlc, documentation

#1401 Fix Oracle info in DLC doc
  docs/wallet/dlc.md
Labels: dlc, documentation

#1404 2020 05 08 gui sb background color
  app/gui/src/main/resources/themes/dark-theme.css
Labels: gui

#1413 2020 05 11 bech32 addr tostring
  core-test/src/test/scala/org/bitcoins/core/protocol/AddressTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/TestUtil.scala
Labels: bug, core

#1415 Update akka-http, akka-http-testkit to 10.1.12
  project/Deps.scala
Labels: dependencies

#1405 Wallet send from outpoints
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: cli, wallet

#1406 Add listSpentAddresses call
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: cli, wallet

#1407 Add listFundedAddresses call
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
Labels: cli, wallet

#1408 Add list unused addresses call
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: cli, wallet

#1414 Update sbt-bloop to 1.4.0
  project/plugins.sbt
Labels: dependencies

#1427 Fix Warning in TransactionDb
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDb.scala
Labels: refactor

#1400 Input info Refactor
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/TxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/InputInfoTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/OutputReference.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/FundingInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/ConditionalPath.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  docs/core/adding-spks.md
  docs/core/psbts.md
  docs/core/txbuilder.md
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDb.scala
  website/versioned_docs/version-0.2.0/core/txbuilder.md
Labels: core, refactor

#1432 upgrade Scala to 2.13.2 in places in travis.yml
  .travis.yml
Labels: CI

#1425 Add bitcoin-s icon, add dark theme to dialogs
  app/gui/src/main/resources/icons/bitcoin-s.png
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/GetNewAddressDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/SendDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/settings/SettingsPane.scala
Labels: gui

#1409 Wallet Send with coin selection algorithim
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/CoinSelectionAlgo.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  build.sbt
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CoinSelector.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: cli, wallet

#1434 Try and improve reliability of UpdateBloomFilterTest, also add getMem…
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
Labels: bitcoind-rpc, node

#1417 Add ability to make OP_RETURN commitments
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: cli, wallet

#1431 Remove the clause in Transction.fromHex() where we throw in the case …
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/serializers/RawBitcoinSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/RawBitcoinSerializerHelper.scala
  core/src/main/scala/org/bitcoins/core/serializers/transaction/RawWitnessTransactionParser.scala
Labels: core, optimization

#1439 Fix Compile-time regression due to Gen.frequency in CreditingTxGen
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
Labels: bug, teskit

#1438 Add DLC GUI Docs
  docs/getting-setup.md
  docs/wallet/dlc.md
Labels: dlc, documentation, gui

#1435 2020 05 17 optimizations
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/CompactSizeUInt.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptOperationFactory.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticOperations.scala
  core/src/main/scala/org/bitcoins/core/script/bitwise/BitwiseOperations.scala
  core/src/main/scala/org/bitcoins/core/script/constant/BytesToPushOntoStack.scala
  core/src/main/scala/org/bitcoins/core/script/constant/Constants.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperations.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoOperations.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoSignatureEvaluationFactory.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LocktimeOperations.scala
  core/src/main/scala/org/bitcoins/core/script/reserved/ReservedOperations.scala
  core/src/main/scala/org/bitcoins/core/script/splice/SpliceOperations.scala
  core/src/main/scala/org/bitcoins/core/script/stack/StackOperations.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
Labels: core, optimization

#1444 Fix spacing in README.md
  README.md
Labels: documentation

#1447 Reduce number of property based tests from 200 -> 100 so we don't tim…
  core-test/src/test/scala/org/bitcoins/core/p2p/NetworkPayloadTest.scala
Labels: core

#1448 Fix allowing BytesToPushOntoStack(0)
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionWitnessSpec.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/ConstantInterpreterTest.scala
  core/src/main/scala/org/bitcoins/core/script/constant/BytesToPushOntoStack.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ConstantInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: bug, core

#1449 2020 05 19 improve test performance
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/bip32/BIP32PathTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/BlockMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/HeadersMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/NetworkPayloadTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: core

#1436 Add hardcoded jvmopts file that starts with a 2g heap
  .jvmopts
Labels: build

#1450 Small optimization for ScriptOperationFactory.operations
  core/src/main/scala/org/bitcoins/core/script/ScriptOperationFactory.scala
  core/src/main/scala/org/bitcoins/core/script/constant/StackPushOperationFactory.scala
Labels: core, optimization

#1398 Add option to correctly use logback config
  app/server/src/main/resources/reference.conf
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/HttpLogger.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/ChainVerificationLogger.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/DatabaseLogger.scala
  db-commons/src/main/scala/org/bitcoins/db/LoggerConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/package.scala
  docs/chain/chain.md
  docs/config/configuration.md
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/NodeAppConfigTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/P2PLogger.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, logging

#1428 Add bitcoind and zmq config options to EclairInstance
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/ConfigUtil.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/EclairInstance.scala
Labels: config, eclair-rpc

#1453 Update stable version in doc.sbt, add getting started link to README.md
  README.md
  bitcoin-s-docs/docs.sbt
Labels: documentation

#1446 Implemented (lax) signature parsing in Bitcoin-S
  crypto-test/src/test/scala/org/bitcoins/crypto/DERSignatureUtilTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/DERSignatureUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  project/Deps.scala
Labels: crypto, dependencies, refactor

#1458 Add ability to unreserve utxos
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet

#1457 Fix balance by account
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug, wallet

#1459 Attempt to optimize block tests more to avoid timeouts
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/Script.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutput.scala
  core/src/main/scala/org/bitcoins/core/serializers/RawBitcoinSerializerHelper.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/RawScriptSignatureParser.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoBytesUtil.scala
Labels: core, optimization

#1454 Fix fee rate calculation bugs, add tests
  core-test/src/test/scala/org/bitcoins/core/wallet/fee/FeeUnitTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
Labels: bug, core

#1462 Implement AppConfigFactory
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfigFactory.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config

#1463 Create a simplified version of the WalletApi.unmarkUTXOsAsReserved() …
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: refactor, wallet

#1455 Implement FeeUnit SatoshisPerKW
  core-test/src/test/scala/org/bitcoins/core/wallet/fee/FeeUnitTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
Labels: core

#1465 Increase Key Manager test coverage
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/util/HdUtilTest.scala
Labels: key-manager, tests

#1461 Minor Fixes
  core/src/main/scala/org/bitcoins/core/protocol/transaction/InputUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
Labels: bug, core, dlc

#1469 CryptoContext Refactor
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoContext.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  docs/secp256k1/secp256k1.md
  secp256k1jni/src/main/java/org/bitcoin/Secp256k1Context.java
Labels: bug, crypto, secp256k1

#1471 Update docs pertaining to logging
  docs/contributing.md
Labels: documentation

#1472 Fix FeeUnit match not being exhaustive
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/p2p/ControlMessageGenerator.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug

#1476 Update bcprov-jdk15on to 1.65.01
  project/Deps.scala
Labels: dependencies

#1477 Attempt to fix database locking errors in process tx test
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#1475 Add more optimizations, MultSignatureScriptPubKey.isMultiSignatureScr…
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/ShortChannelIdTest.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoBytesUtil.scala
Labels: core, optimization

#1473 Rework Standard Finalizer (into pieces)
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/StandardNonInteractiveFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilderError.scala
  docs/core/txbuilder.md
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: core

#1421 Upgrade Eclair to v0.4
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#1479 Drop 2.11 from inThisBuild.sbt and Deps.scala
  .travis.yml
  inThisBuild.sbt
  project/Deps.scala
Labels: build

#1386 Implement KeyManagerLogger
  build.sbt
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerLogger.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
Labels: key-manager, logging

#1482 Cache numbers between 0 and 256 to make serialization/deserialization…
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
Labels: core, optimization

#1483 Add -Xfatal-warnings on Scala 2.13
  bench/src/main/scala/org/bitcoins/bench/eclair/EclairBench.scala
  bitcoin-s-docs/docs.sbt
  project/CommonSettings.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: build

#1484 Filter warnings on doc for publishing
  project/CommonSettings.scala
Labels: build

#1485 Filter -Xfatal-warnings when using scala console so we don't get erro…
  project/CommonSettings.scala
Labels: build

#1470 Fee Rate Api Support
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/FeeRateApi.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/api/FeeRateApi.scala
  docs/wallet/chain-query-api.md
  docs/wallet/node-api.md
  docs/wallet/wallet.md
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitcoinerLiveFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/ConstantFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: enhancement, wallet

#1489 Bump scodec to 1.14
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSUnitTest.scala
Labels: dependencies

#1374 Bump akka to 2.6.4, fix deprecated things
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: dependencies

#1486 Implement BitcoindRpcClient as a FeeProvider
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  core/src/main/scala/org/bitcoins/core/api/FeeRateApi.scala
Labels: bitcoind-rpc

#1492 Skip publishing fee provider for now
  build.sbt
Labels: build, fee-provider

#1490 2020 04 11 bump play json v
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  project/Deps.scala
Labels: app-commons, dependencies

#1495 Skip publishing of fee-provider-test
  build.sbt
Labels: fee-provider
