Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-07, with the labels that each got.

#1607 Only fail CallbackTest if promise is not completed
  core-test/src/test/scala/org/bitcoins/core/api/CallbackTest.scala
Labels: tests

#1622 Update website deps
  website/i18n/en.json
  website/yarn.lock
Labels: documentation

#1621 Override correct equals functions
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
Labels: refactor

#1626 Fix gui theme to correctly color the button bar
  app/gui/src/main/resources/themes/dark-theme.css
Labels: gui

#1624 Add extra logs, fix best filter bug
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: app server, bug, node

#1630 Drop AutoInc col for Broadcastable Transaction Table
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAOTest.scala
  node/src/main/resources/postgresql/node/migration/V2__drop_broadcast_elements_auto_inc.sql
  node/src/main/resources/sqlite/node/migration/V2__drop_broadcast_elements_auto_inc.sql
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransaction.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
Labels: database, node

#1611 Node broadcast tx twice test
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
Labels: node, tests

#1631 Move BIP 143 invariant for PSBTs to allow signed transactions
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/api/CoreApiTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
Labels: core, psbt

#1627 Eclair RPC 0.4.1
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/eclair/EclairModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/node/Feature.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
Labels: eclair-rpc

#1636 Add wallet callbacks docs to sidebar
  website/sidebars.json
Labels: documentation

#1635 Make getAddressInfo Tests not reliant on timestamp
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
Labels: bitcoind-rpc, tests

#1641 Fee Provider Docs
  docs/fee-provider/fee-provider.md
  website/sidebars.json
Labels: documentation

#1320 Address Tagging Attempt 2
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/AddressTagTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/AddressTag.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/ExternalAddressTag.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InternalAddressTag.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  docs/wallet/address-tagging.md
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressTagDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V5__add_address_tags.sql
  wallet/src/main/resources/sqlite/wallet/migration/V5__add_address_tags.sql
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDb.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  website/sidebars.json
Labels: wallet

#1640 Use One click install in docs
  docs/getting-setup.md
Labels: documentation

#1639 Fix nightly build docs section
  docs/getting-started.md
Labels: documentation

#1644 Update sbt-native-packager to 1.7.4
  project/plugins.sbt
Labels: dependencies

#1651 Fix length of BigIntMapper
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: chain

#1652 Give more descriptive error when there are no peers set
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: app server

#1657 Remove the akka boiler plate needed to get around issue 1508
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: app server, bug

#1665 Add signrawtxwithwallet bitcoind function
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RawTransactionResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
Labels: bitcoind-rpc

#1666 Remove need for wallet from BroadcastTransactionTest
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
Labels: node, tests

#1662 Implemenet BitGo fee provider
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/FeeRateApi.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  core/src/main/scala/org/bitcoins/core/package.scala
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitGoFeeRateProvider.scala
Labels: fee-provider

#1663 Random Coin Selection
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/CoinSelectionAlgo.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/api/CoinSelectorTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CoinSelector.scala
Labels: coin-selection, wallet

#1669 Bump scala 2.12 compiler to 2.12.12
  .travis.yml
  inThisBuild.sbt
Labels: build

#1670 Segwit Signing Bug Fix
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/WitnessVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/InputUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
Labels: bug, core, enhancement, psbt, refactor

#1668 Let Wallet find utxos by state
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet

#1671 Update sqlite-jdbc to 3.32.3.1
  project/Deps.scala
Labels: dependencies

#1673 Enforce unique outpoints for SpendingInfoDb
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V6__unique_spendinginfodb_outpoint.sql
  wallet/src/main/resources/sqlite/wallet/migration/V6__unique_spendinginfodb_outpoint.sql
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: database, wallet

#1664 Fix CoinSelector for KiloX fee rates
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/CoinSelector.scala
Labels: bug, wallet

#1661 Create BIP 69 finalizer
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxFinalizerTest.scala
  core/src/main/scala/org/bitcoins/core/package.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutPoint.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
Labels: core

#1660 Create ShuffleFinalizer
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
Labels: core, wallet

#1679 Fixed `getAddressInfo` RPC for bitcoind versions 18 and 19
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
Labels: bitcoind-rpc, bug

#1676 Unreserve spent utxos
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet

#1682 Start server before sync
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: app server

#1689 Move where we call wallet.start() and node.start() to the same place …
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: app server, bug

#1690 Skip downloadBlocks if given an empty Vector
  node/src/main/scala/org/bitcoins/node/Node.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: node, wallet

#1685 Update javafx-base, javafx-controls, ... to 14.0.2.1
  project/Deps.scala
Labels: dependencies

#1684 Update scalamock to 5.0.0
  project/Deps.scala
Labels: dependencies

#1680 Shuffle Finalizer Tests + bug fix
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/ShufflingNonInteractiveFinalizerTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
Labels: bug, core

#1694 Move function defs from wallet api to wallet
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: wallet

#1698 Add .transactionally to CRUD.updateAll(), CRUD.upsertAll(), CRUDAutoI…
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
Labels: database, optimization

#1703 Create getBlockchainsBetweenHeights for BlockHeaderDAO
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: chain

#1693 Create HDWalletApi
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/LegacyWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/SegwitWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/HDWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet

#1674 Add ProcessBlockTest
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
Labels: tests, wallet

#1707 Wallet API move execution context
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/HDWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: wallet

#1705 Wallet API Key manager changes
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/HDWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: wallet

#1695 Fix All Loggers!
  app/server/src/main/scala/org/bitcoins/server/HttpLogger.scala
  chain/src/main/scala/org/bitcoins/chain/ChainVerificationLogger.scala
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/DatabaseLogger.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerLogger.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/P2PLogger.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
Labels: bug, logging

#1706 Wallet API remove app config
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/HDWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet

#1711 Fixed getblockchaininfo for v19
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
Labels: bitcoind-rpc, bug

#1708 Move Node type of out Wallet API
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/HDWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/NeutrinoWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/SpvWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: wallet

#1716 Update scodec-bits to 1.1.18
  project/Deps.scala
Labels: dependencies

#1704 Remove need to parse every header in a blockchain on instantiation
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
Labels: chain

#1683 Fix Node Startup Issue
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: app server, bug, database

#1713 Added locks on start calls for loggers
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
Labels: bug, logging

#1710 Fix getBlockchainsBetweenHeights
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: bug, wallet

#1618 CRUD Test suite + updateAll improvements
  db-commons-test/src/test/resources/db.conf
  db-commons-test/src/test/scala/org/bitcoins/db/CRUDTestPostgres.scala
  db-commons-test/src/test/scala/org/bitcoins/db/CRUDTestSQLite.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestDAOFixture.scala
Labels: database, teskit, tests

#1715 Optimize getBestFilter functions
  chain/src/main/resources/postgresql/chain/migration/V3__chainwork_index.sql
  chain/src/main/resources/sqlite/chain/migration/V4__chain_work_to_varchar.sql
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: database, node

#1723 Fix Postgres types
  chain/src/main/resources/postgresql/chain/migration/V4__chainge_filter_bytes_type.sql
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V7__change_walletaddrestag_address_type.sql
Labels: chain, postgres, wallet

#1728 Improved block parsing time by approx. 33%
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: core, optimization

#1697 2020 07 25 optimize recalc chainwork
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  db-commons/src/main/resources/db.conf
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  docs/config/configuration.md
Labels: chain, optimization
