Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-02, with the labels that each got.

#1089 Add dependency graph plugin
  project/plugins.sbt
Labels: build, dependencies

#1095 Console CLI
  app/cli/cli.sbt
  app/cli/src/main/scala/org/bitcoins/cli/Cli.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
Labels: cli

#1090 Fix sync issues
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
Labels: bug, node

#1096 Update sbt to 1.3.8
  project/build.properties
Labels: build

#1101 Add codehause dependecy as a work around for issue 1110, there is a i…
  project/Deps.scala
Labels: bug, cli, native-image

#1103 Update sourcecode to 0.2.1
  project/Deps.scala
Labels: dependencies

#1099 Create migration to drop confirmations column from txo_spending_info …
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  wallet/src/main/resources/walletdb/migration/V3__txo_spending_info_drop_confirmations.sql
Labels: database, teskit, wallet

#1087 Update jeromq to 0.5.2
  project/Deps.scala
Labels: dependencies, zmq

#1107 Update flyway-sbt to 6.2.2
  project/plugins.sbt
Labels: dependencies

#1094 Added server handling for empty account tables while a seed exists
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
Labels: bug, wallet

#1092 Reworked DLC sequence numbers to disable RBF
  core/src/main/scala/org/bitcoins/core/policy/Policy.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionConstants.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc

#1086 Multiple Logger Fix
  app/server/src/main/scala/org/bitcoins/server/HttpLogger.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/ChainVerificationLogger.scala
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/DatabaseLogger.scala
  node/src/main/scala/org/bitcoins/node/P2PLogger.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
Labels: bug, logging

#1078 Created methods for constructing DLCClients from DLCMessages
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCMessage.scala
Labels: dlc

#1097 Support for Eclair 0.3.3
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairModels.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/JsonReaders.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#1088 DLC Dust Outputs
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCOutcome.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
Labels: dlc

#1118 Use java.time.Instant to represent UNIX timestamps in EclairApi
  bench/src/main/scala/org/bitcoins/bench/eclair/PaymentLog.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairModels.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/JsonReaders.scala
Labels: eclair-rpc

#1116 Descriptor fixes and test
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#1111 Reserved TxoState
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/TxoStateTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet

#1129 Fix async bug in chain fixtures setup phase
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
Labels: chain, teskit

#1128 Move binaries to be stored inside of the HOME/.bitcoin-s/binaries ins…
  bitcoind-rpc/bitcoind-rpc.sbt
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  project/CommonSettings.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/TestkitBinaries.scala
Labels: bitcoind-rpc, build, eclair-rpc, teskit

#1135 Add section to contributing.md for when travis ci won't run for new c…
  docs/contributing.md
Labels: CI, documentation

#1133 Got rid of warning messages!
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  bench/src/main/scala/org/bitcoins/bench/eclair/EclairBench.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterTable.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: core

#1136 Bump 'downloadBitcoind' timeout
  bitcoind-rpc/bitcoind-rpc.sbt
Labels: CI, build

#1143 Update scalacheck-1-14 to 3.1.1.0
  project/Deps.scala
Labels: dependencies

#1145 Update scalacheck-1-14 to 3.1.1.1
  project/Deps.scala
Labels: dependencies

#1144 Reduce GCS generator params again to try and stop timing out on CI
  core-test/src/test/scala/org/bitcoins/core/gcs/GCSTest.scala
Labels: CI, bug

#1146 Demo breakup 1
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/WitnessScriptPubKeySpec.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/currency/package.scala
  core/src/main/scala/org/bitcoins/core/policy/Policy.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/BlockStamp.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/OutputReference.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCMessage.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCTimeouts.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVectorGenerator.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  project/Deps.scala
  wallet/src/main/resources/walletdb/migration/V4__wallet_db_add_dlcs.sql
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCAcceptDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCAcceptTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCOfferDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCOfferTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ExecutedDLCDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ExecutedDLCTable.scala
Labels: dlc

#1157 Update dns seeds to reflect what is currently in bitcoin core, some o…
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
Labels: core

#1159 2020 02 23 scalatest show test duration
  project/CommonSettings.scala
Labels: build, tests

#1147 Demo breakup 2
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAccount.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoin.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCMessage.scala
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCAcceptTable.scala
Labels: dlc

#1156 2020 02 21 datadir configurable
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  docs/applications/server.md
Labels: config

#1148 Demo breakup 3
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientIntegrationTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: dlc

#1131 Seq and Map Wrappers
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/jsonmodels/OtherResult.scala
  chain/src/main/scala-2.11/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala-2.12/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala-2.13/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawTransactionInputParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawTransactionOutPointParserTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/BIP39Seed.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/MnemonicCode.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAccount.scala
  core/src/main/scala/org/bitcoins/core/protocol/CompactSizeUInt.scala
  core/src/main/scala/org/bitcoins/core/protocol/NetworkElement.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTaggedFields.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTags.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutput.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionWitness.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/serializers/RawBitcoinSerializerHelper.scala
  core/src/main/scala/org/bitcoins/core/serializers/bloom/RawBloomFilterSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawAddrMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawFilterAddMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawGetBlocksMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawGetHeadersMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawHeadersMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawInventoryMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawRejectMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawVersionMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/RawScriptWitnessParser.scala
  core/src/main/scala/org/bitcoins/core/serializers/transaction/RawTransactionWitnessParser.scala
  core/src/main/scala/org/bitcoins/core/serializers/transaction/RawWitnessTransactionParser.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/util/Wrappers.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: core, enhancement

#1149 Demo breakup 4
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: dlc

#1153 Add ci matrix for mac osx dlc
  .travis.yml
Labels: CI, dlc

#1165 Update try-bitcoin-s.sh
  try-bitcoin-s.sh
Labels: scripts

#1167 Added a getting-setup markdown doc for the website
  docs/applications/dlc.md
  docs/getting-setup.md
  docs/getting-started.md
  website/i18n/en.json
  website/sidebars.json
Labels: documentation

#1172 Add PSBTs to Docs Sidebar
  website/sidebars.json
Labels: documentation

#1173 Fix Wallet tests' keymanager to use changed config
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
Labels: key-manager, wallet

#1174 Allow getbalance to return in sats
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli

#1179 Update to 3 Keys and new ToLocal use
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCMessage.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCPublicKeys.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVectorGenerator.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc
