Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-01, with the labels that each got.

#992 Update sbt-ci-release to 1.5.0
  project/plugins.sbt
Labels: build, dependencies

#985 Automated wallet recovery
  app/cli/src/main/scala/org/bitcoins/cli/Cli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/resources/reference.conf
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/ChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/api/NodeApi.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  docs/applications/wallet.md
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: neutrino, wallet

#990 Implement abililty to use BIP39 password. This means this password ne…
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  docs/applications/wallet.md
  docs/key-manager/key-manager.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManagerTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerCreateApi.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManager.scala
  testkit/src/main/scala/org/bitcoins/keymanager/KeyManagerTestUtil.scala
  testkit/src/main/scala/org/bitcoins/keymanager/KeyManagerUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: key-manager, wallet

#1003 Wallet tests are already incorporated in a CI matrix, remove the stan…
  .travis.yml
Labels: CI

#1001 Add more expressive txo states for the wallet
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/TxoStateTest.scala
  core/src/main/scala/org/bitcoins/core/util/NumberUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/api/CoinSelectorTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: database, wallet

#1007 Update sbt-mdoc to 2.1.1
  project/plugins.sbt
Labels: dependencies

#993 P2SH Signing
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: core

#1012 Payment secret and features LN invoice tags
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTagPrefix.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTaggedFields.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTags.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/PaymentSecret.scala
  core/src/main/scala/org/bitcoins/core/util/Bech32.scala
Labels: core, eclair-rpc

#1011 Create MaskedToString, implement it in ECPrivateKey, ExtPrivateKey, M…
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPrivateKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/MnemonicCodeTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/AesCrypt.scala
  core/src/main/scala/org/bitcoins/core/crypto/BIP39Seed.scala
  core/src/main/scala/org/bitcoins/core/crypto/ECKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/MnemonicCode.scala
  core/src/main/scala/org/bitcoins/core/util/MaskedToString.scala
Labels: core

#997 PSBT Constructors and Extraction
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/Sign.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
Labels: psbt

#1006 Eclair Web Socket client
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairModels.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/JsonReaders.scala
Labels: eclair-rpc

#1017 Increase core test coverage
  core-test/src/test/scala/org/bitcoins/core/config/NetworkParametersTest.scala
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/FilterTypeTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/ServiceIdentifierTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/TypeIdentifierTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BitcoinAddressTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/script/RawScriptPubKeyParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/script/RawScriptSignatureParserTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: core, tests

#1002 PSBT Finalizer
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
Labels: core, psbt

#1021 Fixed BitcoinTxBuilderTest's Nested Output Test
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
Labels: core, tests

#1010 2020 1 04 fund raw tx
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/AddressFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/CompactSizeUIntTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CLTVScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CSVScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSignatureFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionInputTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionOutPointTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/ConstantInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/control/ControlOperationsInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/ScriptInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/locktime/LockTimeInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/splice/SpliceInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/stack/StackInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/script/RawScriptPubKeyParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/script/RawScriptSignatureParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/script/ScriptParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawBaseTransactionParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawTransactionInputParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/TestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/TransactionTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: wallet

#1020 Single Signing
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  docs/core/txbuilder.md
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: core, psbt

#1025 Psbt Signer
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
Labels: core, psbt

#1030 Validate the PSBT unknown is not a known field
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: core, psbt

#1027 DLC Test Vector JsObjects
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc, tests

#1032 Formatting fix for psbt scaladocs
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: psbt

#1033 getRecords simplification
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: psbt

#1035 PSBT stuff assigned to nkohen
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: psbt

#1037 PSBT independent record calls
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: psbt

#1036 PSBT Finalize to Try
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: psbt

#1038 PSBT signer property based tests
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
Labels: psbt

#1039 PSBT Combiner property based tests
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
Labels: psbt

#1042 Try bumping the Thread.sleep() to get CI to pass on slow mac osx
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: wallet

#1046 PSBTs response to Chris's review
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: psbt

#1050 P2PKWithTimeout to CSV
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
Labels: dlc

#1022 2020 1 11 accounts
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDAccountTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAccount.scala
  core/src/main/scala/org/bitcoins/core/hd/HDChainType.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AccountDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet

#1013 Eclair performance tests
  bench/src/main/scala/org/bitcoins/bench/eclair/EclairBench.scala
  bench/src/main/scala/org/bitcoins/bench/eclair/PaymentLog.scala
  build.sbt
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairModels.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/JsonReaders.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/EclairInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ln/LnInvoiceGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: bench, eclair-rpc

#1040 Expand DLC Test Vectors
  core/src/main/scala/org/bitcoins/core/crypto/SchnorrDigitalSignature.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc, tests

#1051 ECPubKey Addition
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPublicKeyTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ECKey.scala
Labels: core

#1048 PSBT Docs
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  docs/core/psbts.md
Labels: psbt

#1049 Psbt changes nkohen
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTKeyId.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
Labels: psbt

#1047 PSBT output updater tests
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
Labels: psbt

#1041 PSBT Input Updater property based tests
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
Labels: psbt

#1052 Txo state flyway
  build.sbt
  chain/src/main/resources/chaindb/migration/V1__chain_db_baseline.sql
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  node/src/main/resources/nodedb/migration/V1__node_db_baseline.sql
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/db/NodeDbManagement.scala
  project/Deps.scala
  wallet/src/main/resources/walletdb/migration/V1__wallet_db_baseline.sql
  wallet/src/main/resources/walletdb/migration/V2__wallet_db_spent_to_txo_state.sql
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: database

#1054 PSBT unit tests by Ben
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
Labels: psbt

#1055 Psbt unit tests by Nadav
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: psbt, tests

#1057 Add build config to skip publishing the new db-commons-test library
  build.sbt
Labels: build

#1056 Bech32 weakness test vectors
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
Labels: core, tests

#1031 PSBT Support
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfoTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/Sign.scala
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
  core/src/main/scala/org/bitcoins/core/package.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTKeyId.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/UTXOSpendingInfo.scala
  docs/core/psbts.md
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CreditingTxGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CurrencyUnitGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
Labels: psbt

#1058 If migrations fail, attempt to baseline the database and apply migrat…
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
Labels: database

#1063 CLI command for filter and filter header counts
  app/cli/src/main/scala/org/bitcoins/cli/Cli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
Labels: cli

#1023 Run test:scalafmt, and enforce it on CI
  .travis.yml
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPrivateKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtSignTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/MnemonicCodeTest.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/FilterTypeTest.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDAccountTest.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/ServiceIdentifierTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BitcoinAddressTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CLTVScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CSVScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionInputTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/ConstantInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/control/ControlOperationsInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/ScriptInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/locktime/LockTimeInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/script/RawScriptSignatureParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/script/ScriptParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawBaseTransactionParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawTransactionInputParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/TxoStateTest.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/util/HdUtilTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/api/CoinSelectorTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AccountDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
Labels: CI, build

#1066 Fix the order of LN tag fields in serialized invoces
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTaggedFields.scala
Labels: bug, core

#1070 Update flyway-sbt to 6.2.0
  project/plugins.sbt
Labels: dependencies

#1069 Example config on in documentation
  docs/applications/configuration.md
Labels: documentation

#1068 LnInvoice must ignore unknown LN tag fields
  bench/src/main/scala/org/bitcoins/bench/eclair/EclairBench.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnInvoice.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTagPrefix.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTaggedFields.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTags.scala
  core/src/main/scala/org/bitcoins/core/util/Bech32.scala
  core/src/main/scala/org/bitcoins/core/util/NumberUtil.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
Labels: bug, core

#1072 Update akka-actor, akka-stream, ... to 2.5.28
  project/Deps.scala
Labels: dependencies

#1073 Split DLC into two clients that must communicate
  .travis.yml
  build.sbt
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVectorTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelf.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCMessage.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCOutcome.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCTimeouts.scala
  dlc/src/main/scala/org/bitcoins/dlc/SetupDLC.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfIntegrationTest.scala
  dlc/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCWithSelfTest.scala
  project/Deps.scala
Labels: dlc

#1075 Attempt to keep GCSTest for timing out on CI
  core-test/src/test/scala/org/bitcoins/core/gcs/GCSTest.scala
Labels: CI, bug, core

#1074 CLI Commands for PSBTs
  app/cli/src/main/scala/org/bitcoins/cli/Cli.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core-test/src/test/scala/org/bitcoins/core/api/CoreApiTest.scala
  core/src/main/scala/org/bitcoins/core/Core.scala
  core/src/main/scala/org/bitcoins/core/api/CoreApi.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: cli, psbt

#1080 Added Mutual Closing DLC case
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCOutcome.scala
Labels: dlc

#1079 Update sbt-unidoc to 0.4.3
  project/plugins.sbt
Labels: dependencies

#1084 Revert flyway plugin version
  project/plugins.sbt
Labels: database, dependencies
