Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-09, with the labels that each got.

#1944 Only mark utxos as reserved on successful coin selection
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: wallet

#1951 Fix max by for getBlockCount
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  core/src/main/scala/org/bitcoins/core/package.scala
Labels: bug, chain

#1948 Validate key manager matches account db on wallet startup
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#1957 Rename ChainApi.nextHeaderBatchRange -> ChainApi.nextBlockHeaderBatch…
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/ChainApi.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: chain, refactor

#1961 Change maxBy and minBys to use maxByOption and minByOption
  bench/src/main/scala/org/bitcoins/bench/eclair/PaymentLog.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: enhancement

#1964 Move getBestFilterHeader() use the best chain by chainwork for determ…
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug, chain

#1971 Verify DLC Sigs as initiator
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc, wallet

#1972 Add chainHash to ChainParams
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/ChainParams.scala
Labels: core

#1981 Don't spend immature coinbases, fix tests
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: bug, wallet

#1979 Fix RoutesSpec to assert results
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
Labels: bug, tests

#1959 Optimize findClosestToTime
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: chain

#1984 TLV-JSON Bridge
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/DLCMessageTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCSignatures.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCStatus.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/GlobalDLCData.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ForceCloseDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/GetFundingDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/RefundDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/NumberUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/HashDigest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletApi.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigDb.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TransactionGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BytesUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc, tests

#1986 Fix Two KeyManagers in scope for fundRawTransactionInternal
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: refactor, wallet

#1988 Segregate mainnet chainhandler tests and regtest chainhandler tests
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
Labels: chain, refactor, tests

#1938 Update callbacks for LN support
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  docs/node/node.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/ScriptPubKeyDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
Labels: chain, enhancement

#1991 Happy Path Test Vectors!
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCTestVectorTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc, tests

#1977 Use randomized fee rates for wallet tests
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/ShufflingNonInteractiveFinalizerTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/OutgoingTransactionDb.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CurrencyUnitGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/FeeUnitGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/p2p/ControlMessageGenerator.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
Labels: wallet

#1992 Create separate fields for oracle pubkey and nonce
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
Labels: dlc, gui

#1995 Update sbt-mdoc to 2.2.7
  project/plugins.sbt
Labels: dependencies

#1994 Update play-json to 2.9.1
  project/Deps.scala
Labels: dependencies

#1990 Create FeeUnitFactory and functions to calculate tx fee rates
  core-test/src/test/scala/org/bitcoins/core/wallet/fee/FeeUnitTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/OutgoingTransactionDb.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
Labels: core, enhancement

#1960 Update scodec-bits to 1.1.20
  project/Deps.scala
Labels: dependencies

#1987 Update slick, slick-hikaricp to 3.3.3
  project/Deps.scala
Labels: dependencies

#1950 Throw errors that occurr in startup
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: app server

#1997 Sort DLC funding keys lexicographically
  .travis.yml
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCCETBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCFundingTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCRefundTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc

#2001 Update sbt-mdoc to 2.2.8
  project/plugins.sbt
Labels: dependencies

#2005 Rename parameter names from 'duration' -> 'interval' just like our Ac…
  bench/src/main/scala/org/bitcoins/bench/eclair/EclairBench.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/AsyncUtil.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, refactor, teskit

#1969 Resolve issues with reorgs and syncing filters
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/BlockHeaderDb.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/ChainApi.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainFixtureHelper.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainFixtureTag.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: chain, tests

#2007 Make BlockHeader, BlockHeaderDb have better toStrings
  core/src/main/scala/org/bitcoins/core/api/chain/db/BlockHeaderDb.scala
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/BlockHeader.scala
Labels: core, refactor

#2003 Introduce 'FilterSyncMarker' to ChainApi, make it clearier what exact…
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/FilterSyncTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  core/src/main/scala/org/bitcoins/core/api/chain/FilterSyncMarker.scala
  docs/wallet/wallet.md
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: api-breaking, chain

#2008 trivial: add trivial phase to travis
  .travis.yml
Labels: CI

#2009 Make ChainApi.getHeadersBetween() be inclusive on the 'from' parameter
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
Labels: chain, core

#2010 2020 09 12 adaptor ecdsa dlc
  .travis.yml
  inThisBuild.sbt
Labels: CI, build

#2011 Update Website Deps
  website/yarn.lock
Labels: dependencies, documentation

#2014 OSX native libsecp256k1
  .travis.yml
  secp256k1jni/natives/osx_64/bench_ecdh
  secp256k1jni/natives/osx_64/bench_sign
  secp256k1jni/natives/osx_64/bench_verify
  secp256k1jni/natives/osx_64/libsecp256k1.0.dylib
  secp256k1jni/natives/osx_64/libsecp256k1.a
  secp256k1jni/natives/osx_64/libsecp256k1.dylib
  secp256k1jni/natives/osx_64/libsecp256k1.lai
  secp256k1jni/natives/osx_64/libsecp256k1_jni.a
  secp256k1jni/natives/osx_64/libsecp256k1_jni.la
Labels: secp256k1

#1954 Update sbt-bloop to 1.4.4
  project/plugins.sbt
Labels: dependencies

#2021 Handle the case where our block headers are synced already
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug, chain

#2024 Increase code coverage in key manager
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerApiTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManagerApiTest.scala
Labels: key-manager, tests

#2023 Increase chain code coverage
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/CompactFilterDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BlockchainUpdate.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: chain, tests

#2025 Updated Bouncy Castle Schnorr implementation to most recent BIP 340
  crypto-test/src/test/resources/bip340-test-vectors.csv
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoUtilTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrNonce.scala
Labels: crypto

#2027 Add test to use llyod's info
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc, tests, wallet

#2028 Increase chain test code coverage even more
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
Labels: chain, tests

#2030 Increase test coverage in WalletStorage
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
Labels: key-manager, tests

#2031 2020 09 18 btchrp stringfactory
  core-test/src/test/scala/org/bitcoins/core/protocol/BtcHumanReadablePartTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/BtcHumanReadablePart.scala
  core/src/main/scala/org/bitcoins/core/util/Bech32.scala
Labels: core, refactor

#2033 Update sbt-mdoc to 2.2.9
  project/plugins.sbt
Labels: dependencies

#2019 Refactor logging to only use grizzled slf4j
  .travis.yml
  app/server/src/main/resources/logback.xml
  app/server/src/main/scala/org/bitcoins/server/HttpLogger.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
  chain/src/main/scala/org/bitcoins/chain/ChainVerificationLogger.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorSpec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt32Spec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt8Spec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptSignatureSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptWitnessSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionInputSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/testprotocol/CoreTransactionTestCaseProtocol.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/HashTypeSpec.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/testprotocol/CoreTestCaseProtocol.scala
  core-test/src/test/scala/org/bitcoins/core/util/NumberUtilSpec.scala
  core/src/main/scala/org/bitcoins/core/api/Callback.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/bitwise/BitwiseInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ConstantInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperationsInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LockTimeInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/splice/SpliceInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/stack/StackInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinSLogger.scala
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppLoggers.scala
  db-commons/src/main/scala/org/bitcoins/db/DatabaseLogger.scala
  db-commons/src/main/scala/org/bitcoins/db/LoggerConfig.scala
  docs/config/configuration.md
  key-manager/src/main/scala/org/bitcoins/keymanager/KeyManagerLogger.scala
  node-test/src/test/scala/org/bitcoins/node/NodeAppConfigTest.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/P2PLogger.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/MerkleBuffers.scala
  project/Deps.scala
  testkit/src/main/resources/logback-test.xml
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
Labels: logging

#2029 Add ImmatureCoinbase TxoState
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: tests, wallet

#1722 Have RawTxSigner use low R signing
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: core

#2035 Create Cli function for reserving and unreserving utxos
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcOpts.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/applications/server.md
Labels: cli, wallet

#2015 Create v4 release for website
  website/i18n/en.json
  website/versioned_docs/version-v0.4/applications/cli.md
  website/versioned_docs/version-v0.4/applications/configuration.md
  website/versioned_docs/version-v0.4/applications/dlc.md
  website/versioned_docs/version-v0.4/applications/gui.md
  website/versioned_docs/version-v0.4/applications/node.md
  website/versioned_docs/version-v0.4/applications/server.md
  website/versioned_docs/version-v0.4/applications/wallet.md
  website/versioned_docs/version-v0.4/chain/chain-query-api.md
  website/versioned_docs/version-v0.4/chain/chain.md
  website/versioned_docs/version-v0.4/chain/filter-sync.md
  website/versioned_docs/version-v0.4/config/configuration.md
  website/versioned_docs/version-v0.4/contributing-website.md
  website/versioned_docs/version-v0.4/contributing.md
  website/versioned_docs/version-v0.4/core/adding-spks.md
  website/versioned_docs/version-v0.4/core/addresses.md
  website/versioned_docs/version-v0.4/core/core-intro.md
  website/versioned_docs/version-v0.4/core/hd-keys.md
  website/versioned_docs/version-v0.4/core/lightning-network.md
  website/versioned_docs/version-v0.4/core/psbts.md
  website/versioned_docs/version-v0.4/core/sign.md
  website/versioned_docs/version-v0.4/core/signing-transactions.md
  website/versioned_docs/version-v0.4/core/txbuilder.md
  website/versioned_docs/version-v0.4/crypto/crypto-intro.md
  website/versioned_docs/version-v0.4/crypto/sign.md
  website/versioned_docs/version-v0.4/fee-provider/fee-provider.md
  website/versioned_docs/version-v0.4/getting-setup.md
  website/versioned_docs/version-v0.4/getting-started.md
  website/versioned_docs/version-v0.4/key-manager/key-manager.md
  website/versioned_docs/version-v0.4/node/node-api.md
  website/versioned_docs/version-v0.4/node/node.md
  website/versioned_docs/version-v0.4/rpc/eclair.md
  website/versioned_docs/version-v0.4/secp256k1/add-to-jni.md
  website/versioned_docs/version-v0.4/secp256k1/secp256k1.md
  website/versioned_docs/version-v0.4/security.md
  website/versioned_docs/version-v0.4/testkit/testkit.md
  website/versioned_docs/version-v0.4/wallet/address-tagging.md
  website/versioned_docs/version-v0.4/wallet/chain-query-api.md
  website/versioned_docs/version-v0.4/wallet/dlc.md
  website/versioned_docs/version-v0.4/wallet/node-api.md
  website/versioned_docs/version-v0.4/wallet/wallet-callbacks.md
  website/versioned_docs/version-v0.4/wallet/wallet-get-address.md
  website/versioned_docs/version-v0.4/wallet/wallet-rescan.md
  website/versioned_docs/version-v0.4/wallet/wallet.md
  website/versioned_sidebars/version-v0.4-sidebars.json
  website/versions.json
Labels: documentation, release

#2039 DLCFundingSignatures now accepts P2WSH, P2SH(Segwit)
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/DLCMessageTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCFundingInput.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCSignatures.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/verify/DLCSignatureVerifier.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc

#2040 Fixed PSBT.verifyFinalizedInput
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: bug, psbt

#2041 Only update txo confirmed state if there is a change
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: bug, wallet

#2044 Only log db config on startup
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
Labels: database, logging

#2043 Change default logging level to info
  app/server/src/main/resources/logback.xml
Labels: app server, logging

#2047 Increase the default db queue size
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  db-commons/src/main/resources/db.conf
Labels: database, enhancement

#2046 trivial: Set timezone and print it in logs
  app/server/src/main/resources/logback.xml
  testkit/src/main/resources/logback-test.xml
Labels: logging

#2048 Change requesting filters log to use big endian hashes
  core/src/main/scala/org/bitcoins/core/api/chain/FilterSyncMarker.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: logging

#2050 Put fee in funding error message
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelector.scala
Labels: wallet

#2053 Add missing settings for native packager
  app/server/server.sbt
  project/CommonSettings.scala
Labels: build

#2054 Fix HDPurpose Mapper for non standard values
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: database

#2042 Implemented generalized DLC fee computation
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/DLCMessageTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCFundingInput.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/LnMessageTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/LnMessage.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCFeeTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCFundingTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/LnMessageGen.scala
Labels: dlc, tests

#2055 Bump user agent to new version
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node

#2058 Made test vector contract_info easier for others to parse
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: dlc, tests

#2059 docs: Calculate correct hashes in dlc doc
  docs/wallet/dlc.md
Labels: dlc, documentation

#2057 Initial SigNet support
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindAuthCredentials.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  core-test/src/test/scala/org/bitcoins/core/config/NetworkParametersTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/ChainParamsTest.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/crypto/ECPrivateKeyUtil.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/BtcHumanReadablePart.scala
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/ChainParams.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnParams.scala
  core/src/main/scala/org/bitcoins/core/util/HDUtil.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPrivateKeyTest.scala
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  docs/config/configuration.md
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ChainParamsGenerator.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
Labels: chain, core, node

#2060 Create initial BitcoindV20RpcClient
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/NetworkResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc

#2063 Add ability to fully spend utxos
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxSigner.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#2065 Change versions in readme
  README.md
  bitcoin-s-docs/docs.sbt
Labels: documentation

#2067 Add network specific icons for bitcoin-s
  app/gui/src/main/resources/icons/bitcoin-s-regtest.png
  app/gui/src/main/resources/icons/bitcoin-s-signet.png
  app/gui/src/main/resources/icons/bitcoin-s-testnet.png
Labels: gui

#2073 Create ExtPrivateKeyHardened
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeyTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
Labels: core

#2079 Calculate HRP from network param instead of the inverse
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Test.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
Labels: bug, core

#2038 Update javafx-base, javafx-controls, ... to 16-ea+2
  project/Deps.scala
Labels: dependencies

#2083 Move DLC Oracle module to `master`
  .travis.yml
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/SigningVersion.scala
  build.sbt
  db-commons/src/main/resources/db.conf
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/SigningVersionTest.scala
  dlc-oracle/src/main/resources/postgresql/oracle/migration/V1__dlc_oracle_baseline.sql
  dlc-oracle/src/main/resources/sqlite/oracle/migration/V1__dlc_oracle_baseline.sql
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDb.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDb.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDb.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  project/Deps.scala
Labels: oracle

#2077 Create BitcoindRpcAppConfig
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/package.scala
  docs/config/configuration.md
Labels: bitcoind-rpc, config

#2076 Create Util functions for wallets with a bitcoind backend
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: app server, bitcoind-rpc, wallet

#2090 Message parsing tests
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVectorTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVectorTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_message_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: dlc, tests
