Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-06, with the labels that each got.

#1494 Reduce number of hashes used in GolombFilterTest to keep CI from timi…
  core-test/src/test/scala/org/bitcoins/core/gcs/GolombFilterTest.scala
Labels: core

#1481 Implement Bitcoind as ChainQueryApi & NodeApi
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
Labels: bitcoind-rpc

#1315 PostgreSQL support
  .gitignore
  .travis.yml
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BitcoindChainHandlerViaZmqTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/FilterSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  chain/src/main/resources/postgresql/chain/migration/V1__chain_db_baseline.sql
  chain/src/main/resources/sqlite/chain/migration/V1__chain_db_baseline.sql
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/resources/db.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  docs/config/configuration.md
  node-test/src/test/resources/logback-test.xml
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAOTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node/src/main/resources/postgresql/node/migration/V1__node_db_baseline.sql
  node/src/main/resources/sqlite/node/migration/V1__node_db_baseline.sql
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainDbUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V4__wallet_db_pg_baseline.sql
  wallet/src/main/resources/sqlite/wallet/migration/V1__wallet_db_baseline.sql
  wallet/src/main/resources/sqlite/wallet/migration/V2__wallet_db_spent_to_txo_state.sql
  wallet/src/main/resources/sqlite/wallet/migration/V3__txo_spending_info_drop_confirmations.sql
  wallet/src/main/resources/sqlite/wallet/migration/V4__wallet_db_add_transaction_table.sql
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: chain, database, node, wallet

#1501 Add database configuration as a heading that can be hyper linked too
  docs/config/configuration.md
Labels: documentation

#1503 Attempt to re-enable fee provider publishing
  build.sbt
Labels: build, fee-provider

#1499 Testkit wallet with bitcoind uses bitcoind as api
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  docs/wallet/wallet-rescan.md
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
Labels: bitcoind-rpc, teskit

#1505 Add docs for server endpoints
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  docs/applications/server.md
Labels: documentation

#1452 Implement best block hash correctly
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  chain/src/main/resources/postgresql/chain/migration/V2__add_block_header_chain_work.sql
  chain/src/main/resources/sqlite/chain/migration/V2__add_block_header_chain_work.sql
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDb.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  chain/src/main/scala/org/bitcoins/chain/validation/TipValidation.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/BlockHeaderHelper.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
Labels: chain, node

#1510 Move slickDbConfig out of JdbcProfileComponent trait into AppConfig
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
Labels: config, database

#1512 Make Golomb Filter Test run in parallel
  core-test/src/test/scala/org/bitcoins/core/gcs/GolombFilterTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: core, tests

#1514 Add more descriptive log message in P2PClient when we get disconnectd
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: node

#1517 Add test for detecting that the addresses were added to wallet's database
  wallet-test/src/test/scala/org/bitcoins/wallet/dlc/WalletDLCSetupTest.scala
Labels: dlc, tests, wallet

#1518 Fix Chaindb chain_work Migration
  chain/src/main/resources/sqlite/chain/migration/V3__change_chain_work_default.sql
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
Labels: bug, chain

#1498 Server-GUI bundle
  app/bundle/bundle.sbt
  app/bundle/src/main/scala/org/bitcoins/bundle/AppBundle.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  build.sbt
Labels: app server, dlc, gui

#1531 Introduced bundle project and created main class that runs server and…
  app/bundle/bundle.sbt
  app/bundle/src/main/scala/org/bitcoins/bundle/AppBundle.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  build.sbt
Labels: app server, gui

#1511 Optimize and Clean up WalletRpcTest
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, tests

#1515 Attempt to fix BitcoindV19RpcClientTest from losing connection
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
Labels: bitcoind-rpc, tests

#1504 Document LN Data types
  docs/core/lightning-network.md
  website/sidebars.json
Labels: documentation

#1522 Break things up in server/Main.scala, allow things to be done asynchr…
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: app server

#1537 2020 06 09 string factory
  crypto/src/main/scala/org/bitcoins/crypto/StringFactory.scala
Labels: crypto

#1538 2020 06 09 addr invoice string factory
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/AddressFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/AddressTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Spec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BitcoinAddressSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BitcoinAddressTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/testprotocol/Base58ValidTestCaseProtocol.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/AddressFactory.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnInvoice.scala
  crypto/src/main/scala/org/bitcoins/crypto/StringFactory.scala
  docs/core/lightning-network.md
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/TestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: core

#1535 Attempt to fix memory leak in recalc chain work
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: bug, chain

#1547 Fix compile issue for older versions
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug

#1546 Create safeRewind() helper method in secp256k1jni
  secp256k1jni/src/main/java/org/bitcoin/NativeSecp256k1.java
Labels: secp256k1

#1545 Fix and Optimize Broadcast Transaction Test
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
Labels: node, tests

#1550 Change ChainApi.getBestFilterHeader() return type to Future[Option[Co…
  chain-test/src/test/scala/org/bitcoins/chain/models/CompactFilterDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/CompactFilterHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/api/ChainApi.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
Labels: chain

#1552 Fixed all walletTest threads not being closed
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: bug, teskit, tests, wallet

#1544 DLC Travis Fix
  .travis.yml
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: bug, dlc

#1542 Callback rework
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  core-test/src/test/scala/org/bitcoins/core/api/CallbackTest.scala
  core/src/main/scala/org/bitcoins/core/api/Callback.scala
  core/src/main/scala/org/bitcoins/core/util/Wrappers.scala
  docs/node/node.md
  docs/wallet/chain-query-api.md
  docs/wallet/node-api.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSNodeUtil.scala
Labels: node

#1569 Update postgresql to 42.2.14
  project/Deps.scala
Labels: database, dependencies

#1567 Update sbt-native-packager to 1.7.3
  project/plugins.sbt
Labels: dependencies

#1571 Update sbt-mdoc to 2.2.2
  project/plugins.sbt
Labels: dependencies

#1566 Update play-json to 2.9.0
  project/Deps.scala
Labels: dependencies

#1564 Schnorr Data Structures
  core-test/src/test/scala/org/bitcoins/core/util/CryptoUtilTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/util/NumberUtil.scala
  crypto-test/src/test/resources/bip340-test-vectors.csv
  crypto-test/src/test/scala/org/bitcoins/crypto/BIP340Test.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPrivateKeyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/FieldElementTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrDigitalSignatureTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrNonceTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrPublicKeyTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoBytesUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/FieldElement.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrNonce.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
Labels: crypto

#1555 Make it so wallet fixtures take a bip39PasswordOpt as a paramter
  docs/wallet/wallet-rescan.md
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeFundedWalletBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletWithBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
Labels: teskit, wallet

#1573 Added BlockTimeStamp abstraction for BlockStamps that aren't hashes
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BlockStampTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/BlockStamp.scala
Labels: core

#1553 2020 06 12 mv to appconfig
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  core/src/main/scala/org/bitcoins/core/util/NetworkUtil.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, node, wallet

#1563 Added compile scope scalafmtCheck to travis runs
  .travis.yml
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  bench/src/main/scala/org/bitcoins/bench/eclair/EclairBench.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/AddressFactory.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnInvoice.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/serializers/RawBitcoinSerializerHelper.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/RawScriptSignatureParser.scala
  core/src/main/scala/org/bitcoins/core/util/NetworkUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfigFactory.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeFundedWalletBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletWithBitcoind.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: CI, build

#1575 Added DLC json data structures
  .travis.yml
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/DLCMessageTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCPublicKeys.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCSignatures.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCStatus.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCTimeouts.scala
  build.sbt
  core/src/main/scala-2.12/org/bitcoins/core/util/MapWrapper.scala
  core/src/main/scala-2.13/org/bitcoins/core/util/MapWrapper.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  core/src/main/scala/org/bitcoins/core/util/Wrappers.scala
Labels: app-commons, dlc

#1580 Update broken slack link
  docs/getting-started.md
Labels: documentation

#1548 Optimize UpdateBloomFilterTest
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
Labels: node, tests

#1583 Lots of misc. improvements from dlc branch
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/config/NetworkParametersTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/WitnessScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/currency/package.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAccount.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoin.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/SerializedTransaction.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: core, enhancement

#1556 2020 06 14 wallet root accounts
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDb.scala
Labels: bug, wallet

#1543 Wallet callbacks
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/Callback.scala
  docs/wallet/wallet-callbacks.md
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet

#1585 Fixed compilation on bitcoin-s-bench
  bench/src/main/scala-2.12/org/bitcoins/bench/eclair/EclairBenchUtil.scala
  bench/src/main/scala-2.13/org/bitcoins/bench/eclair/EclairBenchUtil.scala
  bench/src/main/scala/org/bitcoins/bench/eclair/EclairBench.scala
Labels: bug

#1588 Refactored to allow easier support and disabling of RBF
  core/src/main/scala/org/bitcoins/core/policy/Policy.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/InputUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionConstants.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: core

#1589 Pulled down dlc CLI code
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/SerializedTransaction.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
Labels: cli, dlc

#1590 DLC GUI Tab
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/GlobalDLCData.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptCloseDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AddSigsDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ForceCloseDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/GetFundingDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitCloseDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitOracleDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/PunishDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/RefundDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
Labels: dlc, gui

#1591 Bump spread for address info tests in BitcoindV17RpcClientTest
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
Labels: tests

#1561 Have BroadcastTransactionTest rebroadcast on failure
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: node, tests

#1593 Update scalacheck-1-14 to 3.2.0.0
  project/Deps.scala
Labels: dependencies

#1592 Update scalatest to 3.2.0
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/control/ControlOperationsInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/CryptoInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/transaction/RawTransactionInputParserTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/FutureUtilTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/network/NodeUriTest.scala
  project/Deps.scala
  zmq/src/test/scala/org/bitcoins/zmq/ZMQSubscriberTest.scala
Labels: dependencies

#1596 Temporary fix for update all on CRUDAutoInc Tables
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
Labels: database

#1582 Add tests that NodeCallbacks are executed
  core/src/main/scala/org/bitcoins/core/protocol/CompactSizeUInt.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/fixture/NodeConnectedWithBitcoind.scala
Labels: node, tests

#1587 Update scodec-bits to 1.1.17
  project/Deps.scala
Labels: dependencies

#1598 AppConfig Start Interface
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config

#1578 Cap the amount of threads an actor system can spin up to 2 in tests
  testkit/src/main/resources/reference.conf
Labels: config, tests

#1594 Made P2SHScriptSignature.isP2SHScriptSig less forgiving
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
Labels: bug, core, tests

#940 scalafmt On Compile
  .travis.yml
  core/src/main/scala/org/bitcoins/core/util/EnvUtil.scala
  inThisBuild.sbt
Labels: build

#1603 Fix DLCWallet Postgres Migrations
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V5__wallet_db_add_dlcs.sql
  wallet/src/main/resources/postgresql/wallet/migration/V6__wallet_db_dlc_outcome_sigs_table.sql
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCAcceptDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCCETSignatureDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCOfferDAO.scala
Labels: database, dlc, wallet

#1576 Fix WalletAppConfig.hasWallet for Postgres
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: bug, postgres, wallet

#1605 ScriptSignature from P2WSH Witness
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptWitnessSpec.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: core

#1606 Formatting Fix
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: bug

#1562 Rescan when UTXOs don't have associated transactions
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: wallet

#1612 BitcoindV17RpcClientTest get system time closer to getNewAddress call
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
Labels: bitcoind-rpc, tests
