Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-03, with the labels that each got.

#1181 Merge CI matrices, add appServer/test
  .travis.yml
Labels: CI

#1186 Merge mac node and wallet CI tests
  .travis.yml
Labels: CI

#1187 Make eclair tests use bitcoind v19 rather than bitcoind v17
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#1183 Authenticate some DLC data types
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/BinaryOutcomeDLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCMessageTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/SetupDLCTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCMessage.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCPublicKeys.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCTimeouts.scala
  dlc/src/main/scala/org/bitcoins/dlc/SetupDLC.scala
Labels: dlc

#1190 Remove requirement for sats parameter
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
Labels: bug, wallet

#1182 TxoState Life Cycle Tests
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
Labels: tests, wallet

#1189 Update website configuraiton.md with migrations information
  docs/applications/configuration.md
Labels: documentation

#1192 Update eclair.md, also add code example
  docs/rpc/eclair.md
Labels: eclair-rpc

#1169 DLC Wallet Database tests
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/crypto/ECDigitalSignature.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/DLCDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
Labels: database, dlc, tests

#1203 Fix typo in docs
  docs/core/txbuilder.md
Labels: documentation

#1175 Wallet DLC Negotiation Tests
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/dlc/WalletDLCSetupTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/DLCDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: dlc, tests, wallet

#1213 Make imports in chain.md invisible
  .travis.yml
  docs/applications/chain.md
  docs/applications/wallet.md
  docs/core/addresses.md
  docs/core/core-intro.md
  docs/core/psbts.md
  docs/core/txbuilder.md
  docs/key-manager/key-manager.md
  docs/rpc/bitcoind.md
  docs/rpc/eclair.md
  website/i18n/en.json
Labels: documentation

#1204 ChainQueryApi doc
  docs/wallet/chain-query-api.md
  website/sidebars.json
Labels: documentation

#1205 NodeApi doc
  docs/wallet/node-api.md
  website/sidebars.json
Labels: documentation

#1219 Added hash types to ScriptSignature Generators
  docs/core/adding-spks.md
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ScriptGenerators.scala
Labels: bug, teskit

#1202 Docs for PSBT signing with BitcoinUTXOSpendingInfoSingle
  docs/core/psbts.md
Labels: documentation

#1220 Fix PSBT doc error and add await result
  docs/core/psbts.md
Labels: bug, documentation, psbt

#1176 DLC Wallet Execution Tests
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/dlc/DLCExecutionTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
Labels: dlc, tests, wallet

#1222 Remove unnecessary signing for DLC Closing Txs
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
Labels: dlc

#1225 Remove unused imports in docs
  docs/applications/filter-sync.md
  docs/rpc/bitcoind.md
Labels: documentation

#1226 Order website sidebar by project, fix capitalization
  docs/applications/cli.md
  docs/applications/configuration.md
  docs/applications/node.md
  docs/applications/server.md
  docs/chain/chain.md
  docs/chain/filter-sync.md
  docs/core/addresses.md
  docs/core/core-intro.md
  docs/core/hd-keys.md
  docs/core/sign.md
  docs/core/txbuilder.md
  docs/key-manager/key-manager.md
  docs/wallet/chain-query-api.md
  docs/wallet/dlc.md
  docs/wallet/node-api.md
  docs/wallet/wallet.md
  website/i18n/en.json
  website/sidebars.json
Labels: documentation

#1218 2020 03 06 wallet rescan test
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterWithHeaderHash.scala
  core/src/main/scala/org/bitcoins/core/api/ChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/api/NodeChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/protocol/BlockStamp.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  docs/wallet/wallet-rescan.md
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  website/sidebars.json
Labels: teskit, wallet

#1233 Fix scala 2.11 compile
  chain/src/main/scala-2.11/org/bitcoins/chain/blockchain/Blockchain.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: build

#1229 2020 03 13 node md
  docs/applications/node.md
Labels: documentation

#1237 Add disclaimers to the wallet/key-manager around API breaking changes…
  docs/key-manager/key-manager.md
  docs/wallet/wallet.md
Labels: documentation, key-manager, wallet

#1234 Add testkit md
  docs/testkit/testkit.md
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManagerTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/util/HdUtilTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/keymanager/KeyManagerTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/keymanager/KeyManagerUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  website/sidebars.json
Labels: documentation, teskit

#1221 Update akka-actor, akka-stream, ... to 2.5.30
  project/Deps.scala
Labels: dependencies

#1241 Add headings for both Node and cofiguration on the sidebar
  docs/applications/server.md
  docs/config/configuration.md
  docs/node/node.md
  website/sidebars.json
Labels: documentation

#1242 Fix missing pattern patch case for when we have zero headers
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
Labels: bug, core

#1243 Bump docusaraus dependency to the latest version 1.14.4
  website/package.json
  website/yarn.lock
Labels: dependencies, documentation

#1232 Bouncy Castle Fallback
  .travis.yml
  core-test/src/test/scala/org/bitcoins/core/crypto/BouncyCastleSecp256k1Test.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPublicKeyTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/BouncyCastleUtil.scala
  core/src/main/scala/org/bitcoins/core/crypto/ECKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  secp256k1jni/src/main/java/org/bitcoin/Secp256k1Context.java
Labels: core, enhancement

#1245 Allow DLC Wallet to support Multi Outcome DLCs
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCMessageTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/BinaryOutcomeDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCMessage.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/dlc/WalletDLCSetupTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/DLCDAOTest.scala
  wallet/src/main/resources/walletdb/migration/V4__wallet_db_add_dlcs.sql
  wallet/src/main/resources/walletdb/migration/V5__wallet_db_dlc_outcome_sigs_table.sql
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCAcceptTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCCETSignatureDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCCETSignatureTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/DLCTable.scala
Labels: dlc, wallet

#1247 2020 03 15 chainhandler getnancestor
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/script/constant/BytesToPushOntoStack.scala
Labels: chain

#1248 2020 03 17 secp256k1jni md
  docs/secp256k1/secp256k1.md
  website/sidebars.json
Labels: documentation, secp256k1

#1251 Add a philsophy section on getting-started.md, add missing libraries
  build.sbt
  docs/getting-started.md
Labels: documentation

#1250 Add trusted peer caveat in node.md
  docs/node/node.md
Labels: documentation, neutrino, node

#1249 Multi-Outcome DLCs
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/SetupDLCTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/DLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/SetupDLC.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
Labels: dlc, enhancement

#1253 Create v0.3.0 of the website
  docs/contributing-website.md
  website/i18n/en.json
  website/versions.json
Labels: documentation

#1228 Update flyway-core to 6.3.1
  project/Deps.scala
Labels: dependencies

#1223 Give `ScriptInterpreter` functions to verify a transaction or single input
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/ScriptInterpreterTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: core

#1244 Update sbt-mdoc to 2.1.4
  project/plugins.sbt
Labels: dependencies

#1254 CLI help message include commands and their arguments
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
Labels: cli, enhancement

#1257 Bump scalac 2.12.x series to 2.12.11
  .travis.yml
  inThisBuild.sbt
Labels: build, dependencies

#1193 Track addresses that correspond to dlc pub keys
  wallet/src/main/scala/org/bitcoins/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: dlc, wallet

#1255 Tests for Multi-Outcome DLCs
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCTestUtil.scala
Labels: dlc, tests

#1260 Update sbt-mdoc to 2.1.5
  project/plugins.sbt
Labels: dependencies

#1265 Bump sbt-native-packager to 1.7.0
  project/plugins.sbt
Labels: dependencies

#1263 Add new GPG key christewart
  docs/security.md
Labels: documentation

#1261 Have DLC Wallet tests use multiple outcomes
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/DLCTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/dlc/DLCExecutionTest.scala
Labels: dlc, tests, wallet

#1271 Fix CLI commands
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
Labels: bug, cli

#1272 Wallet integration for nested segwit v0 spending
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/LegacyWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/SegwitWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
Labels: enhancement, wallet

#1281 Reduce default num threads used for slick being a thread pool of 20 to 5
  db-commons/src/main/resources/db.conf
Labels: database

#1280 Replace all usages of List inside of ScriptParser with Vector
  core-test/src/test/scala/org/bitcoins/core/serializers/script/ScriptParserTest.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
Labels: core, optimization

#1283 Fetch addresses and utxos async in LockedWalletApi.processCompactFilt…
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: optimization, wallet

#1279 2020 03 28 uint32 cache
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionConstants.scala
Labels: core, optimization

#1277 Fix hardcoded network for the default wallet account
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/util/HDUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: bug, wallet

#1273 Custom fee rate for wallet sends
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli, enhancement, wallet

#1268 CLI command to stop node
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
Labels: cli, node

#1285 Constructed simple Bitcoin-S wallet GUI
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/gui.sbt
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/TaskRunner.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/GetNewAddressDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/SendDialog.scala
  build.sbt
  docs/applications/gui-snapshot.png
  docs/applications/gui.md
  project/Deps.scala
  website/i18n/en.json
  website/sidebars.json
Labels: gui, wallet
