Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-12, with the labels that each got.

#2308 Add function to validate OracleAnnouncementV0TLV's signature
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
Labels: core, oracle

#2304 Update javafx-base, javafx-controls, ... to 16-ea+5
  project/Deps.scala
Labels: dependencies

#2312 Fix TLV parsing for non-standard strings
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-oracle/src/main/resources/postgresql/oracle/migration/V3__fix_dumy_event_descriptor.sql
  dlc-oracle/src/main/resources/sqlite/oracle/migration/V3__fix_dummy_event_descriptor.sql
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/StringGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: bug, core

#2317 Bump scalac setting in secp256k1jni.sbt to scala 2.12.12
  secp256k1jni/secp256k1jni.sbt
Labels: build

#2324 Remove hard coded bitcoind version eclair was depending on and switch…
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc

#2322 Update sbt-ci-release to 1.5.5
  project/plugins.sbt
Labels: dependencies

#2321 Implement BIP 155 addrv2 messages
  core-test/src/test/scala/org/bitcoins/core/serializers/p2p/messages/RawAddrV2MessageSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: core, node

#2315 Fix P2PClient parsing unknown messages
  core/src/main/scala/org/bitcoins/core/p2p/NetworkHeader.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: bug, node

#2331 docs: Replace Large Range with Digit Decomp
  docs/oracle/oracle-server.md
Labels: documentation

#2328 Fix dependabot warning for highlight.js
  website/yarn.lock
Labels: documentation

#2325 Start refactoring testkit to allow for specifying a different binary …
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/config/BitcoindAuthCredentialsTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/config/BitcoindConfigTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoindRpcTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoindRpcTestClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/EclairRpcTestClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/FileUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/RpcBinaryUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/SbtBinaryFactory.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/TestkitBinaries.scala
Labels: testkit

#2320 Have makeOpReturnCommitment use random UTXO selection
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: enhancement, wallet

#2319 Setup Github Actions
  .github/workflows/main.yml
  .github/workflows/release.yml
  .travis.yml
  docs/contributing-website.md
  docs/contributing.md
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
Labels: CI

#2305 DLC Wallet & GUI touch ups
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/DLCStatusTest.scala
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/SerializedDLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/BitcoinSServerInfo.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCStatus.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/SerializedDLCStatus.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/GlobalDLCData.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AddSigsDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ExecuteDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/GetFundingDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitNumericContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/RefundDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletApi.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDAO.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/StringGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: dlc, gui, wallet

#2332 Add latest `ProtocolVersion`
  core/src/main/scala/org/bitcoins/core/p2p/ProtocolVersion.scala
Labels: core, node

#2316 Update sbt-bloop to 1.4.6
  project/plugins.sbt
Labels: dependencies

#2327 Update scalamock to 5.1.0
  project/Deps.scala
Labels: dependencies

#2342 Update sqlite-jdbc to 3.32.3.3
  project/Deps.scala
Labels: dependencies

#2347 Update sqlite-jdbc to 3.34.0
  project/Deps.scala
Labels: dependencies

#2348 Update scalafx to 15.0.1-R20
  project/Deps.scala
Labels: dependencies

#2350 Mask BIP39 password in the BIP39KeyManager
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerApiTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
Labels: key-manager, security

#2346 Don't allow fee unit gen to be 0
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/FeeUnitGen.scala
Labels: bug, testkit

#2353 Move CI into indiviual workflows
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/main.yml
Labels: CI

#2358 Bump sbt to 1.4.5
  project/build.properties
Labels: build, dependencies

#2364 Change CI Status to use Github Actions badge
  README.md
Labels: CI

#2356 Require CJDNS starts with 0xFC
  core-test/src/test/scala/org/bitcoins/core/serializers/p2p/messages/RawAddrV2MessageSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
Labels: core

#2362 Add extra info and links for closing a DLC
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: dlc, gui

#2345 Multi Wallet support
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/DbAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  docs/config/configuration.md
  docs/key-manager/key-manager.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/key-manager.sbt
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/StringGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/MultiWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AccountDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressTagDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/IncomingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/OutgoingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/ScriptPubKeyDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/TransactionDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: database, key-manager, wallet

#2375 DLC Data Structures on Master Cleanup
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCStatus.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/OutcomeValueFunction.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPlotUtil.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitEnumContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitNumericContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurveTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCStatusTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/RoundingIntervalsTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/SigningVersionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCFundingInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPublicKeys.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCState.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCTimeouts.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/RoundingIntervals.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/SigningVersion.scala
  core/src/main/scala/org/bitcoins/core/util/Indexed.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/RValueDAOTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/OracleEvent.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDb.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: app-commons, core, dlc, refactor

#2381 Fix BitGo fee provider parser
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/FeeRateApi.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitGoFeeRateProvider.scala
Labels: bug, fee-provider

#2372 Add ability to store ExtPrivateKey instead of Mnemonic
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  docs/key-manager/key-manager.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerApiTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/EncryptedMnemonic.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManager.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/EncryptedMnemonicTest.scala
Labels: key-manager

#2336 Fail broadcasting transaction when disconnected
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/DisconnectedPeerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: bug, node

#2388 Ignore DLCPayoutCurveTest until issue 2369 is resolved
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurveTest.scala
Labels: bug, core, tests

#2383 Update sbt-mdoc to 2.2.14
  project/plugins.sbt
Labels: dependencies

#2378 Update scalacheck to 1.15.2
  project/Deps.scala
Labels: dependencies

#2382 Update sbt-native-packager to 1.8.0
  project/plugins.sbt
Labels: dependencies

#2379 Rescan Improvements
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: enhancement, wallet

#2391 Update scodec-bits to 1.1.23
  project/Deps.scala
Labels: dependencies

#2370 Add get transaction cli command
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  docs/applications/server.md
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: cli, wallet

#2394 Remove CompatEither, it was needed for historical purposes to support…
  core-test/src/test/scala/org/bitcoins/core/compat/CompatEitherTest.scala
  core/src/main/scala/org/bitcoins/core/compat/CompatEither.scala
  core/src/main/scala/org/bitcoins/core/util/EitherUtil.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/EncryptedMnemonic.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: core, key-manager, refactor

#2397 Remove autoScalaLibrary := false, this was not being used correctly a…
  secp256k1jni/secp256k1jni.sbt
Labels: bug, build, intellij

#2396 PoC: Attempt to enable parallel execution on CI now that we have github ac…
  build.sbt
  project/CommonSettings.scala
Labels: CI

#2400 2020 12 19 enable test compileropts
  app-commons-test/src/test/scala/org/bitcoins/commons/SerializedPSBTTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoindRpcAppConfigTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/NodeRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/config/BitcoindAuthCredentialsTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/config/BitcoindConfigTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/PsbtRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v20/BitcoindV20RpcClientTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/NumberUtilTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcTestUtilTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  project/CommonSettings.scala
  project/Deps.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
Labels: build, tests

#2402 Fix getPeerInfo for v0.20
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/NetworkResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v20/BitcoindV20RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
Labels: bitcoind-rpc, bug

#2401 Update scala-collection-compat to 2.3.2
  project/Deps.scala
Labels: dependencies

#2392 Add wallet function to bump fee with RBF
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet

#2404 2020 12 20 root dependson
  build.sbt
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
Labels: intellij

#2376 Import Seed cli commands
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/applications/server.md
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
Labels: cli, key-manager

#2408 Fixed Low R signing
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
Labels: bug, core, crypto

#2413 Fix server configuration for the app server
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: app server, bug, config

#2409 Implement rpcbind to allow for binding to a different interface
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSRunner.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/Server.scala
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
Labels: app server, enhancement

#2416 Add extra checks for RBF transactions
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#2419 Added length prefixes to contract_info and cet_signatures TLVs
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: dlc

#2415 Bump Fee Cli commands
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/applications/server.md
Labels: cli, wallet

#2418 Remove need for params in RPC request
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
Labels: app server, bug

#2420 TLV serialization refactor
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: dlc

#2424 Add getblockheader cli command
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/chain/db/BlockHeaderDb.scala
Labels: app server, chain, cli

#2422 Update bcprov-jdk15on to 1.68
  project/Deps.scala
Labels: dependencies

#2421 Bitcoind Version from String
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
Labels: bitcoind-rpc

#2423 Account for rounding of fee rate in CPFP test
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
Labels: bug

#2385 Add old release notes
  release-notes/release-notes-v0.0.4.md
  release-notes/release-notes-v0.1.0.md
  release-notes/release-notes-v0.2.0.md
  release-notes/release-notes-v0.3.0.md
  release-notes/release-notes-v0.4.0.md
Labels: documentation

#2432 Outstanding DLC branch diff
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BytesUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: dlc, refactor

#2433 Publish Cli as library
  app/cli/cli.sbt
  build.sbt
Labels: build

#2427 Add supported Bips docs
  docs/bips.md
  website/sidebars.json
Labels: documentation

#2431 Remove BlockHeader.getBlockchainsFrom(), rework type signature for Bl…
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: chain, refactor

#2428 Add to docs we support schnorr
  docs/crypto/crypto-intro.md
Labels: crypto, documentation

#2434 Update sbt to 1.4.6
  project/build.properties
Labels: build, dependencies

#2435 Skip CI tests for docs PRs
  .github/workflows/Compile.yml
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  docs/contributing.md
Labels: CI, documentation

#2441 Fix DLCPayoutCurve Tests
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurveTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: bug, dlc, tests

#2439 Fix broken links in docs & update outdated stuff
  docs/applications/cli.md
  docs/config/configuration.md
  docs/crypto/sign.md
  docs/node/node.md
  docs/testkit/testkit.md
  docs/wallet/wallet.md
Labels: documentation

#2429 Add doc about no mempool
  docs/node/node.md
Labels: documentation

#2426 KeyManager Docs
  docs/key-manager/server-key-manager.md
  website/sidebars.json
Labels: documentation, key-manager

#2440 Move RPC server logic into separate project
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/ServerJsonModels.scala
  app/server-routes/src/main/scala/de/heikoseeberger/akkahttpupickle/UpickleSupport.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/HttpError.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/HttpLogger.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/ServerCommand.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/ServerRoute.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  build.sbt
  project/Deps.scala
Labels: app server, build, oracleServer

#2446 Don't allow negative outcome for unsigned digit decomp events
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: bug, oracle

#2438 Add attestation verification utility
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/AttestationVerificationTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/OracleEvent.scala
Labels: oracleServer

#2451 Safely delete files in DBConfigTest
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
Labels: tests

#2449 Use written txDbs in TransactionProcessing
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: database, wallet
