Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-10, with the labels that each got.

#2098 DLC message test objects
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_message_test.json
Labels: dlc, tests

#2095 Added Schnorr signature point computation test vectors
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/SchnorrSigPointTestVectorTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/SchnorrSigPointTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/SchnorrSigPointTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_schnorr_test.json
Labels: crypto, dlc, tests

#2102 NFC normalization
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoUtilTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
Labels: core, crypto, dlc

#2072 Use SubtractFeeFromOutputsFinalizer when sending full utxos
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#2104 All hashes of strings in DLC code now use NFC normalization
  app/dlc-suredbits-client-test/src/test/scala/org/bitcoins/sbclient/MockServer.scala
  app/dlc-suredbits-client-test/src/test/scala/org/bitcoins/sbclient/SbClientTest.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitOracleDialog.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: crypto, dlc

#2087 Make bitcoind extend chain api
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
Labels: bitcoind-rpc

#2091 Server installation guide
  app/server/systemd/bitcoin-s.service
  docs/applications/server.md
Labels: app server, config

#2068 Add signet db settings
  build.sbt
Labels: build, database

#2088 Bitcoind backend on server start up
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  build.sbt
  node/src/main/scala/org/bitcoins/node/NodeType.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
Labels: app server, bitcoind-rpc

#2106 Enable AddrMessageTest
  core-test/src/test/scala/org/bitcoins/core/p2p/AddrMessageTest.scala
Labels: tests

#2097 Allow any HDCoinType
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoin.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPathFactory.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: core

#2103 Add BIP45 Multisig Purpose
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPathFactory.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/hd/MultisigHDPath.scala
  core/src/main/scala/org/bitcoins/core/util/HDUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/util/GetAddresses.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: core

#2034 ECDSA Adaptor Signatures for master branch
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureCreator.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPrivateKeyTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECAdaptorSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
Labels: crypto

#2094 Add basic DLC Oracle
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/SigningVersion.scala
  build.sbt
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/resources/postgresql/oracle/migration/V1__dlc_oracle_baseline.sql
  dlc-oracle/src/main/resources/sqlite/oracle/migration/V1__dlc_oracle_baseline.sql
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/Event.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDb.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDb.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleFixture.scala
Labels: database, oracle

#2113 Move configuration for sqlite into the 'bitcoin-s' key
  db-commons-test/src/test/resources/db.conf
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  db-commons/src/main/resources/db.conf
  db-commons/src/main/resources/reference.conf
Labels: config, database

#2105 Add DLC Oracle Server Endpoints
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/resources/logback.xml
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/oracle-server.sbt
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/Main.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  build.sbt
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
  project/Deps.scala
Labels: oracle

#2115 Upgrade to scalac 2.13.3
  .travis.yml
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/crypto/MnemonicCode.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcTestUtilTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  inThisBuild.sbt
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoindRpcTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: build

#2125 docs: DLC Oracle Server
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  docs/oracle/oracle-server.md
  website/i18n/en.json
  website/sidebars.json
Labels: documentation, oracle

#2121 2020 10 05 redo config
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  db-commons/src/main/resources/db.conf
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/db/NodeDbManagement.scala
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config

#2129 Implemented DLC fee computation test vectors
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCFeeTestVectorTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCFeeTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCFeeTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_fee_test.json
Labels: dlc, tests

#2128 Increase DLC Oracle test coverage
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/SigningVersionTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/RValueDAOTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleFixture.scala
Labels: oracle, tests

#2131 Optimize GetHeadersMessage.fromBytes
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawGetHeadersMessageSerializer.scala
Labels: core, optimization

#2130 Make cli pretty print json
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
Labels: cli

#2120 Don't allow duplcate or 0 outcomes for a DLCOracle
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: oracle

#2134 Update slack links
  docs/contributing.md
  website/siteConfig.js
  website/versioned_docs/version-0.1.0/contributing.md
  website/versioned_docs/version-0.2.0/contributing.md
  website/versioned_docs/version-0.3.0/contributing.md
  website/versioned_docs/version-0.3.0/getting-started.md
  website/versioned_docs/version-v0.4/contributing.md
Labels: documentation

#2136 docs: Add Bitcoind Backend Docs
  docs/config/configuration.md
  docs/getting-setup.md
Labels: documentation

#2135 Added basic transaction building test vectors
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTxTestVectorTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_tx_test.json
Labels: dlc, tests

#2117 Use Llyod's Oracle recommendations on commitment Signature
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/SigningVersion.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/resources/postgresql/oracle/migration/V1__dlc_oracle_baseline.sql
  dlc-oracle/src/main/resources/sqlite/oracle/migration/V1__dlc_oracle_baseline.sql
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/Event.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDb.scala
Labels: oracle

#2139 Full support for non-p2wpkh DLC funding inputs
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCFundingInput.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCFeeTestVectorTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCFundingTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCFeeTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  dlc/src/main/scala/org/bitcoins/dlc/verify/DLCSignatureVerifier.scala
Labels: dlc, tests

#2148 2020 10 06 explicit classloader
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
Labels: bug, config

#2143 Small improvements on FundTransactionHandling
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: wallet

#2144 Make ZMQ Listeners typed
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  zmq/src/main/scala/org/bitcoins/zmq/ZMQSubscriber.scala
  zmq/src/test/scala/org/bitcoins/zmq/ZMQSubscriberTest.scala
Labels: zmq

#2141 Refactor Mains to use common BitcoinSRunner
  app/bundle/src/main/scala/org/bitcoins/bundle/AppBundle.scala
  app/oracle-server/oracle-server.sbt
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/Main.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  app/server/server.sbt
  app/server/src/main/scala/org/bitcoins/server/BitcoinSRunner.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
Labels: app server, config

#2152 Conslidate DLC tests into existing CI rows rather than having unique …
  .travis.yml
Labels: CI

#2153 2020 10 08 issue 2147
  db-commons-test/src/test/scala/org/bitcoins/db/AppConfigTest.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
Labels: config

#2150 Added non-p2wpkh to DLC integraiton tests
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCFeeTestUtil.scala
Labels: dlc, tests

#2156 docs: Fix internal database configuration docs
  docs/config/configuration.md
Labels: documentation

#2160 Fix npe exception on oracleServer/run
  app/server/src/main/scala/org/bitcoins/server/BitcoinSRunner.scala
Labels: app server, bug, oracle

#2149 Oracle Announcement TLVs
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: core, oracle

#2165 Add -Xcheckinit compiler flag to tests to try and find uninitialized …
  project/CommonSettings.scala
Labels: build

#2158 Implemented non-p2wpkh test vectors and their generation
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVectorTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTxTestVectorTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/TestVectorUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_tx_test.json
Labels: dlc, tests

#2169 P2SHTxSigComponent constructor now detects witness data
  core-test/src/test/scala/org/bitcoins/core/crypto/TxSigComponentTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
Labels: bug, core

#2155 Make tx an argument for decoderawtransaction
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  docs/applications/server.md
Labels: cli

#2163 Fix NPE and log location on server start up
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSRunner.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug

#2172 Update sbt-native-packager to 1.7.6
  project/plugins.sbt
Labels: dependencies

#2168 Update postgresql to 42.2.17
  project/Deps.scala
Labels: database, dependencies

#2166 Update akka-actor, akka-slf4j, akka-stream, ... to 2.6.10
  project/Deps.scala
Labels: dependencies

#2137 Remove requirement for ZMQ with bitcoind backend
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  docs/getting-setup.md
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
Labels: app server, bitcoind-rpc

#2171 Add test for server startup
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
Labels: app server, tests

#2170 Create fromConfig functions for AppConfigs
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/AppConfigTest.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfigFactory.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
Labels: config

#2181 BitcoindRpcConfig Test
  app/server-test/src/test/scala/org/bitcoins/server/BitcoindRpcAppConfigTest.scala
Labels: bitcoind-rpc

#2177 docs: Clarify there are 2 options for node backend
  docs/getting-setup.md
Labels: documentation

#2176 Add address descriptors
  core-test/src/test/scala/org/bitcoins/core/protocol/AddressTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
Labels: core

#2184 Refactor db configuration to use the key 'user' rather than 'username…
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  docs/config/configuration.md
  testkit/src/main/resources/reference.conf
Labels: database, postgres

#2178 Have api endpoints return json
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli

#2187 docs: Oracle Server setup docs
  docs/getting-setup.md
  docs/oracle/oracle-server.md
Labels: documentation, oracle

#2119 Update sbt to 1.4.0
  project/build.properties
Labels: build, dependencies

#2186 Add DbManagement tests for Oracle
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: db-commons, oracle

#2190 trivial: Cache new modules for travis
  .travis.yml
Labels: CI

#2157 Add Wallet State Descriptors
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/WalletStateDescriptor.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/StringFactory.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V10__state_descriptor_table.sql
  wallet/src/main/resources/sqlite/wallet/migration/V9__state_descriptor_table.sql
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/WalletStateDescriptorDAO.scala
Labels: wallet

#2180 Make tx bytes functions lazy vals
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutput.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionWitness.scala
Labels: core

#2195 Update postgresql to 42.2.18
  project/Deps.scala
Labels: dependencies, postgres

#2197 Make GUI auto-update balance
  app/gui/gui.sbt
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
Labels: gui

#2202 Update sbt to 1.4.1
  project/build.properties
Labels: build, dependencies

#2209 Fix overrides AppConfig.configOverrides with DLCOracleAppConfig, also…
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
Labels: bug, config

#2210 Pretty Fee Rate toStrings
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
Labels: core

#2204 Only Validate PSBT BIP143 vulnerability on signing
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
Labels: core, psbt

#2212 Update typesafe:config to 1.4.1
  project/Deps.scala
Labels: dependencies

#2140 Fixed P2SH(Segwit) bug and brought down DLC-used PSBT functionality
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
Labels: bug, core, psbt

#2215 No more Maps in ContractInfo
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/DLCMessageTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCSignatures.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCStatus.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitOracleDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_message_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc, tests

#2213 Remove Unneeded Escaped param for DLC Cli
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli, dlc

#2218 Fixed backward stack usage in dlc things
  app/server/src/main/scala/org/bitcoins/server/SerializedTransaction.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: bug, dlc
