Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-04, with the labels that each got.

#1289 Update sbt to 1.3.9
  project/build.properties
Labels: dependencies

#1288 Update javafx-base, javafx-controls, ... to 14
  project/Deps.scala
Labels: dependencies

#1197 Wallet Transaction Tracking
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core/src/main/scala/org/bitcoins/core/currency/package.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/IncomingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/OutgoingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/TransactionDAOTest.scala
  wallet/src/main/resources/walletdb/migration/V4__wallet_db_add_transaction_table.sql
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionTable.scala
Labels: database, wallet

#1292 Add google analytics key for bitcoin-s site
  website/siteConfig.js
Labels: documentation

#1295 Fix Travis caching
  .travis.yml
Labels: build

#1206 Change NodeCallbacks to `Future[Unit]` s
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  docs/node/node.md
  docs/wallet/chain-query-api.md
  docs/wallet/node-api.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/MerkleBuffers.scala
Labels: node

#1291 Add CLI commands for current wallet apis
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/picklers/src/main/scala/org/bitcoins/picklers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli, wallet

#1286 Network specific filterHeaderBatchSize
  app/server/src/main/resources/reference.conf
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  docs/config/configuration.md
  testkit/src/main/resources/reference.conf
Labels: bug, chain, neutrino

#1300 P2WSH Signer fix + tests
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
Labels: bug, core

#1301 Remove flaky gcs test that times out
  core-test/src/test/scala/org/bitcoins/core/gcs/GCSTest.scala
Labels: core

#1308 Simplify `SingleSigner`
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  docs/core/adding-spks.md
  docs/core/psbts.md
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: core

#1178 Update TxoState for transactions after they've been confirmed
  app/server/src/main/resources/reference.conf
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/resources/reference.conf
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoTable.scala
  website/versioned_docs/version-0.3.0/applications/configuration.md
Labels: config, wallet

#1319 Add Table of Contents to long docs
  docs/core/adding-spks.md
  docs/core/signing-transactions.md
  docs/getting-setup.md
Labels: documentation

#1322 getNewAddressHelper Refactor
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: refactor, wallet

#1327 Call getFilterHeaderCount async inside of nextFilterHeaderBatchRange …
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: chain, optimization

#1325 Make 'maxHeightQuery' vals inside of BlockHeaderDAO, CompactFilterHea…
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
Labels: chain, optimization

#1317 Add wallet pay to many
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: wallet

#1287 GetAddress Wallet API call
  docs/wallet/wallet-get-address.md
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  website/i18n/en.json
  website/sidebars.json
Labels: wallet

#1329 Fix MerkleBuffers test to be async
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
Labels: bug, tests

#1331 Fix Block Header Callback
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: bug, wallet

#1299 2020 04 02 get new address queue
  app/server/src/main/resources/reference.conf
  docs/config/configuration.md
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: wallet

#1333 Bump number of addresses generated in negative test case for AddressH…
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
Labels: CI, wallet

#1334 Try using java try catch rather than wrapping in a scala.util.Try
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
Labels: bitcoind-rpc, bug

#1316 Dark mode GUI
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/TaskRunner.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/settings/SettingsPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/settings/Themes.scala
Labels: gui

#1332 Require that addresses are the correct network when sending
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#1341 TransactionSignatureChecker bug fix and tests
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCheckerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
Labels: bug, core

#1318 Add information on how to build libsecp256k1 to the secp README
  docs/secp256k1/secp256k1.md
Labels: documentation, secp256k1

#1343 Increased test coverage by 0.97%
  app/gui/src/main/scala/org/bitcoins/gui/TaskRunner.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/BouncyCastleSecp256k1Test.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPrivateKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ECPublicKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/currency/MilliSatoshisTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/BitcoinTxBuilderTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/TxBuilderTest.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/util/Bech32.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilder.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: CI, core, tests

#1346 Update javafx-base, javafx-controls, ... to 14.0.1
  project/Deps.scala
Labels: dependencies

#1347 Added appCommons to project aggregate so that it can get published
  build.sbt
Labels: bug

#1326 Use FutureUtil.foldLeftAsync() to process messages we parsed on the p…
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: node

#1351 Add sendrawtransaction CLI and Api commands
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/NodeApi.scala
  docs/wallet/node-api.md
  docs/wallet/wallet.md
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: cli, node, wallet

#1354 Change sendrawtransaction return to be just txId
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
Labels: cli

#1356 Fix sendrawtransaction output again woops
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
Labels: bug, cli

#1360 Bump scala version to 2.13.2
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  chain/src/main/scala/org/bitcoins/chain/db/ChainDbManagement.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawPingMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawPongMessageSerializer.scala
  core/src/main/scala/org/bitcoins/core/serializers/p2p/messages/RawRejectMessageSerializer.scala
  inThisBuild.sbt
  node/src/main/scala/org/bitcoins/node/models/PeerTable.scala
  project/CommonSettings.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/p2p/ControlMessageGenerator.scala
Labels: build

#1359 Remove redundant logic that computes an HDAccount. We don't need this…
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#1259 DLC Suredbits Client
  app/dlc-suredbits-client-test/dlc-suredbits-client-test.sbt
  app/dlc-suredbits-client-test/src/test/scala/org/bitcoins/sbclient/MockServer.scala
  app/dlc-suredbits-client-test/src/test/scala/org/bitcoins/sbclient/RegexUtil.scala
  app/dlc-suredbits-client-test/src/test/scala/org/bitcoins/sbclient/SbClientTest.scala
  app/dlc-suredbits-client/dlc-suredbits-client.sbt
  app/dlc-suredbits-client/src/main/scala/org/bitcoins/sbclient/Asset.scala
  app/dlc-suredbits-client/src/main/scala/org/bitcoins/sbclient/Exchange.scala
  app/dlc-suredbits-client/src/main/scala/org/bitcoins/sbclient/InvoiceAndDataResponse.scala
  app/dlc-suredbits-client/src/main/scala/org/bitcoins/sbclient/RequestType.scala
  app/dlc-suredbits-client/src/main/scala/org/bitcoins/sbclient/SbClient.scala
  app/dlc-suredbits-client/src/main/scala/org/bitcoins/sbclient/TradingPair.scala
  build.sbt
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/MockEclairClient.scala
Labels: dlc

#1368 Bump .travis.yml scala version
  .travis.yml
Labels: CI, build

#1348 Rescan from account
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  docs/wallet/wallet-rescan.md
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet

#1367 Fix isMinimalPush to not look for OP_1Negate when pushing 0x4f(79)
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
Labels: bug, core

#1364 Make fundWalletWithBitcoind have the same utxo amounts as FundedWallet
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
Labels: teskit, tests

#1297 GUI DLC tab
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/GlobalDLCData.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptCloseDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AddSigsDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ForceCloseDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/GetFundingDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitCloseDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitOracleDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/PunishDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/RefundDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
Labels: dlc, gui

#1365 Ignore immature coinbase outputs when funding a transaction
  core/src/main/scala/org/bitcoins/core/consensus/Consensus.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutPoint.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: bug, wallet

#1355 2020 04 08 multi db dao
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/db/ChainDbManagement.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDb.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDb.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDb.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  db-commons/src/main/scala/org/bitcoins/db/SlickUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/TableAutoInc.scala
  docs/config/configuration.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/NodeAppConfigTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/db/NodeDbManagement.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransaction.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionTable.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
  node/src/main/scala/org/bitcoins/node/models/PeerTable.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/test/scala/org/bitcoins/testkit/db/AppConfigTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDb.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDb.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDb.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDb.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionTable.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDb.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDb.scala
Labels: chain, database, enhancement, node, wallet

#1363 Batch processing compact filters
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  docs/wallet/chain-query-api.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
Labels: node, optimization, wallet

#1375 Re-add SchnorrNonce.freshNonce(), for DLC doc. Add mdoc:to-string to …
  docs/wallet/dlc.md
Labels: dlc, documentation

#1376 Add fixed dlc doc instructions
  docs/wallet/dlc.md
Labels: dlc, documentation

#1378 2020 04 26 dlc doc master
  docs/wallet/dlc.md
Labels: bug, documentation

#1373 Create KeyManagerTestUtil.bip39PasswordNonEmpty for test case that re…
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/keymanager/KeyManagerTestUtil.scala
Labels: bug, key-manager

#1366 Re-enable NeutrinoNodeWithWalletTest for Linux
  .travis.yml
  core/src/main/scala/org/bitcoins/core/util/BitcoinSUtil.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
Labels: neutrino, tests, wallet

#1379 Remove Unlocked vs Locked Wallet distinction
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/LegacyWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/SegwitWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/LockedWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  website/versioned_docs/version-0.2.0/applications/wallet.md
  website/versioned_docs/version-0.3.0/applications/wallet.md
  website/versioned_docs/version-0.3.0/wallet/wallet.md
Labels: refactor, wallet

#1381 Attempt to add a bit of delay on expecting rescan to fail so we dont'…
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/NodeRpcTest.scala
Labels: bitcoind-rpc, bug

#1353 Add wallet creation time for rescans
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/Main.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  core/src/main/scala/org/bitcoins/core/api/ChainQueryApi.scala
  core/src/main/scala/org/bitcoins/core/util/TimeUtil.scala
  docs/key-manager/key-manager.md
  docs/wallet/chain-query-api.md
  docs/wallet/node-api.md
  docs/wallet/wallet.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/EncryptedMnemonic.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManager.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  testkit/src/test/scala/org/bitcoins/testkit/db/AppConfigTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/EncryptedMnemonicTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AccountDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/api/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: key-manager, wallet

#1384 Log correct type of node sync
  app/server/src/main/scala/org/bitcoins/server/Main.scala
Labels: logging
