Repository bitcoin-s/bitcoin-s, pull requests merged in 2020-11, with the labels that each got.

#2225 DLCMessage Json
  app-commons-test/src/test/scala/org/bitcoins/commons/dlc/DLCMessageTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/DLCMessage.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: bug, dlc, tests

#2232 Update sbt to 1.4.2
  project/build.properties
Labels: build

#2228 Update bcprov-jdk15on to 1.67
  project/Deps.scala
Labels: crypto, dependencies, security

#2229 Add bitcoind functions for load and unload wallet
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
Labels: bitcoind-rpc

#2227 2020 10 31 Fix indeterminism with pairing dlc funding puts with funding transactions
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDb.scala
Labels: bug, dlc

#2201 Properly track DLC transactions in wallet
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V2__add_init_to_cet_sig_db.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V2__add_init_to_cet_sig_db.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDb.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: dlc, wallet

#2230 Move newer functions to common rpc interface
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
Labels: bitcoind-rpc

#2219 Fee Provider from config
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  docs/config/configuration.md
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitGoFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitcoinerLiveFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/FeeProviderFactory.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/FeeProviderName.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/MempoolSpaceProvider.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, fee-provider, wallet

#2235 Update sbt-ci-release to 1.5.4
  project/plugins.sbt
Labels: dependencies

#2234 Make BIP 39 password a config option
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  docs/config/configuration.md
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, wallet

#2238 Update sbt-mdoc to 2.2.11
  project/plugins.sbt
Labels: dependencies

#2239 Update scodec-bits to 1.1.21
  project/Deps.scala
Labels: dependencies

#2237 Decode PSBT function
  app-commons-test/src/test/scala/org/bitcoins/commons/SerializedPSBTTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/SerializedPSBT.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/SerializedTransaction.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/SerializedTransaction.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  docs/applications/server.md
Labels: enhancement, psbt

#2217 Make aesPassword option for wallet config
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  core/src/main/scala/org/bitcoins/core/api/keymanager/KeyManagerCreateApi.scala
  core/src/main/scala/org/bitcoins/core/crypto/BIP39Seed.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracleAppConfig.scala
  docs/chain/chain-query-api.md
  docs/config/configuration.md
  docs/key-manager/key-manager.md
  docs/node/node-api.md
  docs/wallet/wallet-callbacks.md
  docs/wallet/wallet.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerApiTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManagerApiTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/EncryptedMnemonic.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/keymanager/KeyManagerApiUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/keymanager/KeyManagerTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: key-manager, wallet

#2241 Update sbt-bloop to 1.4.5
  project/plugins.sbt
Labels: dependencies

#2246 Add release notes directory similar to what bitcoin core does, docume…
  release-notes/release-notes-2217.md
Labels: documentation, release

#2247 Add listreservedutxos cli command
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli, wallet

#2231 Bitcoind RPC Multi-wallet support
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UTXORpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  docs/rpc/bitcoind.md
Labels: bitcoind-rpc

#2243 Update scalacheck to 1.15.1
  project/Deps.scala
Labels: dependencies

#2236 Let wallet sign PSBTs
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/HDWalletApi.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  docs/applications/server.md
  testkit/src/main/scala/org/bitcoins/testkit/util/TransactionTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: psbt, wallet

#2185 Update Oracle TLVs
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/EventDescriptorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: core

#2242 Use PSBT type in bitcoind calls
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcPsbtResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/PsbtRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/PsbtRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v20/BitcoindV20RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/V17PsbtRpc.scala
Labels: bitcoind-rpc, psbt

#2250 Update scalatest to 3.2.3
  project/Deps.scala
Labels: dependencies

#2240 Analyze PSBT function
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRole.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
Labels: psbt

#2162 Use New Oracle TLVs in DLCOracle
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/dlc/SigningVersion.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/resources/logback.xml
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core-test/src/test/scala/org/bitcoins/core/util/NumberUtilTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/NumberUtil.scala
  db-commons-test/src/test/scala/org/bitcoins/db/AppConfigTest.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/RValueDAOTest.scala
  dlc-oracle/src/main/resources/postgresql/oracle/migration/V2__add_event_descriptor.sql
  dlc-oracle/src/main/resources/sqlite/oracle/migration/V2__add_event_descriptor.sql
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCAttestationType.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/Event.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/OracleEvent.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDb.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDb.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDb.scala
  docs/oracle/oracle-server.md
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleDAOFixture.scala
Labels: oracle

#2253 Update sbt-mdoc to 2.2.12
  project/plugins.sbt
Labels: dependencies

#2252 Use same config option for key manager projects
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  core/src/main/scala/org/bitcoins/core/util/HDUtil.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  docs/config/configuration.md
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleFixture.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, key-manager

#2256 Update spray-json to 1.3.6
  project/Deps.scala
Labels: dependencies

#2254 Add ability to change aes password
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  crypto/src/main/scala/org/bitcoins/crypto/AesCrypt.scala
  docs/applications/server.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
Labels: cli, key-manager

#2265 Fix listEvents in DLCOracle
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
Labels: bug, oracle

#2266 Update sbt to 1.4.3
  project/build.properties
Labels: dependencies

#2267 Add helper OracleEventTLVV0.maturation method
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: core, dlc

#2260 2020 11 13 issue 2258
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerCachedTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandlerCached.scala
  core/src/main/scala/org/bitcoins/core/api/chain/FilterSyncMarker.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/BlockHeader.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  docs/chain/chain.md
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainFixtureHelper.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainFixtureTag.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: bug, chain, enhancement

#2269 docs: Add DLC Oracle db conf to docs
  docs/config/configuration.md
Labels: documentation, oracle

#2270 docs: Logback conf command line docs
  docs/config/configuration.md
Labels: config, documentation, logging

#2272 2020 11 17 dlcoracle dbutil
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
Labels: oracle, refactor

#2268 Create KeyManagerAppConfig
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  docs/config/configuration.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, key-manager

#2276 Update akka-http, akka-http-testkit to 10.1.13
  project/Deps.scala
Labels: dependencies

#2288 Update sbt to 1.4.4
  project/build.properties
Labels: build, dependencies

#2287 Move english word list to be represented by a Vector in memory
  core-test/src/test/scala/org/bitcoins/core/crypto/words/EnglishWordsBip39Test.scala
  core/src/main/scala/org/bitcoins/core/crypto/MnemonicCode.scala
  core/src/main/scala/org/bitcoins/core/crypto/words/EnglishWordsBip39.scala
  core/src/main/scala/org/bitcoins/core/crypto/words/MnemonicWords.scala
Labels: core, refactor

#2285 Update scala-collection-compat to 2.3.0
  project/Deps.scala
Labels: dependencies

#2275 Add directive to configure timeout on the appServer
  docs/config/configuration.md
Labels: app server

#2289 Request witness blocks from peers
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#2271 Fix datadir config option
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSRunner.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, config

#2290 Update scala-collection-compat to 2.3.1
  project/Deps.scala
Labels: dependencies

#2291 Update sbt-mdoc to 2.2.13
  project/plugins.sbt
Labels: dependencies

#2292 Make BitcoinSAyncTest more thread safe and make sure we have all the …
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: bug, teskit

#2296 Update scodec-bits to 1.1.22
  project/Deps.scala
Labels: dependencies

#2294 Get Scala 2.13.4 compiling
  .travis.yml
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/testprotocol/Base58ValidTestCaseProtocol.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTaggedFields.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
  inThisBuild.sbt
  project/CommonSettings.scala
Labels: build

#2298 Update scopt to 4.0.0
  project/Deps.scala
Labels: dependencies

#2300 trivial: Add a sha256 hash field on all TLV
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: core
