Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-05, with the labels that each got.

#2990 Fix race condition with BitcoindChainHandlerViaZmqTest
  bitcoin-s-docs/docs.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BitcoindChainHandlerViaZmqTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  zmq/src/main/scala/org/bitcoins/zmq/ZMQSubscriber.scala
Labels: bug, testkit

#3009 Fix wallet v11 postgres migration
  wallet/src/main/resources/postgresql/wallet/migration/V11__blockhash_to_transaction_table.sql
Labels: bug, postgres, wallet

#3007 Reduce workers from 2 -> 1
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BaseAsyncTest.scala
Labels: testkit

#3006 Use bitcoind v0.21.1
  bitcoind-rpc/bitcoind-rpc.sbt
Labels: bitcoind-rpc

#3011 Redo release notes draft as we rewrote the git history
  release-notes/release-notes-v0.6.0.md
Labels: documentation, release

#3013 Add protoc exception for apples new chip arch
  build.sbt
  lnd-rpc/lnd-rpc.sbt
  project/CommonSettings.scala
Labels: build

#3015 Add missing listresevedutxos docs
  docs/applications/server.md
  docs/wallet/wallet-rpc.md
Labels: documentation

#3016 Add descriptions for new projects
  release-notes/release-notes-v0.6.0.md
Labels: documentation

#3018 More release notes updates, mostly add boiler plate
  release-notes/release-notes-v0.6.0.md
Labels: documentation

#3020 Add 0.6.0 website
  website/versioned_docs/version-0.6.0/applications/server.md
  website/versioned_docs/version-0.6.0/chain/filter-sync.md
  website/versioned_docs/version-0.6.0/config/configuration.md
  website/versioned_docs/version-0.6.0/core/addresses.md
  website/versioned_docs/version-0.6.0/core/dlc.md
  website/versioned_docs/version-0.6.0/core/hd-keys.md
  website/versioned_docs/version-0.6.0/core/psbts.md
  website/versioned_docs/version-0.6.0/core/txbuilder.md
  website/versioned_docs/version-0.6.0/crypto/adaptor-signatures.md
  website/versioned_docs/version-0.6.0/crypto/sign.md
  website/versioned_docs/version-0.6.0/getting-setup.md
  website/versioned_docs/version-0.6.0/getting-started.md
  website/versioned_docs/version-0.6.0/key-manager/key-manager.md
  website/versioned_docs/version-0.6.0/node/node-api.md
  website/versioned_docs/version-0.6.0/node/node.md
  website/versioned_docs/version-0.6.0/oracle-explorer-client/oracle-explorer-client.md
  website/versioned_docs/version-0.6.0/oracle/build-oracle-server.md
  website/versioned_docs/version-0.6.0/oracle/oracle-election-example.md
  website/versioned_docs/version-0.6.0/oracle/oracle-price-example.md
  website/versioned_docs/version-0.6.0/oracle/oracle-server.md
  website/versioned_docs/version-0.6.0/rpc/lnd.md
  website/versioned_docs/version-0.6.0/rpc/rpc-clients-intro.md
  website/versioned_docs/version-0.6.0/secp256k1/add-to-jni.md
  website/versioned_docs/version-0.6.0/secp256k1/secp256k1.md
  website/versioned_docs/version-0.6.0/testkit/testkit-core.md
  website/versioned_docs/version-0.6.0/testkit/testkit.md
  website/versioned_docs/version-0.6.0/wallet/wallet-rescan.md
  website/versioned_docs/version-0.6.0/wallet/wallet.md
  website/versioned_sidebars/version-0.6.0-sidebars.json
  website/versions.json
Labels: documentation

#3019 2021 05 03 improve release notes
  release-notes/release-notes-v0.6.0.md
Labels: documentation

#3010 Remove remove request rejection duplication in ServerRoute
  .gitignore
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/ServerRoute.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server

#3022 Add getbalances cli command
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  docs/applications/server.md
Labels: cli, wallet

#3031 Added a dust threshold to GUI plots
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPlotUtil.scala
Labels: enhancement, gui

#3035 Fix compiler error
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: build

#3034 Allow remote bitcoind backend
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
Labels: bitcoind-rpc

#3033 Fix numeric contract info builder in gui
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: dlc, gui

#3021 Improved view of balance in GUI
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
Labels: gui

#3038 Serial Ids and other `core` updates
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractOraclePairTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractDescriptorOraclePair.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCFundingInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: core

#3037 Introduced AsyncAdaptorSign and AdaptorSign traits
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtSign.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
Labels: crypto

#3041 Fix javafx on mac osx new m1 arch
  project/Deps.scala
Labels: dependencies, gui

#2999 Added fast tooltips to DLC buttons
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
Labels: gui

#3044 Shutdown dlc db config in test fixture
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
Labels: dlc

#3047 Fix cancel DLC menu item name
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
Labels: gui

#2936 Pubkey Refactor
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/SerializedTransaction.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcOpts.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcPsbtResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MessageRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MessageRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  core-test/src/test/scala/org/bitcoins/core/bloom/BloomFilterTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCheckerTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/WIFEncodingTest.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/MerkleBlockTests.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2WPKHWitnessSPKV0Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2WSHWitnessSPKV0Test.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ECPrivateKeyUtil.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/node/NodeId.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/routing/LnRoute.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPrivateKeyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/AdaptorUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/DLEQUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECAdaptorSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECPoint.scala
  crypto/src/main/scala/org/bitcoins/crypto/SecpPoint.scala
  docs/core/psbts.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/TransactionTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug, core, crypto, enhancement, refactor, scalajs, secp256k1, tests

#3046 2021 05 06 cet sigs async
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
Labels: core, dlc, optimization, performance

#2988 Call decompression on public keys less
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/KeysTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/FieldElementTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrNonceTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrPublicKeyTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/AdaptorUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoParams.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CurveCoordinate.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECAdaptorSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/FieldElement.scala
  crypto/src/main/scala/org/bitcoins/crypto/FiniteField.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrNonce.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/SecpPoint.scala
Labels: crypto, enhancement

#3043 Initial Tor support
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  build.sbt
  core/src/main/scala/org/bitcoins/core/p2p/InetAddress.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  project/Deps.scala
  tor-test/src/test/scala/org/bitcoins/tor/TorProtocolHandlerSpec.scala
  tor/README.md
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
  tor/src/main/scala/org/bitcoins/tor/TorController.scala
  tor/src/main/scala/org/bitcoins/tor/TorProtocolHandler.scala
  tor/tor.sbt
Labels: tor

#3053 2021 05 07 fix getting setup
  build.sbt
  docs/getting-started.md
  tor-test/src/test/scala/org/bitcoins/tor/TorProtocolHandlerSpec.scala
  website/i18n/en.json
  website/versioned_docs/version-0.6.0/applications/server.md
  website/versioned_docs/version-0.6.0/core/addresses.md
  website/versioned_docs/version-0.6.0/core/dlc.md
  website/versioned_docs/version-0.6.0/core/hd-keys.md
  website/versioned_docs/version-0.6.0/core/psbts.md
  website/versioned_docs/version-0.6.0/core/txbuilder.md
  website/versioned_docs/version-0.6.0/crypto/sign.md
  website/versioned_docs/version-0.6.0/getting-started.md
  website/versioned_docs/version-0.6.0/key-manager/key-manager.md
  website/versioned_docs/version-0.6.0/secp256k1/secp256k1.md
Labels: build, documentation

#3055 2021 05 07 cleanup build
  build.sbt
Labels: build

#3048 Change outpoint output format for cli commands
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/wallet/wallet-rpc.md
Labels: app server

#3058 Update janino to 3.1.4
  project/Deps.scala
Labels: dependencies

#3060 Update scalacheck to 1.15.4
  project/Deps.scala
Labels: dependencies

#3062 Update sbt to 1.5.2
  project/build.properties
Labels: dependencies

#3057 Remove caveat for supressing 2.12.x warnings on lnd rpc
  lnd-rpc/lnd-rpc.sbt
Labels: lnd-rpc

#3066 Update sbt-scoverage to 1.8.0
  project/plugins.sbt
Labels: dependencies

#3069 Fix CachedHttpFeeRateProvider
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
Labels: bug, fee-provider

#3071 Update README.md
  README.md
Labels: documentation

#3070 Give oracle ability to sign messages with private key
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  docs/oracle/oracle-server.md
Labels: oracle, oracleServer

#3063 2021 05 09 received utxos
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: optimization, performance, wallet

#3075 Fix windows secp bindings
  secp256k1jni/natives/windows_64/libsecp256k1-0.dll
Labels: bug, secp256k1

#3080 Remove zmq configurations for bitcoind backend setup
  docs/getting-setup.md
Labels: config, documentation

#3085 Update scodec-bits to 1.1.27
  project/Deps.scala
Labels: dependencies

#3084 Update sourcecode to 0.2.7
  project/Deps.scala
Labels: dependencies

#3086 Update sbt-mdoc to 2.2.21
  project/plugins.sbt
Labels: dependencies

#3083 Update scala-collection-compat to 2.4.4
  project/Deps.scala
Labels: dependencies

#3087 Update metrics-core to 4.2.0
  project/Deps.scala
Labels: dependencies

#3065 Remove GUI tabs
  app/gui/src/main/scala/org/bitcoins/gui/AppMenuBar.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/AboutDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/settings/SettingsPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
Labels: dlc, gui

#3090 Remove old ZMQ config from documentation
  docs/config/configuration.md
Labels: documentation

#3089 Implement createCETsAndCETSigsAsync() to fix performance issue in test
  core/.js/src/main/scala/org/bitcoins/core/protocol/dlc/models/SigPointComputer.scala
  core/.jvm/src/main/scala/org/bitcoins/core/protocol/dlc/models/SigPointComputer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleOutcome.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/TestDLCClient.scala
Labels: core, optimization, performance

#3091 Update scalatest to 3.2.9
  project/Deps.scala
Labels: dependencies

#3094 Optimize updateUtxoConfirmedStates() to fetch confirmations in parallel
  core/src/main/scala/org/bitcoins/core/util/BlockHashWithConfs.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: optimization, performance, wallet

#3092 Fix Node.sync() bug
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
Labels: bug, node

#3067 Introduces pre-computed table for adaptor point computation
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCAdaptorPointComputer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/OracleOutcome.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/SetupDLCTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCExecutor.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/SetupDLC.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/verify/DLCSignatureVerifier.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: core, dlc, enhancement, optimization, performance, refactor

#3097 Update scala-library to 2.13.6
  inThisBuild.sbt
Labels: dependencies

#3101 Remaining non-wallet DLC Pulldown
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCAdaptorPointComputer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/DLCExecutor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/SetupDLC.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractOraclePair.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleOutcome.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/verify/DLCSignatureVerifier.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/SetupDLCTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/TestDLCClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: dlc

#3093 Update scala-java-time to 2.3.0
  project/Deps.scala
Labels: dependencies

#3104 Add assembly instructions for bundle project
  app/bundle/bundle.sbt
  project/CommonSettings.scala
  project/plugins.sbt
Labels: build, bundle

#3106 Update sbt-assembly to 0.14.10
  project/plugins.sbt
Labels: dependencies

#3108 2021 05 19 jpackage bundle release
  .github/workflows/release.yml
  app/bundle/bundle.sbt
  app/gui/src/main/resources/icons/bitcoin-s.icns
Labels: build, macosx

#3111 Update sbt-scoverage to 1.8.1
  project/plugins.sbt
Labels: dependencies

#3114 Remove need for bitcoind install with remote
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
Labels: app server, bitcoind-rpc

#3116 Removed point multiplication from ECPrivateKey.freshPrivateKey
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
Labels: crypto, optimization

#3117 Remove logback from the cli module
  app/cli/src/main/resources/logback.xml
  project/Deps.scala
Labels: cli

#3121 Add optimzations for IBD when the wallet is empty
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: optimization, performance, wallet

#3110 DLC Adaptor Point Computation Memoization
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/AdditionTrieNodeTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCAdaptorPointComputer.scala
Labels: dlc, optimization

#3100 DLC Wallet database rework
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrDigitalSignature.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCDbManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletApi.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAnnouncementDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAnnouncementDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignatureDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignaturesDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignaturesDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCContractDataDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCContractDataDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigsDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigsDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRemoteTxDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleAnnouncementDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleAnnouncementDataDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleAnnouncementDataDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleAnnouncementDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDb.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: database, dlc, refactor, wallet

#3122 Remove calls to Future.apply which apparently runs only on one thread
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
Labels: dlc, optimization

#3124 2021 05 21 fetch height parallel
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: optimization, wallet

#3129 2021 05 23 Sync race condition
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, neutrino

#3137 parallelize matching compact filters as this is a bottleneck during IBD
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: neutrino, optimization

#3140 Fix issue 3102
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleAnnouncementDataDAO.scala
Labels: dlc, wallet

#3141 Remove logging requests and responses
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
Labels: app server, logging

#3144 Enable java app packaging on bundle project
  build.sbt
Labels: build, bundle

#3148 DLC GUI pulldown
  app/gui/src/main/scala/org/bitcoins/gui/AppMenuBar.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/AboutDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPlotUtil.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/GlobalDLCData.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AddSigsDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
Labels: gui

#3153 Fix header on configuration.md
  docs/config/configuration.md
Labels: documentation

#3150 Upsert remote txs in DLC Wallet
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc, wallet

#3154 Removed extraneous findAll call from CRUD.updateAll
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestDAOFixture.scala
Labels: optimization

#3157 Use groupByExistingAnnouncements when accepting
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc, wallet

#3142 Add startup config flow for bundle
  app/bundle/bundle.sbt
  app/bundle/src/main/scala/org/bitcoins/bundle/AppBundle.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
  app/gui/gui.sbt
  app/gui/src/main/scala/org/bitcoins/gui/GUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/settings/Themes.scala
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
Labels: bundle, gui

#3161 Fix main class in bundle
  .github/workflows/release.yml
  app/bundle/bundle.sbt
Labels: build, bundle

#3167 Fix logging in bundle
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
Labels: bug, logging

#3159 Don't fetch all DLC data when canceling DLC
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc, wallet

#3163 Fix sbt deprecation warnings
  chain/chain.sbt
  key-manager/key-manager.sbt
Labels: bug, build

#3155 2021 05 26 uint64 mapper
  db-commons-test/src/test/scala/org/bitcoins/db/UInt64MapperTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: db-commons

#3160 Add ability to enter contract info in offer dialogue
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: gui

#3168 Make loading icon appear until server is full started
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
Labels: gui

#3158 Remove unused AcceptDLCDialog file
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitEnumContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitNumericContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
Labels: gui

#3164 Open bundle GUI at last used tab
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPane.scala
Labels: gui

#3170 Fix serialId columns to use a String instead of Integer
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V1__dlc_db_baseline.sql
Labels: bug, database, database-breaking

#3175 Send txId instead of full serialized transaction
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server

#3173 Add announcement data tests
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
Labels: dlc, tests, wallet

#3171 Add DatadirUtil to centralize logic for finding our actual datadir
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-routes/src/main/scala/org/bitcoins/server/util/DatadirUtil.scala
Labels: app server, bundle, refactor

#3174 Replace GUI balance thread with a akka scheduler
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/GUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  project/Deps.scala
Labels: gui

#3176 Multi-threaded DLC CET signature verification
  core/src/main/scala/org/bitcoins/core/protocol/dlc/verify/DLCSignatureVerifier.scala
Labels: dlc, optimization

#3190 Fix DLCStatusPickler
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: app-commons, bug

#3184 Add error messages for when DLC GUI functions timeout
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: gui

#3183 Add button to zip datadir in GUI
  app-commons/src/main/scala/org/bitcoins/commons/file/FileUtil.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/AppMenuBar.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
Labels: gui

#3194 Fix verify funding sigs
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/verify/DLCSignatureVerifier.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc, wallet

#3179 Make add sigs broadcast the funding transaction
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/GetFundingDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server, gui

#3193 Add export and copy result buttons
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
Labels: gui

#3196 Sync Height on screen
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
Labels: gui

#3199 Add dlc wallet test to postgres matrix
  .github/workflows/PostgresTests.yml
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRemoteTxDAO.scala
Labels: CI, dlc, postgres

#3200 Get logging working in bundle
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/GUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
Labels: bug, logging

#3203 Sort points in numeric gui
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
Labels: gui

#3202 Better messaging while syncing headers
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
Labels: gui

#3198 2021 05 29 dlc pnl
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  core-test/src/test/scala/org/bitcoins/core/dlc/accounting/DLCAccountingTest.scala
  core/src/main/scala/org/bitcoins/core/dlc/accounting/DLCAccounting.scala
  core/src/main/scala/org/bitcoins/core/dlc/accounting/RateOfReturnUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc

#3204 Update DLC Table with scheduler
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: gui

#3207 Fix showing reserved balance instead of unconfirmed in GUI
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
Labels: bug, gui

#3211 Only update DLC we are viewing
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: gui
