Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-03, with the labels that each got.

#2734 Skip publishing of js projects
  build.sbt
Labels: build

#2742 Fix unidoc issue with scala-js modules, this now ignores them from un…
  build.sbt
Labels: build, documentation

#2727 Input and Output ordering for DLCs
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCFundingInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCFeeTestUtil.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDb.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCCETBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCExecutor.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/SetupDLC.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_message_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_tx_test.json
  dlc/src/main/scala/org/bitcoins/dlc/verify/DLCSignatureVerifier.scala
  docs/core/dlc.md
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/DLCTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc, wallet

#2745 Fix dlcdb name
  db-commons/src/main/resources/reference.conf
Labels: bug, dlc

#2752 Enable 'dockerUpdateLatest' option to give us the latest tag on publi…
  project/CommonSettings.scala
Labels: build, docker

#2749 Fix DLCOracle to be Network Agnostic
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
Labels: bug, oracle

#2731 Resturcutre cryptoTest & coreTest to work with scalajs build
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  bitcoind-rpc/bitcoind-rpc.sbt
  build.sbt
  core-test/.jvm/src/main/scala/org/bitcoins/core/crypto/words/EnglishWordsBip39Test.scala
  core-test/.jvm/src/test/resources/000000000000000000050f70113ab1932c195442cb49bcc4ee4d7f426c8a3295.txt
  core-test/.jvm/src/test/resources/00000000000000000008513c860373da0484f065983aeb063ebf81c172e81d48.txt
  core-test/.jvm/src/test/resources/base58_encode_decode.json
  core-test/.jvm/src/test/resources/base58_keys_invalid.json
  core-test/.jvm/src/test/resources/base58_keys_valid.json
  core-test/.jvm/src/test/resources/bigsize_decoding.json
  core-test/.jvm/src/test/resources/bigsize_encoding.json
  core-test/.jvm/src/test/resources/bitcoin-util-test.json
  core-test/.jvm/src/test/resources/script_tests.json
  core-test/.jvm/src/test/resources/sighash.json
  core-test/.jvm/src/test/resources/testnet-19.json
  core-test/.jvm/src/test/resources/trezor.txt
  core-test/.jvm/src/test/resources/trezor_bip39_vectors.json
  core-test/.jvm/src/test/resources/tx_invalid.json
  core-test/.jvm/src/test/resources/tx_valid.json
  core/.jvm/src/main/resources/bip39-wordlists/english.txt
  core/core.sbt
  crypto-test/.jvm/src/test/resources/bip340-test-vectors.csv
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleBIP340Test.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleECDigitalSignatureTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/JvmECPublicKeyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECDigitalSignatureTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  project/CommonSettings.scala
  project/Deps.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
Labels: build, platforms

#2761 Add new JS projects to list in build.sbt
  build.sbt
Labels: build

#2763 2021 03 04 fix publish pt2
  build.sbt
Labels: build

#2758 Update docs to use the latest docker image names
  docs/applications/server.md
  docs/oracle/build-oracle-server.md
Labels: documentation

#2764 Completely remove range event descriptors
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/EventDescriptorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCAttestationType.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/SigningVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: core, oracle

#2759 Make it clear on the getting-setup.md page that this is only for deve…
  docs/getting-setup.md
  docs/getting-started.md
Labels: documentation

#2767 Wrap entire Client.getPayload() into try catch to avoid exceptions leaking
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
Labels: bitcoind-rpc, bug

#2766 Make website publish work with teh latest stable version
  .github/workflows/Docs.yml
  bitcoin-s-docs/docs.sbt
Labels: build, documentation

#2773 Add fetch depth zero to everything to fix bug introduced in #2766
  .github/workflows/Compile.yml
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  .github/workflows/native.yml
Labels: build

#2757 Add signed outcome to `getevent` rpc, fix other small api bugs
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCAttestationType.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/OracleInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/DLCOutcomeType.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  docs/oracle/oracle-election-example.md
  docs/oracle/oracle-price-example.md
  docs/oracle/oracle-server.md
Labels: oracleServer

#2712 Enforce segwit v0 DLC funding inputs
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCFundingInput.scala
Labels: bug, dlc

#2783 Fix DLCStatus JSON serialzation
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCStatusTest.scala
Labels: bug, dlc

#2774 Update all deps that failed because of bad build
  .jvmopts
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  project/Deps.scala
  project/build.properties
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: dependencies

#2776 Refactor starting second bitcoind in MempoolRpcTest, remove Thread.sleep
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/AkkaUtil.scala
Labels: bitcoind-rpc, tests

#2791 Bump timeout on bind to avoid spurious ci failures hopefully
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node

#2789 Update sbt-ci-release to 1.5.6
  project/plugins.sbt
Labels: dependencies

#2799 update Base docker image to a ubuntu buster
  project/CommonSettings.scala
Labels: build, docker

#2796 Move tests out of bitcoindRpcTest that belong in async-utils
  async-utils-test/src/test/scala/org/bitcoins/asyncutil/AsyncUtilTest.scala
  async-utils/src/main/scala/org/bitcoins/asyncutil/AsyncUtil.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  core/src/main/scala/org/bitcoins/core/api/asyncutil/AsyncUtilApi.scala
Labels: refactor, tests

#2798 Update sbt-native-packager to 1.8.1
  project/plugins.sbt
Labels: dependencies

#2744 Move blockhash to tx table from spending info table
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/TransactionDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/UTXORecord.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/CoinSelectorTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/IncomingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/OutgoingTransactionDAOTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/TransactionDAOTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V11__blockhash_to_transaction_table.sql
  wallet/src/main/resources/sqlite/wallet/migration/V10__blockhash_to_transaction_table.sql
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: wallet

#2800 Create NativeProcessFactory, extend it in both Client.scala & EclairR…
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/NativeProcessFactory.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
Labels: bitcoind-rpc, eclair-rpc

#2804 Update javafx-base, javafx-controls, ... to 17-ea+3
  project/Deps.scala
Labels: dependencies

#2735 Add Broadcast TxoState
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet

#2792 Implement caching of bitcoind in the walletTest,nodeTest, and partially bitcoindRpcTest project
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MessageRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/PreciousBlockRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/PsbtRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/PsbtRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v20/BitcoindV20RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v21/BitcoindV21RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/NodePair.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/NodeTriple.scala
  build.sbt
  docs/node/node.md
  docs/testkit/testkit.md
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  project/CommonSettings.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoindRpcTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoindRpcTestClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/sync/WalletSyncTest.scala
Labels: bitcoind-rpc, refactor, tests

#2811 Add docs for getblockheader
  docs/applications/server.md
Labels: documentation

#2813 Remove logging from testkit core
  async-utils/src/main/scala/org/bitcoins/asyncutil/AsyncUtil.scala
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorSpec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt32Spec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt8Spec.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/NetworkPayloadTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/ChainParamsTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptSignatureSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptWitnessSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionInputSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/testprotocol/CoreTransactionTestCaseProtocol.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/HashTypeSpec.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/testprotocol/CoreTestCaseProtocol.scala
  core-test/src/test/scala/org/bitcoins/core/serializers/p2p/messages/RawHeadersMessageSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/FutureUtilTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/NumberUtilSpec.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  project/Deps.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TransactionGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/WitnessGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BaseAsyncTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BitcoinSUnitTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/TransactionTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: logging, testkit-core

#2805 Schnorr js
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/crypto/WIFEncodingTest.scala
  core/src/main/scala/org/bitcoins/core/util/NumberUtil.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/BCryptoECDigitalSignatureTest.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/HashingTest.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/KeysTest.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/RandomTest.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/SignTest.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/SigningTest.scala
  crypto-test/.jvm/src/test/resources/bip340-test-vectors.csv
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/AesCryptTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleBIP340Test.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleCryptoParamsTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleECDigitalSignatureTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/ECDigitalSignatureTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/ECPrivateKeyTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/JvmECPublicKeyTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/SignWithEntropyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/BIP340TestVectors.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/BitcoinSCryptoTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoGenerators.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoUtilTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/DERSignatureUtilTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/FieldElementTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/HashDigestTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/NumberGenerator.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrDigitalSignatureTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrNonceTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SchnorrPublicKeyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SignTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/ECDSA.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/Point.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/Schnorr.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoNumberUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECPoint.scala
  project/Deps.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BaseAsyncTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoindRpcTest.scala
Labels: crypto, scalajs

#2794 Adaptor signatures for Scala.js
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/KeysTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/SignWithEntropyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECDigitalSignatureTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPrivateKeyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SignTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/ECDSA.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/AdaptorUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/DERSignatureUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/DLEQUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECAdaptorSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
Labels: crypto, scalajs

#2815 Reduce fee rate for spending coinbase utxos test
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
Labels: bug, tests, wallet

#2819 Update sbt-ci-release to 1.5.7
  project/plugins.sbt
Labels: dependencies

#2818 Move hard coded test vectors from resource files into scala files
  core-test/.jvm/src/test/resources/base58_encode_decode.json
  core-test/.jvm/src/test/resources/base58_keys_invalid.json
  core-test/.jvm/src/test/resources/base58_keys_valid.json
  core-test/.jvm/src/test/resources/bigsize_decoding.json
  core-test/.jvm/src/test/resources/bigsize_encoding.json
  core-test/.jvm/src/test/resources/bitcoin-util-test.json
  core-test/.jvm/src/test/resources/script_tests.json
  core-test/.jvm/src/test/resources/sighash.json
  core-test/.jvm/src/test/resources/testnet-19.json
  core-test/.jvm/src/test/resources/trezor_bip39_vectors.json
  core-test/.jvm/src/test/resources/tx_invalid.json
  core-test/.jvm/src/test/resources/tx_valid.json
  core-test/.jvm/src/test/scala/org/bitcoins/core/crypto/words/EnglishWordsBip39Test.scala
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/MnemonicCodeTest.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/BlockFilterTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BigSizeUIntTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/ScriptInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/Base58Test.scala
Labels: core, tests

#2820 Attempt to find type name when parsing incorrect tlv type
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: core

#2652 Introduced distinct Sign and AsyncSign interfaces
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtSignTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/ShufflingNonInteractiveFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/StandardNonInteractiveFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/InputInfoTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtSign.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/FinalizedTxWithSigningInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxSigner.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/SignWithEntropyTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/SignTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
  docs/core/psbts.md
  docs/core/txbuilder.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/PSBTGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: core, crypto, refactor

#2823 Use testkitcore in dlcTest
  build.sbt
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/SetupDLCTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVectorTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/integration/DLCClientIntegrationTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCFeeTestUtil.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BytesUtil.scala
Labels: dlc, testkit-core, tests

#2825 Got rid of futures in DLC funding tx signing
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVectorTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCExecutor.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
Labels: dlc

#2831 Fix potential unordered nonces in announcement
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
Labels: bug, oracle

#2829 Update javafx-base, javafx-controls, ... to 17-ea+5
  project/Deps.scala
Labels: dependencies

#2832 Update akka to v10.2.4
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  project/Deps.scala
Labels: dependencies

#2835 Update scodec-bits to 1.1.25
  project/Deps.scala
Labels: dependencies

#2833 Update sbt-mdoc to 2.2.19
  project/plugins.sbt
Labels: dependencies
