Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-06, with the labels that each got.

#3214 Rework findDLC()
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCState.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/accounting/AccountingUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: dlc, refactor

#3215 Remove all flyway plugin sbt config
  build.sbt
  project/plugins.sbt
Labels: build, flyway

#3216 UPdate sbt and scoverage in conjunction
  project/build.properties
  project/plugins.sbt
Labels: build

#3205 Update balance on cancel DLC
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: gui

#3219 Add from file ability for AddDLCSigsAndBroadcast DLCs
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli, gui, wallet

#3227 Try making the dlc fee test suite async
  dlc-test/src/test/scala/org/bitcoins/dlc/statictest/DLCFeeTestVectorTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCFeeTestVector.scala
Labels: CI, dlc, tests

#3220 Implement sharing of actor systems across the GUI and backend app server
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-routes/src/main/scala/org/bitcoins/server/util/BitcoinSApp.scala
  app/server-test/src/test/scala/org/bitcoins/server/LogLocationTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: gui, refactor

#3226 Upgrade scala versions on ci to 2.12.14 and 2.13.6
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  .github/workflows/docker-publish.yml
Labels: CI, build

#3228 Bump otj-pg-embedded to 0.13.14
  project/Deps.scala
Labels: dependencies

#3189 Test for processing a block we receive and send in
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
Labels: tests, wallet

#3143 Update akka-grpc-runtime_2.12, ... to 2.0.0
  project/plugins.sbt
Labels: dependencies

#3217 Use nonceDb's outcome to calc oracle outcome
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: dlc, wallet

#3231 Try to add block generate to address in fixture setup to get around compact filter sync edge case
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: bug, neutrino

#3229 2021 06 07 dlc wallet pnl
  app-commons/src/main/scala/org/bitcoins/commons/serializers/PicklerKeys.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core-test/src/test/scala/org/bitcoins/core/dlc/accounting/DLCAccountingTest.scala
  core-test/src/test/scala/org/bitcoins/core/dlc/accounting/RateOfReturnUtilTest.scala
  core/src/main/scala/org/bitcoins/core/dlc/accounting/DLCAccounting.scala
  core/src/main/scala/org/bitcoins/core/dlc/accounting/DLCWalletAccounting.scala
  core/src/main/scala/org/bitcoins/core/dlc/accounting/PayoutAccounting.scala
  core/src/main/scala/org/bitcoins/core/dlc/accounting/RateOfReturnUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletApi.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/accounting/AccountingUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/accounting/DLCAccountingDbs.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: dlc, enhancement

#3237 Fix for showing txid on send
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: bug, gui

#3239 Move addressDb database read out of inner loop
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: optimization, performance, wallet

#3236 Skip adding DLC sigs if we already have them
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc, wallet

#3238 Update bcprov-jdk15on to 1.69
  project/Deps.scala
Labels: dependencies

#3244 2021 06 07 markasspent optimization
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: optimization, performance, wallet

#3248 Update postgresql to 42.2.21
  project/Deps.scala
Labels: dependencies

#3246 Update akka-actor, akka-discovery, ... to 2.6.15
  project/Deps.scala
Labels: dependencies

#3245 2021 06 10 cache spendinginfodbs for block
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: optimization, performance, wallet

#3243 Populate Sign GUI when choosing a file
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
Labels: gui

#3250 Only unreserve our utxos when canceling a DLC
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc, wallet

#3249 Fix DLC Accounting errors
  core/src/main/scala/org/bitcoins/core/dlc/accounting/PayoutAccounting.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc

#3260 Populate Broadcast DLC GUI
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
Labels: gui

#3264 Update sbt to 1.5.4
  project/build.properties
Labels: dependencies

#3185 Add unit test we can handle spending funds and receiving funds in same tx
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
Labels: wallet

#3262 Update sbt-coveralls to 1.3.0
  project/plugins.sbt
Labels: dependencies

#3222 Make getDLCs async to improve performance
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: gui, optimization, performance

#3269 2021 06 15 issue 3266
  .github/workflows/release.yml
Labels: build, macosx

#3209 Better error message for invalid DLC refunds
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc, wallet

#3273 Preserve noncedb outcomes when adding oracle
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc, wallet

#3270 Update sbt-native-image to 0.3.1
  project/plugins.sbt
Labels: dependencies

#3280 update website, remove references to a DLC specific branch
  bitcoin-s-docs/docs.sbt
  docs/core/dlc.md
  docs/getting-setup.md
  docs/getting-started.md
  docs/wallet/dlc.md
Labels: documentation

#3279 Removes dead symlinks for secp256k1 on osx_arm64
  secp256k1jni/natives/osx_arm64/libsecp256k1.la
  secp256k1jni/natives/osx_arm64/libsecp256k1_jni.la
Labels: bug, macosx, secp256k1

#3276 Update utxo states correctly for bitcoind backend
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: app server, bitcoind-rpc

#3274 Add ability to sweep wallet
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/SendDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  docs/applications/server.md
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: gui, wallet

#3286 Add LnInvoice db mapper
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: db-commons

#3284 Update metrics-core to 4.2.1
  project/Deps.scala
Labels: dependencies

#3275 Fix rows in ViewDLCDialog
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
Labels: bug, gui

#3282 Update postgresql to 42.2.22
  project/Deps.scala
Labels: dependencies

#3210 Windows packaging
  .github/workflows/release.yml
  .jvmopts
  app/bundle/bundle.sbt
  app/server-routes/src/main/scala/org/bitcoins/server/util/DatadirUtil.scala
  inThisBuild.sbt
Labels: build

#3287 Try downgrading the jdk to 15 for linux release builds
  .github/workflows/release.yml
Labels: build

#3285 Use same network as bitcoind backend
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-routes/src/main/scala/org/bitcoins/server/util/DatadirUtil.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: app server, bitcoind-rpc, bundle

#3293 Fixed bitcoin-s-cli dir location under bin
  docs/getting-setup.md
Labels: documentation

#3294 Update slf4j-api to 1.7.31
  project/Deps.scala
Labels: dependencies

#3292 Remove previous stable version usage for windows builds
  app/bundle/bundle.sbt
  bitcoin-s-docs/docs.sbt
  project/CommonSettings.scala
Labels: build

#3297 Update sbt-coveralls to 1.3.1
  project/plugins.sbt
Labels: dependencies

#3300 Adjust --depth doc from 100 -> 500
  docs/getting-setup.md
Labels: documentation, git

#3290 Update LND to v0.13.0-beta
  docs/rpc/lnd.md
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/rpc.proto
  lnd-rpc/src/main/protobuf/stateservice.proto
  lnd-rpc/src/main/protobuf/walletkit.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: lnd-rpc

#3315 Fix DLC Table View not being updated
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: bug, gui

#3313 Add new BIP 32 leading zero test vectors
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeyTest.scala
Labels: core, tests

#3314 Silence warning log if no error
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, logging, wallet

#3316 Make mempool.space fee provider network specific
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/MempoolSpaceProvider.scala
Labels: fee-provider

#3317 Update metrics-core to 4.2.2
  project/Deps.scala
Labels: dependencies

#3289 Multi wallet support for DLC database
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/MultiWalletDLCTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: database, dlc, wallet

#3323 Fix error messages in SbExplorerClient
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
Labels: explorer-client

#3321 Make it so table doesn't reorder on single update
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCState.scala
Labels: bug, gui

#3324 2021 06 23 scalafx dep
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/GUI.scala
  project/Deps.scala
Labels: dependencies, gui

#3325 Add extranious json readers, writers, and column mappers
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: app-commons

#3310 Sorted and Ordered Vector Type Support
  core-test/src/test/scala/org/bitcoins/core/util/SortedVecTest.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/OrderedNonces.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/SortedVec.scala
Labels: core

#3328 Add view on oracle explorer button
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ExplorerEnv.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  docs/oracle-explorer-client/oracle-explorer-client.md
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/client/SbExplorerClientTest.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/env/ExplorerEnvTest.scala
Labels: gui

#3332 Add ExplorerEnv.fromBitcoinNetwork() and use for View on Oracle Explorer siteUrl
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ExplorerEnv.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
Labels: gui

#3334 Update sqlite-jdbc to 3.36.0
  project/Deps.scala
Labels: dependencies

#3336 Silence all scaladoc warnings
  app/bundle/bundle.sbt
  project/CommonSettings.scala
Labels: build

#3327 Resolve bundle config and read/write in tmp file
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
Labels: bundle, config

#3333 Use PaymentHashTag type in LndRpcClient
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/lnd/LndModels.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTags.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3339 Improve logs in BitcoindRpcBackendUtil
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: app server, logging

#3338 Add invariant and better error message for invalid numeric contract descriptor
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/GUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractDescriptorTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractDescriptor.scala
Labels: core, dlc, gui

#3126 Add FutureUtil tests
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Windows.yml
  async-utils-test/src/test/scala/org/bitcoins/asyncutil/AsyncUtilTest.scala
  async-utils/src/main/scala/org/bitcoins/asyncutil/AsyncUtil.scala
  build.sbt
  core-test/.jvm/src/test/scala/org/bitcoins/core/api/CallbackTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/FutureUtilTest.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  project/Deps.scala
Labels: asyncutil, core, tests

#3345 Remove unneeded asInstanceOf calls in DLCWallet
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#3342 Fix DLC not storing nSequence for funding inputs
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCFundingInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionConstants.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/TestVectorGen.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/dlc_test.json
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/dlc_tx_test.json
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V2__add_funding_input_sequence.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V2__add_funding_input_sequence.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDb.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/TestDLCClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCDAOFixture.scala
Labels: dlc, enhancement, wallet

#3347 Add more explicit instructions for install java9+ for getting-setup.md
  docs/getting-setup.md
Labels: documentation

#3340 Set closing txid on execute from View Dialog
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
Labels: gui

#3349 Fix removing canceled DLCs from table
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
Labels: bug, gui

#3348 Call trim on DLC message text boxes
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
Labels: gui

#3352 Use OrderedNonces type in DLC data types
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCAdaptorPointComputer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/OrderedNonces.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDb.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: core, dlc, oracle, wallet

#3354 Add logs to make it more apparent that No Common Ancestors isn't necessarily bad
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
Labels: chain, neutrino
