Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-08, with the labels that each got.

#3402 DLC P2P Client
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  build.sbt
  db-commons/src/main/resources/reference.conf
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCConnectionHandlerTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNodeTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTorTest.scala
  dlc-node/dlc-node.sbt
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCClient.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCConnectionHandler.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCDataHandler.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCServer.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/peer/Peer.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  project/Deps.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/LnMessageGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/BitcoinSDLCNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSActorTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/NetworkUtil.scala
  tor/src/main/scala/org/bitcoins/tor/TorParams.scala
Labels: dlc

#3470 Tor support for BTC RPC
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/util/NetworkUtil.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: bitcoind-rpc, bundle, gui, tor

#3471 Remove colons from DLC view labels
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
Labels: gui

#3475 Update sbt-scalajs, scalajs-compiler, ... to 1.7.0
  project/plugins.sbt
Labels: dependencies, scalajs

#3473 Add preferences for wallet window x,y,w,h persistence
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
Labels: gui

#3462 DLC P2P in AppServer and GUI
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/node/DLCNodeApi.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  docs/config/configuration.md
  docs/tor/tor.md
  website/i18n/en.json
  website/sidebars.json
Labels: app server, cli, dlc-node, gui

#3474 Modifer keys per OS, Mac native menubar
  app/gui/src/main/scala/org/bitcoins/gui/AppMenuBar.scala
Labels: gui

#3472 Default Use Tor to config value, space login pages the same
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
  app/gui/src/main/resources/icons/copy-white.png
  app/gui/src/main/resources/icons/green-check.png
  app/gui/src/main/resources/icons/red-x.png
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
Labels: gui

#3476 Create TorAppConfig
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  build.sbt
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  tor/src/main/scala/org/bitcoins/tor/TorParams.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: config, tor

#3479 Fix dialog results optionality nesting to match dialogOpt
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
Labels: bug, gui

#3481 Adds Tor Address to UI, if set
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
Labels: gui

#3485 Evenly space footer status items
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
Labels: gui

#3488 Update akka-http, akka-http-testkit, ... to 10.2.6
  project/Deps.scala
Labels: dependencies

#3492 Move to GridPane wallet, dynamic sizing
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  core/src/main/scala/org/bitcoins/core/dlc/accounting/RateOfReturnUtil.scala
Labels: gui

#3491 Fix error parsing address in AcceptOfferDialog
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
Labels: bug, gui

#3489 Updated README
  README.md
Labels: documentation

#3493 Add where tor.md modifications need to be made explicitly
  docs/tor/tor.md
Labels: documentation

#3495 Docs: Update tor.md
  docs/tor/tor.md
Labels: documentation

#3477 Set disable to context menu items based on selection, add Refund/Execute
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
Labels: gui

#3496 Style Create Offering UI
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
Labels: gui

#3498 2021 08 06 app config refacotr
  app-commons-test/src/test/scala/org/bitcoins/commons/config/AppConfigTest.scala
  app-commons-test/src/test/scala/org/bitcoins/commons/util/ServerArgParserTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfig.scala
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfigFactory.scala
  app-commons/src/main/scala/org/bitcoins/commons/config/package.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/DatadirParser.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/DatadirUtil.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/ServerArgParser.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  build.sbt
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbAppConfig.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/CachedAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: build

#3500 Don't use tor proxy for localhost connections
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: node, bitcoind-rpc, tor

#3504 GUI code cleanup
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
Labels: gui

#3509 2021 08 09 init delay broadcast freq
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: wallet

#3508 Update scalajs-stubs to 1.1.0
  project/Deps.scala
Labels: dependencies

#3506 Tor support for all sub-projects
  .idea/.gitignore
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/util/NetworkUtil.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/peer/Peer.scala
  docs/oracle-explorer-client/oracle-explorer-client.md
  docs/rpc/eclair.md
  docs/wallet/wallet-sync.md
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/EclairInstance.scala
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitGoFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitcoinerLiveFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/FeeProviderFactory.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/MempoolSpaceProvider.scala
  node/src/main/scala/org/bitcoins/node/models/Peer.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/client/SbExplorerClientTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5ClientTransport.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: tor

#3514 Bump server startup timeout from 60 seconds to 120seconds
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
Labels: gui

#3517 Getting Setup Fixes
  docs/getting-setup.md
Labels: documentation

#3515 Rescan DLC Tests
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/RescanDLCTest.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
Labels: tests, dlc-wallet

#3521 Add better CETSignaturesV0TLV.toString so we don't accidentally DOS
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: core

#3524 Reduce logs for inv messages and wallet callbacks to DEBUG
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: logging

#3526 Invert updating of DLC state and broadcasting the funding tx
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc-wallet

#3527 update arm64 secp256k1 binaries
  secp256k1jni/natives/osx_arm64/libsecp256k1.0.dylib
  secp256k1jni/natives/osx_arm64/libsecp256k1.a
  secp256k1jni/natives/osx_arm64/libsecp256k1.lai
  secp256k1jni/natives/osx_arm64/libsecp256k1_jni.a
Labels: secp256k1, macosx

#3528 Update secp256k1 precompiled binaries to use safegcd code on linux64
  secp256k1jni/natives/linux_64/libsecp256k1.a
  secp256k1jni/natives/linux_64/libsecp256k1.la
  secp256k1jni/natives/linux_64/libsecp256k1.so
  secp256k1jni/natives/linux_64/libsecp256k1_jni.a
  secp256k1jni/natives/linux_64/libsecp256k1_jni.la
Labels: secp256k1

#3530 Add proxy and tor sections to reference conf
  app/server/src/main/resources/reference.conf
Labels: config

#3534 Add TorBundle, make all mac files executable that are required
  tor/src/main/scala/org/bitcoins/tor/client/TorClient.scala
Labels: macosx, tor

#3537 Add tor config to bundle application.conf
  app/bundle/src/main/resources/application.conf
  app/server/src/main/resources/reference.conf
Labels: config

#3539 Adjust DLCTableView column widths and "counter party" to "counterparty"
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  docs/wallet/dlc.md
  website/versioned_docs/version-0.5.0/wallet/dlc.md
  website/versioned_docs/version-1.7.0/wallet/dlc.md
Labels: gui

#3536 Add debug window to view log fixes #3516
  app/gui/src/main/scala/org/bitcoins/gui/AppMenuBar.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/DebugDialog.scala
Labels: gui

#3542 Style wallet startup screens
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
Labels: gui

#3541 Add Network label to statusbar
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
Labels: gui

#3540 Wallet on top UI, minWidth on DLC View fields
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
Labels: gui

#3543 Stop tor binary when server is shutdown
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, app server, tor

#3545 The spaces after the log level cause logging levels not to work
  testkit-core/.jvm/src/main/resources/logback-test.xml
Labels: node, logging

#3549 Implement TorAppConfig.start(), use tor logs to detect when the tor is fully started
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  build.sbt
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: tor

#3507 Update tor.md
  docs/tor/tor.md
Labels: documentation

#3557 Revert 60 second delay on broadcast to go back to 4 hour default to n…
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: bug, node, wallet, initial-block-download

#3558 Add guard for the case where tor binary hasn't created log file yet
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: bug, tor

#3560 Add check for valid broadcast states
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc-wallet

#3562 Fix for if tor is already running
  core/src/main/scala/org/bitcoins/core/util/NetworkUtil.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTorTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/NetworkUtil.scala
  tor/src/main/scala/org/bitcoins/tor/TorParams.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: bug, tor

#3503 Update configuration.md
  docs/config/configuration.md
Labels: documentation

#3564 Implement rebroadcast closing tx
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
Labels: gui

#3568 Enum outcome labels to match numeric outcome labels
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
Labels: gui

#3565 Update version, userAgent for bitcoin-s
  node/src/main/scala/org/bitcoins/node/constant/Constants.scala
  node/src/main/scala/org/bitcoins/node/constant/NodeConstants.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  project/CommonSettings.scala
Labels: node, refactor

#3566 Improve filter header verification
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug, chain

#3575 Fix app server docker docs
  docs/applications/server.md
Labels: documentation

#3567 Move DLC/Event loading operations to Pane
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/ContractGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
Labels: gui

#3570 Add dialog to show transaction id and link after wallet Send
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/FundingTransactionDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/TransactionSentDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
Labels: gui

#3576 Implement versioning for packaged tor
  tor/src/main/scala/org/bitcoins/tor/client/TorClient.scala
Labels: tor

#3577 Add welcome pane to right view on startup
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/ContractGUI.scala
Labels: gui

#3578 Have wallet broadcast transaction for sendrawtransaction
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server

#3579 Flip buttons for Offer and Accept
  app/gui/src/main/scala/org/bitcoins/gui/ContractGUI.scala
Labels: gui

#3580 Turn on bitcoin-s.node.relay=true by default on bundle/appServer
  app/bundle/src/main/resources/application.conf
  app/server/src/main/resources/reference.conf
Labels: node, config

#3546 Add Tor running text to UI
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
Labels: bug, gui

#3572 P2P reconnect logic
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: enhancement, node

#3582 Add guard to not allow us to check the network configuration on bitcoind
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: bug, bundle

#3584 Fix missing afterAll in ReConnectionTest
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
Labels: bug, node

#3583 Implement PeerMessageReceiverState.InitializedDisconnect
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: bug, node

#3587 Change bitcoind RPC Password to PasswordField
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
Labels: gui

#3590 Add AppConfigActorSystem
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfigFactory.scala
  app/server/src/main/scala/org/bitcoins/server/util/AppConfigFactoryActorSystem.scala
Labels: enhancement, app server, app-commons

#3596 Implement BitcoinSAppConfig with ActorSystem
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: testkit, app server

#3598 Add AppConfigFactory for DLCNodeAppConfig
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
Labels: config, dlc-node

#3599 Remove unneeded CoreApi
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  core-test/.jvm/src/test/scala/org/bitcoins/core/api/CoreApiTest.scala
  core/src/main/scala/org/bitcoins/core/Core.scala
  core/src/main/scala/org/bitcoins/core/api/core/CoreApi.scala
Labels: app server

#3620 Write unit test for SpendingInfoDAO.upsert()
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: bug, wallet

#3623 Move block generation and synchronization of the wallet in NeutrinoNodeWithWalletTest
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
Labels: bug, neutrino

#3625 Bump fee by more to make sure our fee rate is increasing the test case
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
Labels: wallet, tests

#3627 Fix bug where we weren't waiting on a future to complete
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
Labels: bug, tests

#3628 Make test vector that times out on CI async
  dlc-test/src/test/scala/org/bitcoins/dlc/statictest/DLCTestVectorTest.scala
Labels: bug, tests

#3633 Add debug window button to unreserve all utxos
  app/gui/src/main/scala/org/bitcoins/gui/dialog/DebugDialog.scala
Labels: gui

#3634 Add new invalid BIP 32 test vectors
  core-test/src/test/scala/org/bitcoins/core/crypto/ExtKeyTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
Labels: core, tests

#3639 Update scodec-bits to 1.1.28
  project/Deps.scala
Labels: dependencies

#3638 Update akka-grpc-runtime_2.12, ... to 2.1.0
  project/plugins.sbt
Labels: dependencies

#3607 Sort DLC table by last updated
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
  core/src/main/scala/org/bitcoins/core/api/db/LastUpdatedDb.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/DLCDb.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/util/TimeUtil.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V3__last_updated_col.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V3__last_updated_col.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: gui, dlc-wallet
