Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-11, with the labels that each got.

#3781 Update junit-interface to 0.13.2
  project/Deps.scala
Labels: dependencies

#3790 Update akka-http, akka-http-testkit, ... to 10.2.7
  project/Deps.scala
Labels: dependencies

#3792 Update sbt-bloop to 1.4.11
  project/plugins.sbt
Labels: dependencies

#3791 Update sbt-scoverage to 1.9.2
  project/plugins.sbt
Labels: dependencies

#3794 Move ValueIterator out of TLVFactory trait
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/ValueIterator.scala
Labels: core, refactor

#3793 2021 11 03 protocol version
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/server-test/src/test/scala/org/bitcoins/server/DLCRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDb.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/TestDLCClient.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: core

#3797 Add clightning listtransactions func
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/clightning/CLightningJsonModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  clightning-rpc-test/src/test/scala/com/bitcoins/clightning/rpc/CLightningClientPairTest.scala
  clightning-rpc-test/src/test/scala/com/bitcoins/clightning/rpc/CLightningRpcClientTest.scala
  clightning-rpc/src/main/scala/com/bitcoins/clightning/rpc/CLightningRpcClient.scala
Labels: c-lightning-rpc

#3796 Improve app server validation error handling
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: bug, app server

#3737 Added WitnessScriptPubKeyV1 for sending to Taproot addresses
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCFundingInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/WitnessVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionWitness.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptType.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CreditingTxGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/TransactionTestUtil.scala
Labels: core, taproot

#3807 Update scala-collection-compat to 2.6.0
  project/Deps.scala
Labels: dependencies

#3811 Remove scientific notation from Bitcoins.toString
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitTest.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
Labels: core

#3809 Update akka-grpc-runtime_2.12, ... to 2.1.1
  project/plugins.sbt
Labels: dependencies

#3816 Make sure exception is caught by Future inside of unmarkUTXOsAsReserved
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/MultiWalletDLCTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: dlc-wallet

#3815 Update logback-classic to 1.2.7
  project/Deps.scala
Labels: dependencies

#3817 Add deleting address tags to to clearAllUtxosAndAddresses()
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug, wallet

#3818 Break existing api to get new address to remove the requirement for null label
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server, api-breaking

#3819 revert logging directives on request/response back to DEBUG
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
Labels: logging, app server, oracleServer

#3822 2021 11 12 fix multiple tag issue
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressLabelTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: bug, wallet

#3828 Remove 'not set' rate of return % sign on wallet
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
Labels: gui

#3825 2021 11 13 scan bitcoind witspkv1 mempool
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/server/src/main/resources/reference.conf
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptType.scala
Labels: scripts

#3829 Request witness versions of transactions from nodes
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node

#3830 Add `hex` fields to `decodecontractinfo` JSON response
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
Labels: app server, app-commons, oracleServer

#3832 Fix TypeIdentifier fromBytes
  core-test/src/test/scala/org/bitcoins/core/p2p/TypeIdentifierTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/TypeIdentifier.scala
Labels: bug, core

#3835 Lnd v0.14.0
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  docs/rpc/lnd.md
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/lightning.proto
  lnd-rpc/src/main/protobuf/signrpc/signer.proto
  lnd-rpc/src/main/protobuf/stateservice.proto
  lnd-rpc/src/main/protobuf/walletrpc/walletkit.proto
  lnd-rpc/src/main/protobuf/walletunlocker.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: lnd-rpc

#3836 Handle TypeIdentifier.MsgWitnessTx messages
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node

#3833 Update sbt-native-packager to 1.9.7
  project/plugins.sbt
Labels: dependencies

#3834 Support for Bitcoin Core v22
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UtilRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v22/BitcoindV22RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/BitcoindV21RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/BitcoindV22RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  docs/rpc/bitcoind.md
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/fixture/NodeConnectedWithBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bitcoind-rpc

#3838 Make DLC node's external IP configurable
  app/server/src/universal/docker-application.conf
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  docs/config/configuration.md
Labels: config, dlc-node

#3840 Allow lnd remote to work with certificate string
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/LndFixture.scala
Labels: lnd-rpc

#3841 Fix broadcasting witness vs legacy txs
  core-test/src/test/scala/org/bitcoins/core/p2p/VersionMessageTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node

#3845 Fix log message failure in DLCDataHandler
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCDataHandler.scala
Labels: logging, dlc-node

#3848 Update lnd to v0.14.1
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3839 Disjoint union dlc
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCAdaptorPointComputer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/DLCExecutor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCTemplate.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/LnMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  core/src/main/scala/org/bitcoins/core/util/EnvUtil.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCAdaptorPointComputerTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCValidationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DisjointUnionDLCTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/EnumDLCTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/NumericDLCTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/integration/DLCClientIntegrationTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionBitcoindBackendTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/RescanDLCTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/TestDLCClient.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualWalletTestCachedBitcoind.scala
Labels: core, dlc

#3851 2021 11 23 crud action
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/SlickUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/models/MasterXPubDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAnnouncementDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCCETSignaturesDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCContractDataDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCIdDaoUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigsDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRemoteTxDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleAnnouncementDataDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/IncomingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/OutgoingTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/WalletStateDescriptorDAO.scala
Labels: db-commons, dlc-wallet

#3855 Update scodec-bits to 1.1.30
  project/Deps.scala
Labels: dependencies

#3857 Update c-lightning to v0.10.2
  clightning-rpc/clightning-rpc.sbt
  clightning-rpc/src/main/scala/com/bitcoins/clightning/rpc/CLightningRpcClient.scala
Labels: c-lightning-rpc
