Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-09, with the labels that each got.

#3640 Give funding txid in DLC Signed state
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: app-commons

#3642 Give help messages for DLC cli commands and document them
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  docs/applications/server.md
Labels: cli

#3636 Decode DLC messages cli commands
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  docs/applications/server.md
  docs/wallet/dlc.md
Labels: cli, dlc

#3644 Fix testkit depending on slf4j twice
  project/Deps.scala
Labels: build, dependencies

#3600 BitcoindRpcClient Improvements
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BitcoindVersionTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v20/BitcoindV20RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v21/BitcoindV21RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/BitcoindV21RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
  core/src/main/scala/org/bitcoins/core/api/commons/InstanceFactory.scala
  docs/chain/chain-query-api.md
  docs/chain/chain.md
  docs/node/node-api.md
  docs/node/node.md
  docs/rpc/bitcoind.md
  docs/rpc/eclair.md
  docs/rpc/lnd.md
  docs/testkit/testkit.md
  docs/wallet/wallet-callbacks.md
  docs/wallet/wallet.md
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/EclairInstance.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSAppConfigFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoindRpcTestClient.scala
Labels: bitcoind-rpc, eclair-rpc, refactor, lnd-rpc

#3649 Sbt docker multi platform
  .github/workflows/docker-publish.yml
  build.sbt
  project/CommonSettings.scala
Labels: enhancement, build, docker

#3650 Update base docker image to openjdk:16-slim
  project/CommonSettings.scala
Labels: build, docker

#3652 Remove implicit conversions from BitcoinSAppConfig -> {WalletAppConfig,ChainAppConfig,...}
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainDbUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/MultiWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
Labels: config, app server

#3653 Add CurrencyUnits.fromLong
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
Labels: core

#3654 Adjust the permissions of the statup script for the oracle server
  app/oracle-server/oracle-server.sbt
Labels: docker

#3658 Add wallet signing functions
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3647 Add ordering of funding inputs to DLC Wallet
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V4__index_col_funding_input.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V4__index_col_funding_input.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDb.scala
Labels: bug, dlc-wallet

#3655 Update logback-classic to 1.2.6
  project/Deps.scala
Labels: dependencies

#3656 Update scala-async to 1.0.1
  project/Deps.scala
Labels: dependencies

#3660 Add conversion utils for LndRpcClient
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
Labels: lnd-rpc

#3663 LndRpcClient: Fix listUnspent only showing unconfirmed utxos
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: bug, lnd-rpc

#3662 Fix case where we forget to correctly assign currentPeerMsgHandlerRecv
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverTest.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
Labels: bug, node

#3665 Try to fix race condition when shutting down bitcoind connection pool
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
Labels: bug, bitcoind-rpc

#3667 Change userId to work with umbrel
  project/CommonSettings.scala
Labels: docker

#3668 Update scala-library to 2.12.15
  inThisBuild.sbt
Labels: build

#3669 Fix approximateUtxoSize calculation for p2wpkh
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelector.scala
Labels: coin-selection

#3664 Update sbt-bloop to 1.4.9
  project/plugins.sbt
Labels: dependencies

#3673 Add sha256 announcement/event ids on oracleServer 'getevent' for use …
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
Labels: gui

#3671 Update sbt-scoverage to 1.9.0
  project/plugins.sbt
Labels: dependencies

#3672 Implement ability to provide external entropy to bitcoin-s
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoUtilTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfigTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  docs/chain/chain-query-api.md
  docs/config/configuration.md
  docs/node/node-api.md
  docs/wallet/wallet-callbacks.md
  docs/wallet/wallet-sync.md
  docs/wallet/wallet.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CryptoGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: wallet, refactor, key-manager, security

#3677 Add functions for Lease & Release output functions
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/lnd/LndModels.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3675 Update scalatest to 3.2.10
  project/Deps.scala
Labels: dependencies

#3678 Update native-lib-loader to 2.3.6
  project/Deps.scala
Labels: dependencies

#3676 Update scalafx to 16.0.0-R25
  project/Deps.scala
Labels: dependencies

#3679 Allow for enternal entropy to be passed into a docker container
  app/oracle-server/src/universal/docker-application.conf
  app/server/src/universal/docker-application.conf
Labels: config, app server, oracleServer, docker

#3451 Implement MasterXPubDAO
  build.sbt
  core/src/main/scala/org/bitcoins/core/api/keymanager/MasterXPubApi.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKeyVersion.scala
  core/src/main/scala/org/bitcoins/core/util/HDUtil.scala
  db-commons-test/src/test/resources/postgresql/test/migration/V1__master_xpub.sql
  db-commons-test/src/test/resources/sqlite/test/migration/V1__master_xpub.sql
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons-test/src/test/scala/org/bitcoins/db/models/MasterXPubDAOTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  db-commons/src/main/scala/org/bitcoins/db/models/MasterXPubDAO.scala
  db-commons/src/main/scala/org/bitcoins/db/util/DBMasterXPubApi.scala
  db-commons/src/main/scala/org/bitcoins/db/util/MasterXPubUtil.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfigTest.scala
  dlc-oracle/src/main/resources/postgresql/oracle/migration/V5__master_xpub.sql
  dlc-oracle/src/main/resources/sqlite/oracle/migration/V5__master_xpub.sql
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/util/HdUtilTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestAppConfigFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V12__master_xpub.sql
  wallet/src/main/resources/sqlite/wallet/migration/V11__master_xpub.sql
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
Labels: enhancement, db-commons

#3682 Update native-lib-loader to 2.4.0
  project/Deps.scala
Labels: dependencies

#3683 Add appCommonsTest to windows test matrix
  .github/workflows/Windows.yml
Labels: app-commons, windows

#3685 Update sbt-ci-release to 1.5.9
  project/plugins.sbt
Labels: dependencies

#3687 Update postgresql to 42.2.24
  project/Deps.scala
Labels: dependencies

#3690 Fix typo for signet LndInstances
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
Labels: lnd-rpc

#3691 Fix signet parsing of LnInvoices
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnHumanReadablePartTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnHumanReadablePart.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnParams.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ChainParamsGenerator.scala
Labels: bug, core

#3692 Add lnd close channel function
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
Labels: lnd-rpc

#3689 Add 'getversion' endpoint to fetch the version from the backend
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/CommonRoutes.scala
  app/server-test/src/test/scala/org/bitcoins/server/CommonRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  docs/applications/server.md
Labels: app server, oracleServer

#3609 Run appServerTest on both windows and mac
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/Windows.yml
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: app server

#3694 Add backupwallet and backuporacle endpoints
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  db-commons/src/main/scala/org/bitcoins/db/SQLiteUtil.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  docs/applications/server.md
  docs/oracle/oracle-server.md
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet, oracle, oracleServer, dlc-wallet

#3698 Update scodec-bits to 1.1.29
  project/Deps.scala
Labels: dependencies

#3697 Make it so bitcoind backend exceptions don't get swallowed
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: app server

#3699 Implement ability to get proper version of BitcoindRpcClient from BitcoindRpcAppConfig
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
Labels: bitcoind-rpc

#3700 Bump CI runs to use scalac 2.12.15
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_Node_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
Labels: build

#3703 2021 09 30 rename endpoints
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  docs/oracle/oracle-server.md
Labels: refactor, oracle, oracleServer
