Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-07, with the labels that each got.

#3358 Fix most warnings in documentation code
  docs/chain/chain-query-api.md
  docs/chain/chain.md
  docs/chain/filter-sync.md
  docs/core/adding-spks.md
  docs/core/dlc.md
  docs/core/psbts.md
  docs/core/txbuilder.md
  docs/node/node-api.md
  docs/node/node.md
  docs/oracle-explorer-client/oracle-explorer-client.md
  docs/rpc/bitcoind.md
  docs/testkit/testkit.md
  docs/wallet/wallet-callbacks.md
  docs/wallet/wallet-rescan.md
  docs/wallet/wallet-sync.md
Labels: documentation

#3355 Upgrade website dependencies
  website/yarn.lock
Labels: documentation

#3360 Set default neutrino peer based on network
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
Labels: bundle, config

#3353 Fix showing error popups in GUI
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/GUI.scala
Labels: bug, gui

#3359 Update sqlite-jdbc to 3.36.0.1
  project/Deps.scala
Labels: dependencies

#3364 Update sbt-scalajs-crossproject to 1.1.0
  project/plugins.sbt
Labels: dependencies

#3367 Add secp256k1jni tests to Mac & Windows CI
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/Windows.yml
Labels: CI, secp256k1

#3356 Create and implement OrderedAnnouncements type
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractOraclePairTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCTemplate.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/OrderedAnnouncements.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: core

#3351 Add docs for backing up the wallet
  docs/getting-started.md
  docs/wallet/backups.md
  website/i18n/en.json
  website/sidebars.json
  website/static/img/doc-imgs/backup-gui.png
  website/static/img/doc-imgs/github-artifacts.png
Labels: documentation, wallet

#3369 Update postgresql to 42.2.23
  project/Deps.scala
Labels: dependencies

#3368 Set sync height on new wallet
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: app server, bitcoind-rpc

#3088 Add test for ZMQ Polling backend
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindZMQBackendTest.scala
Labels: tests, wallet

#3362 Get both bundle and app server logging working
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/util/BitcoinSAppJFX3.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-routes/src/main/scala/org/bitcoins/server/util/BitcoinSApp.scala
  app/server-test/src/test/scala/org/bitcoins/server/LogLocationTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  db-commons-test/src/test/scala/org/bitcoins/db/util/ServerArgParserTest.scala
  db-commons/src/main/scala/org/bitcoins/db/util/DatadirParser.scala
  db-commons/src/main/scala/org/bitcoins/db/util/DatadirUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/util/ServerArgParser.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: app server, bundle, config, logging

#3370 Export Result and Save Backup handle no file selection
  app/gui/src/main/scala/org/bitcoins/gui/AppMenuBar.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
Labels: gui

#3346 Add first draft for release notes for 1.7
  release-notes/release-notes-1.7.0.md
Labels: documentation, release

#3376 Show error on SignedDigit contract
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
Labels: gui

#3377 Use Wallet's transactionDAO instead of creating a copy
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: wallet

#3373 1.7.0 version of website
  website/i18n/en.json
  website/versions.json
Labels: documentation

#3379 Add missing website docs
  website/versioned_docs/version-1.7.0/applications/server.md
  website/versioned_docs/version-1.7.0/chain/chain-query-api.md
  website/versioned_docs/version-1.7.0/config/configuration.md
  website/versioned_docs/version-1.7.0/core/addresses.md
  website/versioned_docs/version-1.7.0/core/core-intro.md
  website/versioned_docs/version-1.7.0/core/dlc.md
  website/versioned_docs/version-1.7.0/core/hd-keys.md
  website/versioned_docs/version-1.7.0/core/txbuilder.md
  website/versioned_docs/version-1.7.0/crypto/sign.md
  website/versioned_docs/version-1.7.0/getting-setup.md
  website/versioned_docs/version-1.7.0/getting-started.md
  website/versioned_docs/version-1.7.0/key-manager/key-manager.md
  website/versioned_docs/version-1.7.0/node/node.md
  website/versioned_docs/version-1.7.0/oracle/oracle-server.md
  website/versioned_docs/version-1.7.0/rpc/bitcoind.md
  website/versioned_docs/version-1.7.0/rpc/lnd.md
  website/versioned_docs/version-1.7.0/secp256k1/secp256k1.md
  website/versioned_docs/version-1.7.0/testkit/testkit.md
  website/versioned_docs/version-1.7.0/wallet/backups.md
  website/versioned_docs/version-1.7.0/wallet/dlc.md
  website/versioned_docs/version-1.7.0/wallet/wallet-rpc.md
  website/versioned_sidebars/version-1.7.0-sidebars.json
Labels: documentation

#3380 Add missing release webhook on the release.yml file
  .github/workflows/release.yml
Labels: build

#3385 Update path to secp256k1 library in docs fixes 3382
  docs/secp256k1/add-to-jni.md
Labels: documentation

#3387 Update scala-collection-compat to 2.5.0
  project/Deps.scala
Labels: dependencies

#3384 Update user agent
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  project/CommonSettings.scala
Labels: node

#3386 Update sbt-scalafmt to 2.4.3
  project/plugins.sbt
Labels: dependencies

#3388 Implement logic to automatically attach deb,dmg,msi installers tag
  .github/workflows/release.yml
Labels: build

#3381 Add connection indicator to GUI
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
Labels: gui

#3390 Update .gitmodules
  .gitmodules
Labels: build

#3391 Update sbt to 1.5.5
  project/build.properties
Labels: dependencies

#3392 Update scala-async to 1.0.0
  project/Deps.scala
Labels: dependencies

#3311 Tor support for P2P
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/NetworkResult.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  build.sbt
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
  docs/node/node.md
  docs/node/tor.md
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/models/Peer.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/fixture/NodeConnectedWithBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: node, tor

#3411 Disallow calling addDLCSigs as Initiator
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc, wallet

#3409 Add network selection combobox for Neutrino
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
Labels: gui

#3400 Pretty print PnL in table view
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
Labels: gui

#3413 2021 07 15 dlc oracle pg
  .github/workflows/PostgresTests.yml
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/StringGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleFixture.scala
Labels: oracle, postgres

#3419 Update metrics-core to 4.2.3
  project/Deps.scala
Labels: dependencies

#3421 Add ability to configure postgres database backends for test cases
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
Labels: testkit

#3407 Implement init message from BOLT 1
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/LnMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/BigSizeUInt.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/LnMessageGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: core

#3396 SOCKS5 client transport
  project/Deps.scala
  tor-test/src/test/scala/org/bitcoins/tor/Socks5ClientTransportSpec.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5ClientTransport.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: tor

#3423 Hidden service setup helper
  tor/src/main/scala/org/bitcoins/tor/TorController.scala
  tor/src/main/scala/org/bitcoins/tor/TorProtocolHandler.scala
Labels: tor

#3426 Fix bug where we couldn't execute a DLC twice
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc, wallet

#3427 Update slf4j-api to 1.7.32
  project/Deps.scala
Labels: dependencies

#3430 Add nonces to error message for easier debugging
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: oracle, security

#3432 Add large digits test in DLCOracle
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
Labels: oracle

#3434 Fix typo in DLCOracle
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: oracle

#3433 Use AtomicInteger for keyIndex in DLCOracle
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: bug, oracle, security

#3401 [WIP] Adding multi-peer support
  .idea/.gitignore
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  docs/node/node.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/util/BitcoinSNodeUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/fixture/NodeConnectedWithBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: enhancement, node

#3435 Update LND to v0.13.1-beta
  docs/rpc/lnd.md
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/rpc.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3438 Move DLCWalletApi to core module
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/DLCDb.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/accounting/DLCAccountingDbs.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAnnouncementDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCFundingInputDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigsDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: core, dlc, wallet

#3437 Give TLVs subtypes, add LnMessage utilities
  core/src/main/scala/org/bitcoins/core/protocol/tlv/LnMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: core

#3439 Update sbt-mdoc to 2.2.22
  project/plugins.sbt
Labels: dependencies

#3441 Add test cases for DLCOracleAppConfig
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/db/RValueDb.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfigTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleAppConfigFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/oracle/OracleTestUtil.scala
Labels: oracle

#3429 Implemented the ability to fetch unconfirmed transactions
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerNeutrinoNodesTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: node, wallet

#3449 Refactor DLCOracle construction to be more safe
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
Labels: oracle, refactor

#3446 Multi peer: initialization with tests
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: node

#3452 Update logback-classic to 1.2.5
  project/Deps.scala
Labels: dependencies

#3455 Update akka-http, akka-http-testkit, ... to 10.2.5
  project/Deps.scala
Labels: dependencies

#3453 Disallow signing your own DLCAccept
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc, wallet

#3457 Update janino to 3.1.6
  project/Deps.scala
Labels: dependencies

#3456 Dialogs to CliCommandProducers with buildView(), common fileChooser
  app/gui/src/main/resources/themes/dark-theme.css
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/BroadcastDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CliCommandProducer.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/util/GUIUtil.scala
Labels: gui

#3454 Multi peer: Sync with random peer
  node-test/src/test/scala/org/bitcoins/node/NeutrinoUnsupportedPeerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerNeutrinoNodesTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
Labels: node
