Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-10, with the labels that each got.

#3704 Enable WAL mode for SQLite
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/SQLiteUtil.scala
Labels: database

#3707 Fixed splitIntoRanges bug for zig-zag payout curve
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/CETCalculator.scala
Labels: bug, core, dlc

#3701 2021 09 29 delete announcement
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  docs/oracle/oracle-server.md
Labels: enhancement, security, oracle, oracleServer

#3709 Update metrics-core to 4.2.4
  project/Deps.scala
Labels: dependencies

#3705 Update ConsoleCli endpoints, update docs
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  docs/oracle/oracle-election-example.md
  docs/oracle/oracle-price-example.md
  docs/oracle/oracle-server.md
Labels: cli

#3710 Add LndInstanceRemote
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRemoteClientTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/LndFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: config, lnd-rpc

#3712 createattesattion -> signenum
  docs/oracle/oracle-election-example.md
Labels: documentation

#3718 disable secp256k1 on native images so we don't run into linking errors
  .github/workflows/native.yml
Labels: cli, native-image

#3719 Actually validate master xpub on startup
  .github/workflows/native.yml
  app/oracle-server/src/main/resources/logback.xml
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfigTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
Labels: bug, oracle

#3717 Begin adding 1.8.0 release notes
  release-notes/release-notes-1.8.0.md
Labels: documentation

#3720 Update lnd to v0.13.3
  docs/rpc/lnd.md
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3721 Fix logical error on getunconfirmed balance for an account
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug, wallet

#3713 2021 10 02 create contract info
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/PicklerKeys.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/DLCRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  docs/applications/server.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/OracleTestUtil.scala
Labels: cli, app server

#3722 Update scalacheck-1-14 to 3.2.2.0
  project/Deps.scala
Labels: dependencies

#3716 2021 10 02 wallet election example
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  docs/wallet/wallet-election-example.md
  website/i18n/en.json
  website/sidebars.json
  website/yarn.lock
Labels: documentation

#3725 Fix settling section
  docs/wallet/wallet-election-example.md
Labels: documentation

#3784 Update postgresql to 42.3.1
  project/Deps.scala
Labels: dependencies

#3786 Expose MnemonicCode.toEntropy() and MnemonicCode.toEntropyWithChecksum
  core/src/main/scala/org/bitcoins/core/crypto/MnemonicCode.scala
Labels: core
