Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-04, with the labels that each got.

#2843 Update scalatest to 3.2.7
  project/Deps.scala
Labels: dependencies

#2845 Update gitignore file with recommendations from unidoc
  .gitignore
Labels: git

#2838 Implement Oracle Explorer Client
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  build.sbt
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/env/ExplorerEnv.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/model/CreateAnnouncementExplorer.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/model/CreateAttestations.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/model/SbAnnouncementEvent.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/picklers/ExplorerPicklers.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/client/SbExplorerClientTest.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/env/ExplorerEnvTest.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/model/SbOracleEventExplorerTest.scala
  project/Deps.scala
Labels: explorer-client

#2846 Rework the website scaladoc aggregation and website
  bitcoin-s-docs/docs.sbt
  build.sbt
  website/static/api/.gitkeep
Labels: documentation

#2848 Update sourcecode to 0.2.5
  project/Deps.scala
Labels: dependencies

#2849 Enable publishing of scalajs artifacts
  build.sbt
Labels: build, core, crypto, scalajs

#2851 Add ability to delete Oracle signatures
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: oracle

#2853 2021 04 02 fix missing plugin
  build.sbt
Labels: build, core

#2852 Update javafx-base, javafx-controls, ... to 17-ea+6
  project/Deps.scala
Labels: dependencies

#2836 Inital LND rpc with some tests
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/lnd/LndModels.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/NativeProcessFactory.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/api/commons/ConfigFactory.scala
  core/src/main/scala/org/bitcoins/core/api/commons/InstanceFactory.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/EclairInstance.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/rpc.proto
  lnd-rpc/src/main/protobuf/signer.proto
  lnd-rpc/src/main/protobuf/walletkit.proto
  lnd-rpc/src/main/protobuf/walletunlocker.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LogLevel.scala
  project/Deps.scala
  project/TaskKeys.scala
  project/plugins.sbt
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/LndFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  zmq/src/main/scala/org/bitcoins/zmq/ZMQSubscriber.scala
  zmq/src/test/scala/org/bitcoins/zmq/ZMQSubscriberTest.scala
Labels: lnd-rpc

#2854 Update sbt to 1.5.0
  project/build.properties
Labels: build, dependencies

#2855 Have BitcoindV21RpcClientTest wait for indexes to sync
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v21/BitcoindV21RpcClientTest.scala
Labels: bitcoind-rpc, tests

#2858 Add sendouputs function to lnd rpc
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#2862 Update scala-java-time to 2.2.1
  project/Deps.scala
Labels: dependencies

#2857 Fix build warnings that came with sbt 1.5.0
  app/gui/gui.sbt
  bitcoin-s-docs/docs.sbt
  build.sbt
  core-test/build.sbt
  crypto-test/crypto-test.sbt
  inThisBuild.sbt
  project/CommonSettings.scala
Labels: build

#2861 Add helper functions for hashing annoucements for SbExplorerClient
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/model/CreateAttestations.scala
Labels: explorer-client

#2864 Fix parsing comments in LndConfig
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
Labels: lnd-rpc

#2866 Rework oracle explorer client to use new api paths
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
Labels: explorer-client

#2711 Wallet Rebroadcast Transactions thread
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeApi.scala
  docs/config/configuration.md
  docs/node/node-api.md
  docs/wallet/wallet.md
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet

#2847 Initial DLC Templates
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractDescriptorTemplate.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCTemplate.scala
Labels: dlc

#2868 Add website url to ExplorerEnv
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/env/ExplorerEnv.scala
Labels: explorer-client

#2877 Update metrics-core to 4.1.19
  project/Deps.scala
Labels: dependencies

#2881 Add testkit-core.md
  docs/testkit/testkit-core.md
  docs/testkit/testkit.md
  website/sidebars.json
Labels: documentation

#2879 2021 04 07 issue 2875
  build.sbt
  docs/oracle-explorer-client/oracle-explorer-client.md
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/client/SbExplorerClientTest.scala
  website/sidebars.json
Labels: explorer-client

#2872 2021 04 07 first 0.6 release notes
  release-notes/release-notes-v0.6.0.md
Labels: documentation

#2878 Update akka-actor, akka-discovery, ... to 2.6.14
  project/Deps.scala
Labels: dependencies

#2884 Bump website dependencies by running yarn update
  website/i18n/en.json
  website/yarn.lock
Labels: documentation

#2880 Add docs for using CachedBitcoind
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  docs/testkit/testkit.md
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
Labels: documentation

#2886 Implement BIP32Path.fromHardenedString().
  core-test/src/test/scala/org/bitcoins/core/crypto/bip32/BIP32PathTest.scala
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: core, oracle

#2888 Bump hikari logging interval to 10 minutes
  app/oracle-server/src/main/resources/reference.conf
  app/server/src/main/resources/reference.conf
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
Labels: config

#2890 Collapose optional sections on getting-setup.md
  docs/getting-setup.md
  docs/getting-started.md
Labels: documentation

#2896 Lnd rpc docs
  docs/rpc/lnd.md
  docs/rpc/rpc-clients-intro.md
  website/i18n/en.json
  website/sidebars.json
Labels: documentation, lnd-rpc

#2895 Fix conversion from sats/vb to sats/kw
  core-test/src/test/scala/org/bitcoins/core/wallet/fee/FeeUnitTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
Labels: bug, core

#2899 Fix lnd build warning
  lnd-rpc/lnd-rpc.sbt
Labels: build, lnd-rpc

#2897 Fix ZMQ Config with bitcoind backend
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/ZmqConfig.scala
  docs/config/configuration.md
  docs/getting-setup.md
Labels: app server, bug, config, zmq

#2900 Cache fee rate & remove DLC locktime for GUI
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
Labels: dlc, gui

#2905 Allow for remote bitcoind backend
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
Labels: app server, bitcoind-rpc, config

#2902 Allow executing a losing DLC
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc, wallet

#2901 Remove confusing items from DLC Table view
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: dlc, gui

#2908 Add timeouts to our CI workflows
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  .github/workflows/docker-publish.yml
  .github/workflows/native.yml
  .github/workflows/release.yml
Labels: CI

#2907 Update breeze-viz to 1.2
  project/Deps.scala
Labels: dependencies

#2912 2021 04 17 spendinfodb invariant
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  .github/workflows/docker-publish.yml
  .github/workflows/native.yml
  .github/workflows/release.yml
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet

#2911 Update javafx-base, javafx-controls, ... to 17-ea+7
  project/Deps.scala
Labels: dependencies

#2914 2021 04 18 wallet received txo state
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: core, wallet

#2921 2021 04 19 Cleanup after ourselves in postgres tests
  async-utils/src/main/scala/org/bitcoins/asyncutil/AsyncUtil.scala
  build.sbt
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: tests, wallet

#2916 2021 04 18 Use akka streams in BitcoindRpcBackendUtil.syncWalletToBitcoind
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  project/Deps.scala
Labels: app server

#2918 Implement workaround for spendinginfodb by rescanning to find missing spendingTxId
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
Labels: wallet

#2928 Update sourcecode to 0.2.6
  project/Deps.scala
Labels: dependencies

#2927 2021 04 19 Zip Bitcoin-s datadir
  app-commons/src/main/scala/org/bitcoins/commons/file/FileUtil.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: app server, app-commons

#2931 Reduce number of threads in postgres connection pool for tests
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: postgres, testkit

#2926 Use filters for bitcoind backend syncing if available
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: app server, bitcoind-rpc

#2932 Add test for tx that doesn't originate from wallet
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet

#2930 Update sbt-mdoc to 2.2.20
  project/plugins.sbt
Labels: dependencies

#2919 2021 04 18 Reset txo state when overwriting spendingTxId
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#2933 Move wallet scheduler into WalletAppConfig
  db-commons/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet

#2937 Update scalatest + scodec deps
  project/Deps.scala
Labels: dependencies

#2939 Call .hex on all txIds and blockhashes in logs for TxProcessing
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet

#2943 Fix missing super.stop() to shutdown DbAppConfig db connection pool
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BitcoindChainHandlerViaZmqTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BlockchainTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/DisconnectedPeerTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAOTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainDbUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/CachedAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
Labels: chain, node

#2950 Updated links in adaptor signature doc
  docs/crypto/adaptor-signatures.md
Labels: crypto, documentation

#2945 Update postgresql to 42.2.20
  project/Deps.scala
Labels: dependencies

#2946 Fix missing teardown code for MultiWalletRpcTest
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
Labels: bitcoind-rpc

#2959 Add GetTransactions funciton to lnd
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/lnd/LndModels.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#2957 2021 04 23 issue Move rebroadcast scheduling into WalletAppConfig
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: refactor, wallet

#2961 2021 04 24 bitcoin s scripts
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ConditionalScriptPubKeyTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
Labels: scripts

#2941 Update scala-java-time to 2.2.2
  project/Deps.scala
Labels: dependencies

#2942 Update scalafx to 16.0.0-R22
  project/Deps.scala
Labels: dependencies

#2969 Add get oracle name to explorer client
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/model/Oracle.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/picklers/ExplorerPicklers.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/client/SbExplorerClientTest.scala
Labels: explorer-client

#2968 Fix ExplorerEnv from string
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/env/ExplorerEnv.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/env/ExplorerEnvTest.scala
Labels: bug, explorer-client

#2971 Update sbt to 1.5.1
  project/build.properties
Labels: dependencies

#2970 Allow `HttpFeeRateProvider` to have a specified return type
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitGoFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitcoinerLiveFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/MempoolSpaceProvider.scala
Labels: fee-provider

#2958 Update metrics-core to 4.1.20
  project/Deps.scala
Labels: dependencies

#2952 Get FilterSync test working with cached bitcoind in chainTest project
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/FilterSyncTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterSync.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/FilterWithHeaderHash.scala
  docs/chain/filter-sync.md
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/BitcoindChainHandlerViaRpc.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/BitcoindV19ChainHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainWithBitcoindUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
Labels: chain, testkit

#2973 Name each database connection pool uniquely
  db-commons/src/main/resources/reference.conf
Labels: config, database

#2972 Don't wrap pg.close() in a Try in EmbeddedPg
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
Labels: postgres, testkit

#2963 Rework P2SHScriptSignature.isStandardNonP2SH()
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ConditionalScriptPubKeyTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
Labels: bug, core

#2975 Call WalletAppConfig.stop() when destroying wallet in test fixtures
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: bug, wallet

#2938 Peer Message Receiver Refactor
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  docs/node/node.md
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/CachedAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#2974 Reduce pg connections from 300 -> 50 in test cases
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/client/SbExplorerClientTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
Labels: testkit

#2976 Use release flag rather than target flag as that is what is intended
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  project/CommonSettings.scala
Labels: build

#2982 Update sbt-scoverage to 1.7.0
  project/plugins.sbt
Labels: dependencies

#2985 Make sure call ci matrixs run on java11
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  .github/workflows/native.yml
  .github/workflows/release.yml
Labels: CI

#2983 Add estimate fee cli command
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  docs/applications/server.md
Labels: cli

#2980 2021 04 27 wallet fixtures config
  docs/wallet/wallet-rescan.md
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/DisconnectedPeerTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAOTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletAppConfigWithBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletAppConfigWithBitcoindFixtures.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/MultiWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
Labels: testkit

#2984 Fix lockunspent RPC
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/applications/server.md
  docs/wallet/wallet-rpc.md
  website/sidebars.json
Labels: bug, cli

#2509 Upgrade to scalac 2.12.13
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  inThisBuild.sbt
  secp256k1jni/secp256k1jni.sbt
Labels: build

#2996 Add Lnd macaroon to GRPC client settings
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#2986 Refactor BitcoinSRunner to use StartStop[Async]
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-test/src/test/scala/org/bitcoins/server/ServerRunTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: app server

#2978 Update javafx-base, javafx-controls, ... to 17-ea+8
  project/Deps.scala
Labels: dependencies

#2997 Fix database pool name for postgres database connection pools
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: testkit
