Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-02, with the labels that each got.

#2597 Update scala-collection-compat to 2.4.1
  project/Deps.scala
Labels: dependencies

#2604 Rename createevent rpc to createenumevent
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  docs/oracle/oracle-server.md
Labels: cli, oracleServer

#2603 Wallet name in walletinfo
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: cli, wallet

#2601 Add enum oracle example
  docs/oracle/oracle-election-example.md
  website/sidebars.json
Labels: documentation, oracleServer

#2591 Add documentation to website for bitcoin-s-cli native image
  docs/applications/cli.md
Labels: documentation, native-image

#2599 Rename PayoutCurveComponent -> PayoutCurveInterval, rename CETRange t…
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
Labels: dlc, refactor

#2598 Update sbt to 1.4.7
  project/build.properties
Labels: dependencies

#2605 Fix rescans with bitcoind backend
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/BitcoindV21RpcClient.scala
Labels: bitcoind-rpc, bug

#2543 Update dlc before release
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPlotUtil.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AddSigsDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ExecuteDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitEnumContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitNumericContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCStatusTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractDescriptor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractDescriptorOraclePair.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/OracleInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/OracleOutcome.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/OracleSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/RoundingIntervals.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/DLCOutcomeType.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: dlc

#2606 Make contract info lazy so native image works
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: native-image

#2569 Hide chain api creation
  docs/wallet/wallet.md
Labels: documentation

#2607 Update website dependencies to address security warnings
  website/i18n/en.json
  website/yarn.lock
Labels: documentation, security

#2609 Fix compiler warning
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
Labels: core

#2612 Fix bestblockhash rpc call
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: app server, bug

#2552 DLC + Adaptor Docs
  docs/core/dlc.md
  docs/crypto/adaptor-signatures.md
  website/i18n/en.json
  website/sidebars.json
Labels: crypto, dlc, documentation

#2617 Reduce number of rows selected by best filter header/best filter query
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandlerCached.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
Labels: chain, optimization

#2620 Update chaindump
  docs/getting-setup.md
Labels: documentation

#2618 Oracle price example documentation
  docs/oracle/oracle-price-example.md
  website/sidebars.json
Labels: documentation

#2622 Tag 0.5.0 website
  website/versioned_docs/version-0.5.0/applications/cli.md
  website/versioned_docs/version-0.5.0/applications/gui.md
  website/versioned_docs/version-0.5.0/applications/server.md
  website/versioned_docs/version-0.5.0/bips.md
  website/versioned_docs/version-0.5.0/chain/chain-query-api.md
  website/versioned_docs/version-0.5.0/chain/chain.md
  website/versioned_docs/version-0.5.0/chain/filter-sync.md
  website/versioned_docs/version-0.5.0/config/configuration.md
  website/versioned_docs/version-0.5.0/contributing-website.md
  website/versioned_docs/version-0.5.0/contributing.md
  website/versioned_docs/version-0.5.0/core/adding-spks.md
  website/versioned_docs/version-0.5.0/core/addresses.md
  website/versioned_docs/version-0.5.0/core/core-intro.md
  website/versioned_docs/version-0.5.0/core/hd-keys.md
  website/versioned_docs/version-0.5.0/core/lightning-network.md
  website/versioned_docs/version-0.5.0/core/psbts.md
  website/versioned_docs/version-0.5.0/core/signing-transactions.md
  website/versioned_docs/version-0.5.0/core/txbuilder.md
  website/versioned_docs/version-0.5.0/crypto/crypto-intro.md
  website/versioned_docs/version-0.5.0/crypto/sign.md
  website/versioned_docs/version-0.5.0/fee-provider/fee-provider.md
  website/versioned_docs/version-0.5.0/getting-setup.md
  website/versioned_docs/version-0.5.0/getting-started.md
  website/versioned_docs/version-0.5.0/key-manager/key-manager.md
  website/versioned_docs/version-0.5.0/key-manager/server-key-manager.md
  website/versioned_docs/version-0.5.0/node/node-api.md
  website/versioned_docs/version-0.5.0/node/node.md
  website/versioned_docs/version-0.5.0/oracle/build-oracle-server.md
  website/versioned_docs/version-0.5.0/oracle/oracle-server.md
  website/versioned_docs/version-0.5.0/rpc/bitcoind.md
  website/versioned_docs/version-0.5.0/rpc/eclair.md
  website/versioned_docs/version-0.5.0/secp256k1/add-to-jni.md
  website/versioned_docs/version-0.5.0/secp256k1/secp256k1.md
  website/versioned_docs/version-0.5.0/testkit/testkit.md
  website/versioned_docs/version-0.5.0/wallet/address-tagging.md
  website/versioned_docs/version-0.5.0/wallet/dlc.md
  website/versioned_docs/version-0.5.0/wallet/wallet-callbacks.md
  website/versioned_docs/version-0.5.0/wallet/wallet-get-address.md
  website/versioned_docs/version-0.5.0/wallet/wallet-rescan.md
  website/versioned_docs/version-0.5.0/wallet/wallet-sync.md
  website/versioned_docs/version-0.5.0/wallet/wallet.md
  website/versioned_sidebars/version-0.5.0-sidebars.json
  website/versions.json
Labels: documentation, release

#2384 v0.5.0 release notes
  release-notes/release-notes-2217.md
  release-notes/release-notes-v0.5.0.md
Labels: documentation, release

#2623 Add missing oracle docs
  website/versioned_docs/version-0.5.0/oracle/oracle-election-example.md
  website/versioned_docs/version-0.5.0/oracle/oracle-price-example.md
Labels: documentation

#2624 Fix oracle docs for 0.5 website
  website/versioned_docs/version-0.5.0/oracle/oracle-election-example.md
  website/versioned_docs/version-0.5.0/oracle/oracle-price-example.md
Labels: documentation

#2621 Refactor split into ranges
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
Labels: dlc, refactor

#2537 DLC Linear Approx Util
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
Labels: dlc

#2309 Made CET Building and signing slightly more efficient
  dlc-test/src/test/scala/org/bitcoins/dlc/SetupDLCTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCCETBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCExecutor.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/SetupDLC.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/DLCTest.scala
Labels: dlc, refactor

#2628 Do cheap checks in predicates first before more expensive ones
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core, optimization, performance

#2627 Add number cache trait, use it in all number types (u8,u32,etc) and S…
  core-test/src/test/scala/org/bitcoins/core/script/constant/ScriptNumberUtilTest.scala
  core/src/main/scala/org/bitcoins/core/number/NumberCache.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/script/constant/Constants.scala
  core/src/main/scala/org/bitcoins/core/script/constant/ScriptNumberUtil.scala
Labels: core, optimization, performance

#2631 Update README to have correct latest version
  README.md
Labels: documentation

#2630 Don't publish website on adaptor-dlc branch
  .github/workflows/release.yml
Labels: CI

#2629 Create ScriptFactory.isValidAsm() to standardize how check validity o…
  core-test/src/test/scala/org/bitcoins/core/crypto/TxSigComponentTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptSignatureTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/UTXORecord.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptFactory.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  docs/core/adding-spks.md
Labels: core, refactor

#2632 Update sbt-mdoc to 2.2.17
  project/plugins.sbt
Labels: dependencies

#2633 Fix/typos
  README.md
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/CompactFilterHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/arithmetic/ArithmeticOperationsTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/constant/BytesToPushOntoStackFactoryTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/locktime/LockTimeInterpreterTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/BitcoinScriptUtilTest.scala
  core/src/main/scala/org/bitcoins/core/bloom/BloomFilter.scala
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/PartialMerkleTree.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTaggedFields.scala
  core/src/main/scala/org/bitcoins/core/script/arithmetic/ArithmeticInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LockTimeInterpreter.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/AesCryptTest.scala
  docs/getting-setup.md
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/MerkleBuffers.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletLogger.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  zmq/src/main/scala/org/bitcoins/zmq/ZMQSubscriber.scala
Labels: refactor

#2559 Update janino to 3.1.3
  project/Deps.scala
Labels: dependencies

#2643 2021 02 10 Website fixes
  docs/applications/cli.md
  docs/applications/server-systemd.md
  docs/applications/server.md
  docs/oracle/build-oracle-server.md
  docs/oracle/oracle-server.md
  website/i18n/en.json
  website/sidebars.json
  website/versioned_docs/version-0.5.0/applications/cli.md
  website/versioned_docs/version-0.5.0/applications/server-systemd.md
  website/versioned_docs/version-0.5.0/applications/server.md
  website/versioned_docs/version-0.5.0/config/configuration.md
  website/versioned_docs/version-0.5.0/core/adding-spks.md
  website/versioned_docs/version-0.5.0/core/addresses.md
  website/versioned_docs/version-0.5.0/core/dlc.md
  website/versioned_docs/version-0.5.0/core/hd-keys.md
  website/versioned_docs/version-0.5.0/core/txbuilder.md
  website/versioned_docs/version-0.5.0/crypto/adaptor-signatures.md
  website/versioned_docs/version-0.5.0/crypto/sign.md
  website/versioned_docs/version-0.5.0/getting-setup.md
  website/versioned_docs/version-0.5.0/getting-started.md
  website/versioned_docs/version-0.5.0/key-manager/key-manager.md
  website/versioned_docs/version-0.5.0/oracle/build-oracle-server.md
  website/versioned_docs/version-0.5.0/oracle/oracle-server.md
  website/versioned_docs/version-0.5.0/secp256k1/secp256k1.md
  website/versioned_docs/version-0.5.0/wallet/wallet.md
  website/versioned_sidebars/version-0.5.0-sidebars.json
Labels: documentation

#2657 Refactor HDCoinType to be ADT
  .gitignore
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoin.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoinType.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPathFactory.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: core, refactor

#2659 Use specific functions for Oracle Signing version
  core/src/main/scala/org/bitcoins/core/protocol/dlc/SigningVersion.scala
Labels: oracle

#2654 Update javafx-base, javafx-controls, ... to 16-ea+7
  project/Deps.scala
Labels: dependencies

#2658 CryptoRuntime abstraction
  crypto/src/main/scala/org/bitcoins/crypto/CryptoContext.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/JvmCryptoRuntime.scala
Labels: core, crypto, platforms, scalajs

#2661 Update sbt-bloop to 1.4.7
  project/plugins.sbt
Labels: dependencies

#2653 Give oracle server its own port
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/oracle-server/src/main/resources/reference.conf
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server/src/main/resources/reference.conf
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  docs/config/configuration.md
Labels: app server, oracleServer

#2662 Refactoring `chain`
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/AsyncUtil.scala
  chain/src/main/scala-2.12/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala-2.13/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/BaseBlockChain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/pow/Pow.scala
  core/src/main/scala/org/bitcoins/core/api/Callback.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainFixtureHelper.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: chain, refactor

#2642 Compute `sigPoint`s eagerly but asynchronously
  core/src/main/scala/org/bitcoins/core/protocol/dlc/OracleOutcome.scala
Labels: core, dlc, optimization

#2665 Optimized sigPoint computation to use non-custom secp functions
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
Labels: crypto, dlc, optimization

#2638 Modularize DLC Interface using companion objects
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/OracleOutcome.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCFeeTestUtil.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/SetupDLCTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTxTestVectorTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCCETBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCFundingTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCRefundTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCExecutor.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCOutcome.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/SetupDLC.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/verify/DLCSignatureVerifier.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: dlc, refactor

#2666 Fix docs to use correct oracle server port
  docs/config/configuration.md
  docs/oracle/oracle-server.md
Labels: documentation, oracleServer

#2669 Update scalacheck to 1.15.3
  project/Deps.scala
Labels: dependencies

#2671 Update scodec-bits to 1.1.24
  project/Deps.scala
Labels: dependencies

#2670 Update scala-collection-compat to 2.4.2
  project/Deps.scala
Labels: dependencies

#2674 Add --depth 100 restriction when cloning bitcoin-s repo to speed up c…
  docs/getting-setup.md
  docs/oracle/build-oracle-server.md
Labels: documentation

#2676 Update sbt-mdoc to 2.2.18
  project/plugins.sbt
Labels: dependencies

#2677 Update scalatest to 3.2.4
  project/Deps.scala
Labels: dependencies

#2668 Get basic docker image working with oracle server
  app/oracle-server/oracle-server.sbt
  app/oracle-server/src/main/resources/reference.conf
  app/oracle-server/src/universal/docker-application.conf
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  build.sbt
  docs/oracle/build-oracle-server.md
Labels: build, docker, oracleServer

#2681 Make sure dynver versions use '-' instead of '+'
  inThisBuild.sbt
Labels: build

#2667 Change oracle db to have its own directory
  build.sbt
  db-commons/src/main/resources/reference.conf
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  docs/config/configuration.md
  docs/oracle/oracle-price-example.md
Labels: oracle

#2673 2021 02 15 appserver docker
  app/oracle-server/oracle-server.sbt
  app/server/server.sbt
  app/server/src/universal/docker-application.conf
  build.sbt
  docs/applications/server.md
  docs/oracle/build-oracle-server.md
  project/CommonSettings.scala
Labels: app server, build, docker

#2686 Update postgresql to 42.2.19
  project/Deps.scala
Labels: dependencies

#2683 Update sbt-bloop to 1.4.8
  project/plugins.sbt
Labels: dependencies

#2684 Add github workflow steps to publish to dockerhub
  .github/workflows/docker-publish.yml
  project/CommonSettings.scala
Labels: build, docker

#2694 Set fetch-depth to 500 so we don't take forever to clone repo on ci
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Labels: build

#2695 Fix normalized string comparison
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: bug

#2696 Add guard for the case when listFiles returns null
  testkit/src/main/scala/org/bitcoins/testkit/util/FileUtil.scala
Labels: bug, testkit

#2693 2021 02 19 dockerhub docs
  README.md
  docs/applications/server.md
  docs/getting-started.md
  docs/oracle/build-oracle-server.md
Labels: documentation

#2687 Update scalatest to 3.2.5
  project/Deps.scala
Labels: dependencies

#2702 Cache httpClient in bitcoind, rename Test.akkaHttp -> Test.akkaHttpTe…
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc

#2698 Decrease false positive rate in BloomFilterTest to avoid spurious CI failures
  core-test/src/test/scala/org/bitcoins/core/bloom/BloomFilterTest.scala
Labels: core

#2697 Bump the timeout for address queue exception test to make sure we get…
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
Labels: wallet

#2703 2021 02 20 number byte representation
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
Labels: core, optimization, performance

#2704 Allow implicit execution context to be passed in to RescanHandling.fi…
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: wallet

#2706 Reduce usage of .findAll() (doesn't scale for large dbs). Now pass in…
  wallet-test/src/test/scala/org/bitcoins/wallet/models/ScriptPubKeyDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
Labels: optimization, wallet

#2709 Workaround for issue 2708
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Labels: build, docker

#2707 2021 02 21 cheap redeemscript check
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
Labels: core, optimization, performance

#2656 Simplify oracle server RPC api
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server-test/oracle-server-test.sbt
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/ServerJsonModels.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCAttestationType.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/db/EventDb.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/db/EventOutcomeDb.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/db/RValueDb.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/TimeUtil.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/AttestationVerificationTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/RValueDAOTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
  docs/oracle/oracle-election-example.md
  docs/oracle/oracle-price-example.md
  docs/oracle/oracle-server.md
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: oracleServer

#2714 Update akka-actor, akka-slf4j, akka-stream, ... to 2.6.13
  project/Deps.scala
Labels: dependencies

#2713 Upgrade scalac to 2.13.5
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/Windows.yml
  .github/workflows/docker-publish.yml
  inThisBuild.sbt
Labels: build, scala

#2705 Reintroduce parallelism in transaction processing
  core/src/main/scala/org/bitcoins/core/number/NumberCache.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: performance, wallet

#2716 Update metrics-core to 4.1.18
  project/Deps.scala
Labels: dependencies

#2720 Make sure DLCOracleAppConfig creates the oracle directory
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
Labels: bug, oracle

#2715 Use Sign instead of ECPrivateKey in DLCTxSigner
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtSign.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCExecutor.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
Labels: dlc

#2723 Update akka-http, akka-http-testkit to 10.1.14
  project/Deps.scala
Labels: dependencies

#2725 2021 02 25 async utils
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  async-utils/src/main/scala/org/bitcoins/asyncutil/AsyncUtil.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/RpcUtil.scala
  build.sbt
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  testkit/src/main/scala/org/bitcoins/testkit/async/TestAsyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/TestRpcUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
Labels: asyncutil, build, refactor

#2718 Rework docker configuration to pass in a custom configuration file
  app/oracle-server/oracle-server.sbt
  app/server/server.sbt
  docs/applications/server.md
  docs/oracle/build-oracle-server.md
  project/CommonSettings.scala
Labels: build, docker

#2722 Correct log location and logs for oracle server
  app/oracle-server-test/src/test/scala/org/bitcoins/oracle/server/OracleRoutesSpec.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
Labels: bug, oracleServer

#2719 Refactor crypto module to be compatible with Scala.js part 1
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/gcs/GCSTest.scala
  core-test/src/test/scala/org/bitcoins/core/gcs/GolombFilterTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/gcs/BlockFilter.scala
  core/src/main/scala/org/bitcoins/core/gcs/GCS.scala
  core/src/main/scala/org/bitcoins/core/gcs/GolombFilter.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/BIP340Test.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECDigitalSignatureTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/Buffer.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/CryptoRuntimeFactory.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/ECDSA.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/Hash160.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/Hasher.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/Random.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/RipeMd160.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/SHA256.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/CryptoParams.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/CryptoRuntimeFactory.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/DERSignatureUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/HMacDSAKCalculatorWithEntropy.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/crypto.sbt
  crypto/src/main/scala/org/bitcoins/crypto/AesCrypt.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoContext.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECAdaptorSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/FieldElement.scala
  crypto/src/main/scala/org/bitcoins/crypto/JvmCryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/PBKDF2.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrNonce.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/SipHashKey.scala
  docs/secp256k1/secp256k1.md
  project/plugins.sbt
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
Labels: build, crypto, platforms, scalajs

#2728 Update javafx-base, javafx-controls, ... to 17-ea+2
  project/Deps.scala
Labels: dependencies

#2730 2021 02 27 dersignatureutil mv
  .github/workflows/Linux_2.12_App_Chain_Node_Core_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Node_Core_Tests.yml
  bitcoin-s-docs/docs.sbt
  bitcoind-rpc-test/bitcoind-rpc-test.sbt
  build.sbt
  core-test/build.sbt
  core/core.sbt
  crypto-test/crypto-test.sbt
  crypto-test/src/test/scala/org/bitcoins/crypto/FieldElementTest.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleCryptoParams.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/CryptoParams.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/HMacDSAKCalculatorWithEntropy.scala
  crypto/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleCryptoParamsTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoParams.scala
  crypto/src/main/scala/org/bitcoins/crypto/DERSignatureUtil.scala
  project/Deps.scala
  testkit/build.sbt
Labels: build, crypto
