Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-01, with the labels that each got.

#2443 Rework BlockHeaderDAO.chainTips into two methods: BlockHeaderDAO.{get…
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/models/ReorgFixture.scala
Labels: chain, enhancement

#2456 Remove extra logback files
  core/src/test/resources/logback.xml
  node-test/src/test/resources/logback-test.xml
  testkit/src/main/resources/logback-test.xml
Labels: logging

#2454 2020 12 18 enable lint options
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitNumericContractDialog.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  build.sbt
  core-test/src/test/scala/org/bitcoins/core/script/interpreter/testprotocol/CoreTestCaseProtocol.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPath.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/util/Base58.scala
  crypto/src/main/scala/org/bitcoins/crypto/AesCrypt.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  project/CommonSettings.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/CryptoGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/PSBTGenerators.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
Labels: build

#2466 Fix docs sidebar
  docs/key-manager/server-key-manager.md
  website/i18n/en.json
Labels: documentation

#2463 Request filters after processing
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#2459 Simplify DBConfig Test to fix failures
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
Labels: bug, database, tests

#2464 Make KeyManager return better error messages
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
Labels: key-manager

#2469 Remove -Xfatal-warnings flag for tests
  project/CommonSettings.scala
Labels: build

#2467 Version Number in logs & Cli Command
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  core/src/main/scala/org/bitcoins/core/util/EnvUtil.scala
Labels: cli, logging

#2465 Update DLC Oracle Signing Algo
  core/src/main/scala/org/bitcoins/core/protocol/dlc/SigningVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/AttestationVerificationTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
Labels: oracle

#2474 Update LICENSE year
  LICENSE
Labels: documentation

#2468 Update play-json to 2.9.2
  project/Deps.scala
Labels: dependencies

#2478 Rename v0.4 version to 0.4.0 in docs
  website/versioned_docs/version-0.4.0/applications/cli.md
  website/versioned_docs/version-0.4.0/applications/configuration.md
  website/versioned_docs/version-0.4.0/applications/dlc.md
  website/versioned_docs/version-0.4.0/applications/gui.md
  website/versioned_docs/version-0.4.0/applications/node.md
  website/versioned_docs/version-0.4.0/applications/server.md
  website/versioned_docs/version-0.4.0/applications/wallet.md
  website/versioned_docs/version-0.4.0/chain/chain-query-api.md
  website/versioned_docs/version-0.4.0/chain/chain.md
  website/versioned_docs/version-0.4.0/chain/filter-sync.md
  website/versioned_docs/version-0.4.0/config/configuration.md
  website/versioned_docs/version-0.4.0/contributing-website.md
  website/versioned_docs/version-0.4.0/contributing.md
  website/versioned_docs/version-0.4.0/core/adding-spks.md
  website/versioned_docs/version-0.4.0/core/addresses.md
  website/versioned_docs/version-0.4.0/core/core-intro.md
  website/versioned_docs/version-0.4.0/core/hd-keys.md
  website/versioned_docs/version-0.4.0/core/lightning-network.md
  website/versioned_docs/version-0.4.0/core/psbts.md
  website/versioned_docs/version-0.4.0/core/sign.md
  website/versioned_docs/version-0.4.0/core/signing-transactions.md
  website/versioned_docs/version-0.4.0/core/txbuilder.md
  website/versioned_docs/version-0.4.0/crypto/crypto-intro.md
  website/versioned_docs/version-0.4.0/crypto/sign.md
  website/versioned_docs/version-0.4.0/fee-provider/fee-provider.md
  website/versioned_docs/version-0.4.0/getting-setup.md
  website/versioned_docs/version-0.4.0/getting-started.md
  website/versioned_docs/version-0.4.0/key-manager/key-manager.md
  website/versioned_docs/version-0.4.0/node/node-api.md
  website/versioned_docs/version-0.4.0/node/node.md
  website/versioned_docs/version-0.4.0/rpc/eclair.md
  website/versioned_docs/version-0.4.0/secp256k1/add-to-jni.md
  website/versioned_docs/version-0.4.0/secp256k1/secp256k1.md
  website/versioned_docs/version-0.4.0/security.md
  website/versioned_docs/version-0.4.0/testkit/testkit.md
  website/versioned_docs/version-0.4.0/wallet/address-tagging.md
  website/versioned_docs/version-0.4.0/wallet/chain-query-api.md
  website/versioned_docs/version-0.4.0/wallet/dlc.md
  website/versioned_docs/version-0.4.0/wallet/node-api.md
  website/versioned_docs/version-0.4.0/wallet/wallet-callbacks.md
  website/versioned_docs/version-0.4.0/wallet/wallet-get-address.md
  website/versioned_docs/version-0.4.0/wallet/wallet-rescan.md
  website/versioned_docs/version-0.4.0/wallet/wallet.md
  website/versioned_sidebars/version-0.4.0-sidebars.json
  website/versioned_sidebars/version-v0.4-sidebars.json
  website/versions.json
Labels: documentation

#2476 Remove callbacks param from DataMessageHandler & PeerMessageReceiver
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#2470 Modified rounding on DLCPayoutCurve interpolation to match spec
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
Labels: core, dlc

#2473 Add download link to navbar & downloads page
  website/i18n/en.json
  website/pages/en/download.js
  website/siteConfig.js
Labels: documentation

#2479 Rename wallet.getSyncHeight() -> wallet.getSyncDescriptorOpt().
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/WalletStateDescriptorDAO.scala
Labels: refactor, wallet

#2483 Bump size of data for AesCryptTest
  crypto-test/src/test/scala/org/bitcoins/crypto/AesCryptTest.scala
Labels: bug, tests

#2471 Limit bech32 addresses to segwitv0
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Spec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Test.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/AddressGenerator.scala
Labels: core

#2377 Update Contract Info with RoundingIntervals
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitNumericContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/RoundingIntervals.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_message_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc

#2490 Add officially supported version of bitcoind by eclair, also add the …
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: eclair-rpc, testkit

#2491 Make allFactories lazy so we don't hit NPE exceptions
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: bug, core

#2461 2021 01 02 issue 2457
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/sync/WalletSyncTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/sync/WalletSync.scala
Labels: neutrino, node, refactor, testkit

#2495 Add createmultisig cli command
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/hd/AddressType.scala
  docs/applications/server.md
Labels: app server, cli

#2489 Update javafx-base, javafx-controls, ... to 16-ea+6
  project/Deps.scala
Labels: dependencies

#2499 add Opt/T fromBytes/fromHex methods to Factory so we have the same basic methods as StringFactory
  crypto/src/main/scala/org/bitcoins/crypto/Factory.scala
Labels: core, enhancement

#2498 Clean up fixture shutdown code a bit to try and see if this resolves …
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeFundedWalletBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: testkit, tests

#2460 Recover errors in DataMessageHandler
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node, security

#2492 Update scalafx to 15.0.1-R21
  project/Deps.scala
Labels: dependencies

#2480 Implement oracle signing algo for client side
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCStatus.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiNonceExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_message_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc, wallet

#2390 Small DLC GUI touchups
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AddSigsDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
Labels: dlc, gui

#2488 Restructure Contract and Oracle Info
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitEnumContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/InitNumericContractDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/OfferDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ViewDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCStatusTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientIntegrationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCClientTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiNonceExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V2__add_outcome.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V1__dlc_db_baseline.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V2__add_outcome.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletApi.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDb.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCCETBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/builder/DLCTxBuilder.scala
  dlc/src/main/scala/org/bitcoins/dlc/execution/DLCExecutor.scala
  dlc/src/main/scala/org/bitcoins/dlc/sign/DLCTxSigner.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCParsingTestVectorGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestUtil.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_message_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_test.json
  dlc/src/main/scala/org/bitcoins/dlc/testgen/dlc_tx_test.json
  dlc/src/main/scala/org/bitcoins/dlc/verify/DLCSignatureVerifier.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc

#2503 2021 01 11 issue 2493
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/pow/BitcoinPowTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/validation/TipValidationTest.scala
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/DisconnectedPeerTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAOTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainDbUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/CachedAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
Labels: chain, node, testkit, wallet

#2500 2021 01 09 issue 2496
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinSLogger.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
Labels: bug, logging

#2436 Make ChainApi.processHeaders() return a failed future in the case we …
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
Labels: bug, chain

#2494 Add new sbt-native-image plugin that helps generate a correct native …
  .github/workflows/native.yml
  app/cli/cli.sbt
  app/oracle-server/oracle-server.sbt
  app/server/server.sbt
  project/plugins.sbt
Labels: build, native-image

#2511 Update sbt-native-image to 0.3.0
  project/plugins.sbt
Labels: dependencies

#2514 Touch up bitcoind docs
  docs/rpc/bitcoind.md
Labels: documentation

#2453 Use mainnet for default server
  app/server-test/src/test/resources/reference.conf
  app/server/src/main/resources/reference.conf
Labels: release

#2522 Remove WalletSync.sync() -> WalletSync.syncFullBlocks()
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/sync/WalletSyncTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/sync/WalletSync.scala
Labels: refactor, wallet

#2518 2021 01 15 dlc refactors
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/Indexed.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
Labels: core, dlc, refactor

#2524 Refactor test case to be more idiomatic in hopes this kills CI failures
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: bug, neutrino, node

#2523 Update native-lib-loader to 2.3.5
  project/Deps.scala
Labels: dependencies

#2515 Small cleanups on the chain docs
  docs/chain/filter-sync.md
Labels: documentation

#2536 Add unit test to make sure DataMessageHandler exception doesn't stop node
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
Labels: node, tests

#2533 Fix BitcoindV21RpcClient testkit errors
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, testkit

#2534 Uniform GUI denominations
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/SendDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
Labels: gui

#2539 Rescan/Restore wallet docs improvements
  docs/key-manager/server-key-manager.md
  docs/wallet/wallet-rescan.md
Labels: documentation

#2541 Update sbt-mdoc to 2.2.16
  project/plugins.sbt
Labels: dependencies

#2535 Create isChange function for wallet
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/AddressDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
Labels: wallet

#2547 Add whitepaper to website
  website/static/bitcoin.pdf
Labels: documentation

#2549 Add comment about using defaultAccountType
  docs/key-manager/server-key-manager.md
Labels: documentation, key-manager

#2521 Fix native CI workflow for different branches
  .github/workflows/native.yml
Labels: CI, bug

#2548 Default to native segwit wallet
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
Labels: config, wallet

#2542 Fix rpc bind address from config
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
Labels: app server, config

#2528 Clarify getting-setup.md -- make distinctions between optional steps …
  docs/getting-setup.md
Labels: documentation

#2517 Update akka-actor, akka-slf4j, akka-stream, ... to 2.6.11
  project/Deps.scala
Labels: dependencies

#2516 Implement OracleAttestmentV0TLV, save outcome to db
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/AttestationVerificationTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAOTest.scala
  dlc-oracle/src/main/resources/postgresql/oracle/migration/V4__add_outcome.sql
  dlc-oracle/src/main/resources/sqlite/oracle/migration/V4__add_outcome.sql
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/OracleEvent.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDb.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/TLVGen.scala
Labels: oracle

#2540 Fix rescan to fetch blocks during scan
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet

#2554 Optimize `node.start()` and fetching filter & filter header heights
  chain/src/main/resources/postgresql/chain/migration/V5__add_missing_filter_indexes.sql
  chain/src/main/resources/sqlite/chain/migration/V6__add_missing_filter_indexes.sql
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: chain, node

#2405 Bump Eclair version
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/eclair/EclairModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/channel/ShortChannelIdTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/channel/ShortChannelId.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/routing/LnRoute.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/routing/Route.scala
  docs/rpc/eclair.md
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/core/gen/ln/LnRouteGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  website/versioned_docs/version-0.4.0/rpc/eclair.md
Labels: eclair-rpc, enhancement

#2551 Updated DLC cli docs
  docs/wallet/dlc.md
Labels: documentation

#2546 Add walletinfo rpc
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/HDWalletApi.scala
  db-commons/src/main/scala/org/bitcoins/db/AppConfigFactory.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  docs/applications/server.md
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: cli, wallet

#2556 Fix all DAOs to use safeDatabase
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  node/src/main/scala/org/bitcoins/node/models/BroadcastAbleTransactionDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: database

#2557 Update sourcecode to 0.2.3
  project/Deps.scala
Labels: dependencies

#2561 2021 01 26 fix native image build
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: native-image

#2573 Update website deps
  website/yarn.lock
Labels: documentation

#2571 Bech32 address improvements
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Test.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/BtcHumanReadablePart.scala
  core/src/main/scala/org/bitcoins/core/util/Bech32.scala
Labels: core

#2575 Remove range event example from website docs
  docs/oracle/oracle-server.md
Labels: documentation

#2567 Add sync state to walletinfo
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/BlockSyncState.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet

#2576 Fix oracle cli to use announcements
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/ServerJsonModels.scala
  docs/oracle/oracle-server.md
Labels: cli, oracleServer

#2565 Add wallet sync documentation
  docs/applications/server.md
  docs/wallet/wallet-sync.md
  website/sidebars.json
Labels: documentation

#2578 2021 01 27 conectionpool
  app/oracle-server/src/main/resources/reference.conf
  app/server/src/main/resources/logback.xml
  app/server/src/main/resources/reference.conf
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/AppConfigTest.scala
  db-commons/src/main/resources/reference.conf
  db-commons/src/main/scala/org/bitcoins/db/AppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/HikariLogging.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  db-commons/src/main/scala/org/bitcoins/db/package.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  project/Deps.scala
  testkit/src/main/resources/reference.conf
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: database, logging

#2560 2021 01 25 type maximalist
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPlotUtil.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractInfo.scala
Labels: core, dlc

#2580 Update metrics-core to 4.1.17
  project/Deps.scala
Labels: dependencies

#2581 Update Oracle Server docs, fix oracle server bugs
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  docs/oracle/build-oracle-server.md
  docs/oracle/oracle-server.md
  website/sidebars.json
Labels: documentation

#2587 Ignore block messages while syncing
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node

#2588 Fix aesPassword config in configuration docs
  docs/config/configuration.md
Labels: documentation

#2585 Add better Block.toString that doesn't blow up logs
  core/src/main/scala/org/bitcoins/core/protocol/blockchain/Block.scala
Labels: core, enhancement

#2592 Add oracle configuration to example configuration.md
  docs/config/configuration.md
Labels: documentation, oracle

#2584 Add ContractOraclePair to enforce an invariant that contract descript…
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractDescriptor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractDescriptorOraclePair.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/ContractInfo.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc/src/main/scala/org/bitcoins/dlc/testgen/TestDLCClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/DLCTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc

#2568 Optimize filter sync and fetching filter heights
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: chain, neutrino, node
