Repository bitcoin-s/bitcoin-s, pull requests merged in 2021-12, with the labels that each got.

#3860 Add subscribe invoices function to lnd
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3861 Update bcprov-jdk15on to 1.70
  project/Deps.scala
Labels: dependencies, crypto

#3863 Add default proxy params
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: tor

#3862 2021 11 30 issue 3847
  app-commons-test/src/test/scala/org/bitcoins/commons/json/DLCAcceptJsonSerializerTest.scala
  app-commons-test/src/test/scala/org/bitcoins/commons/json/DLCSignJsonSerializerTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/CoreRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/Script.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  docs/applications/server.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTestUtil.scala
Labels: enhancement, app server, app-commons

#3872 Add CRUDAction.{updateAllAction, updateAction}
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAnnouncementDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: enhancement, db-commons

#3876 2021 12 03 installer rename
  .github/workflows/release.yml
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
Labels: documentation, build

#3877 Implement CRUDAction.deleteAction()
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: db-commons

#3880 Add NodeId to DbCommonsColumnMappers
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: db-commons

#3883 Add clightning sendcustommsg
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/clightning/CLightningJsonModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  clightning-rpc-test/src/test/scala/com/bitcoins/clightning/rpc/CLightningClientPairTest.scala
  clightning-rpc/src/main/scala/com/bitcoins/clightning/rpc/CLightningRpcClient.scala
Labels: c-lightning-rpc

#3887 2021 12 08 block parsing bug caused by 65 byte taproot signatures
  app/scripts/src/main/resources/logback.xml
  app/scripts/src/main/resources/reference.conf
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: bug, core, taproot

#3886 Add range of block heights to the error message
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: logging, app server

#3889 Update metrics-core to 4.2.5
  project/Deps.scala
Labels: dependencies

#3892 Update sbt to 1.5.6
  project/build.properties
Labels: dependencies

#3893 Use bigendian txids in wallet log messages
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet, logging

#3896 Make Bitcoin Core RPC backend to retry on Error -28: Verifying blocks
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, bitcoind-rpc, app server

#3897 2021 12 12 wallet optimization
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet, optimization

#3894 2021 12 10 issue 3891
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
Labels: app server, performance

#3904 Add satoshisRounded to Bitcoins
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
Labels: core

#3902 Update logback-classic to 1.2.8
  project/Deps.scala
Labels: dependencies

#3903 Improve `BitcoinSAppConfig.zipDatadir`
  app-commons-test/src/test/scala/org/bitcoins/commons/json/DLCSignJsonSerializerTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/file/FileUtil.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  db-commons/src/main/scala/org/bitcoins/db/SQLiteUtil.scala
Labels: enhancement, app server

#3905 Update docker-application.conf
  app/server/src/universal/docker-application.conf
Labels: config, docker

#3898 2021 12 12 wallet doublespend tests
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: bug, wallet

#3907 Update sbt to 1.5.7
  project/build.properties
Labels: dependencies

#3908 Update metrics-core to 4.2.6
  project/Deps.scala
Labels: dependencies

#3911 Add better logs for fundTransactionInternal
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet, logging

#3912 Add WalletCallbacks.onBlockProcessed()
  docs/wallet/wallet-callbacks.md
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: enhancement, wallet

#3914 Update logback-classic to 1.2.9
  project/Deps.scala
Labels: dependencies

#3915 Make non-final bitcoind RPC error message more descritptive
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/BitcoindException.scala
Labels: bitcoind-rpc

#3917 Work around for WalletAppConfig.scheduler being blocked by AddressQueueRunnable
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressRequest.scala
Labels: bug, wallet

#3918 Update akka-grpc-runtime_2.12, ... to 2.1.2
  project/plugins.sbt
Labels: dependencies

#3922 Update metrics-core to 4.2.7
  project/Deps.scala
Labels: dependencies

#3925 Update akka-actor, akka-discovery, ... to 2.6.18
  project/Deps.scala
Labels: dependencies

#3923 2021 12 19 dlc callbacks
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCWalletCallbackTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletCallbacks.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  docs/wallet/wallet-callbacks.md
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: enhancement, dlc-wallet

#3928 Remove `BitcoinSServerMain.startedFP`
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/LandingPaneModel.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTorTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: refactor, app server, gui

#3929 Update sbt to 1.5.8
  project/build.properties
Labels: dependencies

#3921 Add `getmediantimepast` RPC call
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainQueryApi.scala
  docs/applications/server.md
  docs/chain/chain-query-api.md
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: enhancement, chain, node, bitcoind-rpc, cli

#3930 Rename database username and password variables
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
Labels: db-commons

#3931 Update logback-classic to 1.2.10
  project/Deps.scala
Labels: dependencies

#3933 Add `rescan` field to `walletinfo` response
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: enhancement, wallet

#3906 2021 12 14 websockets
  app-commons-test/src/test/scala/org/bitcoins/commons/json/SpendingInfoDbSerializerTest.scala
  app-commons-test/src/test/scala/org/bitcoins/commons/util/ServerArgParserTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcOpts.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/ServerArgParser.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-routes/src/main/scala/org/bitcoins/server/util/ServerBindings.scala
  app/server-routes/src/main/scala/org/bitcoins/server/util/WsServerConfig.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/util/ChainUtil.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  db-commons/src/main/resources/reference.conf
  docs/applications/server.md
  docs/config/configuration.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/TransactionTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSAppConfigFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainBitcoindFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/ServerWithBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: enhancement, app server, app-commons, websocket

#3942 Call trim on peer address in Accept dialog
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
Labels: bug, gui

#3943 Update scalamock to 5.2.0
  project/Deps.scala
Labels: dependencies

#3944 Added constructor for p2pkh for decompressed public keys
  core-test/src/test/scala/org/bitcoins/core/protocol/AddressTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/AddressGenerator.scala
Labels: enhancement, core

#3940 Update sbt-scalafmt to 2.4.6
  project/plugins.sbt
Labels: dependencies

#3945 Update sbt to 1.6.0
  project/build.properties
Labels: dependencies

#3926 2021 12 20 ws dlc callbacks
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
Labels: app server, websocket

#3949 Update sbt to 1.6.1
  project/build.properties
Labels: dependencies

#3947 Implement ping every 5 seconds to keep websocket connection alive
  db-commons/src/main/resources/reference.conf
Labels: config, websocket

#3951 Update junit-interface to 0.13.3
  project/Deps.scala
Labels: dependencies

#3952 Make AesEncryptedData a network element / factory
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/AesCryptTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/AesCrypt.scala
Labels: enhancement, crypto

#3953 Give DLCOracle to filter events by pending/completed
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
Labels: enhancement, oracle

#3946 2021 12 28 blockprocessed callback
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindZMQBackendTest.scala
Labels: chain, websocket

#3955 Add MasterXPubTable to list of DLCOracle tables
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
Labels: bug, oracle, db-commons
