Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-01, with the labels that each got.

#3950 Exclude seeds from backup
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
Labels: app server

#3959 Patch bug where `zipdatadir` doesn't work if the directory was not created
  app-commons/src/main/scala/org/bitcoins/commons/file/FileUtil.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSAppConfigTest.scala
Labels: bug, app server, app-commons

#3854 Implemented general payout curves
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/cli/ContractDescriptorParser.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractDescriptorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractOraclePairTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurveTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractDescriptor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractDescriptorTemplate.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/DLCSerializationVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/LnMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/ValueIterator.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTestUtil.scala
Labels: core, gui, api-breaking

#3963 Make `ContractDescriptorTemplate` an unsealed trait
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractDescriptorTemplate.scala
Labels: core

#3962 Address ben's code review on #3854
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/cli/ContractDescriptorParser.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/CETCalculatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractDescriptorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractOraclePairTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCPayoutCurveTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/CETCalculator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractDescriptorTemplate.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCPayoutCurve.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/DLCSerializationVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTestUtil.scala
Labels: core

#3964 Reduce polling log to trace when we try to poll bitcoind
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: logging

#3966 Allow creating invoices with description hash
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#3965 2021 01 06 tlv invariants
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/OrderedAnnouncements.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCExecutorWithSetup.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: core, dlc-wallet

#3773 Storing peers in database
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  core-test/src/test/scala/org/bitcoins/core/util/NetworkUtilTest.scala
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  core/src/main/scala/org/bitcoins/core/util/NetworkUtil.scala
  crypto-test/.js/src/test/scala/org/bitcoins/crypto/HashingTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoUtilTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/facade/SHA3_256.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/HashDigest.scala
  docs/node/node.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverTest.scala
  node/src/main/resources/hardcoded-peers.txt
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, crypto

#3971 2021 01 11 issue 3938
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: app server, websocket

#3973 Modify estimatefee endpoint to return a number rather than a string
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/fee/FeeUnitTest.scala
  core/src/main/scala/org/bitcoins/core/api/feeprovider/FeeRateApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/ConstantFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
Labels: app server, fee-provider, api-breaking

#3976 2022 01 12 docker ws
  app/server/server.sbt
  app/server/src/universal/docker-application.conf
  docs/applications/server.md
Labels: docker, websocket

#3975 Implement recovery for when we cannot receive a fee rate from a FeeRateApi
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/wallet/fee/FeeUnit.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: testkit, app server

#3977 Update sbt-bloop to 1.4.12
  project/plugins.sbt
Labels: dependencies

#3974 Create FallbackFeeRateApi
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/FallbackFeeRateApi.scala
Labels: fee-provider

#3961 RPC password authentication
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/resources/reference.conf
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/oracle-server/src/universal/docker-application.conf
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTorTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/universal/docker-application.conf
  db-commons/src/main/resources/reference.conf
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  docs/config/configuration.md
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainUtil.scala
Labels: config, app server, security, oracleServer

#3979 upgrade to scala-js 1.8.0
  build.sbt
  project/plugins.sbt
Labels: build, scalajs

#3789 Upgrade to Scala 2.13.8
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
  .github/workflows/docker-publish.yml
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  inThisBuild.sbt
Labels: build

#3980 Make RPC authentication optional for localhost
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
Labels: bug, app server, security, websocket

#3981 Update slf4j-api to 1.7.33
  project/Deps.scala
Labels: dependencies

#3986 Implement rpc password in GUI
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BundleGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
Labels: bug, gui, security

#3987 2022 01 16 issue 3983
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#3982 2022 01 14 `DLCDataManagement` refactor
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/DLCSerializationVersion.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCWalletDAOs.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCTxUtil.scala
Labels: refactor, dlc-wallet

#3990 Filter transactions for onTransactionProcessed
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: enhancement, wallet

#3989 Add DLC callback for refunded DLC
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCWalletCallbackTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc-wallet

#3960 Update javafx-base, javafx-controls, ... to 18-ea+9
  project/Deps.scala
Labels: dependencies

#3995 Create DbMapper for DoubleSha256Digest
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: db-commons

#3997 Update akka-grpc-runtime_2.12, ... to 2.1.3
  project/plugins.sbt
Labels: dependencies

#3998 Update javafx-base, javafx-controls, ... to 18-ea+10
  project/Deps.scala
Labels: dependencies

#3999 Refactor zipDatadir
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/CommonRoutes.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSAppConfigTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/CommonRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DatadirUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/FileUtil.scala
Labels: database, config, refactor, app server, db-commons, oracleServer

#4000 Ignore .DS_Store files when making backups
  db-commons/src/main/scala/org/bitcoins/db/DatadirUtil.scala
Labels: enhancement, db-commons

#3866 Filter dust from coin selection
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: wallet, coin-selection

#4003 Implement batching of database calls for our chain callback
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/util/ChainUtil.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainQueryApi.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
Labels: node, initial-block-download, performance

#4004 2022 01 22 cetsignatures refactor
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/DLCExecutor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/DLCValidationTest.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTxGen.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/TestDLCClient.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BytesUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BytesUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: core, refactor, dlc-wallet

#4010 Change BTC RPC log level
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: bitcoind-rpc, logging

#4011 2022 01 24 rm appconfig varargs
  app-commons-test/src/test/scala/org/bitcoins/commons/config/AppConfigTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfig.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/DatadirParser.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoindRpcAppConfigTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/CommonRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/MultiWalletDLCTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  docs/chain/chain.md
  docs/config/configuration.md
  docs/node/node.md
  docs/wallet/wallet.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node-test/src/test/scala/org/bitcoins/node/NodeAppConfigTest.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestAppConfigFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/TestDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/MultiWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: refactor, app-commons

#4013 Add log txids inside of inventories in big endian rather than little endian
  core/src/main/scala/org/bitcoins/core/p2p/Inventory.scala
Labels: node, logging

#4012 Fix contractid computation
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCUtilTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
Labels: bug, core

#4015 2022 01 25 issue 4014
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: node, wallet, neutrino

#3992 2022 01 18 issue 3969 Add `serialization_version` to `global_dlc_data`
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/DLCDb.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/DLCSerializationVersion.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V5__serialization_version_global_dlc_data.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V5__serialization_version_global_dlc_data.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCContractDataDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDbState.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCIdDaoUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigsDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCWalletDAOs.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: database, dlc-wallet

#4016 Fix bugs where we were building internally inconsistent SpendingInfoDb
  core-test/src/test/scala/org/bitcoins/core/wallet/CoinSelectorTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/CoinSelectorTest.scala
Labels: bug, core

#4019 Add invariant to make sure spendingTxId is different than the txid inside of `SpendingInfoDb`
  core-test/src/test/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDbTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/TransactionTestUtil.scala
Labels: core

#4021 Bumps server timeout to 60 seconds
  db-commons/src/main/resources/reference.conf
Labels: config, app server

#3909 Fix bug where we didn't set spendingTxId when transitioning from `Reserved` -> `PendingConfirmationsSpent`
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: bug, wallet

#4018 Add basic esplora client
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/TorTests.yml
  build.sbt
  esplora-test/src/test/scala/org/bitcoins/esplora/EsploraClientTest.scala
  esplora/src/main/scala/org/bitcoins/esplora/EsploraClient.scala
  esplora/src/main/scala/org/bitcoins/esplora/EsploraJsonModels.scala
  esplora/src/main/scala/org/bitcoins/esplora/EsploraSite.scala
  project/Deps.scala
Labels: esplora

#4024 2022 01 30 optimize processblock
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet, optimization

#4025 Fetch blockHeight earlier in TransactionProcessing.processBlock()
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet, optimization

#4029 [GUI] Fix 'First and last points must be endpoints' exception
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
Labels: bug, gui
