Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-07, with the labels that each got.

#4440 Fix bug in taproot `SIGHASH_ANYONECANPAY_SINGLE` impl
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
Labels: bug, core, taproot

#4442 Add test case for `SIGHASH_ALL_ANYONECANPAY` in taproot
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
Labels: bug, core, taproot

#4444 Fix TaprootKeyPath.isValid for 64 byte sigs
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: bug, core, taproot

#4443 Fix Taproot keyspend serialization
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: core, taproot

#4441 Fix sync issues post #4408
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/UnsyncedNeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: bug, node, neutrino

#4446 Fix test logging
  testkit-core/.jvm/src/main/resources/logback-test.xml
Labels: bug, logging

#4447 Add a space where it was missing.
  docs/getting-started.md
Labels: documentation

#4448 Fix taproot `SIGHASH_SINGLE` taproot annex hash bug
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
Labels: bug, core, taproot

#4449 2022 07 05 `UnknownControlBlock`
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptWitnessSpec.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ControlBlock.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/WitnessVersion.scala
Labels: core, taproot

#4450 Allow creating input info of simple OP_TRUE script pub key
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
Labels: core

#4418 Musig2 Implementation
  crypto-test/src/test/scala/org/bitcoins/crypto/musig/MuSigTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/KeyParity.scala
  crypto/src/main/scala/org/bitcoins/crypto/NetworkElement.scala
  crypto/src/main/scala/org/bitcoins/crypto/SecpPoint.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/KeySet.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigNoncePriv.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigNoncePub.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigTweak.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigTweakContext.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigTweakData.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/ParityMultiplier.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/SigningSession.scala
  docs/crypto/musig.md
  website/i18n/en.json
  website/sidebars.json
Labels: crypto

#4454 Remove `.map()` and use .foreach() with buffer in `CryptoBytesUtil.toByteVector`
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoBytesUtil.scala
Labels: optimization, crypto, performance

#4457 2022 07 07 issue 4455
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/TaprootWitnessTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ControlBlock.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/RawScriptWitnessParser.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/WitnessGenerators.scala
Labels: bug, core, taproot

#4458 Have `FutureUtil.makeAsync` handle thrown exceptions
  core-test/src/test/scala/org/bitcoins/core/util/FutureUtilTest.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
Labels: bug, core

#4462 Add support for taproot keyspend PSBTs
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
Labels: core, psbt, taproot

#4466 Try to test out setup-java CI action
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_Node_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
  .github/workflows/javafx.yml
  .github/workflows/release.yml
Labels: CI, build

#4463 Fix filter sync if headers received while syncing
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#4470 Change 2.13.7 -> 2.13.8 in a few spots where I missed it
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/docker-publish.yml
Labels: CI, build

#4471 Bump to jdk18
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_Node_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
  .github/workflows/javafx.yml
  .github/workflows/release.yml
Labels: build

#4468 Change tests to use disconnectnode rpc instead of restarting bitcoind
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: node, testkit

#4459 Add `imported` flag to the seed JSON
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/keymanager/KeyManagerApi.scala
  docs/key-manager/key-manager.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerApiTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/EncryptedMnemonic.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39LockedKeyManager.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/EncryptedMnemonicTest.scala
Labels: key-manager, app server

#4477 Make `TaprootTxTests` have it's own dispatcher to take load off the default scala executionContext
  build.sbt
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/transaction/TaprootTxTests.scala
  testkit/src/main/resources/reference.conf
Labels: core, tests, taproot

#4475 Implement `rescancomplete` callback
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  docs/wallet/wallet-callbacks.md
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: enhancement, wallet, app server, websocket

#4479 Fix race condition related to sqlite3 accessing db and creating db
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
Labels: bug, db-commons

#4461 tapscript/sigopsratio_3 failing correctly
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/transaction/TaprootTxTests.scala
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramFactoryTest.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
Labels: core, taproot

#4480 Fix `containsOpSuccess` implementation
  core-test/.jvm/src/test/resources/script_assets_test.json
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: bug, core, taproot

#4482 Schnorr sig parsing checks
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
Labels: core, taproot

#4481 Restrict hash types allowed by taproot signature verification
  core-test/.jvm/src/test/resources/script_assets_test.json
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
Labels: bug, core, taproot

#4483 Validate max ScriptNumber bytes in OP_CHECKSIGADD
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
Labels: core, taproot

#4485 Disallow OP_CMS in taproot
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
Labels: core, taproot

#4484 Enforce minimalif for tapscripts
  core/src/main/scala/org/bitcoins/core/script/control/ControlOperationsInterpreter.scala
Labels: core, taproot

#4487 Fix hashtype check to correctly handle scala's conversion
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
Labels: core, taproot

#4486 Enforce MAX_PUSH_SIZE for taproot
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: core, taproot

#4490 Upgrade sbt to `1.7.0`
  project/build.properties
Labels: build

#4491 Fix bug where we weren't checking if a TaprootKeyPath w/ annex has two stack elements
  core-test/src/test/scala/org/bitcoins/core/protocol/script/TaprootWitnessTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
Labels: bug, core, taproot

#4493 Fix `chmod: jre/bin/java: No such file or directory` errors
  app/cli/src/universal/cli-extra-startup-script.sh
  app/oracle-server/src/universal/oracle-server-extra-startup-script.sh
  app/server/src/universal/wallet-server-extra-startup-script.sh
Labels: build

#4494 Correctly parse TaprootKeyPath how they are represented
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/transaction/TaprootTxTests.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: bug, core, taproot

#4495 2022 07 11 fix invalid csa neg
  core-test/.jvm/src/test/resources/script_assets_test.json
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/transaction/TaprootTxTests.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: bug, core, taproot

#4497 sbt 1.7.1
  project/build.properties
Labels: build, dependencies

#4452 Add `sync` JSON field to the `getinfo` endpoint output
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/BitcoinSServerInfo.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/ChainStateDescriptorDAOTest.scala
  chain/src/main/resources/postgresql/chain/migration/V6__state_descriptor_table.sql
  chain/src/main/resources/sqlite/chain/migration/V7__state_descriptor_table.sql
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandlerCached.scala
  chain/src/main/scala/org/bitcoins/chain/db/ChainDbManagement.scala
  chain/src/main/scala/org/bitcoins/chain/models/ChainStateDescriptor.scala
  chain/src/main/scala/org/bitcoins/chain/models/ChainStateDescriptorDAO.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  docs/chain/chain.md
  docs/wallet/wallet.md
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
Labels: enhancement, chain, app server

#4503 Implement a timeout on fee rate requests
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: app server, fee-provider

#4506 Set syncing flag to true on startup
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: app server

#4501 2022 07 12 server startup cleanup
  app-commons-test/src/test/scala/org/bitcoins/commons/config/AppConfigTest.scala
  app-commons-test/src/test/scala/org/bitcoins/commons/util/ServerArgParserTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/ServerArgParser.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  docs/config/configuration.md
Labels: refactor, app server

#4508 Move OSX check inside of jre path check
  app/cli/src/universal/cli-extra-startup-script.sh
  app/oracle-server/src/universal/oracle-server-extra-startup-script.sh
  app/server/src/universal/wallet-server-extra-startup-script.sh
Labels: build

#4507 Make KeyManagerAppConfig.walletName return `String` rather than `Option[String]`
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/PostgresUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: wallet, refactor, key-manager

#4512 Add abillity to clear callbacks
  chain-test/src/test/scala/org/bitcoins/chain/config/ChainAppConfigTest.scala
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  core/src/main/scala/org/bitcoins/core/api/CallbackConfig.scala
  core/src/main/scala/org/bitcoins/core/api/callback/CallbackFactory.scala
  core/src/main/scala/org/bitcoins/core/api/callback/ModuleCallbacks.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  tor/src/main/scala/org/bitcoins/tor/TorCallbacks.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: chain, node, wallet, core, tor

#4515 Make appServerTest run in parallel to speed up test suite
  build.sbt
Labels: tests, build

#4516 2022 07 17 node callback akka streams
  app/server-test/src/test/scala/org/bitcoins/server/CallBackUtilTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: node, app server

#4522 Fix block fetch issue #4513
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: bug, node

#4518 Fee rate WS notification
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  db-commons/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: enhancement, wallet, fee-provider, websocket

#4496 Refactor coin selection to be not be bitcoin-s specific
  core-test/src/test/scala/org/bitcoins/core/wallet/CoinSelectorTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelector.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelectorUtxo.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/CoinSelectorTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: core, refactor, coin-selection

#4523 Add guard for calling NodeCallbackStreamManager.stop()
  node/src/main/scala/org/bitcoins/node/callback/NodeCallbackStreamManager.scala
Labels: bug, node

#4525 Update license to latest year
  LICENSE
Labels: documentation

#4527 Pull over infrastructure changes from `loadwallet` branch
  app/server-test/src/test/scala/org/bitcoins/server/CallBackUtilTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
  core/src/main/scala/org/bitcoins/core/api/CallbackConfig.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeStateDescriptor.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/HDWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletStateDescriptor.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node/src/main/resources/postgresql/node/migration/V5__state_descriptor_table.sql
  node/src/main/resources/sqlite/node/migration/V5__state_descriptor_table.sql
  node/src/main/scala/org/bitcoins/node/models/NodeStateDescriptorDAO.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainBitcoindFixture.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/WalletStateDescriptorDAO.scala
Labels: enhancement, wallet, app server, dlc-wallet

#4532 Allow pg embedded better support for 3rd party libraries
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: testkit, postgres

#4530 2022 07 20 wallet rescan stream
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/BitcoindV21RpcClient.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  docs/config/configuration.md
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: wallet, rescan

#4533 Remove hard coded values for embedded pg config
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
Labels: testkit, refactor

#4535 Add missing calls to `BitcoinSAppConfig.stop()`
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: bug, app server

#4537 Fix bug where dlcNode was not apart of tor dependent configs
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: bug, app server

#4538 Implement ability to cancel bitcoind polling jobs
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/util/BitcoindPollingCancellabe.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, app server

#4534 Bump sleeps on CallbackUtilTest
  app/server-test/src/test/scala/org/bitcoins/server/CallBackUtilTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: tests

#4543 Move processBlock into `WalletApi`
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
Labels: core, refactor

#4542 Move `MockChainQueryApi`/`MockNodeApi` out of `BaseWalletTest`
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/MultiWalletDLCTest.scala
  docs/chain/chain-query-api.md
  docs/node/node-api.md
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/MockChainQueryApi.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/BitcoinSDLCNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/MockNodeApi.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletWithBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/MultiWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
Labels: testkit, refactor

#4544 Create a helper case class called `FundRawTxHelper`
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/FundRawTxHelper.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCAcceptUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: wallet, core, refactor

#4424 V22 RPC Support Update Continued
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/NetworkResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/OtherResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RawTransactionResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcOpts.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcPsbtResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UtilRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v21/BitcoindV21RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v22/BitcoindV22RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/V17LabelRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/V18AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/V21AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/BitcoindV22RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/TestMempoolAcceptRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/V22AssortedRpc.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
Labels: enhancement, bitcoind-rpc

#4546 Downgrade CI jdk 18 -> 17
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_Node_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
  .github/workflows/javafx.yml
  .github/workflows/release.yml
Labels: build

#4554 Fix rescan flag getting set, add unit test
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet, rescan

#4548 Refactor so we don't create multiple WalletAppConfig in testkit
  app/server-test/src/test/scala/org/bitcoins/server/CallBackUtilTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTorTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionBitcoindBackendTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/MultiWalletDLCTest.scala
  docs/wallet/wallet-rescan.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/BitcoinSDLCNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeFundedWalletBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressLabelTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindZMQBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/MultiWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletCallbackTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
Labels: testkit, refactor

#4545 2022 07 25 wallet api refactor
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ZipDatadir.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  app/server-test/src/test/scala/org/bitcoins/server/CallBackUtilTest.scala
  app/server-test/src/test/scala/org/bitcoins/wallet/MockWalletApi.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/HDWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/ProcessTxResult.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPath.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  docs/wallet/wallet-rescan.md
  docs/wallet/wallet-sync.md
  node/src/main/scala/org/bitcoins/node/callback/NodeCallbackStreamManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeFundedWalletBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainBitcoindFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletWithBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/FundTransactionHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/sync/WalletSyncTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/sync/WalletSync.scala
Labels: wallet, core, testkit, refactor

#4524 Expose DBIOActions for various models in wallet, remove address queue
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AccountDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
Labels: wallet, refactor

#4526 2022 07 21 Modify helper methods in `BitcoindRpcBackendUtil` to not materialize streams eagerly.
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
Labels: refactor, app server

#4555 Make DLCWallet.listDLCs use DBIOActions
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleAnnouncementDataDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: database, optimization, performance, dlc-wallet
