Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-09, with the labels that each got.

#4692 Fixes for force closes or failure to close lnd channel
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: bug, lnd-rpc

#4695 Fix flaky test
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
Labels: bug, app server

#4689 Fix Tor hidden service config
  app/server/src/universal/docker-application.conf
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCServer.scala
  docker-compose.yml
  docs/config/configuration.md
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: bug, config, docker, tor

#4698 Update release notes through 1.9.3
  release-notes/release-notes-1.9.3.md
Labels: documentation

#4700 2022 09 02 issue 4699
  project/CommonSettings.scala
Labels: bug, build

#4701 Make electron build use bitcoin-s-ts latest tag
  .github/workflows/release.yml
Labels: build, release

#4703 Remove bitcoind as a dep for lnd
  build.sbt
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
Labels: build, lnd-rpc

#4704 Drop support for scalac `2.12.x`
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_Node_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  core/src/main/scala-2.12/org/bitcoins/core/compat/CompactPackage.scala
  core/src/main/scala-2.12/org/bitcoins/core/util/MapWrapper.scala
  inThisBuild.sbt
  secp256k1jni/secp256k1jni.sbt
Labels: build

#4652 Revert the unique outpoint index DB migration
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V17__unique_spendinginfodb_outpoint.sql
  wallet/src/main/resources/sqlite/wallet/migration/V16__unique_spendinginfodb_outpoint.sql
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet, app server, migrations

#4707 ignore jakarta dependnecy in logback
  project/CommonSettings.scala
Labels: build, dependencies

#4708 Try to debug what is happening on CI with zmq test
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindZMQBackendTest.scala
Labels: wallet

#4709 Allow for custom config file name
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfig.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/DatadirParser.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: config, app-commons

#4713 Fix patterns I missed when updating logback
  app/oracle-server/src/main/resources/logback.xml
  app/scripts/src/main/resources/logback.xml
  app/server/src/main/resources/logback.xml
Labels: logging

#4711 Revert "Make electron build use bitcoin-s-ts latest tag"
  .github/workflows/release.yml
Labels: bug, build

#4620 Try out slick 3.4.0
  project/Deps.scala
Labels: dependencies, db-commons

#4718 Make docker publish use java 18 to avoid slick 3.4.0 issues
  .github/workflows/docker-publish.yml
Labels: build

#4719 Emit 2000th header received during IBD
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
Labels: app server, initial-block-download, websocket

#4723 Bump tor timeout to 120 seconds
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: tor

#4724 Update akka deps
  project/Deps.scala
  project/plugins.sbt
Labels: dependencies

#4717 Add [regtest] section to fixture config
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bug, bitcoind-rpc, testkit

#4728 Fix bug where no exception was thrown if the acceptor did not have enough money
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/ContractInfo.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTLVGen.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCWalletCallbackTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  docs/core/dlc.md
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: bug, dlc-wallet

#4729 Add handling so test lnd clients can be reached by docker
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: testkit, lnd-rpc

#4730 re-add `Compile / fork` in server.sbt so we can run `appServer` from sbt
  app/server/server.sbt
Labels: build, app server

#4720 DLC connection checks and notifications
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/rpc/Command.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/node/DLCNodeApi.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNodeTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCClient.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNodeCallbacks.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
Labels: enhancement, app server, dlc-node

#4755 Update sqlite-jdbc to 3.39.3.0
  project/Deps.scala
Labels: dependencies

#4757 Run scalafmt
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
Labels: build

#4759 Bump `bitcoin-s.node.query-wait-time=120 seconds`
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: node, config

#4760 Implement retry of fetching bitcoind version when calling `clientF`
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
Labels: bug, bitcoind-rpc

#4761 Parallelize running of individual migrations
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: app server, optimization

#4762 Remove checkRootAccount/downloadMissingUtxos
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet, refactor

#4763 mask bitcoind password
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindAuthCredentials.scala
Labels: bug, bitcoind-rpc

#4766 Give BitcoinNetworks.knownNetworks proper type
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
Labels: core

#4764 Attempt to reduce redundant work on startup to speed up start up time
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: app server, optimization, performance

#4767 Fix lnd default datadir
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
Labels: lnd-rpc

#4769 Bump more logs to INFO
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
Labels: node, logging

#4780 Add support for mac m1 lnd rpc
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestClient.scala
Labels: lnd-rpc, macosx

#4777 2022 09 12 Filter header and filter websocket events
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  chain-test/src/test/scala/org/bitcoins/chain/ChainCallbacksTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/gcs/FilterType.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
Labels: enhancement, app server, websocket

#4768 Use postrgres when flagged in TrezorAddressTest
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
Labels: wallet, tests, postgres

#4782 Update logback-classic to 1.4.1
  project/Deps.scala
Labels: dependencies

#4741 Update logkit to 1.2.2
  project/Deps.scala
Labels: dependencies

#4738 Update metrics-core, metrics-healthchecks, ... to 4.2.12
  project/Deps.scala
Labels: dependencies

#4737 Update zxing:core, zxing:javase to 3.5.0
  project/Deps.scala
Labels: dependencies

#4736 Update gson to 2.9.1
  project/Deps.scala
Labels: dependencies

#4732 Update sbt-bloop to 1.5.3
  project/plugins.sbt
Labels: dependencies

#4733 Update sbt-scalajs-bundler to 0.21.0
  project/plugins.sbt
Labels: dependencies

#4735 Update waffle-jna to 3.2.0
  project/Deps.scala
Labels: dependencies

#4784 Update slf4j-api to 2.0.1
  project/Deps.scala
Labels: dependencies

#4783 Update slick, slick-hikaricp to 3.4.1
  project/Deps.scala
Labels: dependencies

#4748 Update scalacheck to 1.16.0
  project/Deps.scala
Labels: dependencies

#4747 Update scala-collection-compat to 2.8.1
  project/Deps.scala
Labels: dependencies

#4745 Update javafx-base, javafx-controls, ... to 20-ea+2
  project/Deps.scala
Labels: dependencies

#4743 Update bcprov-jdk15on to 1.71.1
  project/Deps.scala
Labels: dependencies

#4749 Update scalafx to 18.0.2-R29
  project/Deps.scala
Labels: dependencies

#4781 Set db auth in slick db config
  db-commons/src/main/scala/org/bitcoins/db/DbAppConfig.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
Labels: db-commons

#4731 Update avalon-framework to 20020627
  project/Deps.scala
Labels: dependencies

#4791 Have `EmbeddedPg` check `PG_ENABLED` value
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
Labels: testkit

#4794 Add socket address to NodeUri
  core/src/main/scala/org/bitcoins/core/protocol/ln/node/NodeUri.scala
Labels: core

#4795 Add blockheight to bitcoind's ListTransactionsResult
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
Labels: bitcoind-rpc

#4796 Remove event descriptor parameter from `SigningVersion.calcOutcomeHash()`
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/SigningVersion.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
Labels: core, refactor

#4797 Add way to handle utxo not existing with bitcoind.getTxOut
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UTXORpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
Labels: bitcoind-rpc

#4798 Error on invalid download of binaries
  bitcoind-rpc/bitcoind-rpc.sbt
  clightning-rpc/clightning-rpc.sbt
  eclair-rpc/eclair-rpc.sbt
  lnd-rpc/lnd-rpc.sbt
Labels: bitcoind-rpc, eclair-rpc, build, lnd-rpc, cln-rpc

#4786 Update logkit to 20020529
  project/Deps.scala
Labels: dependencies

#4801 Fix bug where postgres tests weren't running on `dlcWalletTest/test`
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V10__total_output_bigint.sql
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: bug, postgres, dlc-wallet

#4803 Add OrderedSchnorrSignatures, use it in OracleAttestment
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core-test/.jvm/src/test/scala/org/bitcoins/core/dlc/testgen/DLCParsingTestVector.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/ContractOraclePairTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/OrderedNoncesTest.scala
  core-test/src/test/scala/org/bitcoins/core/util/OrderedSchnorrSignaturesTest.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/package.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCAdaptorPointComputer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/DLCExecutor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleSignatures.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/OrderedNonces.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/OrderedSchnorrSignatures.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/SortedVec.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoOrdering.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/AttestationVerificationTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDb.scala
  docs/core/dlc.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: bug, core

#4804 Add signature ordering to `ClaimedDLCStatus.oracleSigs`
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  core/src/main/scala/org/bitcoins/core/util/sorted/SortedVec.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: core, refactor

#4805 Fix bug where we were generating too many nonces
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
Labels: bug, crypto

#4806 Fix bug in `DualWalletTestCachedBitcoind` where we didn't pass `pgUrl`
  .github/workflows/PostgresTests.yml
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualWalletTestCachedBitcoind.scala
Labels: bug, testkit, dlc-wallet

#4807 2022 09 29 handle unordered sigs
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCAdaptorPointComputer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/DLCExecutor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/OracleInfo.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/AttestationVerificationTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/util/EventDbUtil.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDb.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: bug, oracle, dlc-wallet

#4810 Add initial release notes for 1.9.5
  release-notes/release-notes-1.9.5.md
Labels: documentation

#4811 re-order RPC command order to have commands first that do not depend on tor
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, app server
