Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-03, with the labels that each got.

#4141 Improve validation error messages
  app/server-routes/src/main/scala/org/bitcoins/server/routes/ServerRoute.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
Labels: enhancement, app server, api-breaking

#4140 2022 02 28 bad args log server
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
Labels: bug, app server

#4143 Update previous stable version to 1.9.0
  project/CommonSettings.scala
Labels: build

#4142 Add jdk version to log
  app/server-routes/src/main/scala/org/bitcoins/server/routes/BitcoinSRunner.scala
  core/src/main/scala/org/bitcoins/core/util/EnvUtil.scala
Labels: logging

#4146 Add the temporaryContractId field to the json rpc response for offers
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: app server, app-commons, api-breaking

#4148 Offer.offerCollateralSatoshis to offerCollateral
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  docs/wallet/dlc.md
  docs/wallet/wallet-election-example.md
  docs/wallet/wallet-price-example.md
Labels: dlc, app server, app-commons, api-breaking

#4150 Fix `tempContractId` hash so we include `LnMessage(tlv)` bytes
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/dlc_test.json
Labels: bug, core

#4151 Upgrade RescanHandlingTest to use the newest release of bitcoind
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTestCachedBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
Labels: wallet, refactor, rescan

#4156 Add log message for the case where we match a script but do not have an address for it
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet, logging, rescan

#4157 Log root xpub on keymanager startup
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
Labels: logging, key-manager

#4158 Add AdaptorSigComputation states to states that a DLC can be cancelle…
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCState.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc-wallet

#4153 `offer-send` RPC
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/node/DLCNodeApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/IncomingDLCOfferDb.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCDataHandler.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/IncomingDLCOffersHandling.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/IncomingDLCOfferDAO.scala
  docs/applications/server.md
Labels: app server, dlc-node, dlc-wallet

#4159 2022 03 03 hdpath fromstring factory exn
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPath.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: enhancement, core

#4160 Fix hardened serialization
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
Labels: bug, core

#4161 Improve key manager error message
  db-commons/src/main/scala/org/bitcoins/db/models/MasterXPubDAO.scala
Labels: key-manager

#4165 Fix unit test where coinbase input was sometimes selected
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TransactionGenerators.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessTransactionTest.scala
Labels: bug, wallet

#4162 Move all initialization of accept into initDLCForAccept()
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/InitializedAccept.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCAcceptUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
Labels: bug, dlc-wallet

#4170 2022 03 05 rescan gui
  app/bundle/src/main/resources/application.conf
  app/gui/src/main/scala/org/bitcoins/gui/AppMenuBar.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/DebugDialog.scala
Labels: enhancement, gui

#4166 `getdlcoffer` RPC
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/applications/server.md
Labels: app server, dlc-node

#4172 Improve tx processing log to show when we have a relevant input/output
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet, logging

#4174 2022 03 08 Publish zip as part of `release.yml`
  .github/workflows/release.yml
Labels: build

#4154 Round `Bitcoins` to nearest `Satoshi`
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
Labels: core

#4175 2022 03 09 label refactor
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  docs/applications/server.md
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressLabelTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/AddressTagDAOTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V16__add_tag_name_constraint.sql
  wallet/src/main/resources/sqlite/wallet/migration/V15__add_tag_name_constraint.sql
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
Labels: wallet, cli, app server, api-breaking

#4173 Mark extarnal payout addresses
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/build/DLCTxBuilder.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: dlc, app server, dlc-wallet

#4177 Add The Bitcoin Company to users list
  website/siteConfig.js
  website/static/img/tbc-logo.png
Labels: documentation

#4179 Renable tor configuration by default
  app/server/src/main/resources/reference.conf
Labels: config, app server

#4183 Add web UI build tutorial
  app/bundle/src/main/resources/application.conf
  docs/ui-setup.md
  website/i18n/en.json
  website/sidebars.json
  website/static/img/Screenshot from 2021-06-18 13-10-40.png
  website/static/img/Screenshot from 2022-03-11 11-20-17.png
  website/static/img/Screenshot from 2022-03-11 11-21-47.png
  website/static/img/installers.png
Labels: documentation

#4185 Only allow executing a DLC if it is in the Broadcast or Confirmed state
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc-wallet

#4186 Make `buildCreateOfferAction` upsert funding inputs rather than insert
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
Labels: bug, dlc-wallet

#4187 Upgrade sbt to 1.6.2
  project/build.properties
Labels: build, dependencies

#4189 Improve process compact filter logs
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet, logging

#4190 Add the account to the address generation log
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: wallet, logging

#4193 Rename `clearAllUtxosAndAddresses()` -> `clearAllUtxos()`
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/HDWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoin.scala
  docs/wallet/wallet-rescan.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug, wallet

#4194 Set both `bitcoin-s.proxy.enabled` and `bitcoin-s.tor.enabled` in `bitcoin-s-bundle.conf`
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/BitcoindConfigPane.scala
  app/bundle/src/main/scala/org/bitcoins/bundle/gui/NeutrinoConfigPane.scala
Labels: config, bundle

#4195 First draft of 1.9.1 release notes
  release-notes/release-notes-1.9.1.md
Labels: documentation

#4197 Add note about backing up oracle db
  docs/oracle/oracle-server.md
Labels: documentation

#3874 Update scalafx to 17.0.1-R26
  project/Deps.scala
Labels: dependencies

#4026 Refactor pending receives/spent states into one spot
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet, core, refactor

#4198 Rename WitnessScriptPubKeyV1 -> TaprootScriptPubKey
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCFundingInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CreditingTxGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: core, refactor

#4199 Remove SpendingInfoDb.txid parameter
  core-test/src/test/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDbTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/CoinSelectorTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/UTXORecord.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/TransactionTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/CoinSelectorTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: core, refactor

#4200 Make better error message when you cannot connect to bitcoind
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
Labels: enhancement, bitcoind-rpc

#4204 Upgrade website dependencies with yarn upgrade
  website/i18n/en.json
  website/yarn.lock
Labels: documentation

#4206 Rename clearUtxosAndAddreses(account) -> clearUtxos(account)
  core/src/main/scala/org/bitcoins/core/api/wallet/HDWalletApi.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: wallet, refactor

#4196 Mempool support for the bitcoind RPC client
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
Labels: bitcoind-rpc, app server

#4208 Add instructions for how to use sdkman in getting-setup.md
  docs/getting-setup.md
Labels: documentation

#4212 Log hidden service address
  tor/src/main/scala/org/bitcoins/tor/TorController.scala
Labels: logging, tor

#4213 2022 03 24 update 1.9.1 release notes
  release-notes/release-notes-1.9.1.md
Labels: documentation

#4211 Use the set of addresses in the wallet when rescanning rather than generating more
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: wallet, rescan

#4222 Don't send websocket events for DLCs while rescanning the wallet
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
Labels: bug, dlc-wallet

#4224 Add a section to README.md about running docker-compose up
  README.md
Labels: documentation

#4225 Fix peer configuration for docker-compose
  app/server/src/universal/docker-application.conf
  docker-compose.yml
  docs/applications/web-ui.md
Labels: app server, docker

#4226 Bumps user agent to 1.9.1
  node/src/main/scala/org/bitcoins/node/constant/NodeConstants.scala
Labels: bug, node

#4228 Update release notes again
  release-notes/release-notes-1.9.1.md
Labels: documentation

#4230 Allow acceptor to upsert same outpoint multiple times for different offers
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
Labels: bug, dlc-wallet

#4233 Increase amount so test fails more consistently
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
Labels: bug, dlc-wallet
