Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-05, with the labels that each got.

#4305 Make logging to file async, remove neverBlock configuration
  app/server/src/main/resources/logback.xml
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: logging

#4306 Reduce rescan threadpool size to just be number of available processors
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: wallet, performance, rescan

#4307 Segregate handling of Tcp.ErrorClosed command from the rest of Tcp.ConnectionClosed
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: enhancement, node

#4308 Upgrade Eclair to v0.7.0
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/eclair/EclairModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/node/Feature.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/routing/Route.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/api/EclairApi.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: enhancement, eclair-rpc

#4310 Remove source code dependency, its not used anywhere
  project/Deps.scala
Labels: build, dependencies

#4311 Upgrade flyway to 8.5.9
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCOracleDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: dependencies, flyway

#4313 Upgrade dropWizards to 4.2.9
  project/Deps.scala
Labels: dependencies

#4312 Use route hints with probing
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/internal/LndRouterClient.scala
Labels: lnd-rpc

#4317 Upgrade sbt native packager to 1.9.9
  project/plugins.sbt
Labels: build, dependencies

#4319 Remove explicit inclusion of jdk.unsupported
  project/CommonSettings.scala
Labels: build

#4318 Upgrade plugin dependencies
  project/plugins.sbt
Labels: build, dependencies

#4314 Tor endpoints for the oracle explorer client
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ExplorerEnv.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
Labels: config, explorer-client

#4322 2022 05 05 OS specific jlink builds
  .github/workflows/release.yml
  app/cli/cli.sbt
  app/cli/src/universal/cli-extra-startup-script.sh
  app/oracle-server/src/universal/oracle-server-extra-startup-script.sh
  app/server/src/universal/wallet-server-extra-startup-script.sh
  build.sbt
  project/CommonSettings.scala
  project/Deps.scala
Labels: build, app server, oracleServer

#4324 Fix example
  docs/oracle/oracle-server.md
Labels: documentation

#4327 Add ProcessLogger to ProcessBuilder so that we capture logs from binaries
  app-commons/src/main/scala/org/bitcoins/commons/util/NativeProcessFactory.scala
  tor/src/main/scala/org/bitcoins/tor/client/TorClient.scala
Labels: enhancement, app-commons

#4330 Check if lnd network config is equal to 1
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
Labels: bug, lnd-rpc

#4329 Add log for tor being provided
  tor/src/main/scala/org/bitcoins/tor/client/TorClient.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: logging, tor

#4328 2022 05 10 bump node isinit timeout
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: node

#4332 Make all uint64 types from lnd a UInt64
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/lnd/LndModels.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRemoteClientTest.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/invoicesrpc/invoices.proto
  lnd-rpc/src/main/protobuf/lightning.proto
  lnd-rpc/src/main/protobuf/routerrpc/router.proto
  lnd-rpc/src/main/protobuf/signrpc/signer.proto
  lnd-rpc/src/main/protobuf/walletrpc/walletkit.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/internal/LndRouterClient.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: bug, lnd-rpc

#4333 2022 05 11 tor race condition
  app-commons/src/main/scala/org/bitcoins/commons/util/NativeProcessFactory.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  tor/src/main/scala/org/bitcoins/tor/client/TorClient.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: bug, node, tor

#4334 Add ability to get LndInstanceRemote from config
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
Labels: lnd-rpc

#4335 Fix race condition on DLC node startup wrt to tor
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, app server

#4295 LnURL Module
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  build.sbt
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/currency/LnCurrencyUnit.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/currency/MilliSatoshis.scala
  core/src/main/scala/org/bitcoins/core/util/Bech32.scala
  lnurl-test/src/test/scala/org/bitcoins/lnurl/LnURLClientTest.scala
  lnurl-test/src/test/scala/org/bitcoins/lnurl/LnURLTest.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURL.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURLClient.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/json/LnURLJsonModels.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/json/LnURLTag.scala
Labels: lnurl

#4336 Validate `bitcoin-s.wallet.walletName` config option
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: config, key-manager

#4323 Fix `ERROR: relation "txo_spending_info" does not exist`
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: bug, wallet, database, postgres

#4338 Enable LauncherJarPlugin on oracleServer/appServer
  build.sbt
Labels: bug, build, app server, oracleServer

#4340 upgrade micropickle to 1.6.0
  project/Deps.scala
Labels: dependencies

#4342 Upgrade to slick to 3.4.0-M1
  project/Deps.scala
Labels: dependencies

#4341 Upgrade sttp to 3.6.1
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  project/Deps.scala
Labels: dependencies, cli

#4345 Downgrade slick to fix jlink build
  project/Deps.scala
Labels: dependencies

#4347 Update lnd to v0.14.3-beta
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/lightning.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4348 Fix lnd sendToRoute for 0 amount invoices
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/internal/LndRouterClient.scala
Labels: lnd-rpc

#4326 Persist whether wallet is rescanning in the database
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/wallet/WalletStateDescriptor.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/RescanDLCTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/db/WalletDbManagement.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/WalletStateDescriptorDAO.scala
Labels: enhancement, wallet, database, neutrino, app server, rescan

#4352 Remove exception when we have zero relevant outputs
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#4353 Add isStandard to Address
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32mTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
Labels: enhancement, core

#4320 Add HashType to ECDigitalSignature API
  app-commons-test/src/test/scala/org/bitcoins/commons/SerializedPSBTTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/SerializedPSBT.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcPsbtResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v19/BitcoindV19RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/BitcoindV20RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/BitcoindV21RpcClient.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/testprotocol/SignatureHashTestCase.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core-test/src/test/scala/org/bitcoins/core/script/crypto/HashTypeSpec.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/ShufflingNonInteractiveFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/StandardNonInteractiveFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/InputSigningInfoTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureCreator.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/verify/DLCSignatureVerifier.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoGenerators.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECDigitalSignatureTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/HashTypeTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/DERSignatureUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/HashType.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCTestVector.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/integration/DLCClientIntegrationTest.scala
  docs/core/psbts.md
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CreditingTxGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CryptoGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/WitnessGenerators.scala
Labels: enhancement, refactor, crypto

#4356 Remove Spv code
  app-commons-test/src/test/scala/org/bitcoins/commons/config/AppConfigTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/CommonRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/CoreRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/DLCRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeType.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/SpvWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/WalletApi.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DBConfigTest.scala
  docs/chain/chain-query-api.md
  docs/node/node-api.md
  node-test/src/test/scala/org/bitcoins/node/BroadcastTransactionTest.scala
  node-test/src/test/scala/org/bitcoins/node/DisconnectedPeerTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/SpvNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/UpdateBloomFilterTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerNeutrinoNodesTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/SpvNode.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainDbUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/CachedAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeFundedWalletBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/fixture/NodeConnectedWithBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/tor/CachedTor.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualWalletTestCachedBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletBloomTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: enhancement, node
