Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-10, with the labels that each got.

#4521 Compare bytes when comparing ScriptWitnesses
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: bug, core

#4814 Use `ByteVector.compare` rather than rolling our own
  crypto/src/main/scala/org/bitcoins/crypto/CryptoOrdering.scala
Labels: bug, crypto

#4813 2022 10 03 1.9.5 release notes
  node/src/main/scala/org/bitcoins/node/constant/NodeConstants.scala
  project/CommonSettings.scala
  release-notes/release-notes-1.9.4.md
  release-notes/release-notes-1.9.5.md
Labels: build

#4818 Upgrade sbt to 1.7.2
  project/build.properties
Labels: build

#4817 2022 10 05 Delete legacy `DLCSerializationVersion.Alpha` DLCs for a cleaner upgrade to v0 spec
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
Labels: refactor, dlc-wallet

#4819 2022 10 07 node test fixes
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bug, node

#4774 Network notifications
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNodeTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTorTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCClient.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCConnectionHandler.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNodeCallbacks.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCServer.scala
Labels: enhancement, app server, dlc-node

#4823 Fix empty witness from companion object to case class
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionWitness.scala
Labels: bug, core

#4828 Add address type to `createmultisig` bitcoind rpc
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultisigRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UtilRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v20/BitcoindV20RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v21/BitcoindV21RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
Labels: bug, bitcoind-rpc

#4829 Try upgrading clightning tests to newest bitcoind
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/CLightningFixture.scala
Labels: bitcoind-rpc, core-ln-rpc

#4830 Fix type signature on `CachedBitcoindPairV22`
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: testkit

#4839 Update sbt-mdoc to 2.3.6
  project/plugins.sbt
Labels: dependencies

#4840 Update scalatest to 3.2.14
  project/Deps.scala
Labels: dependencies

#4832 Update logback-classic to 1.4.4
  project/Deps.scala
Labels: dependencies

#4842 Update slf4j-api to 2.0.3
  project/Deps.scala
Labels: dependencies

#4843 2022 10 14 v19 testkit refactor
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/FilterSyncTest.scala
  docs/chain/filter-sync.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoUnsupportedPeerTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/BitcoindChainHandlerViaRpc.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/fixture/ChainWithBitcoindUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: node, refactor

#4831 Update sbt-bloop to 1.5.4
  project/plugins.sbt
Labels: dependencies

#4822 remove `v17` bitcoind rpc
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MiningRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/PreciousBlockRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/PsbtRpcTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/BitcoindV17RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v17/V17LabelRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/V18AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/BitcoindV21RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bitcoind-rpc, refactor

#4847 Adjust period of time we query for peers on the p2p network
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
Labels: bug, node, config

#4849 Add test for parsing super large transaction
  core-test/.jvm/src/test/resources/7393096d97bfee8660f4100ffd61874d62f9a65de9fb6acf740c4c386990ef73.txt
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockTest.scala
Labels: core, tests

#4851 Add AddressType json reader
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcOpts.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
Labels: app-commons

#4850 Update lnd to v0.15.3-beta
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/invoicesrpc/invoices.proto
  lnd-rpc/src/main/protobuf/lightning.proto
  lnd-rpc/src/main/protobuf/routerrpc/router.proto
  lnd-rpc/src/main/protobuf/signrpc/signer.proto
  lnd-rpc/src/main/protobuf/walletrpc/walletkit.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/LndFixture.scala
Labels: lnd-rpc

#4852 Add generate helper function for bitcoind
  app/server-test/src/test/scala/org/bitcoins/server/DLCWalletBitcoindBackendLoaderTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/BitcoindInstanceTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MiningRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/P2PRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/PreciousBlockRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v19/BitcoindV19RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v20/BitcoindV20RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v21/BitcoindV21RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v22/BitcoindV22RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MiningRpc.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  clightning-rpc-test/src/test/scala/com/bitcoins/clightning/rpc/CLightningChannelOpenerTest.scala
  clightning-rpc-test/src/test/scala/com/bitcoins/clightning/rpc/CLightningClientPairTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/RescanDLCTest.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/clightning/CLightningRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/FundWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletIntegrationTest.scala
Labels: bitcoind-rpc, refactor

#4853 Improve tor logging
  tor/src/main/scala/org/bitcoins/tor/Socks5ClientTransport.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: tor

#4854 Rework `tor` exceptions to be more useful
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
  tor/src/main/scala/org/bitcoins/tor/TorConnectionError.scala
Labels: tor

#4845 Remove v18 from `bitcoind-rpc`
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/BitcoindV18RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/PsbtRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v23/BitcoindV23RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/BitcoindV18RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/V18AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/BlockHeaderHelper.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bitcoind-rpc, refactor

#4857 Update client3:core to 3.8.3
  project/Deps.scala
Labels: dependencies

#4855 Update sbt-assembly to 2.0.0
  project/plugins.sbt
Labels: dependencies

#4835 Update bcprov-jdk18on to 1.72
  project/Deps.scala
Labels: dependencies

#4833 Update junixsocket-core to 2.5.2
  project/Deps.scala
Labels: dependencies

#4861 Update junixsocket-core to 2.6.0
  project/Deps.scala
Labels: dependencies

#4860 Update gson to 2.10
  project/Deps.scala
Labels: dependencies

#4862 Enable peer discovery by default
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
Labels: node, config

#4863 Bump README versions to 1.9.6
  README.md
Labels: documentation

#4864 Drop support for Tor v2
  tor-test/src/test/scala/org/bitcoins/tor/TorProtocolHandlerSpec.scala
  tor/src/main/scala/org/bitcoins/tor/TorController.scala
  tor/src/main/scala/org/bitcoins/tor/TorProtocolHandler.scala
Labels: enhancement, tor

#4865 Upgrade sbt ci release to 1.5.11
  build.sbt
  inThisBuild.sbt
  project/plugins.sbt
Labels: build

#4867 Upgrade sbt to 1.7.3
  project/build.properties
Labels: build

#4866 Fix race condition in websocket tests for dlc node updates
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
Labels: bug, app server
