Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-02, with the labels that each got.

#4040 Update lnd to v0.14.2
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/lightning.proto
  lnd-rpc/src/main/protobuf/walletrpc/walletkit.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4039 Make newConfigOfType use Vector[Config]
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
  chain/src/main/scala/org/bitcoins/chain/config/ChainAppConfig.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/config/DLCOracleAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/db/DbTestUtil.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: app-commons

#4042 2022 02 03 issue 4032
  build.sbt
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/DLCExecutor.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
Labels: bug, core, refactor, dlc-wallet

#4053 Add better exception messages for no oracles
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: logging

#4054 2022 02 06 remoteclaimed refactor
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
Labels: refactor, dlc-wallet

#4055 2022 02 06 announcement creation logging
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: logging, oracle, oracleServer

#4056 2022 02 06 issue 4049
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
Labels: enhancement, oracle

#4048 Reworking/refactoring acceptDLCOffer
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
Labels: refactor, dlc-wallet

#4059 Make `CRUD.run` and `CRUD.runVec` transactional
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/SlickUtil.scala
  db-commons/src/main/scala/org/bitcoins/db/models/MasterXPubDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAO.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/storage/RValueDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCIdDaoUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/TransactionDAO.scala
Labels: enhancement, database

#4061 Change `DLCUtil.buildOracleSignatures`
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc-wallet

#4060 2022 02 07 release note draft
  release-notes/release-notes-1.9.0.md
Labels: documentation, release

#4064 2022 02 08 dlc accept refactor
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCAcceptUtil.scala
Labels: refactor, dlc-wallet

#4066 2022 01 31 issue 4030
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCTableView.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCState.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCWalletCallbackTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCAcceptUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
Labels: enhancement, dlc-wallet, websocket

#4069 Add new section to README for running bitcoin-s
  README.md
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: documentation

#4068 Implement `BitcoindRpcClient.epochSecondToBlockHeight`
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
Labels: enhancement, bitcoind-rpc, rescan

#4071 Validate announcement signatures on create/accept offer
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: dlc-wallet

#4074 Don't call findByPrimaryKeys if ids is empty
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
Labels: db-commons

#4079 Make findByPrimaryKeysAction public
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
Labels: db-commons

#4067 Prevent DB state corruption while accepting the same offer multiple times
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc-wallet

#4078 Make Tor connect error message more human readable
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCClient.scala
Labels: tor

#4073 Create upsertAllAction
  db-commons/src/main/scala/org/bitcoins/db/CRUD.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
Labels: db-commons

#4082 2022 02 12 cleanup example config
  docs/config/configuration.md
  docs/getting-setup.md
Labels: documentation

#4083 Cleanup docs that use $
  docs/applications/cli.md
  docs/applications/server.md
  docs/getting-setup.md
  docs/oracle/oracle-server.md
  docs/wallet/wallet-rpc.md
Labels: documentation

#4081 Implement connection timeout for `dlcNode`
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCClient.scala
Labels: enhancement, dlc-node

#4085 Fix broken website examples
  docs/wallet/wallet-election-example.md
  docs/wallet/wallet-price-example.md
Labels: documentation

#4087 Move expensive script checks to last inside of P2PKWithTimeoutScriptPubKey
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core, optimization

#4089 2022 02 13 issue 3405
  website/i18n/en.json
  website/pages/en/download.js
  website/pages/en/versions.js
Labels: documentation

#4084 Support for big SPKs
  core/src/main/scala/org/bitcoins/core/api/wallet/db/ScriptPubKeyDb.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/ScriptPubKeyDAOTest.scala
  wallet/src/main/resources/postgresql/wallet/migration/V14__add_scriptpubkey_hash.sql
  wallet/src/main/resources/sqlite/wallet/migration/V13__add_scriptpubkey_hash.sql
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/postgresql/wallet/migration/V15__compute_spk_hashes.scala
  wallet/src/main/scala/sqlite/wallet/migration/V14__compute_spk_hashes.scala
Labels: database

#4090 Fix SpendingInfoDAO.findOutputsReceived() bug
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: bug, wallet

#4095 Bump website dependencies
  website/yarn.lock
Labels: documentation, dependencies

#4094 Sort outcomes in `decodeoffer` response
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
Labels: bug, app server, app-commons

#4096 Add 1.9.0 of the website
  website/i18n/en.json
  website/versioned_docs/version-1.9.0/applications/server.md
  website/versioned_docs/version-1.9.0/chain/chain-query-api.md
  website/versioned_docs/version-1.9.0/chain/chain.md
  website/versioned_docs/version-1.9.0/chain/filter-sync.md
  website/versioned_docs/version-1.9.0/config/configuration.md
  website/versioned_docs/version-1.9.0/core/addresses.md
  website/versioned_docs/version-1.9.0/core/dlc.md
  website/versioned_docs/version-1.9.0/core/hd-keys.md
  website/versioned_docs/version-1.9.0/core/txbuilder.md
  website/versioned_docs/version-1.9.0/crypto/sign.md
  website/versioned_docs/version-1.9.0/getting-setup.md
  website/versioned_docs/version-1.9.0/getting-started.md
  website/versioned_docs/version-1.9.0/key-manager/key-manager.md
  website/versioned_docs/version-1.9.0/node/node.md
  website/versioned_docs/version-1.9.0/oracle/oracle-server.md
  website/versioned_docs/version-1.9.0/rpc/bitcoind.md
  website/versioned_docs/version-1.9.0/rpc/lnd.md
  website/versioned_docs/version-1.9.0/secp256k1/secp256k1.md
  website/versioned_docs/version-1.9.0/testkit/testkit.md
  website/versioned_docs/version-1.9.0/tor/tor.md
  website/versioned_docs/version-1.9.0/wallet/wallet-callbacks.md
  website/versioned_docs/version-1.9.0/wallet/wallet-election-example.md
  website/versioned_docs/version-1.9.0/wallet/wallet-price-example.md
  website/versioned_docs/version-1.9.0/wallet/wallet-rescan.md
  website/versioned_docs/version-1.9.0/wallet/wallet.md
  website/versions.json
Labels: documentation

#4099 2022 02 15 update 1.9.0 release notes
  release-notes/release-notes-1.9.0.md
Labels: documentation

#4100 Try to fix windows path
  .github/workflows/native.yml
Labels: CI

#4103 Remove uneeded javafx deps
  project/Deps.scala
Labels: dependencies, gui

#4104 Remove invoice max amount limit
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnHumanReadablePartTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnHumanReadablePart.scala
Labels: core

#4108 Remove TxoState.DoesNotExist
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/TxoStateTest.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/TxoState.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/CoinSelectorTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOHandlingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/models/SpendingInfoDAOTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: wallet, core

#4111 Fix get txs for lnd
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4093 Segregate updating received utxos and spent utxos
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: bug, wallet

#4114 Upgrade CI jdks to openjdk@1.17.0
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_Node_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
  .github/workflows/native.yml
Labels: CI, build

#4115 Update release.yml to use openjdk@1.17.0
  .github/workflows/release.yml
Labels: CI, build

#4113 Update setup scala action to v13
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.12_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.12_Node_Tests.yml
  .github/workflows/Linux_2.12_RPC_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
  .github/workflows/native.yml
  .github/workflows/release.yml
Labels: CI, build

#4109 2022 02 18 sync since creationtime pt2
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  docs/node/node.md
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerNeutrinoNodesTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: node, neutrino, optimization, initial-block-download, rescan

#4118 Bump heap size on ci-release
  .github/workflows/release.yml
Labels: CI, build

#4121 External payout addresses for `acceptdlc`
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/node/DLCNodeApi.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNodeTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCDataHandler.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
Labels: enhancement, dlc-node

#4124 Add PSBT functions for LND
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4123 Make DLCDataHandler more type safe
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCConnectionHandler.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCDataHandler.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
Labels: refactor, dlc-node

#4126 Add a warn log if tor is not enabled and we are booting up DLCServer
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCServer.scala
Labels: logging

#4127 Add log for when a new address is generated
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: wallet, logging

#4131 Add RescanState, make sure we don't start concurrent rescans
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, enhancement, wallet, rescan

#4130 2022 02 24 rm prune addresses after rescan
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet, rescan

#4135 2022 02 26 dynamic fee gui
  app/gui/src/main/scala/org/bitcoins/gui/ContractGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/GlobalData.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/SendDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPane.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/FeeProviderFactory.scala
Labels: bug, gui

#4136 Increase offer message size
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V7__increase_offer_message_size.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/IncomingDLCOfferDb.scala
Labels: enhancement, database, migrations, dlc-wallet

#4129 Offer inbox RPC
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ws/WsModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/WsPicklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/IncomingDLCOfferDb.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCDataHandler.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWalletCallbacks.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/IncomingDLCOffersHandling.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCWalletDAOs.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/IncomingDLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/IncomingDLCOfferDbHelper.scala
  docs/applications/server.md
Labels: enhancement, app server, dlc-node, dlc-wallet

#4139 Adjust appconfig logging to INFO
  app/server/src/main/resources/logback.xml
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
Labels: logging
