Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-12, with the labels that each got.

#4906 Add generateblock bitcoind rpc
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/OtherResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MiningRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MiningRpc.scala
Labels: bitcoind-rpc

#4907 upgrade website deps
  website/yarn.lock
Labels: documentation, dependencies

#4910 Update scala-collection-compat to 2.9.0
  project/Deps.scala
Labels: dependencies

#4912 Update jeromq to 0.5.3
  project/Deps.scala
Labels: dependencies

#4918 Remove default parameters from DataMessageHandler
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#4920 Fix synced flag but in `DataMessageHandler` bug
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: bug, node

#4921 Call `handleDataPayloadHelper` explicitly on `DataMessageHandlerState`
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#4922 Update slf4j-api to 2.0.6
  project/Deps.scala
Labels: dependencies

#4915 Update sbt-bloop to 1.5.6
  project/plugins.sbt
Labels: dependencies

#4923 Reduce timeouts for syncing in `NodeTestUtil`
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: testkit

#4924 Download blocks from random peer if we aren't in IBD
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: bug, wallet

#4926 Stop P2PClientActor when we receive closed command
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: bug, node

#4927 Add LNURL writers
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURLClient.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/json/LnURLJsonModels.scala
Labels: lnurl

#4930 Update metrics-core, metrics-healthchecks, ... to 4.2.15
  project/Deps.scala
Labels: dependencies

#4931 Check lnurl pay invoice description hash
  lnurl-test/src/test/scala/org/bitcoins/lnurl/LnURLClientTest.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/json/LnURLJsonModels.scala
Labels: lnurl

#4925 2022 12 12 rm dmh params
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: node, refactor

#4934 Refactor `NodeTestUtil.awaitSync()` to check compact filters
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: node, refactor

#4935 2022 12 29 issue 4933
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
Labels: bug, node

#4936 Rework logging so that stack traces in `DataMessageHandler`
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, logging
