Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-04, with the labels that each got.

#4237 2022 04 02 fix walletdlcsetup test
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
Labels: bug, dlc-wallet

#4239 Fix unique address tag constraint when process block with tx we broadcast with tag
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/AddressTagIntegrationTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#4243 Add a Tx callback for Bitcoin Core backend
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
Labels: bug, wallet, app server

#4245 Async mempool processing
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: wallet, app server, optimization, performance

#4247 Use upsert rather than create as offers can use the same outpoints
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCActionBuilder.scala
Labels: bug, dlc-wallet

#4248 Use upsert rather than create in dlcsign in case we have seen the inp…
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: bug, dlc-wallet

#4250 Rescan failure logging
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: wallet, logging

#4251 Add height to log message when processing block
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet, logging

#4246 Add SignDbState to fix rescan exception
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionBitcoindBackendTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCWalletCallbackTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/RescanDLCTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagementTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCAppConfig.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDbState.scala
Labels: bug, dlc-wallet

#4259 Reduce parallelism to 4 when fetching from mempool
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: bug, app server

#4261 Add fromString for TransactionOutPoint
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionOutPointTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutPoint.scala
Labels: core

#4262 2022 04 14 dlctxsigner err msg
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
Labels: core, dlc-wallet

#4264 Make first set of database writes in signDLC be transactional
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: dlc-wallet

#4266 Refactor WalletAppConfig test fixture destructions to stop the config…
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletAppConfigWithBitcoindFixtures.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindZMQBackendTest.scala
Labels: testkit

#4268 Update 1.9.1 release notes again
  release-notes/release-notes-1.9.1.md
Labels: documentation

#4270 Try to fix zip release
  .github/workflows/release.yml
Labels: build

#4269 Add version 1.9.1 to the website
  project/CommonSettings.scala
  website/i18n/en.json
  website/versioned_docs/version-1.9.1/applications/cli.md
  website/versioned_docs/version-1.9.1/applications/server.md
  website/versioned_docs/version-1.9.1/applications/web-ui.md
  website/versioned_docs/version-1.9.1/config/configuration.md
  website/versioned_docs/version-1.9.1/core/addresses.md
  website/versioned_docs/version-1.9.1/core/dlc.md
  website/versioned_docs/version-1.9.1/core/hd-keys.md
  website/versioned_docs/version-1.9.1/core/txbuilder.md
  website/versioned_docs/version-1.9.1/crypto/sign.md
  website/versioned_docs/version-1.9.1/getting-setup.md
  website/versioned_docs/version-1.9.1/getting-started.md
  website/versioned_docs/version-1.9.1/key-manager/key-manager.md
  website/versioned_docs/version-1.9.1/node/node.md
  website/versioned_docs/version-1.9.1/oracle/oracle-server.md
  website/versioned_docs/version-1.9.1/secp256k1/secp256k1.md
  website/versioned_docs/version-1.9.1/ui-setup.md
  website/versioned_docs/version-1.9.1/wallet/dlc.md
  website/versioned_docs/version-1.9.1/wallet/wallet-election-example.md
  website/versioned_docs/version-1.9.1/wallet/wallet-price-example.md
  website/versioned_docs/version-1.9.1/wallet/wallet-rpc.md
  website/versioned_sidebars/version-1.9.1-sidebars.json
  website/versions.json
Labels: documentation

#4273 Update pgp key as previous key expired
  docs/security.md
Labels: documentation

#4235 Add raw funding of psbt to LndRpc
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
Labels: lnd-rpc

#4214 Added validation to signature methods to avoid corruption edge cases
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
Labels: enhancement, crypto, security

#4274 Reduce what gets tested on tor CI
  .github/workflows/TorTests.yml
Labels: CI

#4278 Add better logs for a DLCWallet.cancelDLC()
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
Labels: logging

#4279 Update deps
  project/Deps.scala
Labels: dependencies

#4282 2022 04 20 issue 4280
  app/server/src/universal/docker-application.conf
  docs/applications/server.md
Labels: config, docker

#4283 Improve TLV error message
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
Labels: enhancement, core

#4234 Contact list
  app-commons/src/main/scala/org/bitcoins/commons/rpc/Command.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CliCommandProducer.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/DLCDialogContainer.scala
  app/server-test/src/test/scala/org/bitcoins/server/DLCRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/DLCContactDb.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V8__create_contacts.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V7__create_contacts.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/IncomingDLCOffersHandling.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCContactDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCWalletDAOs.scala
  docs/applications/server.md
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
Labels: database, app server, dlc-wallet

#4284 Bump README versions
  README.md
Labels: documentation

#4287 Update akka to 2.6.19
  project/Deps.scala
Labels: dependencies

#4286 Add router rpc to lnd, use for paying invoices
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/routerrpc/router.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4289 Add lnd invoice client
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/invoicesrpc/invoices.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4288 Fix rolling log file
  app/oracle-server/src/main/resources/logback.xml
  app/scripts/src/main/resources/logback.xml
  app/server/src/main/resources/logback.xml
  testkit-core/.jvm/src/main/resources/logback-test.xml
Labels: bug, logging

#4291 Update rolling policies for log files
  app/oracle-server/src/main/resources/logback.xml
  app/server/src/main/resources/logback.xml
Labels: bug, logging

#4202 Probing support for Lnd
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/internal/LndRouterClient.scala
Labels: lnd-rpc

#4290 Prevent the wallet from creating duplicate UTXOs
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelectionAlgo.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/CoinSelector.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/UTXOLifeCycleTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: bug, wallet

#4285 Default createDLCOffer to current block height
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  docs/applications/server.md
  docs/wallet/wallet-election-example.md
  docs/wallet/wallet-price-example.md
Labels: app server, dlc-wallet

#4219 2022 03 22 getrelevantoutputs upfront
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutput.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
Labels: wallet, optimization, performance

#4293 Lnd probing: only update route with mpp record if we can
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/internal/LndRouterClient.scala
Labels: lnd-rpc

#4298 Add cd bitcoin-s-server
  docs/ui-setup.md
Labels: documentation

#4294 2022 04 26 Startup time of `appServer`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/BitcoinSServerInfo.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleServerMain.scala
  app/server-routes/src/main/scala/org/bitcoins/server/routes/Server.scala
  app/server-routes/src/main/scala/org/bitcoins/server/util/AppConfigMarker.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/CachedAppConfig.scala
Labels: app server, performance, oracleServer

#4299 Improve logging around signDLC
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: logging

#4300 Make `_findOutputsBeingSpentQuery` take at most 1,000 outpoints
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: bug, wallet

#4296 Handle duplicate UTXOs
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: bug, wallet, database

#4304 2022 04 29 issue 4302
  .github/workflows/release.yml
Labels: CI, build, cli, oracleServer
