Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-06, with the labels that each got.

#4362 initial draft of 1.9.2 release notes
  release-notes/release-notes-1.9.2.md
Labels: documentation

#4361 Improve lnd test suite reliability
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: testkit, tests, lnd-rpc

#4365 Fix typo
  README.md
Labels: documentation

#4367 Switch base docker image to ubuntu to get docker working again
  project/CommonSettings.scala
Labels: build, docker

#4372 Make flyway protected so other apps can access it
  db-commons/src/main/scala/org/bitcoins/db/DbManagement.scala
Labels: db-commons

#4373 Made change to cli.md file, clarified only need to do either (Building…
  docs/applications/cli.md
Labels: documentation

#4376 Fix outPointToChannelPoint to use correct endianness
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
Labels: bug, lnd-rpc

#4377 Revert docker image, implement workarounds for arm64 machines and java
  app/oracle-server/src/universal/oracle-server-extra-startup-script.sh
  app/server/src/universal/wallet-server-extra-startup-script.sh
  project/CommonSettings.scala
Labels: bug, build, docker

#4364 Have Satoshis extend Numeric
  core-test/src/test/scala/org/bitcoins/core/currency/CurrencyUnitTest.scala
  core/src/main/scala/org/bitcoins/core/currency/CurrencyUnits.scala
Labels: core

#4379 Set recovery id properly for buildLnInvoiceSignature
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnInvoice.scala
Labels: bug, core

#4382 Refactor `WitnessVersion.rebuild()` to be `Either[ScriptError,ScriptPubKey]`
  core/src/main/scala/org/bitcoins/core/protocol/script/WitnessVersion.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
Labels: core, refactor

#4380 Add TLVs defined in BOLT 4
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/LnMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/tlv/TLVTest.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/LnMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCDataHandler.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/testgen/DLCParsingTestVector.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
Labels: core

#4378 LND: Add configs for gossip in test env
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: testkit, lnd-rpc

#4385 Added Compute Contract Id test Vectors
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  wallet-test/src/test/resources/contract_id_test.json
  wallet-test/src/test/scala/org/bitcoins/wallet/ComputeContractIdTest.scala
Labels: core

#4387 Added data structure for x-only public keys with undetermined parity
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoGenerators.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/KeyParityTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/XOnlyPubKeyTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/KeyParity.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/XOnlyPubKey.scala
Labels: enhancement, crypto, taproot

#4388 2022 06 13 taprootspk xonlypubkey
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptPubKeyTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CryptoGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: core, refactor

#4346 DLC <-> contact mapping
  app-commons-test/src/test/scala/org/bitcoins/commons/DLCStatusTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/rpc/Command.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/DLCRoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/DLCContactDb.scala
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/DLCDb.scala
  core/src/main/scala/org/bitcoins/core/config/DLC.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCStatus.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNodeTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/MultiWalletDLCTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagementTest.scala
  dlc-wallet/src/main/resources/postgresql/dlc/migration/V9__contact_global_dlc_data.sql
  dlc-wallet/src/main/resources/sqlite/dlc/migration/V8__contact_global_dlc_data.sql
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/IncomingDLCOffersHandling.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCContactDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCAcceptUtil.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/util/DLCStatusBuilder.scala
  docs/applications/server.md
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/DLCDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
Labels: enhancement, database, app server, dlc-wallet

#4386 Improve bitcoind connection retry logic
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  async-utils/src/main/scala/org/bitcoins/asyncutil/AsyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/async/TestAsyncUtil.scala
Labels: bug, bitcoind-rpc, app server

#4389 Update 1.9.2 release notes again
  release-notes/release-notes-1.9.2.md
Labels: documentation

#4390 1.9.2 website
  website/i18n/en.json
  website/versioned_docs/version-1.9.2/applications/cli.md
  website/versioned_docs/version-1.9.2/applications/server.md
  website/versioned_docs/version-1.9.2/chain/chain-query-api.md
  website/versioned_docs/version-1.9.2/core/addresses.md
  website/versioned_docs/version-1.9.2/core/dlc.md
  website/versioned_docs/version-1.9.2/core/hd-keys.md
  website/versioned_docs/version-1.9.2/core/txbuilder.md
  website/versioned_docs/version-1.9.2/crypto/sign.md
  website/versioned_docs/version-1.9.2/getting-started.md
  website/versioned_docs/version-1.9.2/key-manager/key-manager.md
  website/versioned_docs/version-1.9.2/node/node-api.md
  website/versioned_docs/version-1.9.2/oracle/oracle-server.md
  website/versioned_docs/version-1.9.2/secp256k1/secp256k1.md
  website/versioned_docs/version-1.9.2/security.md
  website/versioned_docs/version-1.9.2/ui-setup.md
  website/versioned_docs/version-1.9.2/wallet/wallet-election-example.md
  website/versioned_docs/version-1.9.2/wallet/wallet-price-example.md
  website/versions.json
Labels: documentation

#4392 Fix lnurl module name to have bitcoin-s prefix
  build.sbt
Labels: bug, build, lnurl

#4391 ECPublicKey.tweakMultiply -> multiply and Added CryptoParams.getG
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCAdaptorPointComputer.scala
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleCryptoParamsTest.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto/src/main/scala/org/bitcoins/crypto/AdaptorUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoParams.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/DLEQUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/FieldElement.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
Labels: enhancement, crypto

#4394 Add `TaprootWitness`, new methods to `XOnlyPubKey`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/SerializedTransaction.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/TaprootWitnessTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ControlBlock.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  crypto/src/main/scala/org/bitcoins/crypto/KeyParity.scala
  crypto/src/main/scala/org/bitcoins/crypto/XOnlyPubKey.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
Labels: core, taproot

#4396 Add PaymentSecret, ShortChannelId, and MilliSatoshis Db Mappers
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: db-commons

#4397 sports betting example
  docs/oracle/oracle-sports-betting-example.md
  docs/wallet/wallet-sports-betting-example.md
  website/sidebars.json
Labels: documentation

#4399 2022 06 14 release notes 1.9.2 update again
  release-notes/release-notes-1.9.2.md
Labels: documentation

#4398 Allow for custom channel sizes in LndRpcTestUtil.createNodePair
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: testkit, lnd-rpc

#4404 Default to suredbits node if peers field is left empty
  app/server/src/main/resources/reference.conf
  app/server/src/universal/application.conf
  app/server/src/universal/docker-application.conf
  db-commons/src/main/resources/reference.conf
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
Labels: node, config, docker

#4403 Add peers rpc to lnd
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/peersrpc/peers.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4405 Fix UI build instructions
  docs/ui-setup.md
  website/versioned_docs/version-1.9.2/ui-setup.md
Labels: documentation

#4406 Fix download lnd command
  lnd-rpc/lnd-rpc.sbt
Labels: bug, build, lnd-rpc

#4407 Accept keysend and amp in lnd fixtures
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: lnd-rpc

#4402 Fix package name bug so package name is ra…
  project/CommonSettings.scala
Labels: build

#4368 Implement bitcoind v23 rpc
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/OtherResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v23/BitcoindV23RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v23/BitcoindV23RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  docs/rpc/bitcoind.md
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: enhancement, bitcoind-rpc

#4357 Seed backup API
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/applications/server.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/bip39/BIP39KeyManagerApiTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/EncryptedMnemonic.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/bip39/BIP39KeyManager.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/EncryptedMnemonicTest.scala
Labels: enhancement, wallet, key-manager, app server

#4409 Implement BIP341
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureSerializerTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/TaprootWitnessTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TaprootSerializationOptions.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureCreator.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureSerializer.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/verify/DLCSignatureVerifier.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/SignatureVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/WitnessVersion.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/result/ScriptResult.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/HashType.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/WitnessGenerators.scala
Labels: enhancement, core, taproot

#4414 Move lastCodeSeparator to StartedScriptProgram
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: core

#4416 Add annex to `TaprootKeyPath`
  core-test/src/test/scala/org/bitcoins/core/protocol/script/TaprootWitnessTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: enhancement, core, taproot

#4419 Lnd v0.15.0-beta
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/lnd/LndModels.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRemoteClientTest.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/lightning.proto
  lnd-rpc/src/main/protobuf/routerrpc/router.proto
  lnd-rpc/src/main/protobuf/signrpc/signer.proto
  lnd-rpc/src/main/protobuf/walletrpc/walletkit.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
Labels: lnd-rpc

#4425 Fix out of bounds issues with lnd mappers
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
Labels: bug, lnd-rpc

#4426 Implement DISABLE_JLINK env variable to disable jlink jre's usage at runtime
  app/oracle-server/src/universal/oracle-server-extra-startup-script.sh
  app/server/src/universal/wallet-server-extra-startup-script.sh
Labels: build

#4420 Add Taproot PSBT fields
  core-test/src/test/scala/org/bitcoins/core/psbt/PSBTUnitTest.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTKeyId.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
Labels: core, psbt, taproot

#4432 Bump previousStableVersion to 1.9.2
  README.md
  node/src/main/scala/org/bitcoins/node/constant/NodeConstants.scala
  project/CommonSettings.scala
Labels: documentation

#4408 Find and switch peers
  app/server/src/main/resources/logback.xml
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  core/src/main/scala/org/bitcoins/core/p2p/ServiceIdentifier.scala
  core/src/main/scala/org/bitcoins/core/util/TimeUtil.scala
  db-commons-test/src/test/scala/org/bitcoins/db/DbManagementTest.scala
  docs/config/configuration.md
  docs/node/node.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoUnsupportedPeerTest.scala
  node-test/src/test/scala/org/bitcoins/node/UnsyncedNeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/PeerDAOTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/resources/postgresql/node/migration/V4__new_peer_table.sql
  node/src/main/resources/sqlite/node/migration/V4__new_peer_table.sql
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, neutrino

#4438 Fix lnd OutputDetails for outputs that dont have an address
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/lnd/LndModels.scala
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndUtils.scala
Labels: bug, lnd-rpc

#4439 2022 06 30 `OP_CODESEPARATOR` impl compatible with taproot
  core-test/src/test/scala/org/bitcoins/core/script/ScriptProgramFactoryTest.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptProgram.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
Labels: core, taproot
