Repository bitcoin-s/bitcoin-s, pull requests merged in 2022-08, with the labels that each got.

#4557 Implement cleanup of dlcWallet/wallet DbAppConfig threadpools
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
Labels: bug, app server

#4558 Fix postgres database not clearing after test
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: bug, node, postgres

#4559 Move pollBitcoind out of startBitcoindBlockPolling
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTorTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/bitcoind/BitcoindSyncState.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletAppConfigWithBitcoindFixtures.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug, app server

#4560 Fetch findByFundingTxId/findByFundingOutPoints in parallel as an optimization
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
Labels: optimization, performance, dlc-wallet

#4541 Moving duplicate dataStructures in `cli` and `app-server` into `app-commons`
  app-commons/src/main/scala/org/bitcoins/commons/rpc/Command.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/gui/src/main/scala/org/bitcoins/gui/ContractGUI.scala
  app/gui/src/main/scala/org/bitcoins/gui/WalletGUIModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/DebugDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dialog/SendDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/DLCPaneModel.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/AcceptOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/CreateDLCOfferDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/ExecuteDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/RefundDLCDialog.scala
  app/gui/src/main/scala/org/bitcoins/gui/dlc/dialog/SignDLCDialog.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTorTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/WebsocketTests.scala
  app/server/src/main/scala/org/bitcoins/server/ChainRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: refactor, cli, app server, app-commons

#4562 Refactor to not use filterThenSum() when calculating balances
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#4564 Remove nested `Option[Option[AesPassword]]` in aesPassword param
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
Labels: refactor, app server

#4568 2022 08 02 loadwallet startup logic
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
Labels: refactor, app server

#4569 Add rescanState variable to DLCWalletLoaderApi
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
Labels: app server

#4556 2022 07 29 fix multiple batch test
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, rescan

#4570 Add unit tests for loader rescans
  app/server-test/src/test/scala/org/bitcoins/server/DLCWalletBitcoindBackendLoaderTest.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  app/server/src/main/scala/org/bitcoins/server/util/WalletHolderWithLoaderApi.scala
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/WalletLoaderFixtures.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet, app server, rescan

#4571 PostgreSQL friendly wallet names
  app-commons/src/main/scala/org/bitcoins/commons/rpc/Command.scala
  app-commons/src/main/scala/org/bitcoins/commons/util/WalletNames.scala
  db-commons/src/main/scala/org/bitcoins/db/PostgresUtil.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: bug, wallet, database, config, cli, app server, postgres

#4566 Make wallet.getBalance more effienct
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet, optimization

#4565 Refactor `WalletRoutes` to take `DLCWalletLoaderApi` as a paramete
  app/server-test/src/test/scala/org/bitcoins/server/DLCWalletBitcoindBackendLoaderTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/WalletLoaderFixtures.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: refactor, app server

#4509 Add P2PClientSupervisor
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClientSupervisor.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node

#4574 Implement `RescanTerminatedEarly` exception to terminate the stream, implement `ArgumentSource`
  app/server-test/src/test/scala/org/bitcoins/server/DLCWalletBitcoindBackendLoaderTest.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  core/src/main/scala/org/bitcoins/core/api/commons/ArgumentSource.scala
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet, core, rescan

#4572 Use DBIOActions to speed up processing transactions
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/ScriptPubKeyDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet, database, performance

#4573 Retry lnd startup if it fails
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestClient.scala
Labels: testkit, lnd-rpc

#4576 Replace `BoundedSourceQueueWithComplete` with `SourceQueueWithComplete`
  app/server-test/src/test/scala/org/bitcoins/server/CallBackUtilTest.scala
  node/src/main/scala/org/bitcoins/node/callback/NodeCallbackStreamManager.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
Labels: enhancement, node, refactor

#4578 Create BitcoindStreamUtil and refactor to use it
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/BitcoindStreamUtil.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
Labels: bitcoind-rpc, app server

#4417 `loadwallet` endpoint
  app-commons-test/src/test/scala/org/bitcoins/commons/json/AppServerCliJsonTest.scala
  app-commons/src/main/scala/org/bitcoins/commons/rpc/Command.scala
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  app/server/src/main/scala/org/bitcoins/server/ServerJsonModels.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
  docs/applications/server.md
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: enhancement, wallet, app server, dlc-wallet

#4579 Dafault to the latest Bitcoin Core version
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
Labels: enhancement, bitcoind-rpc

#4567 Embedded Pg v1.0.1
  .github/workflows/Linux_2.12_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Windows.yml
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/EmbeddedPg.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/WalletDAOFixture.scala
Labels: testkit, postgres

#4549 Fix rescan batch boundary bug
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet, rescan

#4575 Make fundRawTransactionInternal use DBIOActions
  core/src/main/scala/org/bitcoins/core/wallet/builder/FundRawTxHelper.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: wallet, optimization, performance

#4581 Run yarn upgrade to update website deps
  website/yarn.lock
Labels: documentation

#4582 2022 08 06 1.9.3 release notes
  release-notes/release-notes-1.9.3.md
Labels: documentation

#4584 Add PSBT database mapper
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: db-commons

#4586 Drop support for the experimental bitcoind version
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/V18AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  docs/node/node.md
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/BitcoinSFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, tests, neutrino

#4583 Use FutureUtil.makeAsync where we are attmepting to create async Futures
  app-commons/src/main/scala/org/bitcoins/commons/util/NativeProcessFactory.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/Callback.scala
  dlc-test/src/test/scala/org/bitcoins/dlc/statictest/DLCFeeTestVectorTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BaseAsyncTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/SpendingInfoDAO.scala
Labels: optimization

#4588 Download `arm64-apple-darwin` bitcoind binary on M1 Mac OS X
  bitcoind-rpc/bitcoind-rpc.sbt
Labels: build

#4589 Add ChainNotifier to LND
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/chainrpc/chainnotifier.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4590 Improve logging on `getBlockchainInfo()`
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: logging, app server

#4591 Implement `listDLCs(state)`, use it in `getWalletAccounting()`
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/DLCWalletApi.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCState.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
Labels: wallet, app server, performance

#4595 Add descriptor for TaprootScriptPubKey
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core

#4596 Update DLCClientIntegrationTest to use the newest bitcoind
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/integration/DLCClientIntegrationTest.scala
Labels: dlc-wallet

#4601 Remove the `daemonUser`/`daemonUserId`
  project/CommonSettings.scala
Labels: docker

#4603 Add listPendingChannels to LND
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#4597 Update release notes again for 1.9.3
  release-notes/release-notes-1.9.3.md
Labels: documentation

#4602 Refactor waiting for bitcoind lost blocks into helper method
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: app server

#4598 removed logger parameter from where it's used with callbacks
  app/server-test/src/test/scala/org/bitcoins/server/CallBackUtilTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  chain/src/main/scala/org/bitcoins/chain/ChainCallbacks.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/callback/NodeCallbackStreamManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/MerkleBuffers.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletCallbacks.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: chain, node, wallet, refactor, tor

#4605 Bump scalatest to 3.2.13
  project/Deps.scala
Labels: dependencies

#4585 Fix Mac `NeutrinoNodeWithWalletTest` failures
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, neutrino

#4604 2022 08 11 issue 4600 and only emit `syncing` ws event when we are actually syncing
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug, app server, websocket

#4607 Run migrations upfront
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: bug, app server

#4609 Update Oracle Explorer address
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/ExplorerEnv.scala
Labels: enhancement, explorer-client

#4599 Update docker-compose.yml
  docker-compose.yml
Labels: docker

#4612 Update 1.9.3 release notes through #4609
  release-notes/release-notes-1.9.3.md
Labels: documentation

#4614 `.map()` on loadwallet result before starting http server so wallet is …
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, app server

#4615 Remove merklebuffers
  node-test/src/test/scala/org/bitcoins/node/networking/peer/MerkleBuffersTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/MerkleBuffers.scala
Labels: node, refactor

#4617 Implement `exportstakingaddresswif`
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/oracle-server/src/main/scala/org/bitcoins/oracle/server/OracleRoutes.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/DLCOracleApi.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle/src/main/scala/org/bitcoins/dlc/oracle/DLCOracle.scala
  docs/oracle/oracle-server.md
Labels: enhancement, oracle, oracleServer

#4621 More lazy initialization for `BitcoinSServerMain`
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfig.scala
Labels: refactor, app server

#4624 Adjust bash script permissions so they can be run by any user
  project/CommonSettings.scala
Labels: docker

#4622 Improve logging to try and solve 4618
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/Client.scala
Labels: bitcoind-rpc, logging

#4623 Fix WalletDLCSetupTest
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/WalletDLCSetupTest.scala
Labels: bug, enhancement, tests

#4625 Fix bug where we weren't specify the bash script for each project
  app/oracle-server/oracle-server.sbt
  app/server/server.sbt
  project/CommonSettings.scala
Labels: bug, docker

#4631 Fix bug where we were not generating change addresses during a rescan
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet, rescan

#4632 Fix bug where it prevented us from rescanning an empty wallet
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: bug, app server, rescan

#4633 Get rid of standalone scalajs, mdoc CI matrix. Consolidate with other CI jobs
  .github/workflows/Compile.yml
  .github/workflows/Docs.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_ScalaJS_Tests.yml
Labels: CI, build

#4634 Remove support for bitcoind v16 rpc client
  app/server-test/src/test/scala/org/bitcoins/server/DLCWalletBitcoindBackendLoaderTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v16/BitcoindV16RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v17/BitcoindV17RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/BitcoindV16RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/V16AccountRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v16/V16SendRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/V18AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, refactor

#4628 Add more JSON serializers
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  core/src/main/scala/org/bitcoins/core/serializers/PicklerKeys.scala
Labels: app-commons

#4635 Add `InvalidBlockHeader` `ChainException`
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainException.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: chain, refactor

#4636 Only build native `bitcoin-s-cli` on tags or merges to master
  .github/workflows/native.yml
Labels: CI, cli

#4637 Update 1.9.3 release notes through #4636
  release-notes/release-notes-1.9.3.md
Labels: documentation

#4638 Configure scalafmt to preserve line endings
  .scalafmt.conf
Labels: build, windows

#4639 Bump rescan test timeouts from 5 -> 10 seconds
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
Labels: wallet, rescan

#4642 Fix some bugs around resetting rescan state when a rescan fails
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet, rescan

#4613 Don't process block that we can't fetch height for
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#4456 Header sync validation
  docs/node/node.md
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandlerState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: node

#4643 Version 1.9.3 of everything
  README.md
  node/src/main/scala/org/bitcoins/node/constant/NodeConstants.scala
  project/CommonSettings.scala
  website/versioned_docs/version-1.9.3/applications/server.md
  website/versioned_docs/version-1.9.3/chain/chain-query-api.md
  website/versioned_docs/version-1.9.3/chain/chain.md
  website/versioned_docs/version-1.9.3/config/configuration.md
  website/versioned_docs/version-1.9.3/core/addresses.md
  website/versioned_docs/version-1.9.3/core/core-intro.md
  website/versioned_docs/version-1.9.3/core/dlc.md
  website/versioned_docs/version-1.9.3/core/hd-keys.md
  website/versioned_docs/version-1.9.3/core/txbuilder.md
  website/versioned_docs/version-1.9.3/crypto/musig.md
  website/versioned_docs/version-1.9.3/crypto/sign.md
  website/versioned_docs/version-1.9.3/getting-started.md
  website/versioned_docs/version-1.9.3/key-manager/key-manager.md
  website/versioned_docs/version-1.9.3/node/node-api.md
  website/versioned_docs/version-1.9.3/node/node.md
  website/versioned_docs/version-1.9.3/rpc/bitcoind.md
  website/versioned_docs/version-1.9.3/secp256k1/secp256k1.md
  website/versioned_docs/version-1.9.3/ui-setup.md
  website/versioned_docs/version-1.9.3/wallet/wallet-callbacks.md
  website/versioned_docs/version-1.9.3/wallet/wallet-sync.md
  website/versioned_docs/version-1.9.3/wallet/wallet.md
  website/versions.json
Labels: documentation

#4644 Improve toString functions for schnorr data types
  crypto/src/main/scala/org/bitcoins/crypto/FieldElement.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrNonce.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
Labels: core

#4646 Increase buffer size of `dataMessageStream` to 10000
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#4649 Fix `empty.head` exception in rescan flow
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, wallet, rescan

#4651 If `DISABLE_JLINK` set, don't try to chmod `jre/bin/java`
  app/oracle-server/src/universal/oracle-server-extra-startup-script.sh
  app/server/src/universal/wallet-server-extra-startup-script.sh
Labels: build, app server, oracleServer

#4655 Partially revert #4601 and re-add `daemonUser := bitcoin-s`
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  project/CommonSettings.scala
Labels: build, docker

#4654 Change stream to use `OverflowStrategy.backpressure`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node

#4656 Fix rescan for existing wallets
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node, neutrino, rescan

#4657 Make CRUDAction types more strict
  chain/src/main/scala/org/bitcoins/chain/models/ChainStateDescriptorDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
  db-commons/src/main/scala/org/bitcoins/db/CRUDAutoInc.scala
  db-commons/src/main/scala/org/bitcoins/db/models/MasterXPubDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAnnouncementDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/IncomingDLCOfferDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/OracleNonceDAO.scala
  node/src/main/scala/org/bitcoins/node/models/NodeStateDescriptorDAO.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/AddressTagDAO.scala
  wallet/src/main/scala/org/bitcoins/wallet/models/WalletStateDescriptorDAO.scala
Labels: db-commons

#4663 Change default DLC peer alias
  core/src/main/scala/org/bitcoins/core/api/dlc/wallet/db/DLCContactDb.scala
Labels: bug, dlc, dlc-wallet

#4665 Revert #4601 / #4624 so that docker works on umbrel again
  app/oracle-server/oracle-server.sbt
  app/server/server.sbt
  project/CommonSettings.scala
Labels: docker

#4666 Add docker command `mkdir /wallet`
  project/CommonSettings.scala
Labels: docker

#4669 Add default exposed volume of `/bitcoin-s` so we can always write data
  docker-compose.yml
  project/CommonSettings.scala
Labels: docker

#4672 Add SatoshisPerVirtualByte json serializers
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
Labels: app-commons

#4671 Use findByPrimaryKey query in findByPrimaryKeyAction
  db-commons/src/main/scala/org/bitcoins/db/CRUDAction.scala
Labels: db-commons

#4670 Add correct volume mapping for UI
  docker-compose.yml
Labels: docker

#4667 Fix infinite invalid header loop
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainException.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
Labels: bug, node

#4678 Set entrypoint scripts so they are executable by anyone, revert `daemonUserId`
  app/oracle-server/oracle-server.sbt
  app/server/server.sbt
  project/CommonSettings.scala
Labels: docker

#4680 Simple docker-compose.yml, add `BITCOIN_S_UID`, add `DISABLE_JLINK`
  README.md
  docker-compose.yml
Labels: docker

#4682 Allow LnMessage(tlv) & raw tlv to be used in `DLCRoutes`
  app-commons/src/main/scala/org/bitcoins/commons/rpc/Command.scala
  app/server-test/src/test/scala/org/bitcoins/server/WalletRoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/WalletRoutes.scala
Labels: bug, app server

#4683 Add some guards for when we set IBD flag to reduce false positive WARN messages
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, logging

#4685 update release notes through 9353c41e8f
  release-notes/release-notes-1.9.3.md
Labels: documentation

#4684 Remove javafx from official release
  .github/workflows/javafx.yml
Labels: bundle

#4686 Update README to use grey's new `build-wallet-electron.sh` script
  README.md
  docs/ui-setup.md
Labels: documentation

#4688 Make macaroon path accessible in LndInstanceLocal, add Versioner RPC
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientTest.scala
  lnd-rpc/src/main/protobuf/verrpc/verrpc.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndInstance.scala
Labels: lnd-rpc

#4693 Add log when we are fetching peers to sync with
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
Labels: node, logging

#4691 revert docker-compose user again as its impossible to create mounted direcotry as non root user
  README.md
  docker-compose.yml
Labels: docker
