Repository bitcoin-s/bitcoin-s, pull requests merged in 2023-12, with the labels that each got.

#5314 Update logback-classic to 1.4.14
  project/Deps.scala
Labels: dependencies

#5309 Update sbt-bloop to 1.5.12
  project/plugins.sbt
Labels: dependencies

#5315 Rework `Socks5Connection.socks5Handler()`
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: refactor, tor

#5318 LnURLClient accept header
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURLClient.scala
Labels: lnurl

#5322 2023 12 07 mat socks5handler
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: refactor, tor

#5307 Fix bug where `PeerConnection.connectionGraphOpt` does not get reset on disconnect
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: bug, node

#5323 Improve `ReConnectionTest`
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
Labels: node, tests

#5324 2023 12 13 mv connectioncount check fixtures
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: testkit, refactor

#5325 Rework `ConnectionGraph.stop()` to return `Future[Done]`
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: node, refactor

#5326 Upgrade cache action to v3
  .github/workflows/Compile.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/Secp_Disabled_Tests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
Labels: CI, build

#5327 Remove unecessary helper method in `PeerFinder`
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
Labels: bug, node

#5329 Rework various private methods in `DataMessagehandler` to return `NodeState`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5334 Make `PeerManager.gossipMessage()` queue to avoid gossiping messages to peers being disconnected
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node, refactor

#5333 2023 12 24 Make filter headers / filters sync work with block header reorgs
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerCachedTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandlerCached.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  core/src/main/scala/org/bitcoins/core/api/chain/FilterSyncMarker.scala
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
Labels: bug, chain, node, api-breaking

#5335 Refactor `ChainHandler.findNextHeader()` to only take 1 blockchain
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: chain, refactor

#5336 Simplify `ChainHandler.nextFilterHeaderBatchRange()`
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
Labels: bug, chain

#5331 Rework `randomPeerWithServices()` to be inside of `NodeState`
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeState.scala
  core/src/main/scala/org/bitcoins/core/api/node/PeerWithServices.scala
  core/src/main/scala/org/bitcoins/core/p2p/ServiceIdentifier.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5337 2023 12 30 isfiltersync bug
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5338 Add `ChainApi.getBestChainTips()`
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  core/src/main/scala/org/bitcoins/core/api/chain/ChainApi.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
Labels: bug, chain, node, core

#5332 Rework `NodeTestUtil` to use a specific `bestBlockHash`
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: testkit, refactor
