Repository bitcoin-s/bitcoin-s, pull requests merged in 2023-05, with the labels that each got.

#5062 2023 04 26 dmh state refactor
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandlerState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node, refactor

#5064 Update sbt-ci-release to 1.5.12
  project/plugins.sbt
Labels: dependencies

#5065 Add `MisbehavingPeer` state
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandlerState.scala
Labels: node, refactor

#5068 Update scalacheck-1-15 to 3.2.12.0
  project/Deps.scala
Labels: dependencies

#5066 2023 05 05 encapsulate peermanager peermsgsender
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/util/PeerMessageSenderApi.scala
Labels: node, refactor

#5067 Update sbt-native-image to 0.3.4
  project/plugins.sbt
Labels: dependencies

#5044 Update bcprov-jdk18on to 1.73
  project/Deps.scala
Labels: dependencies

#5070 Encapsulate access to akka streams queue to `PeerManager`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5073 Make `PeerFinder.getData()` return `Option`
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5074 Fix `ReConnectionTest` part 2
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClientSupervisor.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: bug, node

#5075 Remove `PeerHandler` as it isn't used in src
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5077 Update sbt to 1.8.3
  project/build.properties
Labels: dependencies

#5078 Update scalatest to 3.2.16
  project/Deps.scala
Labels: dependencies

#5079 Update scalacheck-1-16 to 3.2.14.0
  project/Deps.scala
Labels: dependencies

#5080 Update sqlite-jdbc to 3.41.2.2
  project/Deps.scala
Labels: dependencies

#5082 Fix transitive dep build bug introduced in sqlite3 `3.41.2.2` w/ `jlink`
  project/CommonSettings.scala
Labels: bug, build, dependencies

#5083 Update sqlite-jdbc to 3.42.0.0
  project/Deps.scala
Labels: dependencies

#5084 Create `P2PClientCallbacks` to encapsulate callbacks
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClientCallbacks.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: node, refactor

#5085 Drain data message stream before `PeerManager.stop()` is complete
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5086 2023 05 29 peermanager peerfinder refactor
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandlerState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: node, refactor
