Repository bitcoin-s/bitcoin-s, pull requests merged in 2023-07, with the labels that each got.

#5128 Update janino to 3.1.10
  project/Deps.scala
Labels: dependencies

#5131 Ignore messages in queue that were queued before we disconnected peer
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5132 Fix duplicate filter header sync by adding delay before attempting to sync filter headers
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5134 Update client3:core to 3.8.16
  project/Deps.scala
Labels: dependencies

#5130 2023 07 04 node refactors
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandlerState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/NodeState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  node/src/main/scala/org/bitcoins/node/util/PeerMessageSenderApi.scala
Labels: node, refactor

#5138 Move `Socks5ProxyParams`, `Credentials`, `Peer` into `core`
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindRpcAppConfig.scala
  core/src/main/scala/org/bitcoins/core/api/node/Peer.scala
  core/src/main/scala/org/bitcoins/core/api/tor/Credentials.scala
  core/src/main/scala/org/bitcoins/core/api/tor/Socks5ProxyParams.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTorTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCClient.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/config/DLCNodeAppConfig.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/peer/Peer.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/config/EclairInstance.scala
  esplora-test/src/test/scala/org/bitcoins/esplora/EsploraClientTest.scala
  esplora/src/main/scala/org/bitcoins/esplora/EsploraClient.scala
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitGoFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitcoinerLiveFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/FeeProviderFactory.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/HttpFeeRateProvider.scala
  fee-provider/src/main/scala/org/bitcoins/feeprovider/MempoolSpaceProvider.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURLClient.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/NodeState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  node/src/main/scala/org/bitcoins/node/util/PeerMessageSenderApi.scala
  oracle-explorer-client/src/main/scala/org/bitcoins/explorer/client/SbExplorerClient.scala
  oracle-explorer-client/src/test/scala/org/bitcoins/explorer/client/SbExplorerClientTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5ClientTransport.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
  tor/src/main/scala/org/bitcoins/tor/client/TorClient.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: core, refactor, tor

#5137 Update sbt-scalajs-crossproject to 1.3.2
  project/plugins.sbt
Labels: dependencies

#5141 Remove duplicate `Peer` class
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCServerTorTest.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCClient.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/DLCNode.scala
  dlc-node/src/main/scala/org/bitcoins/dlc/node/peer/Peer.scala
Labels: refactor, dlc-node

#5136 Implement socks5 proxy in PeerMessageSender
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  tor/src/main/scala/org/bitcoins/tor/Socks5Connection.scala
Labels: node, refactor, tor

#5142 Update sbt to 1.9.2
  project/build.properties
Labels: dependencies

#5147 Make sure `PeerData.stop()` is called when `PeerFinder.removePeer()` is called
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5144 First attempt at implementing `inactivityChecks()`
  docs/config/configuration.md
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/resources/reference.conf
Labels: enhancement, node, config

#5150 2023 07 17 coretest script refactor
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Spec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32mSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32mTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BitcoinAddressSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/BitcoinAddressTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/BlockHeaderSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/MerkleBlockSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/MerkleBlockTests.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/PartialMerkleTreeSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/blockchain/PartialMerkleTreeTests.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CLTVScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CLTVScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CSVScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/CSVScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptSignatureSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKHScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKHScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKHScriptSignatureSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptPubKeyTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptSignatureSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2PKScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptSignatureSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/P2SHScriptSignatureTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/ScriptSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/WitnessCommitmentSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/WitnessCommitmentTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/WitnessScriptPubKeySpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionInputSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionInputTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionOutPointSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionOutPointTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionOutputSpec.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionOutputTest.scala
Labels: core, refactor

#5153 Move `setSyncing` into `PeerManager.syncHelper()`
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node

#5154 Defensively try to sync everytime a peer is a initialized
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: enhancement, node

#5155 Make `PeerMessageSender.reconnect()` return a `Future` that is completed when the connection is established
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: bug, node

#5157 Fix bug in `ChainApi.processFilterHeaders()`
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: bug, chain

#5156 2023 07 19 cleanup nodetest
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/NodeState.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/fixture/NodeConnectedWithBitcoind.scala
Labels: bug, node

#5158 Fix bug where we just need to `awaitSyncAndIBD()` rather than attempt to `sync()`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: bug, node

#5159 Use `Await.result()` in `DataMessageHandlerTest` to avoid test cases that never complete
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
Labels: node

#5160 Update sbt to 1.9.3
  project/build.properties
Labels: dependencies

#5166 Fix `onBlockReceived` unit test
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
Labels: bug, node

#5165 Remove `ValidatingHeaders` state
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/NodeState.scala
Labels: node, refactor

#5168 Implement more checks for `createFilterSyncJob()`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5170 Add `PeerManagerApi.peers`
  core/src/main/scala/org/bitcoins/core/api/node/PeerManagerApi.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: enhancement, core

#5173 2023 07 31 fix filterheader sync bug
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node
