Repository bitcoin-s/bitcoin-s, pull requests merged in 2023-08, with the labels that each got.

#5171 Implement logic to restart `PeerManager` in inactivity checks when we have 0 peers
  core/src/main/scala/org/bitcoins/core/api/node/Peer.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5175 Update bcprov-jdk18on to 1.76
  project/Deps.scala
Labels: dependencies

#5172 2023 07 28 cleanup tests
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node

#5176 2023 08 01 issue 5174
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5181 Reduce log level of 'Received maximum amount of headers'
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5179 Update junixsocket-core to 2.7.0
  project/Deps.scala
Labels: dependencies

#5177 2023 08 04 rm peermsgrecvstate
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5182 Remove `PeerMessageReceiver`
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5178 Update logback-classic to 1.4.9
  project/Deps.scala
Labels: dependencies

#5183 More idiomatic akka stream usage
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node, refactor

#5184 Update sbt-coveralls to 1.3.10
  project/plugins.sbt
Labels: dependencies

#5187 Increase inactivity check log level
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: logging

#5188 Lower `DataMessageHandler` filter sync log levels to `DEBUG`
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, logging

#5190 Update client3:core to 3.9.0
  project/Deps.scala
Labels: dependencies

#5189 Update logback-classic to 1.4.11
  project/Deps.scala
Labels: dependencies

#5191 Update sbt-coveralls to 1.3.11
  project/plugins.sbt
Labels: dependencies

#5192 Move initialization cancellable into connection graph
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: bug, node

#5193 Remove executing block callbacks if node is in IBD
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node, initial-block-download

#5194 Upgrade lnd to `0.16.4`
  docs/rpc/lnd.md
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/internal/LndRouterClient.scala
Labels: enhancement, lnd-rpc

#5197 Add `Await.result() `to inactivity check runnable to make sure it completes
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5199 Remove `Initialized` from `NodeStreamMessage`, return `Initialized `from `ControlMessageHandler`
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
Labels: bug, node

#5201 Rework handling of `BlockMessage`, fix bug where callbacks executed when they shouldn't have been
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5202 Add filter header and filter count to logs
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, logging

#5203 Fix bug where we weren't checking if filters are stale when determing if we need to sync filters
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5204 Update sbt to 1.9.4
  project/build.properties
Labels: dependencies

#5205 Update sqlite-jdbc to 3.42.0.1
  project/Deps.scala
Labels: dependencies

#5206 Reduce best filter height sql query costliness by using a cheap check
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
Labels: chain, optimization, performance

#5207 Remove references to client in PeerManager logs
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5209 Cleanup use of `syncPeerOpt` as a param in parts of `PeerManager`
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5211 Add log to help debug filter sync not starting
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node

#5219 remove usages of `new URL()` as constructor is deprecated on jdk 20+
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURL.scala
Labels: build
