Repository bitcoin-s/bitcoin-s, pull requests merged in 2023-01, with the labels that each got.

#4937 Implement ability to cancel background task for querying peer with specific services
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#4939 Catch non `RescanTerminatedEarly` errors when rescan is terminated early
  core/src/main/scala/org/bitcoins/core/wallet/rescan/RescanState.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
Labels: wallet, rescan

#4942 Refactor to use `NodeTestUtil.awaitSync()`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#4941 Some cleanups in the node project
  testkit/src/main/scala/org/bitcoins/testkit/node/BaseNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#4944 Encapsulate `PeerData.client`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: node, refactor

#4947 Update scalatest to 3.2.15
  project/Deps.scala
Labels: dependencies

#4946 Update client3:core to 3.8.7
  project/Deps.scala
Labels: dependencies

#4945 Update gson to 2.10.1
  project/Deps.scala
Labels: dependencies

#4948 Update client3:core to 3.8.8
  project/Deps.scala
Labels: dependencies

#4949 Correctly handle witness v1+ spks in fallback addresses
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTags.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ln/LnInvoiceGen.scala
Labels: core

#4952 Update sbt-native-packager to 1.9.12
  project/plugins.sbt
Labels: dependencies

#4953 Update sbt-native-packager to 1.9.13
  project/plugins.sbt
Labels: dependencies

#4957 Remove expectTimeout Await.result()
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
Labels: node, refactor

#4961 2023 01 25 mv handling network received msg
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: node, refactor

#4950 2023 01 10 refactor peermanager
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, testkit, refactor

#4964 Update sbt-mdoc to 2.3.7
  project/plugins.sbt
Labels: dependencies

#4959 Update play-json to 2.9.4
  project/Deps.scala
Labels: dependencies

#4965 Fix case where `syncCompactFilters` is called but filters but no `syncPeer` is set.
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
Labels: bug, node
