Repository bitcoin-s/bitcoin-s, pull requests merged in 2023-06, with the labels that each got.

#5089 Move `P2PClientCallbacks.onStop()` into disconnection logic rather than `Actor.postStop()`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverTest.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClientCallbacks.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BitcoinSAsyncTest.scala
Labels: node, refactor

#5092 Update sbt-scoverage to 2.0.8
  project/plugins.sbt
Labels: dependencies

#5091 Update sbt to 1.9.0
  project/build.properties
Labels: dependencies

#5090 Update metrics-core, metrics-healthchecks, ... to 4.2.19
  project/Deps.scala
Labels: dependencies

#5094 Remove check to see if seed exists when loading a wallet, the key manager can initiate the seed if it dne
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
Labels: bug, app server

#5093 Remove `awaitPeerWithServices()`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoUnsupportedPeerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5069 Get PeerMessageSenderApi using akka streams for outbound p2p messages
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  node/src/main/scala/org/bitcoins/node/util/PeerMessageSenderApi.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: node, refactor

#5096 Rework `Node.sync()` to return `Future[Peer]` rather than `Future[Option[Peer]]`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5099 Remove `downloadBlocksBasedOnIBD()` as it is redundant
  node/src/main/scala/org/bitcoins/node/Node.scala
Labels: node, refactor

#5100 Add `PeerMessageSenderApi.gossipGetHeadersMessage()`, use it in `Node.sync()`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/util/PeerMessageSenderApi.scala
Labels: bug, node, refactor

#5102 Move {`syncFromNewPeer()`, `syncHelper()`} into PeerManager, remove reference to `Node` inside of `PeerManager`
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5104 Don't execute `onResponseTimeout()` when disconnecting a peer
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
Labels: bug, node

#5103 Update logback-classic to 1.4.8
  project/Deps.scala
Labels: dependencies

#5105 Destroy wallet config when tearing down node
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
Labels: bug, testkit

#5098 2023 05 05 Make `DataMessageHandler` be accummulated in our akka stream
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandlerState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
Labels: node, refactor

#5108 Simplify `DataMessageHandlerTest` so we don't have duplicate callback execution
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
Labels: node, refactor

#5107 Update scala-collection-compat to 2.11.0
  project/Deps.scala
Labels: dependencies

#5109 Reduce p2pclient timeout to 10 seconds
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
Labels: node

#5110 Move `PeerMessageReceiverState` into `PeerMessageReceiver`
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverTest.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5111 2023 06 18 implement tcp connection using akka streams
  core-test/src/test/scala/org/bitcoins/core/util/NetworkUtilTest.scala
  core/src/main/scala/org/bitcoins/core/util/NetworkUtil.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientTest.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClientSupervisor.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: node, refactor

#5113 Update sbt-scalajs, scalajs-compiler, ... to 1.13.2
  project/plugins.sbt
Labels: dependencies

#5112 Update bcprov-jdk18on to 1.75
  project/Deps.scala
Labels: dependencies

#5115 Add `jdk.management.agent` module on dev builds
  project/CommonSettings.scala
Labels: build

#5118 Fix bug in `DataMessageHandler.isFiltersSynced()`
  core/src/main/scala/org/bitcoins/core/p2p/NetworkPayload.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: bug, node, initial-block-download

#5119 Remove `offer(SendToPeer)` from `PeerManager` queue
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5120 Fix race condition between `NodeAppConfig.migrate()` calls when `bitcoin-s.tor.enabled=false`
  app/server/src/main/scala/org/bitcoins/server/BitcoinSAppConfig.scala
Labels: bug, app server

#5122 Remove `batchAndParallelExecute` test case
  core-test/src/test/scala/org/bitcoins/core/util/FutureUtilTest.scala
Labels: tests

#5121 2023 06 28 connection fail logs
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node, logging, refactor

#5123 Update sbt to 1.9.1
  project/build.properties
Labels: dependencies

#5124 Implement call to `Node.stop()` when shutting down `BitcoinSServerMain`
  app/server-routes/src/main/scala/org/bitcoins/server/util/ServerBindings.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
  app/server/src/main/scala/org/bitcoins/server/DLCWalletLoaderApi.scala
  app/server/src/main/scala/org/bitcoins/server/bitcoind/BitcoindSyncState.scala
  app/server/src/main/scala/org/bitcoins/server/util/BitcoindPollingCancellabe.scala
Labels: bug, app server
