Repository bitcoin-s/bitcoin-s, pull requests merged in 2023-04, with the labels that each got.

#5031 Fix bug fetching compact filter height to early in `DataMessageHandler`
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5030 Refactor peerData -> peerDataMap, try to fix #4955
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5034 implement generating addresses when wallet is initialized if keymanager `creationTime` is > 1 hour ago
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: bug, enhancement, wallet

#5038 Speed up `DataMessageHandlerTest` dramatically by using `CachedBitcoind`
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
Labels: node, optimization

#5037 Add logic to fetch block headers after compact filters are synced in IBD to avoid a stale tip
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node, initial-block-download

#5040 Fix bug where `bip39Password` was not passed as param in test case
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
Labels: bug, wallet

#5035 Update sbt-scalajs-crossproject to 1.3.0
  project/plugins.sbt
Labels: dependencies

#5028 Update client3:core to 3.8.14
  project/Deps.scala
Labels: dependencies

#5041 Fix bug where compact filters weren't being processed in order of block height during IBD
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterDAO.scala
  chain/src/main/scala/org/bitcoins/chain/models/CompactFilterHeaderDAO.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: bug, node, initial-block-download

#5043 Update sbt-scalajs, scalajs-compiler, ... to 1.13.1
  project/plugins.sbt
Labels: dependencies

#5042 Update client3:core to 3.8.15
  project/Deps.scala
Labels: dependencies

#5045 2023 04 17 refactor peer message receiver
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverTest.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/P2PClient.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiverState.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5048 Implement `getconnectioncount` rpc
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server-test/src/test/scala/org/bitcoins/server/RoutesSpec.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/NodeRoutes.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeApi.scala
  docs/applications/server.md
  docs/node/node-api.md
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/DisconnectedPeerTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/MockNodeApi.scala
Labels: enhancement, node, app server

#5047 Update sbt-scalajs-crossproject to 1.3.1
  project/plugins.sbt
Labels: dependencies

#5050 Add wait before checking connection count test
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
Labels: tests

#5051 Implement `FutureUtil.batchAndParallelExecute` with `Future.traverse` rather than `Future.sequence`
  core/src/main/scala/org/bitcoins/core/util/FutureUtil.scala
Labels: core

#5049 2023 04 20 decouple node
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageReceiver.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5052 Fix `getpeers` -> `getconnectioncoun`t in `cli`
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
Labels: bug, cli

#5054 Update logback-classic to 1.4.7
  project/Deps.scala
Labels: dependencies

#5055 Only request syncing compact filter headers / filters if our tip isn't stale in `NeutrinoNode.sync()`
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
Labels: bug, node

#5056 Move `onHeaderRequestTimeout` to `PeerManager`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5057 2023 04 22 peermanager dmh refactor
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/P2PClientActorTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, refactor

#5058 Remove `initialSyncDone` `Promise` as it isn't used
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5060 Refactor `DataMesageHandler` to have helper method for `HeadersMessage`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5061 Update scala-collection-compat to 2.10.0
  project/Deps.scala
Labels: dependencies
