Repository bitcoin-s/bitcoin-s, pull requests merged in 2024-03, with the labels that each got.

#5442 Set `max-open-requests = 64` for `appServerTest`
  app/server-test/src/test/resources/reference.conf
Labels: tests

#5443 Add `zmq/test` and `chainTest/test` to OS's we weren't previously running on
  .github/workflows/Mac_2.13_Crypto_Core_AppServer_Tests.yml
  .github/workflows/Windows.yml
Labels: CI

#5444 Always try to attempt to connect to our param peers in PeerFinder
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
Labels: enhancement, node

#5445 Consolidate disabled secp256k1 workflow into Compile workflow
  .github/workflows/Compile.yml
  .github/workflows/Secp_Disabled_Tests.yml
Labels: CI

#5447 Reduce `DataMessageHandler` log levels
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node

#5427 Add delay to wait for zmq to get setup in chainTest
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  project/Deps.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindZMQBackendTest.scala
  zmq/src/main/scala/org/bitcoins/zmq/ZMQSubscriber.scala
Labels: testkit, zmq

#5446 2024 03 01 Fix `syncPeer` exceptions
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: bug, node, refactor

#5449 Revert yml files
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
Labels: CI

#5448 Update logback-classic to 1.5.3
  project/Deps.scala
Labels: dependencies

#5450 fix bug where we weren't properly transferring state to `FilterHeaderSync`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: bug, node

#5451 Reduce reliance of `PeerManager._peerDataMap` in favor of `NodeState.peerDataMap`
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5452 Simplify / reduce log level for compact filter logs
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: logging

#5453 Remove `PeerMessageSenderApi` param from `DataMessageHandler`
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5455 Fix bug where we were executing block callbacks when we hadn't seen a block header
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5456 Rework `NodeApi.downloadBlocks()` to use `DoubleSha256DigestBE`
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/BitcoindStreamUtil.scala
  core/src/main/scala/org/bitcoins/core/api/node/NodeApi.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/NeutrinoWalletApi.scala
  docs/chain/chain-query-api.md
  docs/node/node-api.md
  docs/wallet/wallet.md
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
  node/src/main/scala/org/bitcoins/node/callback/NodeCallbackStreamManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/MockNodeApi.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBackendTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/WalletHolder.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: node, wallet, api-breaking

#5457 Add guards on sending blockfilter messages to non-blockfilter peers
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5459 2024 03 07 Add `NodeState.FilterOrFilterHeaderSync`, refactor `PeerManager` to use it
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5460 Update client3:core, ... to 3.9.4
  project/Deps.scala
Labels: dependencies

#5461 Update slick, slick-hikaricp to 3.5.0
  db-commons/src/main/scala/org/bitcoins/db/JdbcProfileComponent.scala
  project/Deps.scala
Labels: dependencies

#5463 Small refactors to use `RunningNodeState` methods, improve logs
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5465 Remove implicit `NodeAppConfig` from `PeerMessageSender`
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerMessageSender.scala
Labels: node, refactor

#5466 Fix bug where we weren't checking if `isFiltersSynced`
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5468 Send p2p messages to `syncPeer` when we are in and a specific peer is not set in `SendToPeer`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node, wallet

#5469 Don't unnecessarily create new NodeState objects, use helper methods to state transition w/ `NodeState
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5472 2024 03 11 `PeerFinder.getPeersFromDnsSeeds` async
  core/src/main/scala/org/bitcoins/core/config/NetworkParameters.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
Labels: node, refactor

#5471 2024 03 11 Remove filtersync job
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfig.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5474 Update sqlite-jdbc to 3.45.2.0
  project/Deps.scala
Labels: dependencies

#5476 Reduce 'Attempting to connect' log to `DEBUG`
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: logging

#5475 Update postgresql to 42.7.3
  project/Deps.scala
Labels: dependencies

#5477 Reduce various log levels to `DEBUG`
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: logging

#5478 refactor: Use `peerWithServicesDataMap` name consistently across `NodeState` and `PeerManager`
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5473 Update sbt-assembly to 2.2.0
  project/plugins.sbt
Labels: dependencies

#5479 Check if peer is `waitingForDisconnection` when receiving `InitializeDisconnect`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5480 2024 03 18 rm unused configs
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
Labels: node, config

#5481 2024 03 18 reduce connection logs
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: logging

#5483 Reduce stream failure log to DEBUG to avoid tor spam
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: logging

#5484 Refactor `Node.chainApiFromDb()` to return `ChainApi`
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5485 Fix build warnings for `--compress` flag in `jlink`
  project/CommonSettings.scala
Labels: build

#5488 Update sbt-scalajs, scalajs-compiler, ... to 1.16.0
  project/plugins.sbt
Labels: dependencies

#5487 Update client3:core, ... to 3.9.5
  project/Deps.scala
Labels: dependencies

#5486 Update sbt-buildinfo to 0.12.0
  project/plugins.sbt
Labels: dependencies

#5490 Reduce requesting next cfheaders log level to `DEBUG`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node

#5489 Add `bitcoin-s.node.connection-attempt-cool-down-period`
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
Labels: node, config

#5491 Fix start rescan race condition, previously we would attempt to fetch blocks before our NodeApi had any peers
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, app server, rescan

#5492 Remove `neutrino.suredbits.com:8333` from `docker-compose.yml`
  docker-compose.yml
Labels: config, docker

#5493 Stop `BitcoinSAppConfig` last in `BitcoinSServerMain.stop()`
  app/server/src/main/scala/org/bitcoins/server/BitcoinSServerMain.scala
Labels: bug, app server, tor

#5280 Bump versions to `1.9.8`, add `1.9.8` version of website
  README.md
  node/src/main/scala/org/bitcoins/node/constant/NodeConstants.scala
  project/CommonSettings.scala
  website/versioned_docs/version-1.9.8/applications/server.md
  website/versioned_docs/version-1.9.8/chain/chain-query-api.md
  website/versioned_docs/version-1.9.8/chain/filter-sync.md
  website/versioned_docs/version-1.9.8/config/configuration.md
  website/versioned_docs/version-1.9.8/core/addresses.md
  website/versioned_docs/version-1.9.8/core/dlc.md
  website/versioned_docs/version-1.9.8/core/hd-keys.md
  website/versioned_docs/version-1.9.8/core/txbuilder.md
  website/versioned_docs/version-1.9.8/crypto/musig.md
  website/versioned_docs/version-1.9.8/crypto/sign.md
  website/versioned_docs/version-1.9.8/getting-started.md
  website/versioned_docs/version-1.9.8/key-manager/key-manager.md
  website/versioned_docs/version-1.9.8/node/node-api.md
  website/versioned_docs/version-1.9.8/node/node.md
  website/versioned_docs/version-1.9.8/rpc/bitcoind.md
  website/versioned_docs/version-1.9.8/rpc/lnd.md
  website/versioned_docs/version-1.9.8/secp256k1/secp256k1.md
  website/versioned_docs/version-1.9.8/testkit/testkit.md
  website/versioned_docs/version-1.9.8/wallet/wallet-callbacks.md
  website/versioned_docs/version-1.9.8/wallet/wallet.md
  website/versions.json
Labels: documentation, build

#5281 init 1.9.8 release notes
  release-notes/release-notes-1.9.8.md
Labels: documentation

#5495 Run yarn upgrade to update website deps
  website/i18n/en.json
  website/yarn.lock
Labels: documentation

#5497 Bump docker base image to `eclipse-temurin:21`
  project/CommonSettings.scala
Labels: build, docker

#5499 Update sbt-bloop to 1.5.16
  project/plugins.sbt
Labels: dependencies

#5500 Add `xor` operator as `NumberType.{^,xor()}`
  core-test/src/test/scala/org/bitcoins/core/number/Int32Spec.scala
  core-test/src/test/scala/org/bitcoins/core/number/Int32Test.scala
  core-test/src/test/scala/org/bitcoins/core/number/Int64Spec.scala
  core-test/src/test/scala/org/bitcoins/core/number/Int64Test.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt32Spec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt32Test.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt64Spec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt64Test.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt8Spec.scala
  core-test/src/test/scala/org/bitcoins/core/number/UInt8Test.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
Labels: enhancement, core
