Repository bitcoin-s/bitcoin-s, pull requests merged in 2024-04, with the labels that each got.

#5503 Bump `java-version` from `17` -> `21` on CI
  .github/workflows/Compile.yml
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  .github/workflows/Linux_2.13_KeyManager_Wallet_DLC_Tests.yml
  .github/workflows/Linux_2.13_Node_Tests.yml
  .github/workflows/Linux_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Crypto_Core_AppServer_Tests.yml
  .github/workflows/Mac_2.13_RPC_Tests.yml
  .github/workflows/Mac_2.13_Wallet_Node_DLC_Tests.yml
  .github/workflows/PostgresTests.yml
  .github/workflows/TorTests.yml
  .github/workflows/Windows.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Labels: CI, build

#5504 Migrate from `setup-scala` github action to `setup-java` github action in `release.yml`
  .github/workflows/release.yml
Labels: CI, build

#5502 Make `ECPublicKey` return `bytes` that were passed as a parameter
  .github/workflows/Compile.yml
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/BouncyCastleSecp256k1Test.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/CryptoGenerators.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/ECPublicKeyTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoParams.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/SecpPoint.scala
Labels: crypto

#5359 Update play-json to 3.0.2
  project/Deps.scala
Labels: dependencies

#5507 Add invariant to make sure we can't have `p2sh(p2sh())`
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5508 Add invariant to `P2WPKHWitnessSPKV0.apply()` to make sure `ECPublicKey` is compressed
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5509 Tighten `P2WSHWitnessSPKV0.apply()` to only take `RawScriptPubKey`
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: bug, core

#5513 Update bcprov-jdk18on to 1.78
  project/Deps.scala
Labels: dependencies

#5510 Update sbt-bloop to 1.5.17
  project/plugins.sbt
Labels: dependencies

#5515 Bump `bitcoin-s.node.maxConnectedPeers` default to `2`
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
Labels: node, config

#5514 Update scalamock to 6.0.0
  project/Deps.scala
Labels: dependencies

#5512 Update otj-pg-embedded to 1.0.3
  project/Deps.scala
Labels: dependencies

#5516 Update logback-classic to 1.5.4
  project/Deps.scala
Labels: dependencies

#5517 Repurpose `PublicKey` trait, extend it with {`SchnorrPublicKey`, `ECPublicKeyApi`, `XOnlyPubKey`}
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/PublicKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/XOnlyPubKey.scala
Labels: refactor, crypto

#5518 Delete directory using `Files.delete()`
  app-commons/src/main/scala/org/bitcoins/commons/file/FileUtil.scala
Labels: app-commons

#5519 Remove different versions of `Blockchain.scala` now that we don't support scalac `2.12`
  chain/src/main/scala-2.12/org/bitcoins/chain/blockchain/Blockchain.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/Blockchain.scala
Labels: chain

#5523 Update slf4j-api to 2.0.13
  project/Deps.scala
Labels: dependencies

#5521 Update logback-classic to 1.5.5
  project/Deps.scala
Labels: dependencies

#5524 Update slick, slick-hikaricp to 3.5.1
  project/Deps.scala
Labels: dependencies

#5525 2024 04 08 Descriptors
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/transaction/TaprootWalletTestCase.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorChecksumTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/KeyExpressionTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/ScriptDescriptorTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/ECPrivateKeyUtil.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ControlBlock.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/TapLeaf.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/Descriptor.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorExpression.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorIterator.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorType.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/KeyOriginExpression.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptType.scala
Labels: enhancement, core

#5526 Update scala-collection-compat to 2.12.0
  project/Deps.scala
Labels: dependencies

#5529 2024 04 16 descriptor fidelity
  core-test/src/test/scala/org/bitcoins/core/crypto/bip32/BIP32PathTest.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDAccountTest.scala
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorChecksumTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/KeyExpressionTest.scala
  core/src/main/scala/org/bitcoins/core/hd/BIP32Path.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAccount.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAddress.scala
  core/src/main/scala/org/bitcoins/core/hd/HDChain.scala
  core/src/main/scala/org/bitcoins/core/hd/HDCoin.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPathFactory.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/Descriptor.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorExpression.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorIterator.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCDataManagement.scala
  docs/crypto/sign.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/HDGenerators.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/util/GetAddresses.scala
Labels: core

#5528 Update sqlite-jdbc to 3.45.3.0
  project/Deps.scala
Labels: dependencies

#5527 Update scalacheck to 1.17.1
  project/Deps.scala
Labels: dependencies

#5532 Update bcprov-jdk18on to 1.78.1
  project/Deps.scala
Labels: dependencies

#5534 Implement `importdescriptors` RPC
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v24/BitcoindV24RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/DescriptorRpc.scala
Labels: bitcoind-rpc

#5496 Remove support for `v21` of `bitcoind`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/NetworkResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RawTransactionResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcPsbtResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/TestRpcUtilTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BitcoindVersionTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultisigRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UtilRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v21/BitcoindV21RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v22/BitcoindV22RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v24/BitcoindV24RpcClientTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/DescriptorRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/V18AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v21/BitcoindV21RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/V22AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  core/src/main/scala/org/bitcoins/core/gcs/FilterHeader.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/Descriptor.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutPoint.scala
  testkit/src/main/scala/org/bitcoins/testkit/clightning/CLightningRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/CLightningFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bitcoind-rpc

#5531 Update logback-classic to 1.5.6
  project/Deps.scala
Labels: dependencies

#5535 Remove `scala-async` dep as it is not used
  project/Deps.scala
Labels: dependencies

#5536 Update dialect to `scala213source3`
  .scalafmt.conf
Labels: build

#5537 2024 04 21 Remove `BitcoindV22RpcClient`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/P2PRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v18/PsbtRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v22/BitcoindV22RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v24/BitcoindV24RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/NodeRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v18/V18AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/BitcoindV22RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/TestMempoolAcceptRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v22/V22AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/fixture/NodeConnectedWithBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bitcoind-rpc

#5538 Remove support for 23.x of bitcoind
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v23/BitcoindV23RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v24/BitcoindV24RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v23/BitcoindV23RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bitcoind-rpc

#5540 Implement bitcoind `25.2`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/OtherResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RawTransactionResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/RpcOpts.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/RawTransactionRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v24/BitcoindV24RpcClientTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v25/BitcoindV25RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/DescriptorRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/PsbtRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/RawTransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v25/BitcoindV25RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  core/src/main/scala/org/bitcoins/core/gcs/FilterType.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/Descriptor.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc

#5543 Make `wallet.dat` be the default wallet name for bitcoind in our codebase
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: bitcoind-rpc, testkit

#5545 rework `bitcoind-rpc` to take a `walletName` parameter that is a String
  bitcoin-s-docs/src/main/scala/org/bitcoins/docs/DocsGen.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  docs/rpc/bitcoind.md
Labels: bitcoind-rpc, refactor

#5549 2024 04 24 rm v24
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BitcoindVersionTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MessageRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MiningRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/NodeRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UtilRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/v24/BitcoindV24RpcClientTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/DescriptorRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v24/BitcoindV24RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: bitcoind-rpc

#5550 Implement bitcoind RPC `26.x`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/NetworkResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/WalletResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BitcoindVersionTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/DisconnectedPeersRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MultiWalletRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/NodeRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/P2PRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UTXORpcTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BlockchainRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MiningRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/P2PRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UTXORpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20AssortedRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v20/V20MultisigRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v26/BitcoindV26RpcClient.scala
  core-test/src/test/scala/org/bitcoins/core/p2p/ServiceIdentifierTest.scala
  core/src/main/scala/org/bitcoins/core/p2p/ServiceIdentifier.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: enhancement, bitcoind-rpc

#5552 Implement `bitcoind` RPC 27.0
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/DisconnectedPeersRpcTest.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/BitcoindRpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UtilRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/WalletRpc.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/v27/BitcoindV27RpcClient.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/LndFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindFixtures.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/CachedBitcoind.scala
Labels: enhancement, bitcoind-rpc

#5554 Add support for lnd `0.17.5-beta`
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/autopilotrpc/autopilot.proto
  lnd-rpc/src/main/protobuf/chainrpc/chainkit.proto
  lnd-rpc/src/main/protobuf/chainrpc/chainnotifier.proto
  lnd-rpc/src/main/protobuf/devrpc/dev.proto
  lnd-rpc/src/main/protobuf/invoicesrpc/invoices.proto
  lnd-rpc/src/main/protobuf/neutrinorpc/neutrino.proto
  lnd-rpc/src/main/protobuf/peersrpc/peers.proto
  lnd-rpc/src/main/protobuf/routerrpc/router.proto
  lnd-rpc/src/main/protobuf/signrpc/signer.proto
  lnd-rpc/src/main/protobuf/verrpc/verrpc.proto
  lnd-rpc/src/main/protobuf/walletrpc/walletkit.proto
  lnd-rpc/src/main/protobuf/watchtowerrpc/watchtower.proto
  lnd-rpc/src/main/protobuf/wtclientrpc/wtclient.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/LndFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
Labels: enhancement, lnd-rpc

#5556 2024 04 29 eclair upgrade `v0.9.0`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/eclair/EclairModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcTestUtilTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: enhancement, eclair-rpc

#5557 2024 04 30 upgrade eclair `v0.10.0`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/eclair/EclairModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  bitcoind-rpc/bitcoind-rpc.sbt
  core/src/main/scala/org/bitcoins/core/protocol/ln/channel/ChannelState.scala
  eclair-rpc-test/src/test/scala/org/bitcoins/eclair/rpc/EclairRpcClientTest.scala
  eclair-rpc/eclair-rpc.sbt
  eclair-rpc/src/main/scala/org/bitcoins/eclair/rpc/client/EclairRpcClient.scala
  lnd-rpc/lnd-rpc.sbt
  testkit-core/.jvm/src/main/resources/logback-test.xml
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
Labels: enhancement, eclair-rpc
