Repository bitcoin-s/bitcoin-s, pull requests merged in 2024-05, with the labels that each got.

#5541 Renable `parallelExecution` for `bitcoindRpcTest`
  build.sbt
Labels: bitcoind-rpc

#5562 2024 05 02 intellij compile
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: build, intellij

#5561 Rework `PeerManagerApi.{sendToRandomPeer, gossipMessage}`
  core/src/main/scala/org/bitcoins/core/api/node/PeerManagerApi.scala
  node/src/main/scala/org/bitcoins/node/Node.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5568 Update sbt-scoverage to 2.0.12
  project/plugins.sbt
Labels: dependencies

#5565 Update client3:core, ... to 3.9.6
  project/Deps.scala
Labels: dependencies

#5567 Update scala-library to 2.13.14
  inThisBuild.sbt
Labels: dependencies

#5566 Update play-json to 3.0.3
  project/Deps.scala
Labels: dependencies

#5570 Upgrade to sbt `1.10.0`
  project/build.properties
Labels: build, dependencies

#5572 Add missing fields to `GetMemPoolInfoResult`
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
Labels: bitcoind-rpc

#5573 Implement `getrawmempool` verbose
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app/scripts/src/main/scala/org/bitcoins/scripts/ScanBitcoind.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/MempoolRpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/MempoolRpc.scala
Labels: enhancement, bitcoind-rpc

#5571 Update waffle-jna to 3.4.0
  project/Deps.scala
Labels: dependencies

#5574 Add `-datadir` to when obtaining `bitcoind -version` to avoid using default datadir
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindInstance.scala
Labels: bug, bitcoind-rpc

#5576 Remove remaining `2.13` specific code as `2.13.x` is the only `scalac` we support
  app-commons/src/main/scala/org/bitcoins/commons/config/AppConfig.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindAuthCredentials.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/config/BitcoindConfig.scala
  clightning-rpc/src/main/scala/com/bitcoins/clightning/rpc/config/CLightningConfig.scala
  core/src/main/scala-2.13/org/bitcoins/core/compat/CompactPackage.scala
  core/src/main/scala/org/bitcoins/core/util/MapWrapper.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/WalletStorage.scala
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/config/LndConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: core, scala

#5577 Fix `jlinkIgnore` after bumping `waffle-jna` to `3.4.0`
  project/CommonSettings.scala
Labels: build

#5579 Try to fix release build to workaround
  .github/workflows/release.yml
Labels: build

#5575 Pull over scala3 compatible code for `crypto/` project
  build.sbt
  crypto-test/.jvm/src/test/scala/org/bitcoins/crypto/AesCryptTest.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/BCryptoCryptoRuntime.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/CryptoJsUtil.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/facade/Buffer.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/facade/PBKDF2.scala
  crypto/.js/src/main/scala/org/bitcoins/crypto/facade/SECP256k1.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleCryptoParams.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncyCastleUtil.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/BouncycastleCryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/HMacDSAKCalculatorWithEntropy.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/PBKDF2.scala
  crypto/src/main/scala/org/bitcoins/crypto/AdaptorUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/AesCrypt.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/DERSignatureUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/DLEQUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECAdaptorSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/FieldElement.scala
  crypto/src/main/scala/org/bitcoins/crypto/FiniteField.scala
  crypto/src/main/scala/org/bitcoins/crypto/HashDigest.scala
  crypto/src/main/scala/org/bitcoins/crypto/HashType.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrNonce.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/SecpPoint.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
  crypto/src/main/scala/org/bitcoins/crypto/SipHashKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/XOnlyPubKey.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/KeySet.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigNoncePriv.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigNoncePub.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigTweakContext.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigTweakData.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/SigningSession.scala
Labels: crypto, scala

#5581 Add `-Xsource:3` to `docs/`
  async-utils-test/src/test/scala/org/bitcoins/asyncutil/AsyncUtilTest.scala
  build.sbt
  docs/chain/chain.md
  docs/chain/filter-sync.md
  docs/core/adding-spks.md
  docs/node/node.md
  docs/rpc/bitcoind.md
  docs/rpc/eclair.md
  docs/rpc/lnd.md
  docs/testkit/testkit.md
  docs/wallet/address-tagging.md
  docs/wallet/wallet-sync.md
  docs/wallet/wallet.md
Labels: build

#5582 2024 05 10 `appCommons/` compiling with `-Xsource:3`
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  build.sbt
Labels: build, app-commons, scala

#5583 2024 05 10 keymanager xsource3
  build.sbt
  key-manager-test/src/test/scala/org/bitcoins/keymanager/WalletStorageTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCFeeTestUtil.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CreditingTxGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BaseAsyncTest.scala
Labels: build, key-manager, scala

#5586 Adjust `OutgoingPaymentStatus.completedAt` to be `RelayTimestamp` type
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/eclair/EclairModels.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonReaders.scala
Labels: bug, eclair-rpc

#5585 2024 05 10 dbcommons xsource3
  build.sbt
  db-commons-test/src/test/scala/org/bitcoins/db/models/MasterXPubDAOTest.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
Labels: build, scala, db-commons

#5587 Add -Xsource:3 to `chain/`
  build.sbt
  chain-test/src/test/scala/org/bitcoins/chain/ChainCallbacksTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/BitcoindChainHandlerViaZmqTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerCachedTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/MainnetChainHandlerTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/sync/ChainSyncTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/BlockHeaderDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/ChainStateDescriptorDAOTest.scala
  chain-test/src/test/scala/org/bitcoins/chain/models/CompactFilterDAOTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: chain, build, scala

#5589 Add `-Xsource:3` to `node/` `node-test/` `tor/` `tor-test/`
  build.sbt
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNegotiationTest.scala
  dlc-node-test/src/test/scala/org/bitcoins/dlc/node/DLCNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
  tor/src/main/scala/org/bitcoins/tor/TorController.scala
  tor/src/main/scala/org/bitcoins/tor/config/TorAppConfig.scala
Labels: node, build, scala, tor

#5590 Add -Xsource:3 to rpc projects
  build.sbt
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
  project/CommonSettings.scala
Labels: eclair-rpc, lnd-rpc, clightning

#5592 Get rest of codebase compiling with -Xsource:3
  app/server-routes/src/main/scala/org/bitcoins/server/routes/CommonRoutes.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTest.scala
  app/server-test/src/test/scala/org/bitcoins/server/BitcoinSServerMainBitcoindTorTest.scala
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/DLCRoutes.scala
  app/server/src/main/scala/org/bitcoins/server/util/CallbackUtil.scala
  app/server/src/main/scala/org/bitcoins/server/util/WebsocketUtil.scala
  build.sbt
  fee-provider/src/main/scala/org/bitcoins/feeprovider/BitGoFeeRateProvider.scala
  testkit/src/main/scala/org/bitcoins/testkit/async/TestAsyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/clightning/CLightningRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/dlc/BitcoinSDLCNodeTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/eclair/rpc/EclairRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/lnd/LndRpcTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSDualWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualWalletTestCachedBitcoind.scala
Labels: testkit, build, app server, fee-provider, scala

#5593 Update scodec-bits to 1.2.0
  project/Deps.scala
Labels: dependencies

#5594 2024 05 14 mac electron release
  .github/workflows/release.yml
Labels: CI

#5596 Create 1.9.9 release notes
  release-notes/release-notes-1.9.9.md
Labels: documentation, release

#5598 Bump versions to `1.9.9`
  README.md
  node/src/main/scala/org/bitcoins/node/constant/NodeConstants.scala
  project/CommonSettings.scala
  website/versioned_docs/version-1.9.9/chain/chain.md
  website/versioned_docs/version-1.9.9/chain/filter-sync.md
  website/versioned_docs/version-1.9.9/config/configuration.md
  website/versioned_docs/version-1.9.9/core/adding-spks.md
  website/versioned_docs/version-1.9.9/core/addresses.md
  website/versioned_docs/version-1.9.9/core/dlc.md
  website/versioned_docs/version-1.9.9/core/hd-keys.md
  website/versioned_docs/version-1.9.9/core/txbuilder.md
  website/versioned_docs/version-1.9.9/crypto/sign.md
  website/versioned_docs/version-1.9.9/getting-started.md
  website/versioned_docs/version-1.9.9/key-manager/key-manager.md
  website/versioned_docs/version-1.9.9/node/node.md
  website/versioned_docs/version-1.9.9/rpc/bitcoind.md
  website/versioned_docs/version-1.9.9/rpc/eclair.md
  website/versioned_docs/version-1.9.9/rpc/lnd.md
  website/versioned_docs/version-1.9.9/secp256k1/secp256k1.md
  website/versioned_docs/version-1.9.9/testkit/testkit.md
  website/versioned_docs/version-1.9.9/wallet/address-tagging.md
  website/versioned_docs/version-1.9.9/wallet/wallet-sync.md
  website/versioned_docs/version-1.9.9/wallet/wallet.md
  website/versions.json
Labels: release

#5600 Update gson to 2.11.0
  project/Deps.scala
Labels: dependencies

#5602 Update sbt-bloop to 1.5.18
  project/plugins.sbt
Labels: dependencies

#5603 Update sqlite-jdbc to 3.46.0.0
  project/Deps.scala
Labels: dependencies

#5604 add checkout action to electron build
  .github/workflows/release.yml
Labels: CI
