Repository bitcoin-s/bitcoin-s, pull requests merged in 2024-11, with the labels that each got.

#5755 Update sbt-buildinfo to 0.13.0
  project/plugins.sbt
Labels: dependencies

#5756 Update sbt, scripted-plugin to 1.10.5
  project/build.properties
Labels: dependencies

#5758 Update sbt-bloop to 2.0.4
  project/plugins.sbt
Labels: dependencies

#5757 Add `Sign.{signWithHashType(),signLowRWithHashType}`
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureCreator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
Labels: core, refactor

#5759 Update flyway-core, ... to 10.21.0
  project/Deps.scala
Labels: dependencies

#5761 refactor: Use `ECDigitalSignature.appendHashType()` throughout codebase
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureCreator.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: core, refactor

#5762 Update sbt-bloop to 2.0.5
  project/plugins.sbt
Labels: dependencies

#5763 Update sbt-buildinfo to 0.13.1
  project/plugins.sbt
Labels: dependencies

#5764 2024 11 09 schnorrsig hashtype
  core-test/src/test/scala/org/bitcoins/core/util/OrderedSchnorrSignaturesTest.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/OracleEvent.scala
  core/src/main/scala/org/bitcoins/core/api/dlcoracle/db/EventDb.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/compute/DLCUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  crypto-test/src/test/scala/org/bitcoins/crypto/musig/MuSigTest.scala
  crypto/.jvm/src/main/scala/org/bitcoins/crypto/LibSecp256k1CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoRuntime.scala
  crypto/src/main/scala/org/bitcoins/crypto/CryptoUtil.scala
  crypto/src/main/scala/org/bitcoins/crypto/DigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/musig/MuSigUtil.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/DLCOracleTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventDAOTest.scala
  dlc-oracle-test/src/test/scala/org/bitcoins/dlc/oracle/storage/EventOutcomeDAOTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleEnumExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleExactNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCMultiOracleNumericExecutionTest.scala
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/DLCNumericExecutionTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CryptoGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/TLVGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/WitnessGenerators.scala
Labels: core, crypto

#5768 core: Implement BIP86
  core-test/src/test/scala/org/bitcoins/core/hd/HDPathTest.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPath.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPathFactory.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/hd/TaprootHDPath.scala
  core/src/main/scala/org/bitcoins/core/util/HDUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
Labels: enhancement, core, taproot

#5771 2024 11 16 rm isdummysig
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  core-test/.jvm/src/test/scala/org/bitcoins/core/dlc/testgen/dlc_test.json
  core-test/.jvm/src/test/scala/org/bitcoins/core/dlc/testgen/dlc_tx_test.json
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/InputInfoTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxSigner.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  crypto/src/main/scala/org/bitcoins/crypto/ECDigitalSignature.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
  docs/core/adding-spks.md
  docs/core/psbts.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: core, refactor

#5770 2024 11 15 partialsig typeparam
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/SerializedPSBT.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonWriters.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/Picklers.scala
  app/cli/src/main/scala/org/bitcoins/cli/CliReaders.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/WalletRpcTest.scala
  core-test/.jvm/src/test/scala/org/bitcoins/core/dlc/testgen/DLCTLVGen.scala
  core-test/src/test/scala/org/bitcoins/core/crypto/TransactionSignatureCreatorTest.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/dlc/DLCMessageTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureCreator.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/execution/DLCExecutor.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/models/DLCMessage.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/sign/DLCTxSigner.scala
  core/src/main/scala/org/bitcoins/core/protocol/dlc/verify/DLCSignatureVerifier.scala
  core/src/main/scala/org/bitcoins/core/protocol/tlv/TLV.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTKeyId.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTRecord.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  db-commons/src/main/scala/org/bitcoins/db/DbCommonsColumnMappers.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCAcceptDb.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigsDAO.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/models/DLCRefundSigsDb.scala
  docs/core/adding-spks.md
  docs/core/psbts.md
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/DLCTest.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/dlc/TestDLCClient.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/PSBTGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/util/BytesUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/util/BytesUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DLCWalletUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletUnitTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/SendFundsHandlingHandling.scala
Labels: core, refactor

#5767 2024 10 31 taproot signing
  core-test/src/test/scala/org/bitcoins/core/wallet/signer/SignerTest.scala
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureCreator.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/WitnessVersion.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/InputUtil.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  crypto/src/main/scala/org/bitcoins/crypto/Sign.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/WitnessGenerators.scala
Labels: enhancement, core, taproot

#5772 2024 11 14 wallet taproot
  core-test/.jvm/src/test/scala/org/bitcoins/core/dlc/testgen/DLCTestVector.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/Bech32mTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/RawTxSignerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/ShufflingNonInteractiveFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/builder/StandardNonInteractiveFinalizerTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/InputInfoTest.scala
  core-test/src/test/scala/org/bitcoins/core/wallet/utxo/InputSigningInfoTest.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/AddressDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/AddressRecord.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/SpendingInfoDb.scala
  core/src/main/scala/org/bitcoins/core/api/wallet/db/UTXORecord.scala
  core/src/main/scala/org/bitcoins/core/crypto/ExtKeyVersion.scala
  core/src/main/scala/org/bitcoins/core/crypto/TxSigComponent.scala
  core/src/main/scala/org/bitcoins/core/hd/HDAddress.scala
  core/src/main/scala/org/bitcoins/core/hd/HDPurpose.scala
  core/src/main/scala/org/bitcoins/core/protocol/Address.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTags.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBT.scala
  core/src/main/scala/org/bitcoins/core/psbt/PSBTMap.scala
  core/src/main/scala/org/bitcoins/core/script/util/PreviousOutputMap.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxFinalizer.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/RawTxSigner.scala
  core/src/main/scala/org/bitcoins/core/wallet/signer/Signer.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputInfo.scala
  core/src/main/scala/org/bitcoins/core/wallet/utxo/InputSigningInfo.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/internal/DLCTransactionProcessing.scala
  docs/core/psbts.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/AddressGenerator.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CreditingTxGen.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CryptoGenerators.scala
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/SendFundsHandlingHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/UtxoHandling.scala
Labels: enhancement, wallet, taproot

#5780 core: Fix bug where we weren't checking for valid hash types in `TaprootKeyPath.isValid()`
  core/src/main/scala/org/bitcoins/core/crypto/TransactionSignatureChecker.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
  core/src/main/scala/org/bitcoins/core/script/crypto/CryptoInterpreter.scala
  crypto/src/main/scala/org/bitcoins/crypto/HashType.scala
  project/CommonSettings.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CryptoGenerators.scala
Labels: bug, core

#5778 Update pekko-http, pekko-http-testkit to 1.1.0
  project/Deps.scala
Labels: dependencies

#5779 Update flyway-core, ... to 10.22.0
  project/Deps.scala
Labels: dependencies

#5775 testkit: Randomize defaultAccountType (purpose) in tests
  dlc-wallet-test/src/test/scala/org/bitcoins/dlc/wallet/RescanDLCTest.scala
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/DualDLCWalletTestCachedBitcoind.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/ProcessBlockTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AddressHandling.scala
Labels: testkit

#5781 wallet: Cleanup `RescanHandlingTest`
  wallet-test/src/test/scala/org/bitcoins/wallet/RescanHandlingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
Labels: wallet

#5784 tests: Make `NeutrinoNodeWalletTest` more robust against spurious failures
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithWalletTest.scala
Labels: tests

#5783 config: Rename config option `bitcoin-s.wallet.defaultAccountType` -> `bitcoin-s.wallet.purpose`
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
  key-manager-test/src/test/scala/org/bitcoins/keymanager/config/KeyManagerAppConfigTest.scala
  key-manager/src/main/scala/org/bitcoins/keymanager/config/KeyManagerAppConfig.scala
  testkit/src/main/scala/org/bitcoins/testkit/server/BitcoinSServerMainBitcoindFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BaseWalletTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/WalletTestUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/TrezorAddressTest.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletAppConfigTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/AccountHandling.scala
Labels: config

#5788 wallet: Batch database actions in `processBlockCachedUtxos()`
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: bug, wallet

#5786 Add unit test for `RescanState` to test recursive rescans correctly
  core-test/.jvm/src/test/scala/org/bitcoins/core/wallet/rescan/RescanStateTest.scala
Labels: tests

#5791 Update sqlite-jdbc to 3.47.1.0
  project/Deps.scala
Labels: dependencies

#5792 wallet: Remove duplicate implementations of `SendFundsHandlingHandling.sendFromOutpoints()`
  wallet-test/src/test/scala/org/bitcoins/wallet/WalletSendingTest.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/FundTransactionHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/SendFundsHandlingHandling.scala
Labels: wallet

#5793 2024 11 27 processtransaction flaky test
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TxUtil.scala
  core/src/main/scala/org/bitcoins/core/wallet/builder/TxBuilderError.scala
Labels: core

#5794 wallet: Fix noisy log, only log when we have an output to search for
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet

#5795 wallet: Remove `TransactionProcessing.blockProcessingSignals`
  wallet/src/main/scala/org/bitcoins/wallet/config/WalletAppConfig.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet, refactor

#5796 Replace `Future[Wallet]` -> `Wallet` parameter in {`BitcoinSWalletTest`, `BitcoindRpcBackendUtil`}
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/SyncUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/wallet/BitcoinSWalletTest.scala
Labels: testkit, app server

#5797 wallet: Don't cache `TransactionProcessing` now that it doesn't have internal state
  dlc-wallet/src/main/scala/org/bitcoins/dlc/wallet/DLCWallet.scala
  wallet/src/main/scala/org/bitcoins/wallet/Wallet.scala
Labels: wallet, refactor, dlc-wallet
