Repository bitcoin-s/bitcoin-s, pull requests merged in 2024-01, with the labels that each got.

#5339 Add logging to `PeerConnection.handleStreamComplete`
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: bug, node

#5340 Move `PeerManager.connectPeer()` logic into stream
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5341 2024 01 03 shuttingdown nodestate
  core/src/main/scala/org/bitcoins/core/api/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, enhancement, node

#5343 Dont initiate disconnect logic from bitcoind, its flakey for some reason
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5344 Fix bug when requesting `FilterSyncMarker` for filter headers
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
Labels: bug, chain

#5345 2023 01 06 small chainhandler bug fixes
  chain-test/src/test/scala/org/bitcoins/chain/blockchain/ChainHandlerTest.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/models/BlockHeaderDAO.scala
Labels: chain, refactor

#5346 2024 01 11 bip68 bip112 txversion bug
  core-test/src/test/scala/org/bitcoins/core/number/Int32Test.scala
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionConstants.scala
  core/src/main/scala/org/bitcoins/core/script/locktime/LockTimeInterpreter.scala
Labels: bug, core

#5352 Add carve out to ignore `ConnectPeer` request if state is `NodeShuttingDown`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5342 2024 01 02 encapsulate state p2psink
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: node, refactor

#5313 Update janino to 3.1.11
  project/Deps.scala
Labels: dependencies

#5349 Update sbt to 1.9.8
  project/build.properties
Labels: dependencies

#5347 Update jna to 5.14.0
  project/Deps.scala
Labels: dependencies

#5350 Update sbt-mdoc to 2.5.2
  project/plugins.sbt
Labels: dependencies

#5319 Update sbt-bloop to 1.5.13
  project/plugins.sbt
Labels: dependencies

#5353 Make another instance of `Gen[ECPrivateKey]` be deterministic
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/CryptoGenerators.scala
Labels: bug, enhancement, testkit-core

#5354 initiate disconnect from PeerManager rather than bitcoind in connection
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
Labels: node

#5305 Update sbt-assembly to 2.1.5
  project/plugins.sbt
Labels: dependencies

#5351 Update slf4j-api to 2.0.11
  project/Deps.scala
Labels: dependencies

#5321 Update postgresql to 42.7.1
  project/Deps.scala
Labels: dependencies

#5320 Update metrics-core, metrics-healthchecks, ... to 4.2.23
  project/Deps.scala
Labels: dependencies

#5355 Update client3:core, ... to 3.9.2
  project/Deps.scala
Labels: dependencies

#5357 2024 01 18 fix native image build
  .github/workflows/native.yml
Labels: CI, build, native-image

#5356 Update play-json to 2.10.4
  project/Deps.scala
Labels: dependencies

#5361 Update sqlite-jdbc to 3.45.0.0
  project/Deps.scala
Labels: dependencies

#5360 Update metrics-core, metrics-healthchecks, ... to 4.2.24
  project/Deps.scala
Labels: dependencies

#5362 Fix bug in script parsing logic where we weren't checking if a `ScriptNumber` was negative for a `MultiSignatureScriptPubKey`
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5363 2024 01 20 Fix bug in parsing `OP_CLTV` and `OP_CSV`
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5365 Fix bounds checking for `MultiSignatureScriptPubKey.maxSigsRequired`
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5368 Upgrade microPickle to `3.1.4`
  app/cli/src/main/scala/org/bitcoins/cli/ConsoleCli.scala
  app/server/src/main/scala/org/bitcoins/server/CoreRoutes.scala
  project/Deps.scala
Labels: dependencies

#5366 Add access to underlying `MultiSignatureScriptPubKey` scriptNumbers represents `requiredSigs`, `maxSigs`
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core, refactor

#5369 2024 01 23 Validate we have `maxSigs` number of public keys in `MultiSignatureScriptPubKey`
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5370 Fix bug where `IndexOutOfBoundsException` was occuring when parsing `OP_CHECKMULTISIG`
  core-test/src/test/scala/org/bitcoins/core/protocol/script/MultiSignatureScriptPubKeyTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5371 Fix bug in classifying things as `MultiSigSPK` that do not have enough public keys in the Script
  core-test/src/test/scala/org/bitcoins/core/protocol/transaction/TransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: bug, core

#5372 Update metrics-core, metrics-healthchecks, ... to 4.2.25
  project/Deps.scala
Labels: dependencies

#5373 2024 01 26 rm lazy bytes
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionInput.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/TransactionOutput.scala
  core/src/main/scala/org/bitcoins/core/util/BytesUtil.scala
Labels: core, refactor

#5374 2024 01 25 Cache txid
  core-test/.jvm/src/test/resources/a536e7f60a493a258d9adc77d913f7798baf60c808c16898b04579d8c0652681.txt
  core-test/.jvm/src/test/scala/org/bitcoins/core/protocol/transaction/LargeTransactionTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
Labels: bug, core, optimization, performance

#5375 Lnd v0.17.3
  docs/rpc/lnd.md
  lnd-rpc-test/src/test/scala/org/bitcoins/lnd/rpc/LndRpcClientPairTest.scala
  lnd-rpc/lnd-rpc.sbt
  lnd-rpc/src/main/protobuf/lightning.proto
  lnd-rpc/src/main/protobuf/peersrpc/peers.proto
  lnd-rpc/src/main/protobuf/routerrpc/router.proto
  lnd-rpc/src/main/protobuf/signrpc/signer.proto
  lnd-rpc/src/main/protobuf/walletrpc/walletkit.proto
  lnd-rpc/src/main/scala/org/bitcoins/lnd/rpc/LndRpcClient.scala
Labels: lnd-rpc

#5377 Refactor `PeerFinder.peerConnectionScheduler()` into method
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
Labels: node, refactor

#5378 Create `NodeTestUtil.awaitConnectionCount()`
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeWithUncachedBitcoindTest.scala
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestWithCachedBitcoind.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeUnitTest.scala
Labels: node, testkit, refactor

#5380 Guard `NeutrinoNode.start()` with `isStarted` flag
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
Labels: bug, node

#5379 Cancel polling job after walletTest is executed
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindBlockPollingTest.scala
Labels: bug, tests

#5381 2024 01 31 Fix `PeerManager.connect()` bug where `PeerFinder` was unaware of peer
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5382 2024 01 31 Refactor `BitcoindRpcTestUtil.{startSevers(),stopSevers()}` to use `Future.traverse()`
  testkit/src/main/scala/org/bitcoins/testkit/rpc/BitcoindRpcTestUtil.scala
Labels: testkit, refactor
