Repository bitcoin-s/bitcoin-s, pull requests merged in 2024-02, with the labels that each got.

#5384 Update sqlite-jdbc to 3.45.1.0
  project/Deps.scala
Labels: dependencies

#5386 Update sbt-bloop to 1.5.15
  project/plugins.sbt
Labels: dependencies

#5388 Update slf4j-api to 2.0.12
  project/Deps.scala
Labels: dependencies

#5387 Update janino to 3.1.12
  project/Deps.scala
Labels: dependencies

#5389 Fix bug where we were only setting `bitcoin-s.node.inactivity-timeout` on regtest
  node-test/src/test/scala/org/bitcoins/node/networking/ReConnectionTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5392 Log instead of throwing exception when sending message to peer without an active connection
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: node, refactor

#5393 Implement health checks for peers, first check is if we have any blockfilter peers
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: enhancement, node

#5394 Use `Future.successful()` when removing peer as there is no underlying async computation
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
Labels: node

#5395 Update scalatest to `3.2.18`
  project/Deps.scala
Labels: dependencies

#5396 Remove `skipPeers`, better `PeerFinder.toString()`
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
Labels: node, refactor

#5397 Update last seen value in `PeerDb` on disconnect
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
Labels: enhancement, node

#5398 Fix inconsistency of `PeerDAO` primary key usage
  core/src/main/scala/org/bitcoins/core/api/node/Peer.scala
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/PeerDAOTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
Labels: bug, node

#5399 2024 02 15 Fix duplicate sync bug when we have a misbehaving peer
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/PeerData.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5401 2024 02 16 fix get filter sync marker from stop block header bug
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: bug, chain

#5400 Remove `PeerManager.{getPeerMessageSender(), getPeerConnection()}`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: node, refactor

#5402 Fix case were we weren't cancelling the syncFilter job `onDisconnect()`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5403 2024 02 18 peerfinder duplicate connect
  node-test/src/test/scala/org/bitcoins/node/networking/peer/DataMessageHandlerTest.scala
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/PeerFinder.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
Labels: bug, node

#5405 Fix handling invoice with minimal encoding of feature bits
  core-test/src/test/scala/org/bitcoins/core/protocol/ln/LnInvoiceUnitTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/ln/LnTags.scala
Labels: bug, core

#5406 Update logback-classic to 1.5.0
  project/Deps.scala
Labels: dependencies

#5408 Update client3:core, ... to 3.9.3
  project/Deps.scala
Labels: dependencies

#5410 Update jeromq to 0.6.0
  project/Deps.scala
Labels: dependencies

#5407 Update junixsocket-core to 2.9.0
  project/Deps.scala
Labels: dependencies

#5390 Move away from suredbits provided peers by default
  db-commons/src/main/resources/reference.conf
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/NeutrinoNode.scala
  node/src/main/scala/org/bitcoins/node/NodeState.scala
  node/src/main/scala/org/bitcoins/node/NodeStreamMessage.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/ControlMessageHandler.scala
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/org/bitcoins/testkit/BitcoinSTestAppConfig.scala
Labels: node, config, refactor

#5412 Re-add `java.sql` module to `cli` `jlink` image to fix #5411
  project/CommonSettings.scala
Labels: bug, cli

#5414 Update postgresql to 42.7.2
  project/Deps.scala
Labels: dependencies

#5417 Keeping finding peers until all peers are blockfilter peers
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: enhancement, node

#5419 Update sbt to 1.9.9
  project/build.properties
Labels: dependencies

#5421 2024 02 23 `TaprootKeyPath.isValid()` bug
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptWitness.scala
Labels: bug, core

#5424 Update sbt-scoverage to 2.0.11
  project/plugins.sbt
Labels: dependencies

#5423 Add `WalletZmqSubscribers`
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
  app/server/src/main/scala/org/bitcoins/server/WalletZmqSubscribers.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/util/RpcUtil.scala
  wallet-test/src/test/scala/org/bitcoins/wallet/BitcoindZMQBackendTest.scala
  zmq/src/main/scala/org/bitcoins/zmq/ZMQSubscriber.scala
Labels: zmq

#5426 Remove duplicate `PeerConnection.disconnect()` call
  docs/config/configuration.md
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/config/NodeAppConfig.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: bug, node, config

#5428 Upgrade to scala `2.13.13`, fix compiler errors
  core-test/src/test/scala/org/bitcoins/core/util/ScriptProgramTestUtil.scala
  core/src/main/scala/org/bitcoins/core/script/interpreter/ScriptInterpreter.scala
  inThisBuild.sbt
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: build, dependencies, scala

#5432 Rework `NodeState.toString()`
  node/src/main/scala/org/bitcoins/node/NodeState.scala
Labels: core, refactor

#5425 Fix bug where we weren't removing peer from `NodeRunningState.waitingForDisconnection`
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
Labels: bug, node

#5434 Reduce various logs in `org.bitcoins.wallet` to `DEBUG`
  wallet/src/main/scala/org/bitcoins/wallet/internal/RescanHandling.scala
  wallet/src/main/scala/org/bitcoins/wallet/internal/TransactionProcessing.scala
Labels: wallet, logging

#5435 Fix `PeerDb.lastSeen` race condition in unit tests
  node-test/src/test/scala/org/bitcoins/node/NeutrinoNodeTest.scala
  node-test/src/test/scala/org/bitcoins/node/PeerManagerTest.scala
  node-test/src/test/scala/org/bitcoins/node/models/PeerDAOTest.scala
  node/src/main/scala/org/bitcoins/node/PeerManager.scala
  node/src/main/scala/org/bitcoins/node/db/NodeDbManagement.scala
  node/src/main/scala/org/bitcoins/node/models/PeerDAO.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
  testkit/src/main/scala/org/bitcoins/testkit/fixtures/NodeDAOFixture.scala
  testkit/src/main/scala/org/bitcoins/testkit/node/NodeTestUtil.scala
Labels: bug, node

#5433 Ignore invs while in IBD rather than when syncing
  fee-provider-test/src/test/scala/org/bitcoins/feeprovider/FeeRateProviderTest.scala
  node/src/main/scala/org/bitcoins/node/networking/peer/DataMessageHandler.scala
Labels: bug, node

#5218 Update sbt-scalafmt to 2.5.2
  project/plugins.sbt
Labels: dependencies

#5437 Add `OverflowStrategy.backpressure` on `Source.queue` in bitcoind polling job
  app/server/src/main/scala/org/bitcoins/server/BitcoindRpcBackendUtil.scala
Labels: bug, wallet

#5438 Update logback-classic to 1.5.1
  project/Deps.scala
Labels: dependencies

#5439 Use `NodeCallbackStreamManager` when calling `NodeCallbacks` constructors
  core/src/main/scala/org/bitcoins/core/api/Callback.scala
  node/src/main/scala/org/bitcoins/node/NodeCallbacks.scala
Labels: node, refactor

#5440 Fix `Promise` already completed errors in `chainTest`
  testkit/src/main/scala/org/bitcoins/testkit/chain/ChainUnitTest.scala
Labels: testkit

#5441 2024 02 29 cleanup logback files
  app/server/src/main/resources/logback.xml
  chain/src/main/scala/org/bitcoins/chain/blockchain/ChainHandler.scala
  chain/src/main/scala/org/bitcoins/chain/blockchain/sync/ChainSync.scala
  testkit-core/.jvm/src/main/resources/logback-test.xml
Labels: logging
