Repository bitcoin-s/bitcoin-s, pull requests merged in 2025-02, with the labels that each got.

#5898 scripts: Update logback.xml
  app/scripts/src/main/resources/logback.xml
Labels: scripts, logging

#5899 core: Optimize `ScriptParser.parseOperationByte()`
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
Labels: core, optimization

#5905 Update sbt-native-packager to 1.11.1
  project/plugins.sbt
Labels: dependencies

#5901 Update gson to 2.12.1
  project/Deps.scala
Labels: dependencies

#5903 Update scala-collection-compat to 2.13.0
  project/Deps.scala
Labels: dependencies

#5904 Update sbt-mdoc to 2.6.3
  project/plugins.sbt
Labels: dependencies

#5907 Update flyway-core, ... to 11.3.1
  project/Deps.scala
Labels: dependencies

#5908 core: Optimize writing of block headers to avoid unncessay array copies
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/serializers/blockchain/RawBlockHeaderSerializer.scala
Labels: core, optimization

#5909 core: Make `BytesUtil.writeCmpctSizeUInt()` faster by avoiding `BigInt` allocations in `CompactSizeUInt`
  core/src/main/scala/org/bitcoins/core/protocol/CompactSizeUInt.scala
  core/src/main/scala/org/bitcoins/core/util/BytesUtil.scala
Labels: core, optimization

#5910 core: Use `ByteVector.concat()` to optimize transaction serialization
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
Labels: core, optimization

#5915 crypto: Avoid recomputing `ECPublicKey` by caching it
  crypto/src/main/scala/org/bitcoins/crypto/SchnorrPublicKey.scala
Labels: optimization, crypto

#5912 Update sqlite-jdbc to 3.49.0.0
  project/Deps.scala
Labels: dependencies

#5911 Update scalamock to 6.2.0
  project/Deps.scala
Labels: dependencies

#5917 lnUrl: Remove LnUrl module
  .github/workflows/Linux_2.13_App_Chain_Core_Tests.yml
  build.sbt
  lnurl-test/src/test/scala/org/bitcoins/lnurl/LnURLClientTest.scala
  lnurl-test/src/test/scala/org/bitcoins/lnurl/LnURLTest.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURL.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/LnURLClient.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/json/LnURLJsonModels.scala
  lnurl/src/main/scala/org/bitcoins/lnurl/json/LnURLTag.scala
Labels: lnurl

#5916 crypto: Cache `ECPublicKeyApi.isFullyValid`
  crypto/src/main/scala/org/bitcoins/crypto/ECKey.scala
Labels: optimization, crypto

#5918 core: Optimize WitnessCommitment.isValidAsm()
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core, optimization

#5920 core: Check if `P2SHScriptSignature` is push only when type checking
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
Labels: core, optimization

#5921 core: Check `maxPushSize` limit inside of `P2SHScriptSignature.isValidAsm()`
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptSignature.scala
  core/src/main/scala/org/bitcoins/core/util/BitcoinScriptUtil.scala
  testkit-core/src/main/scala/org/bitcoins/testkitcore/gen/ScriptGenerators.scala
Labels: bug, core, optimization

#5914 core: Optimize `Int64.fromBytes()`
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/transaction/Transaction.scala
Labels: bug, core, optimization

#5919 crypto: Add buffer size calculation to efficiently use memory
  crypto/src/main/scala/org/bitcoins/crypto/CryptoBytesUtil.scala
Labels: optimization, crypto

#5923 core: Don't unnecessarily encode to hex when parsing pushdata ops
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
Labels: core, optimization

#5925 core: Use `ByteVector.concat` in `RawTransactionInputParser.write()`
  core/src/main/scala/org/bitcoins/core/serializers/transaction/RawTransactionInputParser.scala
Labels: core, optimization

#5926 core: Remove ParsingHelper inside of ScriptParser
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
Labels: core, optimization

#5927 core: Use `splitAt()` rather than duplicatively slicing in `ScriptParser`
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
Labels: core, optimization

#5928 core: Tighten `MultiSignatureScriptPubKey.isValidAsm()` check
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core, optimization

#5929 core: Tighthen `ScriptFactory.isValidAsm()` checks
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
Labels: core, optimization

#5930 bitcoindRpc: Make 'gettxout' RPC handle null return correctly
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UTXORpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/TransactionRpc.scala
Labels: bug, bitcoind-rpc

#5933 core: Add carveout for parsing 'nonstandard' string to ScriptType.NONSTANDARD
  core-test/src/test/scala/org/bitcoins/core/script/ScriptTypeTest.scala
  core/src/main/scala/org/bitcoins/core/number/NumberType.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/script/ScriptType.scala
  core/src/main/scala/org/bitcoins/core/script/constant/Constants.scala
  core/src/main/scala/org/bitcoins/core/serializers/script/ScriptParser.scala
  core/src/main/scala/org/bitcoins/core/util/Base58.scala
Labels: bug, core

#5931 Update flyway-core, ... to 11.3.2
  project/Deps.scala
Labels: dependencies

#5934 core: Optimize base58 serialization and deserialization
  core/src/main/scala/org/bitcoins/core/util/Base58.scala
Labels: core, optimization

#5935 core: Add Address descriptors from BIP385
  core-test/src/test/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorTest.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/ScriptPubKey.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/Descriptor.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorExpression.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorIterator.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/DescriptorType.scala
Labels: enhancement, core

#5936 2025 02 18 scantxoutset
  app-commons/src/main/scala/org/bitcoins/commons/jsonmodels/bitcoind/BlockchainResult.scala
  app-commons/src/main/scala/org/bitcoins/commons/serializers/JsonSerializers.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/BlockchainRpcTest.scala
  bitcoind-rpc-test/src/test/scala/org/bitcoins/rpc/common/UTXORpcTest.scala
  bitcoind-rpc/src/main/scala/org/bitcoins/rpc/client/common/UTXORpc.scala
  core/src/main/scala/org/bitcoins/core/protocol/script/descriptor/Descriptor.scala
Labels: bitcoind-rpc

#5937 Update flyway-core, ... to 11.3.3
  project/Deps.scala
Labels: dependencies

#5938 Update sqlite-jdbc to 3.49.1.0
  project/Deps.scala
Labels: dependencies

#5942 Update slf4j-api to 2.0.17
  project/Deps.scala
Labels: dependencies

#5941 Update flyway-core, ... to 11.3.4
  project/Deps.scala
Labels: dependencies

#5940 Update logback-classic to 1.5.17
  project/Deps.scala
Labels: dependencies

#5946 node: Log sending version message
  node/src/main/scala/org/bitcoins/node/networking/peer/PeerConnection.scala
Labels: node
